#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
TestResults/
**/[Bb]uild/
**/[Dd]eploy/


# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
msbuild.log

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

*/Backup/
**/UpgradeLog.htm
**/.vs/*


bin/Debug
bin/Release
bin
*.vshost.*
*.pdb
*.vs10x
*.user
*.g.cs

/SolidCP/Sources/packages
/SolidCP/msbuild.log
/SolidCP/Sources/Tools/SCPTransportAgent/SCPTransportAgent.dll
/SolidCP.Installer/Sources/Setup.WIXBootstrapper/SolidCP.msi
/SolidCP.Installer/Sources/Setup.WIXBootstrapper/SolidCP.msi
/SolidCP.Installer/Sources/SolidCP.Installer/updater.exe
/SolidCP/SolidCP-Auto-Upgrade.ps1
/SolidCP/Dev_CleanRelease.ps1
/SolidCP/CleanRelease_Marc_Dev.ps1
/SolidCP/CleanRelease_marc.ps1
/SolidCP/CleanRelease2.ps1
/SolidCP/CleanDebug.ps1
/SolidCP/Sources/SolidCP.EnterpriseServer/WCF.log
/SolidCP/Sources/SolidCP.EnterpriseServer/WCF.log
