[submodule "SolidCP/Lib/swaggerwcf"]
	path = SolidCP/Lib/swaggerwcf
	url = https://github.com/simonegli8/swaggerwcf
[submodule "tools/wpkg"]
	path = tools/wpkg
	url = https://github.com/simonegli8/wpkg
[submodule "SolidCP/Lib/novnc-solidcp"]
	path = SolidCP/Lib/novnc-solidcp
	url = https://github.com/simonegli8/novnc-solidcp
	branch = solidcp1.4.0
[submodule "SolidCP/Lib/WebFormsForCore"]
	path = SolidCP/Lib/WebFormsForCore
	url = https://github.com/webformsforcore/WebFormsForCore
