<?xml version="1.0"?>
<configuration>
  <!-- Connection strings -->
  <connectionStrings>
    <add name="EnterpriseServer" connectionString="server=HSTPROV01;database=SolidCPMerge;uid=SolidCP;pwd=aj7ep6fyhmw3b5qeth7c;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AD.Username" value="HOSTING\Administrator"/>
    <add key="AD.Password" value="P@ssw0rd"/>
    <add key="AD.DomainController" value="HSTAD01.hosting.local"/>
    <!-- Encryption util settings -->
    <add key="SolidCP.CryptoKey" value="3x7eqt7zabc5n5afs6dg"/>
    <!-- Encryption -->
    <add key="SolidCP.EncryptionEnabled" value="true"/>
    <!-- Web Applications -->
    <add key="SolidCP.EnterpriseServer.WebApplicationsPath" value="~/WebApplications"/>
    <!-- Communication settings -->
    <!-- Maximum waiting time when sending request to the remote server
         The value is in seconds. "-1" - infinite. -->
    <add key="SolidCP.EnterpriseServer.ServerRequestTimeout" value="3600"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
