<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolidCP.Installer.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SolidCP.Installer.Core.Properties.Settings>
            <setting name="SolidCP_Installer_Core_InstallerService_InstallerService"
                serializeAs="String">
                <value>http://installer.solidcp.com/Services/InstallerService-1.0.asmx</value>
            </setting>
        </SolidCP.Installer.Core.Properties.Settings>
    </applicationSettings>
</configuration>