/*

This file should contain SUPPLEMENTAL rules that are recognized and used only by IE.
Similar files can be produced, as needed, for other browsers.  Whatever selectors are
listed here should be listed in at least one other CSS file used in the current ASP.NET
theme (thus making these supplemental).  The implementation pattern is to add new props
to some existing rule or to override (using important) some property.

*/

ul.AspNet-Menu li
{
    float: left !important;
    height: 1% !important;
}

ul.AspNet-Menu li a,
ul.AspNet-Menu li span
{
    height: 1% !important;
}

.AspNet-Menu-Horizontal ul.AspNet-Menu li li
{
    float: left !important;
}


/* TOP MENU FIXES */
.TopMenu ul.AspNet-Menu li
{
	width: 150px;
}