@page "/"
@using System.Reflection

@functions {
    string Version {get; set; }
    string Bitness { get; set; }
    //string Url { get; set; }
}

@{
    // set version
    object[] attrs = Assembly.GetExecutingAssembly().GetCustomAttributes(typeof(AssemblyFileVersionAttribute), true);
    if(attrs.Length > 0)
        Version = ((AssemblyFileVersionAttribute)attrs[0]).Version;

    // asp.net mode
    Bitness = (IntPtr.Size == 8) ? "64-bit" : "32-bit";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>SolidCP Server</title>
    <style>
        BODY {
            margin: 0px;
            padding: 10px;
            font-family: Tahoma, Arial;
            font-size: 10pt;
        }

        .Content {
            width: 400px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        H1 {
            font-family: Arial, Tahoma;
            font-size: 18pt;
            margin-top: 40px;
            margin-bottom: 5px;
            font-weight: bold;
            padding: 4px;
        }

        TABLE {
            background-color: #e0e0e0;
            padding: 4px;
        }

        TD {
            padding: 8px;
            background-color: #ffffff;
        }

        .FieldName {
            width: 100px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form id="AspForm" runat="server">
        <div class="Content">
            <div>
                <img src="img/logo.png" />
            </div>

            <h1>Server</h1>

            <table cellpadding="0" cellspacing="1" align="center">
                <tr>
                    <td class="FieldName">Status:</td>
                    <td>Running</td>
                </tr>
                <tr>
                    <td class="FieldName">Version:</td>
                    <td>@Version</td>
                </tr>
                <tr>
                    <td class="FieldName">URL:</td>
                    <td>@(HttpContext.Request.Scheme)://@(HttpContext.Request.Host)@(HttpContext.Request.Path)</td>
                </tr>
                <tr>
                    <td class="FieldName">ASP.NET Mode:</td>
                    <td>@Bitness</td>
                </tr>
            </table>
            <br /><br />
            <a href="https://solidcp.com">SolidCP</a> &COPY; Copyright @DateTime.Now.Year All Rights Reserved.
        </div>
    </form>
</body>
</html>
