<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="installer" type="SolidCP.Installer.Configuration.InstallerSection, SolidCP.Installer.Core"/>
	</configSections>
	<installer>
		<!-- Installed components -->
		<components/>
		<!-- Studio settings -->
		<settings>
			<add key="Log.FileName" value="SolidCP.Installer.log" />
			<add key="Web.Service" value="" />
			<add key="Web.AutoCheck" value="False" />
			<add key="Web.Proxy.UseProxy" value="false" />
			<add key="Web.Proxy.Address" value="" />
			<add key="Web.Proxy.UserName" value="" />
			<add key="Web.Proxy.Password" value="" />
		</settings>
	</installer>
</configuration>