<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="webDavExplorerConfigurationSettings" type="SolidCP.WebDavPortal.WebConfigSections.WebDavExplorerConfigurationSettingsSection" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebPortal.ThemeProvider" value="SolidCP.Portal.WebPortalThemeProvider, SolidCP.Portal.Modules" />
    <add key="WebPortal.PageTitleProvider" value="SolidCP.Portal.WebPortalPageTitleProvider, SolidCP.Portal.Modules" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="SessionValidationKey" value="" />
    
    <add key="SolidCP.CryptoKey" value="" />
    <add key="SolidCP.EncryptionEnabled" value="true" />
    <add key="SolidCP.AltCryptoKey" value="CryptoKey" />
  </appSettings>
  <webDavExplorerConfigurationSettings>
    <userDomain value="solidcp.com" />
    <webdavRoot value="https://webdav.solidcp.com/" />
    <applicationName value="WebDAV Explorer" />
    <authTimeoutCookieName value=".auth-logout-timeout" />
    <enterpriseServer url="http://127.0.0.1:9002" />
    <elementsRendering defaultCount="20" addElementsCount="20" />
    <SolidCPConstantUser login="serveradmin" password="" />
    <sessionKeys>
      <add key="AccountInfoSessionKey" value="AccountInfo" />
      <add key="WebDavManagerSessionKey" value="WebDavManager" />
      <add key="WebDavRootFolderPermissionsKey" value="WebDavRootFolderPermissions" />
      <add key="ResourseRenderCountSessionKey" value="ResourseRenderCount" />
      <add key="ItemIdSessionKey" value="ItemId" />
      <add key="UserGroupsKey" value="UserGroups" />
      <add key="OwaEditFoldersSession" value="OwaEditFolders" />
      <add key="PasswordResetSmsKey" value="PasswordResetSms" />
      <add key="AccountIdKey" value="AccountId" />
    </sessionKeys>
    <fileIcons defaultPath="~/Content/Images/other-icon.png" folderPath="~/Content/Images/folder_100x100.png">
      <add extension=".txt" path="~/Content/Images/txt-icon.png" />
      <add extension=".doc" path="~/Content/Images/word-icon.png" />
      <add extension=".docx" path="~/Content/Images/word-icon.png" />
      <add extension=".jpg" path="~/Content/Images/jpg-icon.png" />
      <add extension=".jpeg" path="~/Content/Images/jpg-icon.png" />
      <add extension=".xls" path="~/Content/Images/excel-icon.png" />
      <add extension=".xlsx" path="~/Content/Images/excel-icon.png" />
      <add extension=".png" path="~/Content/Images/png-icon.png" />
      <add extension=".avi" path="~/Content/Images/avi-icon.png" />
      <add extension=".cdr" path="~/Content/Images/coreldraw-icon.png" />
      <add extension=".csv" path="~/Content/Images/csv-icon.png" />
      <add extension=".mp3" path="~/Content/Images/mp3-icon.png" />
      <add extension=".pdf" path="~/Content/Images/pdf-icon.png" />
      <add extension=".png" path="~/Content/Images/png-icon.png" />
      <add extension=".ppt" path="~/Content/Images/ppt-icon.png" />
      <add extension=".pptx" path="~/Content/Images/ppt-icon.png" />
      <add extension=".rar" path="~/Content/Images/rar-icon.png" />
      <add extension=".csv" path="~/Content/Images/csv-icon.png" />
      <add extension=".zip" path="~/Content/Images/zip-icon.png" />
    </fileIcons>
    <filesToIgnore>
      <add name="hiddenFiles" regex="^\.+.*$" />
      <add name="webConfig" regex="web\.config" />
    </filesToIgnore>
    <owaSupportedBrowsers>
      <add browser="Chrome" version="20" />
      <add browser="Firefox" version="6" />
      <add browser="InternetExplorer;IE" version="8" />
      <add browser="Safari" version="4" />
    </owaSupportedBrowsers>
    <officeOnline cobaltFileTtl="1" cobaltNewFilePath="~/Content/OwaFiles/New">
      <add extension=".doc" OwaView="wv/wordviewerframe.aspx?" OwaEditor="wv/wordviewerframe.aspx?" OwaMobileView="wv/mWord.aspx?wdMobileHost=3&amp;" OwaNewFileView="we/wordeditorframe.aspx?new=1&amp;" />
      <add extension=".docx" OwaView="wv/wordviewerframe.aspx?" OwaEditor="we/wordeditorframe.aspx?" OwaMobileView="wv/mWord.aspx?wdMobileHost=3&amp;" OwaNewFileView="we/wordeditorframe.aspx?new=1&amp;" />
      <add extension=".xls" OwaView="x/_layouts/xlviewerinternal.aspx?" OwaEditor="x/_layouts/xlviewerinternal.aspx?edit=1&amp;" OwaMobileView="x/_layouts/mobile/mXL.aspx?wdMobileHost=3&amp;" OwaNewFileView="x/_layouts/xlviewerinternal.aspx?new=1&amp;" />
      <add extension=".xlsx" OwaView="x/_layouts/xlviewerinternal.aspx?" OwaEditor="x/_layouts/xlviewerinternal.aspx?edit=1&amp;" OwaMobileView="x/_layouts/mobile/mXL.aspx?wdMobileHost=3&amp;" OwaNewFileView="x/_layouts/xlviewerinternal.aspx?edit=1&amp;" />
      <add extension=".ppt" OwaView="p/PowerPointFrame.aspx?" OwaEditor="p/PowerPointFrame.aspx?" OwaMobileView="p/mPPT.aspx?wdMobileHost=3&amp;" OwaNewFileView="p/PowerPointFrame.aspx?PowerPointView=EditView&amp;New=1&amp;" />
      <add extension=".pptx" OwaView="p/PowerPointFrame.aspx?" OwaEditor="p/PowerPointFrame.aspx?PowerPointView=EditView&amp;" OwaMobileView="p/mPPT.aspx?wdMobileHost=3&amp;" OwaNewFileView="p/PowerPointFrame.aspx?PowerPointView=EditView&amp;New=1&amp;" />
    </officeOnline>
    <typeOpener>
      <add extension=".jpg" mimeType="image/jpeg" isTargetBlank="true" />
      <add extension=".jpeg" mimeType="image/jpeg" isTargetBlank="true" />
      <add extension=".gif" mimeType="image/gif" isTargetBlank="true" />
      <add extension=".txt" mimeType="text/plain" isTargetBlank="true" />
      <add extension=".pdf" mimeType="application/pdf" isTargetBlank="true" />
    </typeOpener>
  </webDavExplorerConfigurationSettings>
  <system.diagnostics>
    <switches>
      <add name="Log" value="4" />
      <!-- 0 - Off, 1 - Error, 2 - Warning, 3 - Info, 4 - Verbose -->
    </switches>
    <trace autoflush="true">
      <listeners>
        <!-- <add name="DefaultListener" type="SolidCP.Server.Utils.EventLogTraceListener, SolidCP.Server.Utils" initializeData="SolidCP" />        -->
        <add name="DefaultFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\SolidCP.WebDav.log" />
        <!-- Writes log to the file
        -->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <!--<identity impersonate="true"/>-->
    <compilation debug="true" targetFramework="4.5" />
    <!-- Maximum size of uploaded file, in MB -->
    <httpRuntime executionTimeout="1800" requestValidationMode="2.0" requestPathInvalidCharacters="" maxRequestLength="2147483647" enableVersionHeader="false" />
    <pages validateRequest="false" />
    <!--
          ASMX is mapped to a new handler so that proxy javascripts can also be served.
    -->
    <authentication mode="Forms">
			<forms name=".SolidCPWEBDAVPORTALAUTHASPX" protection="All" timeout="20" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false"></forms>
		</authentication>
		<authorization>
			<allow users="?" />
		</authorization>
    <globalization culture="auto:en-US" uiCulture="auto:en" requestEncoding="UTF-8" responseEncoding="UTF-8"></globalization>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="UrlRoutingModule-4.0" />
      <add name="ChartImg" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler" path="*.*" verb="GET" type="SolidCP.WebDavPortal.HttpHandlers.FileTransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>