Section: server
Priority: optional
Maintainer: Simon Egli <simon.jakob.egli@gmail.com>
Homepage: https://www.solidcp.com
Package: solidcp
Architecture: all
Version: 1.4.9
Depends: mono-complete (>= 5.0.1)
Description: This is the SolidCP Server for Debian
 SolidCP is a complete management portal for Cloud Computing Companies and IT Providers to automate the provisioning of a full suite of Multi-Tenant services on servers. The powerful, flexible and fully open source SolidCP platform gives users simple point-and-click control over Server applications including IIS 10, Microsoft SQL Server 2022, MySQL, MariaDB, Active Directory, Microsoft Exchange 2019, Microsoft Sharepoint 2019, Microsoft RemoteApp/RDS, Hyper-v and Proxmox Deployments.
Installed-Size: 1149779
