@using SolidCP.WebDavPortal.Resources
@using SolidCP.WebDavPortal.UI
<div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog" aria-labelledby="confirm-dalog-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="confirm-dalog-label">@UI.Confirm</h4>
            </div>

            <div class="modal-body">
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@UI.Cancel</button>
                <a href="#" class="btn btn-danger danger  positive-button" data-dismiss="modal">@UI.Yes</a>
            </div>
        </div>
    </div>
</div>
