@using SolidCP.WebDavPortal.Resources
@using SolidCP.WebDavPortal.UI

<div id="processDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-process-dialog-title" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <img src="~/Content/Images/indicator_medium.gif" />
                    <h4 class="dialog-text">@UI.PleaseWaitWithDots</h4>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>