<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings>
    <add key="routingDomain" value=".tmp"/>
    <add key="logFile" value="C:\Temp\SCP.Log"/>
    <add key="enableVerboseLogging" value="false"/>
    <add key="blockInternalInterTenantOOF" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
