<?xml version="1.0"?>
<States>
	<!-- Canada -->
	<State name="Alberta" key="AB" countryCode="CA" />
	<State name="British Columbia" key="BC" countryCode="CA" />
	<State name="Manitoba" key="MB" countryCode="CA" />
	<State name="New Brunswick" key="NB" countryCode="CA" />
	<State name="Newfoundland and Labrador" key="NL" countryCode="CA" />
	<State name="Northwest Territories" key="NT" countryCode="CA" />
	<State name="Nova Scotia" key="NS" countryCode="CA" />
	<State name="Nunavut" key="NV" countryCode="CA" />
	<State name="Ontario" key="ON" countryCode="CA" />
	<State name="Prince Edward Island" key="PE" countryCode="CA" />
	<State name="Quebec" key="QC" countryCode="CA" />
	<State name="Saskatchewan" key="SK" countryCode="CA" />
	<State name="Yukon Territory" key="YT" countryCode="CA" />

	<!-- US -->
	<State name="Alabama" key="AL" countryCode="US" />
	<State name="Alaska" key="AK" countryCode="US" />
	<State name="Arizona" key="AZ" countryCode="US" />
	<State name="Arkansas" key="AR" countryCode="US" />
	<State name="California" key="CA" countryCode="US" />
	<State name="Colorado" key="CO" countryCode="US" />
	<State name="Connecticut" key="CT" countryCode="US" />
	<State name="Delaware" key="DE" countryCode="US" />
	<State name="District of Columbia" key="DC" countryCode="US" />
	<State name="Florida" key="FL" countryCode="US" />
	<State name="Georgia" key="GA" countryCode="US" />
	<State name="Hawaii" key="HI" countryCode="US" />
	<State name="Idaho" key="ID" countryCode="US" />
	<State name="Illinois" key="IL" countryCode="US" />
	<State name="Indiana" key="IN" countryCode="US" />
	<State name="Iowa" key="IA" countryCode="US" />
	<State name="Kansas" key="KS" countryCode="US" />
	<State name="Kentucky" key="KY" countryCode="US" />
	<State name="Louisiana" key="LA" countryCode="US" />
	<State name="Maine" key="ME" countryCode="US" />
	<State name="Maryland" key="MD" countryCode="US" />
	<State name="Massachusetts" key="MA" countryCode="US" />
	<State name="Michigan" key="MI" countryCode="US" />
	<State name="Minnesota" key="MN" countryCode="US" />
	<State name="Mississippi" key="MS" countryCode="US" />
	<State name="Missouri" key="MO" countryCode="US" />
	<State name="Montana" key="MT" countryCode="US" />
	<State name="Nebraska" key="NE" countryCode="US" />
	<State name="Nevada" key="NV" countryCode="US" />
	<State name="New Hampshire" key="NH" countryCode="US" />
	<State name="New Jersey" key="NJ" countryCode="US" />
	<State name="New Mexico" key="NM" countryCode="US" />
	<State name="New York" key="NY" countryCode="US" />
	<State name="North Carolina" key="NC" countryCode="US" />
	<State name="North Dakota" key="ND" countryCode="US" />
	<State name="Ohio" key="OH" countryCode="US" />
	<State name="Oklahoma" key="OK" countryCode="US" />
	<State name="Oregon" key="OR" countryCode="US" />
	<State name="Pennsylvania" key="PA" countryCode="US" />
	<State name="Rhode Island" key="RI" countryCode="US" />
	<State name="South Carolina" key="SC" countryCode="US" />
	<State name="South Dakota" key="SD" countryCode="US" />
	<State name="Tennessee" key="TN" countryCode="US" />
	<State name="Texas" key="TX" countryCode="US" />
	<State name="Utah" key="UT" countryCode="US" />
	<State name="Vermont" key="VT" countryCode="US" />
	<State name="Virginia" key="VA" countryCode="US" />
	<State name="Washington" key="WA" countryCode="US" />
	<State name="West Virginia" key="WV" countryCode="US" />
	<State name="Wisconsin" key="WI" countryCode="US" />
	<State name="Wyoming" key="WY" countryCode="US" />

	<!-- Russian Federation -->
	<State name="Altaiskiy Kray" key="22" countryCode="RU" />
	<State name="Amurskaya Oblast" key="28" countryCode="RU" />
	<State name="Arkhangelskaya Oblast" key="29" countryCode="RU" />
	<State name="Astrakhanskaya Oblast" key="30" countryCode="RU" />
	<State name="Belgorodskaya Oblast" key="31" countryCode="RU" />
	<State name="Bryanskaya Oblast" key="32" countryCode="RU" />
	<State name="Chechnya" key="20" countryCode="RU" />
	<State name="Chelyabinskaya Oblast" key="74" countryCode="RU" />
	<State name="Chitinskaya Oblast" key="75" countryCode="RU" />
	<State name="Chukotka Automomous District" key="87" countryCode="RU" />
	<State name="Chuvash Republic" key="21" countryCode="RU" />
	<State name="Evenkia Automomous District" key="88" countryCode="RU" />
	<State name="Irkutskaya Oblast" key="38" countryCode="RU" />
	<State name="Ivanovskaya Oblast" key="37" countryCode="RU" />
	<State name="Jewish Autonomous Region" key="79" countryCode="RU" />
	<State name="Kabardino-Balkaryan Republic" key="07" countryCode="RU" />
	<State name="Kaliningradskaya Oblast" key="39" countryCode="RU" />
	<State name="Kaluzhskaya Oblast" key="40" countryCode="RU" />
	<State name="Kamchatskaya Oblast" key="41" countryCode="RU" />
	<State name="Kemerovskaya Oblast" key="42" countryCode="RU" />
	<State name="Khabarovskiy Kray" key="27" countryCode="RU" />
	<State name="Kirovskaya Oblast" key="43" countryCode="RU" />
	<State name="Kostromskaya Oblast" key="44" countryCode="RU" />
	<State name="Krasnodarskiy Kray" key="23" countryCode="RU" />
	<State name="Krasnoyarskiy Kray" key="24" countryCode="RU" />
	<State name="Kurganskaya Oblast" key="45" countryCode="RU" />
	<State name="Kurskaya Oblast" key="46" countryCode="RU" />
	<State name="Leningradskaya Oblast" key="47" countryCode="RU" />
	<State name="Lipetskaya Oblast" key="48" countryCode="RU" />
	<State name="Magadanskaya Oblast" key="49" countryCode="RU" />
	<State name="Moscow" key="77" countryCode="RU" />
	<State name="Moskovskaya Oblast" key="50" countryCode="RU" />
	<State name="Murmanskaya Oblast" key="51" countryCode="RU" />
	<State name="Nizhegorodskaya Oblast" key="52" countryCode="RU" />
	<State name="Novgorodskaya Oblast" key="53" countryCode="RU" />
	<State name="Novosibirskaya Oblast" key="54" countryCode="RU" />
	<State name="Omskaya Oblast" key="55" countryCode="RU" />
	<State name="Orenburgskaya Oblast" key="56" countryCode="RU" />
	<State name="Orlovskaya Oblast" key="57" countryCode="RU" />
	<State name="Penzenskaya Oblast" key="58" countryCode="RU" />
	<State name="Permskaya Oblast" key="59" countryCode="RU" />
	<State name="Primorskiy Kray" key="25" countryCode="RU" />
	<State name="Pskovskaya Oblast" key="60" countryCode="RU" />
	<State name="Republic of Adyghe" key="01" countryCode="RU" />
	<State name="Republic of Altai" key="04" countryCode="RU" />
	<State name="Republic of Bashkortostan" key="02" countryCode="RU" />
	<State name="Republic of Buryatia" key="03" countryCode="RU" />
	<State name="Republic of Daghestan" key="05" countryCode="RU" />
	<State name="Republic of Ingushetia" key="06" countryCode="RU" />
	<State name="Republic of Kalmykia" key="08" countryCode="RU" />
	<State name="Republic of Karelia" key="10" countryCode="RU" />
	<State name="Republic of Khakassia" key="19" countryCode="RU" />
	<State name="Republic of Komi" key="11" countryCode="RU" />
	<State name="Republic of Mari El" key="12" countryCode="RU" />
	<State name="Republic of Mordovia" key="13" countryCode="RU" />
	<State name="Republic of North Ossetia - Alania" key="15" countryCode="RU" />
	<State name="Republic of Sakha" key="14" countryCode="RU" />
	<State name="Republic of Tuva" key="17" countryCode="RU" />
	<State name="Rostovskaya Oblast" key="61" countryCode="RU" />
	<State name="Ryazanskaya Oblast" key="62" countryCode="RU" />
	<State name="Saint Petersburg" key="78" countryCode="RU" />
	<State name="Sakhalinskaya Oblast" key="65" countryCode="RU" />
	<State name="Samarskaya Oblast" key="63" countryCode="RU" />
	<State name="Saratovskaya Oblast" key="64" countryCode="RU" />
	<State name="Smolenskaya Oblast" key="67" countryCode="RU" />
	<State name="Stavropolskiy Kray" key="26" countryCode="RU" />
	<State name="Sverdlovskaya Oblast" key="66" countryCode="RU" />
	<State name="Tambovskaya Oblast" key="68" countryCode="RU" />
	<State name="Tatarstan" key="16" countryCode="RU" />
	<State name="Tomskaya Oblast" key="70" countryCode="RU" />
	<State name="Tul'skaya Oblast" key="71" countryCode="RU" />
	<State name="Tverskaya Oblast" key="69" countryCode="RU" />
	<State name="Tyumenskaya Oblast" key="72" countryCode="RU" />
	<State name="Udmurt Republic" key="18" countryCode="RU" />
	<State name="Ul'yanovskaya Oblast" key="73" countryCode="RU" />
	<State name="Vladimirskaya Oblast" key="33" countryCode="RU" />
	<State name="Volgogradskaya Oblast" key="34" countryCode="RU" />
	<State name="Vologodskaya Oblast" key="35" countryCode="RU" />
	<State name="Voronezhskaya Oblast" key="36" countryCode="RU" />
	<State name="Yaroslavskaya Oblast" key="76" countryCode="RU" />

	<!-- Croatia -->
	<State name="Zagrebačka" key="01" countryCode="HR" />
	<State name="Krapinsko-zagorska" key="02" countryCode="HR" />
	<State name="Sisačko-moslavačka" key="03" countryCode="HR" />
	<State name="Karlovačka" key="04" countryCode="HR" />
	<State name="Varaždinska" key="05" countryCode="HR" />
	<State name="Koprivničko-križevačka" key="06" countryCode="HR" />
	<State name="Bjelovarsko-bilogorska" key="07" countryCode="HR" />
	<State name="Primorsko-goranska" key="08" countryCode="HR" />
	<State name="Ličko-senjska" key="09" countryCode="HR" />
	<State name="Virovitičko-podravska" key="10" countryCode="HR" />
	<State name="Požeško-slavonska" key="11" countryCode="HR" />
	<State name="Brodsko-posavska" key="12" countryCode="HR" />
	<State name="Zadarska" key="13" countryCode="HR" />
	<State name="Osječko-baranjska" key="14" countryCode="HR" />
	<State name="Šibensko-kninska" key="15" countryCode="HR" />
	<State name="Vukovarsko-srijemska" key="16" countryCode="HR" />
	<State name="Splitsko-dalmatinska" key="17" countryCode="HR" />
	<State name="Istarska" key="18" countryCode="HR" />
	<State name="Dubrovačko-neretvanska" key="19" countryCode="HR" />
	<State name="Međimurska" key="20" countryCode="HR" />
	<State name="Grad Zagreb" key="21" countryCode="HR" />

	<!-- United Kingdom -->
	<State name="-- England --" key="116" countryCode="GB" />
	<State name="Avon" key="01" countryCode="GB" />
	<State name="Bedfordshire" key="02" countryCode="GB" />
	<State name="Berkshire" key="03" countryCode="GB" />
	<State name="Bristol" key="04" countryCode="GB" />
	<State name="Buckinghamshire" key="05" countryCode="GB" />
	<State name="Cambridgeshire" key="06" countryCode="GB" />
	<State name="Cheshire" key="07" countryCode="GB" />
	<State name="Cleveland" key="08" countryCode="GB" />
	<State name="Cornwall" key="09" countryCode="GB" />
	<State name="Cumbria" key="10" countryCode="GB" />
	<State name="Derbyshire" key="11" countryCode="GB" />
	<State name="Devon" key="12" countryCode="GB" />
	<State name="Dorset" key="13" countryCode="GB" />
	<State name="Durham" key="14" countryCode="GB" />
	<State name="East Riding of Yorkshire" key="15" countryCode="GB" />
	<State name="East Sussex" key="16" countryCode="GB" />
	<State name="Essex" key="17" countryCode="GB" />
	<State name="Gloucestershire" key="18" countryCode="GB" />
	<State name="Greater Manchester" key="19" countryCode="GB" />
	<State name="Hampshire" key="20" countryCode="GB" />
	<State name="Herefordshire" key="21" countryCode="GB" />
	<State name="Hertfordshire" key="22" countryCode="GB" />
	<State name="Humberside" key="23" countryCode="GB" />
	<State name="Isle of Wight" key="24" countryCode="GB" />
	<State name="Isles of Scilly" key="25" countryCode="GB" />
	<State name="Kent" key="26" countryCode="GB" />
	<State name="Lancashire" key="27" countryCode="GB" />
	<State name="Leicestershire" key="28" countryCode="GB" />
	<State name="Lincolnshire" key="29" countryCode="GB" />
	<State name="London" key="30" countryCode="GB" />
	<State name="Merseyside" key="31" countryCode="GB" />
	<State name="Middlesex" key="32" countryCode="GB" />
	<State name="Norfolk" key="33" countryCode="GB" />
	<State name="North Yorkshire" key="34" countryCode="GB" />
	<State name="Northamptonshire" key="35" countryCode="GB" />
	<State name="Northumberland" key="36" countryCode="GB" />
	<State name="Nottinghamshire" key="37" countryCode="GB" />
	<State name="Oxfordshire" key="38" countryCode="GB" />
	<State name="Rutland" key="39" countryCode="GB" />
	<State name="Shropshire" key="40" countryCode="GB" />
	<State name="Somerset" key="41" countryCode="GB" />
	<State name="South Yorkshire" key="42" countryCode="GB" />
	<State name="Staffordshire" key="43" countryCode="GB" />
	<State name="Suffolk" key="44" countryCode="GB" />
	<State name="Surrey" key="45" countryCode="GB" />
	<State name="Tyne and Wear" key="46" countryCode="GB" />
	<State name="Warwickshire" key="47" countryCode="GB" />
	<State name="West Midlands" key="48" countryCode="GB" />
	<State name="West Sussex" key="49" countryCode="GB" />
	<State name="West Yorkshire" key="50" countryCode="GB" />
	<State name="Wiltshire" key="51" countryCode="GB" />
	<State name="Worcestershire" key="52" countryCode="GB" />
	<State name="-- Northern Ireland --" key="117" countryCode="GB" />
	<State name="Antrim" key="53" countryCode="GB" />
	<State name="Armagh" key="54" countryCode="GB" />
	<State name="Down" key="55" countryCode="GB" />
	<State name="Fermanagh" key="56" countryCode="GB" />
	<State name="Londonderry" key="57" countryCode="GB" />
	<State name="Tyrone" key="58" countryCode="GB" />
	<State name="-- Scotland --" key="118" countryCode="GB" />
	<State name="Aberdeen City" key="59" countryCode="GB" />
	<State name="Aberdeenshire" key="60" countryCode="GB" />
	<State name="Angus" key="61" countryCode="GB" />
	<State name="Argyll and Bute" key="62" countryCode="GB" />
	<State name="Borders" key="63" countryCode="GB" />
	<State name="Clackmannan" key="64" countryCode="GB" />
	<State name="Dumfries and Galloway" key="65" countryCode="GB" />
	<State name="East Ayrshire" key="67" countryCode="GB" />
	<State name="East Dunbartonshire" key="68" countryCode="GB" />
	<State name="East Lothian" key="69" countryCode="GB" />
	<State name="East Renfrewshire" key="70" countryCode="GB" />
	<State name="Edinburgh City" key="71" countryCode="GB" />
	<State name="Falkirk" key="72" countryCode="GB" />
	<State name="Fife" key="73" countryCode="GB" />
	<State name="Glasgow" key="74" countryCode="GB" />
	<State name="Highland" key="75" countryCode="GB" />
	<State name="Inverclyde" key="76" countryCode="GB" />
	<State name="Midlothian" key="77" countryCode="GB" />
	<State name="Moray" key="78" countryCode="GB" />
	<State name="North Ayrshire" key="79" countryCode="GB" />
	<State name="North Lanarkshire" key="80" countryCode="GB" />
	<State name="Orkney" key="81" countryCode="GB" />
	<State name="Perthshire and Kinross" key="82" countryCode="GB" />
	<State name="Renfrewshire" key="83" countryCode="GB" />
	<State name="Roxburghshire" key="84" countryCode="GB" />
	<State name="Shetland" key="85" countryCode="GB" />
	<State name="South Ayrshire" key="86" countryCode="GB" />
	<State name="South Lanarkshire" key="87" countryCode="GB" />
	<State name="Stirling" key="88" countryCode="GB" />
	<State name="West Dunbartonshire" key="89" countryCode="GB" />
	<State name="West Lothian" key="90" countryCode="GB" />
	<State name="Western Isles" key="91" countryCode="GB" />
	<State name="-- Unitary Authorities of Wales --" key="119" countryCode="GB" />
	<State name="Blaenau Gwent" key="92" countryCode="GB" />
	<State name="Bridgend" key="93" countryCode="GB" />
	<State name="Caerphilly" key="94" countryCode="GB" />
	<State name="Cardiff" key="95" countryCode="GB" />
	<State name="Carmarthenshire" key="96" countryCode="GB" />
	<State name="Ceredigion" key="97" countryCode="GB" />
	<State name="Conwy" key="98" countryCode="GB" />
	<State name="Denbighshire" key="99" countryCode="GB" />
	<State name="Flintshire" key="100" countryCode="GB" />
	<State name="Gwynedd" key="101" countryCode="GB" />
	<State name="Isle of Anglesey" key="102" countryCode="GB" />
	<State name="Merthyr Tydfil" key="103" countryCode="GB" />
	<State name="Monmouthshire" key="104" countryCode="GB" />
	<State name="Neath Port Talbot" key="105" countryCode="GB" />
	<State name="Newport" key="106" countryCode="GB" />
	<State name="Pembrokeshire" key="107" countryCode="GB" />
	<State name="Powys" key="108" countryCode="GB" />
	<State name="Rhondda Cynon Taff" key="109" countryCode="GB" />
	<State name="Swansea" key="110" countryCode="GB" />
	<State name="Torfaen" key="111" countryCode="GB" />
	<State name="The Vale of Glamorgan" key="112" countryCode="GB" />
	<State name="Wrexham" key="113" countryCode="GB" />
	<State name="-- GB Offshore Dependencies --" key="120" countryCode="GB" />
	<State name="Channel Islands" key="114" countryCode="GB" />
	<State name="Isle of Man" Ikey="115" countryCode="GB" />

	<!-- Republic of Ireland  -->
	<State name="Fingal" key="01" countryCode="IE" />
	<State name=" Dun Laoghaire-Rathdown" key="02" countryCode="IE" />
	<State name="South Dublin" key="03" countryCode="IE" />
	<State name="Wicklow" key="04" countryCode="IE" />
	<State name="Wexford" key="05" countryCode="IE" />
	<State name="Carlow" key="06" countryCode="IE" />
	<State name="Kildare" key="07" countryCode="IE" />
	<State name="Meath " key="08" countryCode="IE" />
	<State name="Louth" key="09" countryCode="IE" />
	<State name="Monaghan" key="10" countryCode="IE" />
	<State name="Cavan" key="11" countryCode="IE" />
	<State name="Longford" key="12" countryCode="IE" />
	<State name="Westmeath" key="13" countryCode="IE" />
	<State name="Offaly" key="14" countryCode="IE" />
	<State name="Laois" key="15" countryCode="IE" />
	<State name="Kilkenny " key="16" countryCode="IE" />
	<State name="Waterford" key="17" countryCode="IE" />
	<State name="Cork" key="18" countryCode="IE" />
	<State name="Kerryr" key="19" countryCode="IE" />
	<State name="Limerick" key="20" countryCode="IE" />
	<State name="North Tipperary" key="21" countryCode="IE" />
	<State name="South Tipperary" key="22" countryCode="IE" />
	<State name="Clare" key="23" countryCode="IE" />
	<State name="Galway" key="24" countryCode="IE" />
	<State name="Mayo" key="25" countryCode="IE" />
	<State name="Roscommon" key="26" countryCode="IE" />
	<State name="Sligo" key="27" countryCode="IE" />
	<State name="Leitrim" key="28" countryCode="IE" />
	<State name="Donegal" key="29" countryCode="IE" />

	<!-- Republic of Turkey -->
	<State name="Adana" key="01" countryCode="TR" />
	<State name="Adэyaman" key="02" countryCode="TR" />
	<State name="Afyonkarahisar" key="03" countryCode="TR" />
	<State name="Aрrэ" key="04" countryCode="TR" />
	<State name="Amasya" key="05" countryCode="TR" />
	<State name="Ankara" key="06" countryCode="TR" />
	<State name="Antalya" key="07" countryCode="TR" />
	<State name="Artvin" key="08" countryCode="TR" />
	<State name="Aydэn" key="09" countryCode="TR" />
	<State name="Balэkesir" key="10" countryCode="TR" />
	<State name="Bilecik" key="11" countryCode="TR" />
	<State name="Bingцl" key="12" countryCode="TR" />
	<State name="Bitlis" key="13" countryCode="TR" />
	<State name="Bolu" key="14" countryCode="TR" />
	<State name="Burdur" key="15" countryCode="TR" />
	<State name="Bursa" key="16" countryCode="TR" />
	<State name="Зanakkale" key="17" countryCode="TR" />
	<State name="Зankэrэ" key="18" countryCode="TR" />
	<State name="Зorum" key="19" countryCode="TR" />
	<State name="Denizli" key="20" countryCode="TR" />
	<State name="Diyarbakэr" key="21" countryCode="TR" />
	<State name="Edirne" key="22" countryCode="TR" />
	<State name="Elazэр" key="23" countryCode="TR" />
	<State name="Erzincan" key="24" countryCode="TR" />
	<State name="Erzurum" key="25" countryCode="TR" />
	<State name="Eskiюehir" key="26" countryCode="TR" />
	<State name="Gaziantep" key="27" countryCode="TR" />
	<State name="Giresun" key="28" countryCode="TR" />
	<State name="Gьmьюhane" key="29" countryCode="TR" />
	<State name="Hakkari" key="30" countryCode="TR" />
	<State name="Hatay" key="31" countryCode="TR" />
	<State name="Isparta" key="32" countryCode="TR" />
	<State name="Mersin" key="33" countryCode="TR" />
	<State name="Istanbul" key="34" countryCode="TR" />
	<State name="Эzmir" key="35" countryCode="TR" />
	<State name="Kars" key="36" countryCode="TR" />
	<State name="Kastamonu" key="37" countryCode="TR" />
	<State name="Kayseri" key="38" countryCode="TR" />
	<State name="Kэrklareli" key="39" countryCode="TR" />
	<State name="Kэrюehir" key="40" countryCode="TR" />
	<State name="Kocaeli" key="41" countryCode="TR" />
	<State name="Konya" key="42" countryCode="TR" />
	<State name="Kьtahya" key="43" countryCode="TR" />
	<State name="Malatya" key="44" countryCode="TR" />
	<State name="Manisa" key="45" countryCode="TR" />
	<State name="Kahramanmaraю" key="46" countryCode="TR" />
	<State name="Mardin" key="47" countryCode="TR" />
	<State name="Muрla" key="48" countryCode="TR" />
	<State name="Muю" key="49" countryCode="TR" />
	<State name="Nevюehir" key="50" countryCode="TR" />
	<State name="Niрde" key="51" countryCode="TR" />
	<State name="Ordu" key="52" countryCode="TR" />
	<State name="Rize" key="53" countryCode="TR" />
	<State name="Sakarya" key="54" countryCode="TR" />
	<State name="Samsun" key="55" countryCode="TR" />
	<State name="Siirt" key="56" countryCode="TR" />
	<State name="Sinop" key="57" countryCode="TR" />
	<State name="Sivas" key="58" countryCode="TR" />
	<State name="Tekirdaр" key="59" countryCode="TR" />
	<State name="Tokat" key="60" countryCode="TR" />
	<State name="Trabzon" key="61" countryCode="TR" />
	<State name="Tunceli" key="62" countryCode="TR" />
	<State name="Юanlэurfa" key="63" countryCode="TR" />
	<State name="Uюak" key="64" countryCode="TR" />
	<State name="Van" key="65" countryCode="TR" />
	<State name="Yozgat" key="66" countryCode="TR" />
	<State name="Zonguldak" key="67" countryCode="TR" />
	<State name="Aksaray" key="68" countryCode="TR" />
	<State name="Bayburt" key="69" countryCode="TR" />
	<State name="Karaman" key="70" countryCode="TR" />
	<State name="Kэrэkkale" key="71" countryCode="TR" />
	<State name="Batman" key="72" countryCode="TR" />
	<State name="Юэrnak" key="73" countryCode="TR" />
	<State name="Bartэn" key="74" countryCode="TR" />
	<State name="Ardahan" key="75" countryCode="TR" />
	<State name="Iрdэr" key="76" countryCode="TR" />
	<State name="Yalova" key="77" countryCode="TR" />
	<State name="Karabьk" key="78" countryCode="TR" />
	<State name="Kilis" key="79" countryCode="TR" />
	<State name="Osmaniye" key="80" countryCode="TR" />
	<State name="Dьzce" key="81" countryCode="TR" />

</States>
