<?xml version="1.0"?>
<Countries>
	<Country name="Afghanistan" key="AF" />
	<Country name="Aland Islands" key="AX" />	
	<Country name="Albania" key="AL" />
	<Country name="Algeria" key="DZ" />
	<Country name="American Samoa" key="AS" />
	<Country name="Andorra" key="AD" />
	<Country name="Angola" key="AO" />
	<Country name="Anguilla" key="AI" />
	<Country name="Antarctica" key="AQ" />
	<Country name="Antigua and Barbuda" key="AG" />
	<Country name="Argentina" key="AR" />
	<Country name="Armenia" key="AM" />
	<Country name="Aruba" key="AW" />
	<Country name="Australia" key="AU" />
	<Country name="Austria" key="AT" />
	<Country name="Azerbaijan" key="AZ" />
	<Country name="Bahamas" key="BS" />
	<Country name="Bahrain" key="BH" />
	<Country name="Bangladesh" key="BD" />
	<Country name="Barbados" key="BB" />
	<Country name="Belarus" key="BY" />
	<Country name="Belgium" key="BE" />
	<Country name="Belize" key="BZ" />
	<Country name="Benin" key="BJ" />
	<Country name="Bermuda" key="BM" />
	<Country name="Bhutan" key="BT" />
	<Country name="Bolivia, Plurinational State of" key="BO" />
	<Country name="Bosnia and Herzegovina" key="BA" />
	<Country name="Botswana" key="BW" />
	<Country name="Bouvet Island" key="BV" />
	<Country name="Brazil" key="BR" />
	<Country name="British Indian Ocean Territory" key="IO" />
	<Country name="Brunei Darussalam" key="BN" />
	<Country name="Bulgaria" key="BG" />
	<Country name="Burkina Faso" key="BF" />
	<Country name="Burundi" key="BI" />
	<Country name="Cambodia" key="KH" />
	<Country name="Cameroon" key="CM" />
	<Country name="Canada" key="CA" />
	<Country name="Cape Verde" key="CV" />
	<Country name="Cayman Islands" key="KY" />
	<Country name="Central African Republic" key="CF" />
	<Country name="Chad" key="TD" />
	<Country name="Chile" key="CL" />
	<Country name="China" key="CN" />
	<Country name="Christmas Island" key="CX" />
	<Country name="Cocos (Keeling) Islands" key="CC" />
	<Country name="Colombia" key="CO" />
	<Country name="Comoros" key="KM" />
	<Country name="Congo" key="CG" />
	<Country name="Congo, the Democratic Republic of the" key="CD" />
	<Country name="Cook Islands" key="CK" />
	<Country name="Costa Rica" key="CR" />
	<Country name="Cote D'Ivoire" key="CI" />
	<Country name="Croatia" key="HR" />
	<Country name="Cuba" key="CU" />
	<Country name="Cyprus" key="CY" />
	<Country name="Czech Republic" key="CZ" />
	<Country name="Denmark" key="DK" />
	<Country name="Djibouti" key="DJ" />
	<Country name="Dominica" key="DM" />
	<Country name="Dominican Republic" key="DO" />
	<Country name="Ecuador" key="EC" />
	<Country name="Egypt" key="EG" />
	<Country name="El Salvador" key="SV" />
	<Country name="Equatorial Guinea" key="GQ" />
	<Country name="Eritrea" key="ER" />
	<Country name="Estonia" key="EE" />
	<Country name="Ethiopia" key="ET" />
	<Country name="Falkland Islands (Malvinas)" key="FK" />
	<Country name="Faroe Islands" key="FO" />
	<Country name="Fiji" key="FJ" />
	<Country name="Finland" key="FI" />
	<Country name="France" key="FR" />
	<Country name="French Guiana" key="GF" />
	<Country name="French Polynesia" key="PF" />
	<Country name="French Southern Territories" key="TF" />
	<Country name="Gabon" key="GA" />
	<Country name="Gambia" key="GM" />
	<Country name="Georgia" key="GE" />
	<Country name="Germany" key="DE" />
	<Country name="Ghana" key="GH" />
	<Country name="Gibraltar" key="GI" />
	<Country name="Greece" key="GR" />
	<Country name="Greenland" key="GL" />
	<Country name="Grenada" key="GD" />
	<Country name="Guadeloupe" key="GP" />
	<Country name="Guam" key="GU" />
	<Country name="Guatemala" key="GT" />
	<Country name="Guernsey" key="GG" />	
	<Country name="Guinea" key="GN" />
	<Country name="Guinea-Bissau" key="GW" />
	<Country name="Guyana" key="GY" />
	<Country name="Haiti" key="HT" />
	<Country name="Heard Island and Mcdonald Islands" key="HM" />
	<Country name="Holy See (Vatican City State)" key="VA" />
	<Country name="Honduras" key="HN" />
	<Country name="Hong Kong" key="HK" />
	<Country name="Hungary" key="HU" />
	<Country name="Iceland" key="IS" />
	<Country name="India" key="IN" />
	<Country name="Indonesia" key="ID" />
	<Country name="Iran, Islamic Republic of" key="IR" />
	<Country name="Iraq" key="IQ" />
	<Country name="Ireland" key="IE" />
	<Country name="Isle of Man" key="IM" />	
	<Country name="Israel" key="IL" />
	<Country name="Italy" key="IT" />
	<Country name="Jamaica" key="JM" />
	<Country name="Japan" key="JP" />
	<Country name="Jersey" key="JE" />
	<Country name="Jordan" key="JO" />
	<Country name="Kazakhstan" key="KZ" />
	<Country name="Kenya" key="KE" />
	<Country name="Kiribati" key="KI" />
	<Country name="Korea, Democratic People's Republic of" key="KP" />
	<Country name="Korea, Republic of" key="KR" />
	<Country name="Kuwait" key="KW" />
	<Country name="Kyrgyzstan" key="KG" />
	<Country name="Lao People's Democratic Republic" key="LA" />
	<Country name="Latvia" key="LV" />
	<Country name="Lebanon" key="LB" />
	<Country name="Lesotho" key="LS" />
	<Country name="Liberia" key="LR" />
	<Country name="Libyan Arab Jamahiriya" key="LY" />
	<Country name="Liechtenstein" key="LI" />
	<Country name="Lithuania" key="LT" />
	<Country name="Luxembourg" key="LU" />
	<Country name="Macao" key="MO" />
	<Country name="Macedonia, the Former Yugoslav Republic of" key="MK" />
	<Country name="Madagascar" key="MG" />
	<Country name="Malawi" key="MW" />
	<Country name="Malaysia" key="MY" />
	<Country name="Maldives" key="MV" />
	<Country name="Mali" key="ML" />
	<Country name="Malta" key="MT" />
	<Country name="Marshall Islands" key="MH" />
	<Country name="Martinique" key="MQ" />
	<Country name="Mauritania" key="MR" />
	<Country name="Mauritius" key="MU" />
	<Country name="Mayotte" key="YT" />
	<Country name="Mexico" key="MX" />
	<Country name="Micronesia, Federated States of" key="FM" />
	<Country name="Moldova, Republic of" key="MD" />
	<Country name="Monaco" key="MC" />
	<Country name="Mongolia" key="MN" />
	<Country name="Montenegro" key="ME" />
	<Country name="Montserrat" key="MS" />
	<Country name="Morocco" key="MA" />
	<Country name="Mozambique" key="MZ" />
	<Country name="Myanmar" key="MM" />
	<Country name="Namibia" key="NA" />
	<Country name="Nauru" key="NR" />
	<Country name="Nepal" key="NP" />
	<Country name="Netherlands" key="NL" />
	<Country name="Netherlands Antilles" key="AN" />
	<Country name="New Caledonia" key="NC" />
	<Country name="New Zealand" key="NZ" />
	<Country name="Nicaragua" key="NI" />
	<Country name="Niger" key="NE" />
	<Country name="Nigeria" key="NG" />
	<Country name="Niue" key="NU" />
	<Country name="Norfolk Island" key="NF" />
	<Country name="Northern Mariana Islands" key="MP" />
	<Country name="Norway" key="NO" />
	<Country name="Oman" key="OM" />
	<Country name="Pakistan" key="PK" />
	<Country name="Palau" key="PW" />
	<Country name="Palestinian Territory, Occupied" key="PS" />
	<Country name="Panama" key="PA" />
	<Country name="Papua New Guinea" key="PG" />
	<Country name="Paraguay" key="PY" />
	<Country name="Peru" key="PE" />
	<Country name="Philippines" key="PH" />
	<Country name="Pitcairn" key="PN" />
	<Country name="Poland" key="PL" />
	<Country name="Portugal" key="PT" />
	<Country name="Puerto Rico" key="PR" />
	<Country name="Qatar" key="QA" />
	<Country name="Reunion" key="RE" />
	<Country name="Romania" key="RO" />
	<Country name="Russian Federation" key="RU" />
	<Country name="Rwanda" key="RW" />
	<Country name="Saint Barthelemy" key="BL" />
	<Country name="Saint Helena" key="SH" />
	<Country name="Saint Kitts and Nevis" key="KN" />
	<Country name="Saint Lucia" key="LC" />
	<Country name="Saint Martin" key="MF" />	
	<Country name="Saint Pierre and Miquelon" key="PM" />
	<Country name="Saint Vincent and the Grenadines" key="VC" />
	<Country name="Samoa" key="WS" />
	<Country name="San Marino" key="SM" />
	<Country name="Sao Tome and Principe" key="ST" />
	<Country name="Saudi Arabia" key="SA" />
	<Country name="Senegal" key="SN" />
	<Country name="Serbia" key="RS" />
	<Country name="Seychelles" key="SC" />
	<Country name="Sierra Leone" key="SL" />
	<Country name="Singapore" key="SG" />
	<Country name="Slovakia" key="SK" />
	<Country name="Slovenia" key="SI" />
	<Country name="Solomon Islands" key="SB" />
	<Country name="Somalia" key="SO" />
	<Country name="South Africa" key="ZA" />
	<Country name="South Georgia and the South Sandwich Islands" key="GS" />
	<Country name="Spain" key="ES" />
	<Country name="Sri Lanka" key="LK" />
	<Country name="Sudan" key="SD" />
	<Country name="Suriname" key="SR" />
	<Country name="Svalbard and Jan Mayen" key="SJ" />
	<Country name="Swaziland" key="SZ" />
	<Country name="Sweden" key="SE" />
	<Country name="Switzerland" key="CH" />
	<Country name="Syrian Arab Republic" key="SY" />
	<Country name="Taiwan, Province of China" key="TW" />
	<Country name="Tajikistan" key="TJ" />
	<Country name="Tanzania, United Republic of" key="TZ" />
	<Country name="Thailand" key="TH" />
	<Country name="Timor-Leste" key="TL" />
	<Country name="Togo" key="TG" />
	<Country name="Tokelau" key="TK" />
	<Country name="Tonga" key="TO" />
	<Country name="Trinidad and Tobago" key="TT" />
	<Country name="Tunisia" key="TN" />
	<Country name="Turkey" key="TR" />
	<Country name="Turkmenistan" key="TM" />
	<Country name="Turks and Caicos Islands" key="TC" />
	<Country name="Tuvalu" key="TV" />
	<Country name="Uganda" key="UG" />
	<Country name="Ukraine" key="UA" />
	<Country name="United Arab Emirates" key="AE" />
	<Country name="United Kingdom" key="GB" />
	<Country name="United States" key="US" />
	<Country name="United States Minor Outlying Islands" key="UM" />
	<Country name="Uruguay" key="UY" />
	<Country name="Uzbekistan" key="UZ" />
	<Country name="Vanuatu" key="VU" />
	<Country name="Venezuela, Bolivarian Republic of" key="VE" />
	<Country name="Viet Nam" key="VN" />
	<Country name="Virgin Islands, British" key="VG" />
	<Country name="Virgin Islands, U.S." key="VI" />
	<Country name="Wallis and Futuna" key="WF" />
	<Country name="Western Sahara" key="EH" />
	<Country name="Yemen" key="YE" />
	<Country name="Zambia" key="ZM" />
	<Country name="Zimbabwe" key="ZW" />
</Countries>