<?xml version="1.0" encoding="utf-8"?>
<Controls>
	<!--<Control key="" />-->
  <!--<Control key="create_organization" />-->
      
      
  <!--Home-->
  <Control key="organization_home" />


  <!--Organization-->   
	<Control key="users" />
  <Control key="edit_user" general_key="users" /> <!--?-->
	<Control key="create_user" general_key="users" />
  <Control key="user_memberof" general_key="users" />
  <Control key="user_reset_password" general_key="users" />
	<!--<Control key="organization_user_setup" />-->

  <Control key="deleted_users" />
  <Control key="view_deleted_user" general_key="deleted_users" />
  <Control key="deleted_user_memberof" general_key="deleted_users" />


  <Control key="secur_groups" />
  <Control key="create_secur_group" general_key="secur_groups" />
  <Control key="secur_group_settings" general_key="secur_groups" />
  <Control key="secur_group_memberof" general_key="secur_groups" />

  <Control key="org_domains" />
  <Control key="org_add_domain" general_key="org_domains" />
      
      
  <!--Exchange-->
	<Control key="mailboxes" />
  <!--<Control key="archivingmailboxes" />-->
  <Control key="create_mailbox" general_key="mailboxes" />
	<Control key="mailbox_settings" general_key="mailboxes" />
  <Control key="mailbox_mobile" general_key="mailboxes" />
  <Control key="mailbox_mobile_details" general_key="mailboxes" />
	<Control key="mailbox_addresses" general_key="mailboxes" />
	<Control key="mailbox_mailflow" general_key="mailboxes" />
	<Control key="mailbox_permissions" general_key="mailboxes" />
	<Control key="mailbox_advanced" general_key="mailboxes" />
	<Control key="mailbox_setup" general_key="mailboxes" />
  <Control key="mailbox_memberof" general_key="mailboxes" />
      
	<Control key="contacts" />
	<Control key="create_contact" general_key="contacts" />
	<Control key="contact_settings" general_key="contacts" />
	<Control key="contact_mailflow" general_key="contacts" />
      
	<Control key="dlists" />
	<Control key="create_dlist" general_key="dlists" />
	<Control key="dlist_settings" general_key="dlists" />
	<Control key="dlist_addresses" general_key="dlists" />
	<Control key="dlist_mailflow" general_key="dlists" />
	<Control key="dlist_permissions" general_key="dlists" />
  <Control key="dlist_memberof" general_key="dlists" />

  <Control key="disclaimers" />
  <Control key="disclaimers_settings" general_key="disclaimers" />

  <Control key="public_folders" />
	<Control key="create_public_folder" general_key="public_folders" />
	<Control key="public_folder_settings" general_key="public_folders" />
	<Control key="public_folder_addresses" general_key="public_folders" />
	<Control key="public_folder_mailflow" general_key="public_folders" />
	<Control key="public_folder_mailenable" general_key="public_folders" />
      
	<Control key="domains" />
  <Control key="add_domain" general_key="domains" />
  <Control key="domain_records" general_key="domains" />
  <Control key="check_domain" general_key="domains" />
      
	<Control key="storage_usage" />
	<Control key="storage_usage_details" general_key="storage_usage" />
	<!--<Control key="storage_limits" />-->
    
	<Control key="activesync_policy" />
  
  <Control key="mailboxplans" />
  <Control key="retentionpolicy" />
  <Control key="retentionpolicytag" />
  <Control key="add_mailboxplan" general_key="mailboxplans" /> <!--?-->

  
  <!--CRM-->
  <Control key="CRMOrganizationDetails" />
  
	<Control key="CRMUsers" />
	<Control key="CRMUserRoles" general_key="CRMUsers" />
	<Control key="create_crm_user" general_key="CRMUsers" />
  
  <Control key="crm_storage_settings" />


  <!--SharePoint-->
  <Control key="sharepoint_sitecollections" />
	<Control key="sharepoint_edit_sitecollection" general_key="sharepoint_sitecollections" />
	<Control key="sharepoint_backup_sitecollection" general_key="sharepoint_sitecollections" />
	<Control key="sharepoint_restore_sitecollection" general_key="sharepoint_sitecollections" />
 
	<Control key="sharepoint_storage_settings" />
  
	<Control key="sharepoint_storage_usage" />

  <!--SharePoint Enterprise-->
  <Control key="sharepoint_enterprise_sitecollections" />
  <Control key="sharepoint_enterprise_edit_sitecollection" general_key="sharepoint_enterprise_sitecollections" />
  <Control key="sharepoint_enterprise_backup_sitecollection" general_key="sharepoint_enterprise_sitecollections" />
  <Control key="sharepoint_enterprise_restore_sitecollection" general_key="sharepoint_enterprise_sitecollections" />

  <Control key="sharepoint_enterprise_storage_settings" />

  <Control key="sharepoint_enterprise_storage_usage" />



  <!--BlackBerry-->
	<Control key="blackberry_users" />
	<Control key="create_new_blackberry_user" general_key="blackberry_users" />
	<Control key="edit_blackberry_user" general_key="blackberry_users" />


  <!--OCS-->
  <Control key="ocs_users" />
	<Control key="create_new_ocs_user" general_key="ocs_users" />
	<Control key="edit_ocs_user" general_key="ocs_users" />


  <!--Lync--> 
  <Control key="lync_users"/>
  <Control key="create_new_lync_user" general_key="lync_users" />
  <Control key="edit_lync_user" general_key="lync_users" />
  
  <Control key="lync_userplans" />
  <Control key="add_lyncuserplan" general_key="lync_userplans" />
  
  <Control key="lync_federationdomains" />
  <Control key="add_lyncfederation_domain" general_key="lync_federationdomains" />

  <Control key="lync_phonenumbers" />
  <Control key="allocate_phonenumbers" general_key="lync_phonenumbers" />

  <!--SfB-->
  <Control key="sfb_users"/>
  <Control key="create_new_sfb_user" general_key="sfb_users" />
  <Control key="edit_sfb_user" general_key="sfb_users" />

  <Control key="sfb_userplans" />
  <Control key="add_sfbuserplan" general_key="sfb_userplans" />

  <Control key="sfb_federationdomains" />
  <Control key="add_sfbfederation_domain" general_key="sfb_federationdomains" />

  <Control key="sfb_phonenumbers" />
  <Control key="sfb_allocate_phonenumbers" general_key="sfb_phonenumbers" />


  <!--EnterpriseStorage-->
  <Control key="enterprisestorage_folders" />
  <Control key="create_enterprisestorage_folder" general_key="enterprisestorage_folders" />
  <Control key="enterprisestorage_folder_settings" general_key="enterprisestorage_folders" />
  <Control key="enterprisestorage_folder_settings_general" general_key="enterprisestorage_folders" />
  <Control key="enterprisestorage_folder_settings_folder_permissions" general_key="enterprisestorage_folders" />
  <Control key="enterprisestorage_folder_settings_owa_editing" general_key="enterprisestorage_folders" />
  
  <Control key="enterprisestorage_drive_maps" />
  <Control key="create_enterprisestorage_drive_map" general_key="enterprisestorage_drive_maps" />

  <!--RDS-->
  <Control key="rds_servers" />
  <Control key="rds_add_server" general_key="rds_servers"/>
  
  <Control key="rds_collections" />
  <Control key="rds_create_collection" general_key="rds_collections" />
  <Control key="rds_import_collection" general_key="rds_collections" />
  <Control key="rds_collection_edit_apps" general_key="rds_collections" />
  <Control key="rds_collection_edit_users" general_key="rds_collections" />
  <Control key="rds_application_edit_users" general_key="rds_collections" />
  <Control key="rds_edit_collection" general_key="rds_collections" />
  <Control key="rds_edit_collection_settings" general_key="rds_collections" />
  <Control key="rds_collection_user_sessions" general_key="rds_collections" />
  <Control key="rds_collection_local_admins" general_key="rds_collections" />
  <Control key="rds_collection_user_experience" general_key="rds_collections" />
  <Control key="rds_setup_letter" general_key="rds_collections" />

  <!--Space Storages-->
  <Control key="space_storages_list" />

</Controls>
