<?xml version="1.0" encoding="utf-8"?>
<ModulesData>
  <ModuleData id="UserMenu">
    <!--<MenuItem pageID="Home" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="User"/>-->
    <MenuItem pageID="UserCustomers" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="Administrator,Reseller"/>
    <MenuItem pageID="UserSpaces" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <MenuItem pageID="HostingPlans" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="Administrator,Reseller"/>
    <MenuItem pageID="HostingAddons" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="Administrator,Reseller"/>
    <MenuItem pageID="UserPeers" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <MenuItem pageID="UserTasks" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <MenuItem pageID="AuditLog" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <!--MenuItem url="http://google.com" title="Google" target="_blank"/-->
  </ModuleData>
  <ModuleData id="SpaceMenu">
    <MenuItem pageID="SpaceDomains" resourceGroup="OS" />
    <MenuItem pageID="SpaceWebSites" resourceGroup="Web"/>
    <MenuItem pageID="SpaceWebIPAddresses" resourceGroup="Web" />
    <MenuItem pageID="SpaceFtpAccounts" resourceGroup="FTP"/>
    <MenuItem pageID="SpaceMail" resourceGroup="Mail" disabled="True">
      <MenuItems>
        <MenuItem pageID="SpaceMailAccounts" quota="Mail.Accounts"/>
        <MenuItem pageID="SpaceMailForwardings" quota="Mail.Forwardings"/>
        <MenuItem pageID="SpaceMailGroups" quota="Mail.Groups"/>
        <MenuItem pageID="SpaceMailLists" quota="Mail.Lists"/>
        <MenuItem pageID="SpaceMailDomains"  resourceGroup="Mail"/>
      </MenuItems>
    </MenuItem>
    <MenuItem pageID="SpaceDatabases" disabled="True">
      <MenuItems>
        <MenuItem pageID="SpaceMsSql2000" resourceGroup="MsSQL2000"/>
        <MenuItem pageID="SpaceMsSql2005" resourceGroup="MsSQL2005"/>
        <MenuItem pageID="SpaceMsSql2008" resourceGroup="MsSQL2008"/>
        <MenuItem pageID="SpaceMsSql2012" resourceGroup="MsSQL2012"/>
        <MenuItem pageID="SpaceMsSql2014" resourceGroup="MsSQL2014"/>
        <MenuItem pageID="SpaceMsSql2016" resourceGroup="MsSQL2016"/>
        <MenuItem pageID="SpaceMySql4" resourceGroup="MySQL4"/>
        <MenuItem pageID="SpaceMySql5" resourceGroup="MySQL5"/>
        <MenuItem pageID="SpaceMariaDB" resourceGroup="MariaDB"/>
      </MenuItems>
    </MenuItem>
    <MenuItem pageID="SpaceSharePoint" resourceGroup="SharePoint" disabled="True">
      <MenuItems>
        <MenuItem pageID="SpaceSharePointSites"/>
        <MenuItem pageID="SpaceSharePointUsers"/>
      </MenuItems>
    </MenuItem>
    <MenuItem pageID="SpaceVPS" resourceGroup="VPS"/>
    <MenuItem pageID="SpaceVPS2012" resourceGroup="VPS2012"/>
    <MenuItem pageID="SpaceProxmox" resourceGroup="Proxmox"/>
    <MenuItem pageID="SpaceVPSForPC" resourceGroup="VPSForPC"/>
    <!-- Removed Hosted Organizations from Space Menu
    <MenuItem pageID="SpaceExchangeServer" resourceGroup="Hosted Organizations"/>-->
    <MenuItem pageID="SpaceSharedSSL" resourceGroup="OS" quota="Web.SharedSSL"/>
    <MenuItem pageID="SpaceAdvancedStatistics" resourceGroup="Statistics"/>
    <MenuItem pageID="SpaceOdbc" resourceGroup="OS" quota="OS.ODBC"/>
    <MenuItem pageID="SpaceFileManager" resourceGroup="OS" quota="OS.FileManager"/>
    <MenuItem pageID="SpaceWebApplicationsGallery" resourceGroup="Web" quota="Web.WebAppGallery"/>
    <MenuItem pageID="SpaceApplicationsInstaller" resourceGroup="OS" quota="OS.AppInstaller"/>
    <MenuItem pageID="SpaceScheduledTasks" resourceGroup="OS" quota="OS.ScheduledTasks"/>
    <!--CO Changes-->
    <MenuItem pageID="SpaceApplyEnableHardQuotaFeature" resourceGroup="OS" quota=""/>
    <!--END-->
    <!--MenuItem url="http://phpmysqladmin.com" title="phpMyAdmin" target="_blank"
                resourceGroup="MySQL4"/-->
  </ModuleData>
  <ModuleData id="SpaceIcons">
    <Group pageID="SpaceHome" titleresourcekey="System">
      <Icon pageID="SpaceHome" titleresourcekey="SpaceStatistics" imageUrl="icons/spacehome_48.png" />
      <Icon pageID="SpaceDomains" resourceGroup="OS" imageUrl="icons/domains_48.png" />
      <Icon pageID="SpaceFtpAccounts" resourceGroup="FTP" imageUrl="icons/ftp_48.png"/>
      <Icon pageID="SpaceFileManager" resourceGroup="OS" quota="OS.FileManager" imageUrl="icons/filemanager_48.png"/>
      <Icon pageID="SpaceApplicationsInstaller" resourceGroup="OS" quota="OS.AppInstaller" imageUrl="icons/applicationsinstaller_48.png"/>
      <Icon pageID="SpaceScheduledTasks" resourceGroup="OS" quota="OS.ScheduledTasks" imageUrl="icons/scheduledtasks_48.png"/>
    </Group>
    <Group pageID="SpaceWeb" titleresourcekey="Web" disabled="True">
      <Icon pageID="SpaceWebSites" resourceGroup="Web" imageUrl="icons/websites_48.png" />
      <Icon pageID="SpaceWebIPAddresses" resourceGroup="Web" imageUrl="icons/adress_48.png" />
      <Icon pageID="SpaceSharedSSL" resourceGroup="OS" quota="Web.SharedSSL" imageUrl="icons/sharedssl_48.png" />
      <Icon pageID="SpaceAdvancedStatistics" resourceGroup="Statistics" imageUrl="icons/advancedstatistics_48.png" />
      <Icon pageID="SpaceWebApplicationsGallery" resourceGroup="Web" quota="Web.WebAppGallery" imageUrl="icons/webapplicationsgallery_48.png"/>
    </Group>
    <Group pageID="SpaceMail" titleresourcekey="Email" resourceGroup="Mail" disabled="True">
      <Icon pageID="SpaceMailAccounts" quota="Mail.Accounts" imageUrl="icons/mail_accounts_48.png"/>
      <Icon pageID="SpaceMailForwardings" quota="Mail.Forwardings" imageUrl="icons/mail_forwardings_48.png"/>
      <Icon pageID="SpaceMailGroups" quota="Mail.Groups" imageUrl="icons/mail_groups_48.png"/>
      <Icon pageID="SpaceMailLists" quota="Mail.Lists" imageUrl="icons/mail_lists_48.png"/>
      <Icon pageID="SpaceMailDomains"  resourceGroup="Mail" imageUrl="icons/mail_domains_48.png"/>
    </Group>
    <Group pageID="SpaceDatabases" titleresourcekey="Databases" disabled="True">
      <Icon pageID="SpaceMsSql2000" resourceGroup="MsSQL2000" imageUrl="icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2005" resourceGroup="MsSQL2005" imageUrl="icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2008" resourceGroup="MsSQL2008" imageUrl="icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2012" resourceGroup="MsSQL2012" imageUrl="icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2014" resourceGroup="MsSQL2014" imageUrl="icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2016" resourceGroup="MsSQL2016" imageUrl="icons/mssql_48.png"/>
      <Icon pageID="SpaceMySql4" resourceGroup="MySQL4" imageUrl="icons/mysql_48.png"/>
      <Icon pageID="SpaceMySql5" resourceGroup="MySQL5" imageUrl="icons/mysql_48.png"/>
      <Icon pageID="SpaceMariaDB" resourceGroup="MariaDB" imageUrl="icons/mariadb_48.png"/>
      <Icon pageID="SpaceOdbc" resourceGroup="OS" quota="OS.ODBC" imageUrl="icons/odbc_48.png"/>
    </Group>
    <Group pageID="SpaceHome" titleresourcekey="VPS" disabled="True">
      <Icon pageID="SpaceVPS" resourceGroup="VPS" imageUrl="icons/vps_48.png" />
      <Icon pageID="SpaceVPS2012" resourceGroup="VPS2012" imageUrl="icons/vps2012_48.png" />
      <Icon pageID="SpaceProxmox" resourceGroup="Proxmox" imageUrl="icons/vps2012_48.png" />
      <Icon pageID="SpaceVPSForPC" resourceGroup="VPSForPC" imageUrl="icons/vpsforpc_48.png" />
    </Group>
    <!-- 
    <Group pageID="SpaceSharePoint" resourceGroup="SharePoint" disabled="True">
      <Icon pageID="SpaceSharePointSites" imageUrl="icons/colors_48.png"/>
      <Icon pageID="SpaceSharePointUsers" imageUrl="icons/colors_48.png"/>
		</Group>
    -->
  </ModuleData>
  <ModuleData id="HostedSolutionMenu">
    <MenuItem pageID="SpaceDomains"/>
    <MenuItem pageID="Userds"/>
    <MenuItem pageID="SpaceOrganizationHostedSharePoint" resourceGroup="Hosted SharePoint"/>
    <MenuItem pageID="SpaceExchanged"/>
  </ModuleData>
</ModulesData>