<?xml version="1.0" encoding="utf-8"?>
<ModulesData>
  <ModuleData id="UserMenu">
    <!--<MenuItem pageID="Home" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="User"/>-->
    <MenuItem pageID="UserCustomers" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="Administrator,Reseller"/>
    <MenuItem pageID="UserSpaces" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <MenuItem pageID="HostingPlans" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="Administrator,Reseller"/>
    <MenuItem pageID="HostingAddons" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk" selectedUserContext="Administrator,Reseller"/>
    <MenuItem pageID="UserPeers" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <MenuItem pageID="UserTasks" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <MenuItem pageID="AuditLog" roles="Administrator,Reseller,PlatformCSR,ResellerCSR,PlatformHelpdesk,ResellerHelpdesk,User" selectedUserContext="Administrator,Reseller,User"/>
    <!--MenuItem url="http://google.com" title="Google" target="_blank"/-->
  </ModuleData>
  <ModuleData id="SpaceMenu">
    <MenuItem pageID="SpaceDomains" resourceGroup="OS" />
    <MenuItem pageID="SpaceWebSites" resourceGroup="Web"/>
    <MenuItem pageID="SpaceWebIPAddresses" resourceGroup="Web" />
    <MenuItem pageID="SpaceFtpAccounts" resourceGroup="FTP"/>
    <MenuItem pageID="SpaceMail" resourceGroup="Mail" disabled="True">
      <MenuItems>
        <MenuItem pageID="SpaceMailAccounts" quota="Mail.Accounts"/>
        <MenuItem pageID="SpaceMailForwardings" quota="Mail.Forwardings"/>
        <MenuItem pageID="SpaceMailGroups" quota="Mail.Groups"/>
        <MenuItem pageID="SpaceMailLists" quota="Mail.Lists"/>
        <MenuItem pageID="SpaceMailDomains"  resourceGroup="Mail"/>
	    <MenuItem pageID="SpaceMailAccess" quota="Mail.AllowAccessControls"/>
      </MenuItems>
    </MenuItem>
    <MenuItem pageID="SpaceDatabases" disabled="True">
      <MenuItems>
        <MenuItem pageID="SpaceMsSql2000" resourceGroup="MsSQL2000"/>
        <MenuItem pageID="SpaceMsSql2005" resourceGroup="MsSQL2005"/>
        <MenuItem pageID="SpaceMsSql2008" resourceGroup="MsSQL2008"/>
        <MenuItem pageID="SpaceMsSql2012" resourceGroup="MsSQL2012"/>
        <MenuItem pageID="SpaceMsSql2014" resourceGroup="MsSQL2014"/>
        <MenuItem pageID="SpaceMsSql2016" resourceGroup="MsSQL2016"/>
        <MenuItem pageID="SpaceMsSql2017" resourceGroup="MsSQL2017"/>
        <MenuItem pageID="SpaceMsSql2019" resourceGroup="MsSQL2019"/>
		    <MenuItem pageID="SpaceMsSql2022" resourceGroup="MsSQL2022"/>
        <MenuItem pageID="SpaceMySql4" resourceGroup="MySQL4"/>
        <MenuItem pageID="SpaceMySql5" resourceGroup="MySQL5"/>
        <MenuItem pageID="SpaceMySql8" resourceGroup="MySQL8"/>
        <MenuItem pageID="SpaceMySql9" resourceGroup="MySQL9"/>
        <MenuItem pageID="SpaceMariaDB" resourceGroup="MariaDB"/>
      </MenuItems>
    </MenuItem>
    <MenuItem pageID="SpaceSharePoint" resourceGroup="SharePoint" disabled="True">
      <MenuItems>
        <MenuItem pageID="SpaceSharePointSites"/>
        <MenuItem pageID="SpaceSharePointUsers"/>
      </MenuItems>
    </MenuItem>
    <MenuItem pageID="SpaceVPS" resourceGroup="VPS"/>
    <MenuItem pageID="SpaceVPS2012" resourceGroup="VPS2012"/>
    <MenuItem pageID="SpaceProxmox" resourceGroup="Proxmox"/>
    <MenuItem pageID="SpaceVPSForPC" resourceGroup="VPSForPC"/>
    <!-- Removed Hosted Organizations from Space Menu
    <MenuItem pageID="SpaceExchangeServer" resourceGroup="Hosted Organizations"/>-->
    <MenuItem pageID="SpaceSharedSSL" resourceGroup="OS" quota="Web.SharedSSL"/>
    <MenuItem pageID="SpaceAdvancedStatistics" resourceGroup="Statistics"/>
    <MenuItem pageID="SpaceOdbc" resourceGroup="OS" quota="OS.ODBC"/>
    <MenuItem pageID="SpaceFileManager" resourceGroup="OS" quota="OS.FileManager"/>
    <MenuItem pageID="SpaceWebApplicationsGallery" resourceGroup="Web" quota="Web.WebAppGallery"/>
    <MenuItem pageID="SpaceApplicationsInstaller" resourceGroup="OS" quota="OS.AppInstaller"/>
    <MenuItem pageID="SpaceScheduledTasks" resourceGroup="OS" quota="OS.ScheduledTasks"/>
    <!--CO Changes-->
    <MenuItem pageID="SpaceApplyEnableHardQuotaFeature" resourceGroup="OS" quota=""/>
    <!--END-->
    <!--MenuItem url="http://phpmysqladmin.com" title="phpMyAdmin" target="_blank"
                resourceGroup="MySQL4"/-->
  </ModuleData>
  <ModuleData id="SpaceIcons">
    <Group pageID="SpaceHome" titleresourcekey="System">
      <Icon pageID="SpaceHome" titleresourcekey="SpaceStatistics" imageUrl="Icons/spacehome_48.png" />
      <Icon pageID="SpaceDomains" resourceGroup="OS" imageUrl="Icons/domains_48.png" />
      <Icon pageID="SpaceFtpAccounts" resourceGroup="FTP" imageUrl="Icons/ftp_48.png"/>
      <Icon pageID="SpaceFileManager" resourceGroup="OS" quota="OS.FileManager" imageUrl="Icons/filemanager_48.png"/>
      <Icon pageID="SpaceApplicationsInstaller" resourceGroup="OS" quota="OS.AppInstaller" imageUrl="Icons/applicationsinstaller_48.png"/>
      <Icon pageID="SpaceScheduledTasks" resourceGroup="OS" quota="OS.ScheduledTasks" imageUrl="Icons/scheduledtasks_48.png"/>
    </Group>
    <Group pageID="SpaceWeb" titleresourcekey="Web" disabled="True">
      <Icon pageID="SpaceWebSites" resourceGroup="Web" imageUrl="Icons/websites_48.png" />
      <Icon pageID="SpaceWebIPAddresses" resourceGroup="Web" imageUrl="Icons/adress_48.png" />
      <Icon pageID="SpaceSharedSSL" resourceGroup="OS" quota="Web.SharedSSL" imageUrl="Icons/sharedssl_48.png" />
      <Icon pageID="SpaceAdvancedStatistics" resourceGroup="Statistics" imageUrl="Icons/advancedstatistics_48.png" />
      <Icon pageID="SpaceWebApplicationsGallery" resourceGroup="Web" quota="Web.WebAppGallery" imageUrl="Icons/webapplicationsgallery_48.png"/>
    </Group>
    <Group pageID="SpaceMail" titleresourcekey="Email" resourceGroup="Mail" disabled="True">
      <Icon pageID="SpaceMailAccounts" quota="Mail.Accounts" imageUrl="Icons/mail_accounts_48.png"/>
      <Icon pageID="SpaceMailForwardings" quota="Mail.Forwardings" imageUrl="Icons/mail_forwardings_48.png"/>
      <Icon pageID="SpaceMailGroups" quota="Mail.Groups" imageUrl="Icons/mail_groups_48.png"/>
      <Icon pageID="SpaceMailLists" quota="Mail.Lists" imageUrl="Icons/mail_lists_48.png"/>
      <Icon pageID="SpaceMailDomains"  resourceGroup="Mail" imageUrl="Icons/mail_domains_48.png"/>
	  <Icon pageID="SpaceMailAccess" quota="Mail.AllowAccessControls" imageUrl="Icons/mail_accepted_domains_48.png" />
    </Group>
    <Group pageID="SpaceDatabases" titleresourcekey="Databases" disabled="True">
      <Icon pageID="SpaceMsSql2000" resourceGroup="MsSQL2000" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2005" resourceGroup="MsSQL2005" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2008" resourceGroup="MsSQL2008" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2012" resourceGroup="MsSQL2012" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2014" resourceGroup="MsSQL2014" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2016" resourceGroup="MsSQL2016" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2017" resourceGroup="MsSQL2017" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMsSql2019" resourceGroup="MsSQL2019" imageUrl="Icons/mssql_48.png"/>
	    <Icon pageID="SpaceMsSql2022" resourceGroup="MsSQL2022" imageUrl="Icons/mssql_48.png"/>
      <Icon pageID="SpaceMySql4" resourceGroup="MySQL4" imageUrl="Icons/mysql_48.png"/>
      <Icon pageID="SpaceMySql5" resourceGroup="MySQL5" imageUrl="Icons/mysql_48.png"/>
      <Icon pageID="SpaceMySql8" resourceGroup="MySQL8" imageUrl="Icons/mysql_48.png"/>
      <Icon pageID="SpaceMySql9" resourceGroup="MySQL9" imageUrl="Icons/mysql_48.png"/>
      <Icon pageID="SpaceMariaDB" resourceGroup="MariaDB" imageUrl="Icons/mariadb_48.png"/>
      <Icon pageID="SpaceOdbc" resourceGroup="OS" quota="OS.ODBC" imageUrl="Icons/odbc_48.png"/>
    </Group>
    <Group pageID="SpaceHome" titleresourcekey="VPS" disabled="True">
      <Icon pageID="SpaceVPS" resourceGroup="VPS" imageUrl="Icons/vps_48.png" />
      <Icon pageID="SpaceVPS2012" resourceGroup="VPS2012" imageUrl="Icons/vps2012_48.png" />
      <Icon pageID="SpaceProxmox" resourceGroup="Proxmox" imageUrl="Icons/vps2012_48.png" />
      <Icon pageID="SpaceVPSForPC" resourceGroup="VPSForPC" imageUrl="Icons/vpsforpc_48.png" />
    </Group>
    <!-- 
    <Group pageID="SpaceSharePoint" resourceGroup="SharePoint" disabled="True">
      <Icon pageID="SpaceSharePointSites" imageUrl="Icons/colors_48.png"/>
      <Icon pageID="SpaceSharePointUsers" imageUrl="Icons/colors_48.png"/>
		</Group>
    -->
  </ModuleData>
  <ModuleData id="HostedSolutionMenu">
    <MenuItem pageID="SpaceDomains"/>
    <MenuItem pageID="Users"/>
    <MenuItem pageID="SpaceOrganizationHostedSharePoint" resourceGroup="Hosted SharePoint"/>
    <MenuItem pageID="SpaceExchangeServer"/>
  </ModuleData>
</ModulesData>