<?xml version="1.0" encoding="utf-8"?>
<SiteSettings>
	<!-- Display Settings -->
	<PortalName>SolidCP</PortalName>
	<!-- Enterprise Server -->
	<EnterpriseServer>http://127.0.0.1:9002</EnterpriseServer>
	<!-- General Settings -->
	<CultureCookieName>UserCulture</CultureCookieName>
	<ThemeCookieName>UserTheme</ThemeCookieName>
	<!-- Mail Settings -->
	<AdminEmail>
	</AdminEmail>
	<SmtpHost>
	</SmtpHost>
	<SmtpPort>
	</SmtpPort>
	<SmtpUsername>
	</SmtpUsername>
	<SmtpPassword>
	</SmtpPassword>
	<FromEmail>
	</FromEmail>
	<!-- Pages -->
  <!--TODO START-->
  <SearchObjectPage>SearchObject</SearchObjectPage>
  <!--TODO END-->
	<DefaultPage>Home</DefaultPage>
	<LoginPage>Login</LoginPage>
	<UserHomePage>Home</UserHomePage>
	<UserCustomersPage>UserCustomers</UserCustomersPage>
	<SpaceHomePage>SpaceHome</SpaceHomePage>
	<NestedSpacesPage>NestedSpaces</NestedSpacesPage>
	<UsersSearchPage>SearchUsers</UsersSearchPage>
	<SpacesSearchPage>SearchSpaces</SpacesSearchPage>
	<LoggedUserAccountPage>LoggedUserDetails</LoggedUserAccountPage>
	<!-- Skins and Containers -->
	<PortalSkin>Browse2.ascx</PortalSkin>
	<PortalContainer>Browse.ascx</PortalContainer>
	<AdminSkin>Edit.ascx</AdminSkin>
	<AdminContainer>Edit.ascx</AdminContainer>
	<!-- SSL Settings -->
	<UseSSL>false</UseSSL>
  <HideDemoCheckbox>false</HideDemoCheckbox>
  <HideThemeAndLocale>false</HideThemeAndLocale>
  <ExcludedRolesToLogin></ExcludedRolesToLogin>
</SiteSettings>
