<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="moduleSettings" type="SolidCP.LinuxVmConfig.ModuleSettingsSection, SolidCP.LinuxVmConfig"/>
  </configSections>
  <appSettings>

    <!-- Start-up delay in milliseconds - time to wait before tasks execution -->
    <add key="Service.StartupDelay" value="5000"/>

    <!-- Interval in milliseconds to poll registry keys. 1 - read registry only once -->
    <add key="Service.RegistryPollInterval" value="30000"/>

    <!-- Stop service after idle interval in milliseconds. 1 - service never stops -->
    <add key="Service.ExitIdleInterval" value="1"/>
    
  </appSettings>
  <moduleSettings>
    <modules>
      <add key="ChangeComputerName" value="SolidCP.LinuxVmConfig.ChangeComputerNameModule, SolidCP.LinuxVmConfig.Common"/>
      <add key="ChangeAdministratorPassword" value="SolidCP.LinuxVmConfig.ChangeAdministratorPasswordModule, SolidCP.LinuxVmConfig.Common"/>
      <add key="SetupNetworkAdapter" value="SolidCP.LinuxVmConfig.SetupNetworkAdapterModule, SolidCP.LinuxVmConfig.Common"/>
    </modules>
  </moduleSettings>
</configuration>