<?xml version="1.0"?>
<configuration>
  <!-- Custom configuration sections -->
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3" />
    <section name="SolidCP.server" type="SolidCP.Server.ServerConfiguration, SolidCP.Server" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
  </configSections>
  <appSettings>
    <add key="SolidCP.HyperV.UseDiskPartClearReadOnlyFlag" value="false" />
    <add key="SolidCP.Exchange.ClearQueryBaseDN" value="false" />
    <add key="SolidCP.Exchange.enableSP2abp" value="false" />
    <add key="SCVMMServerName" value="" />
    <add key="SCVMMServerPort" value="" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="Log" value="2" />
      <!-- 0 - Off, 1 - Error, 2 - Warning, 3 - Info, 4 - Verbose -->
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="DefaultListener" type="SolidCP.Server.Utils.EventLogTraceListener, SolidCP.Server.Utils" initializeData="SolidCP" />
        <!-- Writes log to the file
        <add name="DefaultListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SolidCP.Server.log" />
        -->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!-- Caching Configuration -->
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" expirationPollFrequencyInSeconds="43200" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <!-- SolidCP Configuration -->
  <SolidCP.server>
    <!-- Security settings -->
    <security>
      <!-- Perform security check -->
      <enabled value="true" />
      <!-- Server password -->
      <password value="uqCP8Qc3EjbAzzjpiSOu+Z+icAqYOtzM7Luy+OTIRZ8=" />
    </security>
  </SolidCP.server>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- Disable any authentication -->
    <authentication mode="None" />
    <!-- Correct HTTP runtime settings -->
    <httpRuntime executionTimeout="3600" maxRequestLength="16384" allowDynamicModuleRegistration="true" />
    <!-- Set globalization settings -->
    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    <!-- Web Services settings -->
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpPostLocalhost" />
        <remove name="HttpGet" />
      </protocols>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3" />
    </webServices>
    <compilation debug="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <handlers>
      
    </handlers>
    <!--<modules runAllManagedModulesForAllRequests="true"></modules>-->
  </system.webServer>
  <!-- WSE 3.0 settings -->
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
    <messaging>
      <maxMessageLength value="-1" />
      <mtom serverMode="optional" clientMode="On" />
    </messaging>
    <security>
      <securityTokenManager>
        <add type="SolidCP.Server.ServerUsernameTokenManager, SolidCP.Server" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
      <timeToleranceInSeconds value="86400" />
    </security>
    <policy fileName="WsePolicyCache.Config" />
  </microsoft.web.services3>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" />
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IVirtualMachineManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMonitoringService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"  findValue="localhost" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin/Crm2011;bin/Crm2013;bin/Exchange2013;bin/Exchange2016;bin/Exchange2019;bin/Sharepoint2013;bin/Sharepoint2016;bin/Sharepoint2019;bin/Lync2013;bin/SfB2015;bin/SfB2019;bin/Lync2013HP;bin/Dns2012;bin/IceWarp;bin/IIs80;bin/IIs100;bin/HyperV2012R2;bin/HyperVvmm;bin/Crm2015;bin/Crm2016;bin/Filters;bin/Database;bin/DNS;bin/Providers;bin/Server" />
    </assemblyBinding>
  </runtime>
</configuration>