<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Custom configuration sections -->
	<configSections>
		<!--<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3" />-->
		<section name="SolidCP.server" type="SolidCP.Server.ServerConfiguration, SolidCP.Server" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
		<section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
	</configSections>
	<appSettings>
		<add key="SolidCP.HyperV.UseDiskPartClearReadOnlyFlag" value="false" />
		<add key="SolidCP.Exchange.ClearQueryBaseDN" value="false" />
		<add key="SolidCP.Exchange.enableSP2abp" value="false" />
		<add key="SCVMMServerName" value="" />
		<add key="SCVMMServerPort" value="" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.diagnostics>
     <!-- Uncomment to enable low level WCF debugging
     <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true" >
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="wcf" type="System.Diagnostics.TextWriterTraceListener" initializeData="WCF.log" />
    </sharedListeners>-->
	<switches>
      <add name="Log" value="2" />
      <!-- 0 - Off, 1 - Error, 2 - Warning, 3 - Info, 4 - Verbose -->
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="DefaultListener" type="SolidCP.Server.Utils.EventLogTraceListener, SolidCP.Server.Utils" initializeData="SolidCP" />
        <!-- Writes log to the file
        <add name="DefaultListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SolidCP.Server.log" />
        -->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
	<swaggerwcf>
		<settings>
			<setting name="InfoDescription" value="SolidCP Server Service" />
			<setting name="InfoVersion" value="1.4.9" />
			<setting name="InfoTermsOfService" value="Terms of Service" />
			<setting name="InfoTitle" value="SolidCP Server Service" />
			<setting name="InfoContactName" value="SolidCP" />
			<setting name="InfoContactUrl" value="http://solidcp.com/forum" />
			<setting name="InfoContactEmail" value="support@solidcp.com" />
			<setting name="InfoLicenseUrl" value="https://github.com/FuseCP/SolidCP/blob/master/LICENSE.txt" />
			<setting name="InfoLicenseName" value="Creative Commons Share-alike" />
		</settings>
	</swaggerwcf>
	<!-- Caching Configuration -->
	<cachingConfiguration defaultCacheManager="Default Cache Manager">
		<backingStores>
			<add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
		</backingStores>
		<cacheManagers>
			<add name="Default Cache Manager" expirationPollFrequencyInSeconds="43200" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
		</cacheManagers>
	</cachingConfiguration>
	<!-- SolidCP Configuration -->
	<SolidCP.server>
		<!-- Security settings -->
		<security>
			<!-- Perform security check -->
			<enabled value="true" />
			<!-- Server password (1234)-->
			<password value="cRDtpNCeBiql5KOQsKVyrA0sAiA=" />
		</security>
	</SolidCP.server>
	<system.web>
		<!-- Disable any authentication -->
		<authentication mode="None" />
		<!-- Correct HTTP runtime settings -->
		<httpRuntime targetFramework="4.8" executionTimeout="3600" maxRequestLength="4194304" allowDynamicModuleRegistration="true" />
		<!-- Set globalization settings -->
		<globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
		<!-- Web Services settings -->
		<!--<webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpPostLocalhost" />
        <remove name="HttpGet" />
      </protocols>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3" />
    </webServices>-->
		<compilation debug="true" targetFramework="4.8" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <machineKey decryptionKey="F0D47152D2AAB5C5523977649BF531C5D7BF4292DEF4D16C" validationKey="D5F316EBF4AF1041CAF115C7BB743007EF6F08B054A2F2A98CAE100D6E6CB9DA7A7FC72D87744BE06C692D5DEFEB2D2D9E56C43F6DA18A2F98007EE2628442DB" />
        <customErrors mode="Off" />
	</system.web>
	    <location path="bin_dotnet">
        <system.webServer>
            <handlers>
                <add name="DisallowServe" path="*.*" verb="*" type="System.Web.HttpNotFoundHandler" />
                <!-- Return 404 instead of 403 -->
            </handlers>
        </system.webServer>
    </location>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <!-- hide the bin_dotnet folder -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="bin_dotnet" />
                </hiddenSegments>
                <requestLimits maxAllowedContentLength="4194304" />
            </requestFiltering>
        </security>
        <httpErrors errorMode="Detailed" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
	</system.webServer>
	<!-- WSE 3.0 settings -->
	<!--  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
    <messaging>
      <maxMessageLength value="-1" />
      <mtom serverMode="optional" clientMode="On" />
    </messaging>
    <security>
      <securityTokenManager>
        <add type="SolidCP.Server.ServerUsernameTokenManager, SolidCP.Server" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
      <timeToleranceInSeconds value="86400" />
    </security>
    <policy fileName="WsePolicyCache.Config" />
  </microsoft.web.services3>-->
	<system.serviceModel>
        <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
        <bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IVirtualMachineManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IMonitoringService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceCredentials>
						<serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="localhost" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin/Crm2011;bin/Crm2013;bin/Exchange2013;bin/Exchange2016;bin/Exchange2019;bin/Sharepoint2013;bin/Sharepoint2016;bin/Sharepoint2019;bin/Lync2013;bin/SfB2015;bin/SfB2019;bin/Lync2013HP;bin/IceWarp;bin/IIs80;bin/IIs100;bin/HyperV2012R2;bin/HyperVvmm;bin/Crm2015;bin/Crm2016;bin/Filters;bin/Database;bin/DNS;bin/Providers;bin/Server;bin/EnterpriseServer;bin/netstandard" />
            <dependentAssembly>
                <assemblyIdentity name="System.Memory"
                    publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.4"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
                    publicKeyToken="b03f5f7f11d50a3a"
                    culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encoding.CodePages"
                    publicKeyToken="b03f5f7f11d50a3a"
                    culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-9.0.0.3" newVersion="9.0.0.4" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.EventLog"
                    publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-9.0.0.3" newVersion="9.0.0.4" />
            </dependentAssembly>
        </assemblyBinding>
	</runtime>
</configuration>
