<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ES.WebService" value="http://127.0.0.1:9002"/>
    <!-- Username and password for access to SolidCP. For example "serveradmin" -->
    <add key="ES.Username" value="serveradmin"/>
    <add key="ES.Password" value="serveradmin"/>
    <add key="LogFile" value="SolidCP.FixDefaultPublicFolderMailbox.log"/>
  </appSettings>
</configuration>
