<?xml version="1.0"?>
<SEConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WriteLog>true</WriteLog>
  <ExtendedLog>true</ExtendedLog>
  <schema>https</schema>
  <url></url>
  <user></user>
  <password></password>
  <MailServer></MailServer>
  <MailTo></MailTo>
  <MailFrom></MailFrom>
  <ErrorMailBody>
    {0}.Error: {1}
  </ErrorMailBody>
  <ErrorMailSubject>SE error</ErrorMailSubject>

</configuration>
