<?xml version="1.0"?>
<eventHandlers>
	<task source="USER" name="ADD">
		<handler type="SolidCP.EnterpriseServer.Tasks.SendEmailNotification, SolidCP.EnterpriseServer.Code" />
	</task>
	<task source="HOSTING_SPACE" name="ADD">
		<handler type="SolidCP.EnterpriseServer.Tasks.SendEmailNotification, SolidCP.EnterpriseServer.Code" />
	</task>
	<task source="HOSTING_SPACE_WR" name="ADD">
		<handler type="SolidCP.EnterpriseServer.Tasks.SendEmailNotification, SolidCP.EnterpriseServer.Code" />
	</task>
</eventHandlers>
