<?xml version="1.0" encoding="utf-8" ?>
<eventHandlers>
	<reference src="SystemEventHandlers.config" />
	<!--task source="WEB" name="CREATE_SITE">
		<handler type="SolidCP.EnterpriseServer.TestTaskHandler, SolidCP.EnterpriseServer" />
		<handler type="SolidCP.EnterpriseServer.TestTaskHandler2, SolidCP.EnterpriseServer" />
	</task-->
	<!--task source="WEB_SITE" name="ADD">
		<handler type="SolidCP.EnterpriseServer.Extensions.CreateWebSiteHandler, SolidCP.EnterpriseServer.Extensions" />
	</task-->
</eventHandlers>