<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3" />
  </configSections>
  <!-- Connection strings -->
  <connectionStrings>
   <add name="EnterpriseServer" connectionString="Server=(local)\SQLExpress;Database=SolidCP;uid=sa;pwd=Password12" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Encryption util settings -->
    <add key="SolidCP.CryptoKey" value="1234567890" />
    <!-- A1D4KDHUE83NKHddF -->
    <add key="SolidCP.EncryptionEnabled" value="true" />
    <!-- Web Applications -->
    <add key="SolidCP.EnterpriseServer.WebApplicationsPath" value="~/WebApplications" />
    <!-- Communication settings -->
    <!-- Maximum waiting time when sending request to the remote server
         The value is in seconds. "-1" - infinite. -->
    <add key="SolidCP.EnterpriseServer.ServerRequestTimeout" value="3600" />
    <add key="SolidCP.AltConnectionString" value="ConnectionString" />
    <add key="SolidCP.AltCryptoKey" value="CryptoKey" />
	<!-- This enables SE for all exchange accounts -->
	<add key="SpamExpertsEnable" value="false" />
	<add key="SpamExpertsSchema" value="https" /> <!-- HTTP or HTTPS -->
    <add key="SpamExpertsUrl" value="" /> <!-- Example: "demo1.spambrand.com/" (Include trailing slash) -->
    <add key="SpamExpertsUser" value="" /> <!-- API Username -->
    <add key="SpamExpertsPassword" value="" /> <!-- Password with "&" replaced for "&amp;" -->
	<add key="SpamExpertsWriteLog" value="true" />
	<add key="SpamExpertsExtendedLog" value="true" />
  </appSettings>
  <system.web>
    <!-- Disable any authentication -->
    <authentication mode="None" />
    <!-- Correct HTTP runtime settings -->
    <httpRuntime executionTimeout="3600" maxRequestLength="16384" />
    <!-- Set globalization settings -->
    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    <!-- Web Services settings -->
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpPostLocalhost" />
        <remove name="HttpGet" />
      </protocols>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3" />
    </webServices>
    <compilation targetFramework="4.0" debug="false" />
  </system.web>
  <!-- WSE 3.0 settings -->
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
    <messaging>
      <maxMessageLength value="-1" />
      <mtom clientMode="On" />
    </messaging>
    <security>
      <securityTokenManager>
        <add type="SolidCP.EnterpriseServer.ServiceUsernameTokenManager, SolidCP.EnterpriseServer.Code" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
    </security>
    <policy fileName="WsePolicyCache.Config" />
  </microsoft.web.services3>
</configuration>