<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3"/>-->
		<section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
	<!-- Connection strings -->
	<connectionStrings>
        <add name="EnterpriseServer" connectionString="DbType=MsSql;Server=(local);Database=SolidCP;uid=sa;pwd=Password12;TrustServerCertificate=true" />
        <add name="EnterpriseServerMsSql" connectionString="DbType=MsSql;Server=(local);Database=SolidCP;uid=sa;pwd=Password12;TrustServerCertificate=true" />
        <add name="EnterpriseServerMySql" connectionString="DbType=MySql;server=localhost;port=3306;database=SolidCP;uid=root;password=Password12" />
        <add name="EnterpriseServerSqlite" connectionString="DbType=Sqlite;data source=App_Data\SolidCP.sqlite" />
        <!-- doesn't work because of bugs in the provider
        <add name="EnterpriseServerPostgreSql" connectionString="DbType=PostgreSql;Server=localhost;port=5433;Database=SolidCP;User Id=postgres;Password=Password12;" providerName="Npgsql" />-->
    </connectionStrings>
	<appSettings>
		<!-- Encryption util settings -->
		<add key="SolidCP.CryptoKey" value="1234567890" />
		<!-- A1D4KDHUE83NKHddF -->
		<add key="SolidCP.EncryptionEnabled" value="true" />
		<!-- Web Applications -->
		<add key="SolidCP.EnterpriseServer.WebApplicationsPath" value="~/WebApplications" />
		<!-- Communication settings -->
		<!-- Maximum waiting time when sending request to the remote server
         The value is in seconds. "-1" - infinite. -->
		<add key="SolidCP.EnterpriseServer.ServerRequestTimeout" value="3600" />
        <add key="SolidCP.AltConnectionString" value="ConnectionString" />
        <add key="SolidCP.AltCryptoKey" value="CryptoKey" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
    <swaggerwcf>
		<settings>
			<setting name="InfoDescription" value="SolidCP EnterpriseServer Service" />
			<setting name="InfoVersion" value="1.4.9" />
			<setting name="InfoTermsOfService" value="Terms of Service" />
			<setting name="InfoTitle" value="SolidCP EnterpriseServer Service" />
			<setting name="InfoContactName" value="SolidCP" />
			<setting name="InfoContactUrl" value="http://solidcp.com/forum" />
			<setting name="InfoContactEmail" value="support@solidcp.com" />
			<setting name="InfoLicenseUrl" value="https://github.com/FuseCP/SolidCP/blob/master/LICENSE.txt" />
			<setting name="InfoLicenseName" value="Creative Commons Share-alike" />
		</settings>
	</swaggerwcf>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<!-- Enable WCF logging -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WCF.log" />
    </sharedListeners>
  </system.diagnostics>
  -->
	<system.web>
		<!-- Disable any authentication -->
		<authentication mode="None"/>
		<!-- Correct HTTP runtime settings -->
		<httpRuntime executionTimeout="3600" maxRequestLength="16384"/>
		<!-- Set globalization settings -->
		<globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"/>
		<!-- Web Services settings -->
		<!--<webServices>
      <protocols>
        <remove name="HttpPost"/>
        <remove name="HttpPostLocalhost"/>
        <remove name="HttpGet"/>
      </protocols>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3"/>
    </webServices>-->
		<compilation targetFramework="4.8" debug="true"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
        <!-- hide the bin_dotnet folder -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="bin_dotnet" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
	<!-- WSE 3.0 settings -->
	<!-- <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo"/>
    </diagnostics>
    <messaging>
      <maxMessageLength value="-1"/>
      <mtom clientMode="On"/>
    </messaging>
    <security>
      <securityTokenManager>
        <add type="SolidCP.EnterpriseServer.ServiceUsernameTokenManager, SolidCP.EnterpriseServer.Code" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
      </securityTokenManager>
    </security>
    <policy fileName="WsePolicyCache.Config"/>
  </microsoft.web.services3>-->
	<system.serviceModel>
		<!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceCredentials>
						<serviceCertificate findValue="localhost"
											storeLocation="LocalMachine"
											storeName="My"
											x509FindType="FindBySubjectName" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin/Code;bin/netstandard" />
            <dependentAssembly>
                <assemblyIdentity name="System.Memory"
                    publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-4.0.1.1" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
                    publicKeyToken="b03f5f7f11d50a3a"
                    culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Identity.Client"
                    publicKeyToken="0a613f4dd989e8ae"
                    culture="neutral" />
                <bindingRedirect oldVersion="4.0.0.0-4.61.3.0" newVersion="4.61.3.0" />
            </dependentAssembly>
        </assemblyBinding>
	</runtime>
</configuration>