<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
  <extensions>
    <extension name="restrictedTraceAssertion" type="SolidCP.EnterpriseServer.RestrictedTraceAssertion, SolidCP.EnterpriseServer.Code" />
    <extension name="usernameAssertion" type="SolidCP.EnterpriseServer.UsernameAssertion, SolidCP.EnterpriseServer.Code" />
  </extensions>
  <policy name="ServerPolicy">
    <restrictedTraceAssertion
      enabled="false"
      input="C:\VSProjects\alexY\SolidCP\SolidCP\Sources\SolidCP.EnterpriseServer\input.xml"
      output="C:\VSProjects\alexY\SolidCP\SolidCP\Sources\SolidCP.EnterpriseServer\output.xml"
    />
    <usernameAssertion/>
  </policy>
  <policy name="CommonPolicy">
    <restrictedTraceAssertion
      enabled="false"
      input="C:\VSProjects\alexY\SolidCP\SolidCP\Sources\SolidCP.EnterpriseServer\input.xml"
      output="C:\VSProjects\alexY\SolidCP\SolidCP\Sources\SolidCP.EnterpriseServer\output.xml"
    />
  </policy>
</policies>