<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".deb" mimeType="application/vnd.debian.binary-package" />
            <!--<mimeMap fileExtension=".rpm" mimeType="application/x-rpm" />-->
        </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>