<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions"
          publicKeyToken="31bf3856ad364e35"
          culture="en-us" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="8.0.0.0" />
    </dependentAssembly>
</configuration>