<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="InputFile" value="test.csv"/>
    <add key="TargetOrganization" value="Import"/>
    <add key="ES.WebService" value="http://127.0.0.1:9002"/>
    <add key="ES.Username" value="serveradmin"/>
    <add key="ES.Password" value="serveradmin"/>
    <add key="ConnectionString" value="server=db_server;database=SolidCP;uid=SolidCP;pwd=password;"/>
    <add key="LogFile" value="SolidCP.Import.CsvBulk.log"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
