<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="moduleSettings" type="SolidCP.VmConfig.ModuleSettingsSection, SolidCP.VmConfig"/>
  </configSections>
  <appSettings>

    <!-- Start-up delay in milliseconds - time to wait before tasks execution -->
    <add key="Service.StartupDelay" value="30000"/>
    
    <!-- Interval in milliseconds to poll registry keys. 1 - read registry only once -->
    <add key="Service.RegistryPollInterval" value="30000"/>

    <!-- Interval in milliseconds to poll system summary (RAM and HDD). -->
    <add key="Service.SystemSummaryInterval" value="15000"/>

    <!-- Stop service after idle interval in milliseconds. 1 - service never stops -->
    <add key="Service.ExitIdleInterval" value="1"/>
    
  </appSettings>
  <moduleSettings>
    <modules>
      <add key="ChangeComputerName" value="SolidCP.VmConfig.ChangeComputerNameModule, SolidCP.VmConfig.Common"/>
      <add key="ChangeAdministratorPassword" value="SolidCP.VmConfig.ChangeAdministratorPasswordModule, SolidCP.VmConfig.Common"/>
      <add key="SetupNetworkAdapter" value="SolidCP.VmConfig.SetupNetworkAdapterModule, SolidCP.VmConfig.Common"/>
    </modules>
  </moduleSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
