SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackages]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    SELECT
    	P.PackageID,
    	P.ParentPackageID,
    	P.PackageName,
    	P.StatusID,
    	P.PurchaseDate,   
      	P.StatusIDchangeDate,

    	-- server
    	ISNULL(P.ServerID, 0) AS ServerID,
    	ISNULL(S.ServerName, 'None') AS ServerName,
    	ISNULL(S.Comments, '') AS ServerComments,
    	ISNULL(S.VirtualServer, 1) AS VirtualServer,

    	-- hosting plan
    	P.PlanID,
    	HP.PlanName,

    	-- user
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.RoleID,
    	U.Email,

    	P.DefaultTopPackage
    FROM Packages AS P
    INNER JOIN Users AS U ON P.UserID = U.UserID
    INNER JOIN Servers AS S ON P.ServerID = S.ServerID
    INNER JOIN HostingPlans AS HP ON P.PlanID = HP.PlanID
    WHERE
    	P.UserID = @UserID	
    RETURN
GO
