SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStorageSpaceFolderById]
    (
    	@ID INT
    )
    AS
    SELECT TOP 1
    	Id,
    	Name,
    	StorageSpaceId,
    	Path,
    	UncPath,
    	IsShared,
    	FsrmQuotaType,
    	FsrmQuotaSizeBytes
    FROM StorageSpaceFolders
    WHERE Id = @ID
GO
