SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUnallottedVLANs]
     @PackageID int,
     @ServiceID int
    AS
    BEGIN
     DECLARE @ParentPackageID int
     DECLARE @ServerID int
    IF (@PackageID = -1) -- NO PackageID defined, use ServerID from ServiceID (VPS Import)
    BEGIN
     SELECT
      @ServerID = ServerID,
      @ParentPackageID = 1
     FROM Services
     WHERE ServiceID = @ServiceID
    END
    ELSE
    BEGIN
     SELECT
      @ParentPackageID = ParentPackageID,
      @ServerID = ServerID
     FROM Packages
     WHERE PackageID = @PackageId
    END

    IF @ParentPackageID = 1 -- ""System"" space
    BEGIN
      -- check if server is physical
      IF EXISTS(SELECT * FROM Servers WHERE ServerID = @ServerID AND VirtualServer = 0)
      BEGIN
       -- physical server
       SELECT
        V.VlanID,
        V.Vlan,
        V.ServerID
       FROM dbo.PrivateNetworkVLANs AS V
       WHERE
        (V.ServerID = @ServerID OR V.ServerID IS NULL)
        AND V.VlanID NOT IN (SELECT PV.VlanID FROM dbo.PackageVLANs AS PV)
       ORDER BY V.ServerID DESC, V.Vlan
      END
      ELSE
      BEGIN
       -- virtual server
       -- get resource group by service
       DECLARE @GroupID int
       SELECT @GroupID = P.GroupID FROM Services AS S
       INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
       WHERE S.ServiceID = @ServiceID
       SELECT
        V.VlanID,
        V.Vlan,
        V.ServerID
       FROM dbo.PrivateNetworkVLANs AS V
       WHERE
        (V.ServerID IN (
         SELECT SVC.ServerID FROM [dbo].[Services] AS SVC
         INNER JOIN [dbo].[Providers] AS P ON SVC.ProviderID = P.ProviderID
         WHERE [SVC].[ServiceID] = @ServiceId AND P.GroupID = @GroupID
        ) OR V.ServerID IS NULL)
        AND V.VlanID NOT IN (SELECT PV.VlanID FROM dbo.PackageVLANs AS PV)
       ORDER BY V.ServerID DESC, V.Vlan
      END
     END
     ELSE -- 2rd level space and below
     BEGIN
      -- get service location
      SELECT @ServerID = S.ServerID FROM Services AS S
      WHERE S.ServiceID = @ServiceID
      SELECT
       V.VlanID,
       V.Vlan,
       V.ServerID
      FROM dbo.PackageVLANs AS PV
      INNER JOIN PrivateNetworkVLANs AS V ON PV.VlanID = V.VlanID
      WHERE
       PV.PackageID = @ParentPackageID
       AND (V.ServerID = @ServerID OR V.ServerID IS NULL)
      ORDER BY V.ServerID DESC, V.Vlan
     END
    END
GO
