SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrganizationStoragSpacesFolder]
    (
    	@Id INT
    )
    AS
    	DELETE
    	FROM [ExchangeOrganizationSsFolders]
    	WHERE StorageSpaceFolderId = @Id
GO
