SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOCSUser]
    	@AccountID int,
    	@InstanceID nvarchar(50)
    AS
    BEGIN
    	SET NOCOUNT ON;

    INSERT INTO
    	dbo.OCSUsers
    	(

    	 AccountID,
         InstanceID,
    	 CreatedDate,
    	 ModifiedDate)
    VALUES
    (
    	@AccountID,
    	@InstanceID,
    	getdate(),
    	getdate()
    )
    END
GO
