SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnterpriseFolders]
    (
    	@ItemID INT
    )
    AS

    SELECT DISTINCT LocationDrive, HomeFolder, Domain FROM EnterpriseFolders
    WHERE ItemID = @ItemID
GO
