SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckServiceLevelUsage]
    (
    	@LevelID int
    )
    AS
    SELECT COUNT(EA.AccountID)
    FROM SupportServiceLevels AS SL
    INNER JOIN ExchangeAccounts AS EA ON SL.LevelID = EA.LevelID
    WHERE EA.LevelID = @LevelID
    RETURN
GO
