SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeRetentionPolicyTag] 
    (
    	@TagID int OUTPUT,
    	@ItemID int,
    	@TagName nvarchar(255),
    	@TagType int,
    	@AgeLimitForRetention int,
    	@RetentionAction int
    )
    AS
    BEGIN

    INSERT INTO ExchangeRetentionPolicyTags
    (
    	ItemID,
    	TagName,
    	TagType,
    	AgeLimitForRetention,
    	RetentionAction
    )
    VALUES
    (
    	@ItemID,
    	@TagName,
    	@TagType,
    	@AgeLimitForRetention,
    	@RetentionAction
    )

    SET @TagID = SCOPE_IDENTITY()

    RETURN

    END
GO
