SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVirtualServices]
    (
    	@ActorID int,
    	@ServerID int,
    	@forAutodiscover bit
    )
    AS

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    -- virtual groups
    SELECT
    	VRG.VirtualGroupID,
    	RG.GroupID,
    	RG.GroupName,
    	ISNULL(VRG.DistributionType, 1) AS DistributionType,
    	ISNULL(VRG.BindDistributionToPrimary, 1) AS BindDistributionToPrimary
    FROM ResourceGroups AS RG
    LEFT OUTER JOIN VirtualGroups AS VRG ON RG.GroupID = VRG.GroupID AND VRG.ServerID = @ServerID
    WHERE
    	(@IsAdmin = 1 OR @forAutodiscover = 1) AND (ShowGroup = 1)
    ORDER BY RG.GroupOrder

    -- services
    SELECT
    	VS.ServiceID,
    	S.ServiceName,
    	S.Comments,
    	P.GroupID,
    	P.DisplayName,
    	SRV.ServerName
    FROM VirtualServices AS VS
    INNER JOIN Services AS S ON VS.ServiceID = S.ServiceID
    INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    WHERE
    	VS.ServerID = @ServerID
    	AND (@IsAdmin = 1 OR @forAutodiscover = 1)

    RETURN
GO
