SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateIPAddress]
    (
     @AddressID int,
     @ServerID int,
     @ExternalIP varchar(24),
     @InternalIP varchar(24),
     @PoolID int,
     @SubnetMask varchar(15),
     @DefaultGateway varchar(15),
     @Comments ntext,
     @VLAN int
    )
    AS
    BEGIN
     IF @ServerID = 0
     SET @ServerID = NULL

     UPDATE IPAddresses SET
      ExternalIP = @ExternalIP,
      InternalIP = @InternalIP,
      ServerID = @ServerID,
      PoolID = @PoolID,
      SubnetMask = @SubnetMask,
      DefaultGateway = @DefaultGateway,
      Comments = @Comments,
      VLAN = @VLAN
     WHERE AddressID = @AddressID
     RETURN
    END
GO
