SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServerShortDetails]
    (
    	@ServerID int
    )
    AS

    SELECT
    	ServerID,
    	ServerName,
    	Comments,
    	VirtualServer,
    	InstantDomainAlias
    FROM Servers
    WHERE
    	ServerID = @ServerID

    RETURN
GO
