SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddHostingPlan]
    (
    	@ActorID int,
    	@PlanID int OUTPUT,
    	@UserID int,
    	@PackageID int,
    	@PlanName nvarchar(200),
    	@PlanDescription ntext,
    	@Available bit,
    	@ServerID int,
    	@SetupPrice money,
    	@RecurringPrice money,
    	@RecurrenceLength int,
    	@RecurrenceUnit int,
    	@IsAddon bit,
    	@QuotasXml ntext
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    BEGIN TRAN

    IF @ServerID = 0
    SELECT @ServerID = ServerID FROM Packages
    WHERE PackageID = @PackageID

    IF @IsAddon = 1
    SET @ServerID = NULL

    IF @PackageID = 0 SET @PackageID = NULL

    INSERT INTO HostingPlans
    (
    	UserID,
    	PackageID,
    	PlanName,
    	PlanDescription,
    	Available,
    	ServerID,
    	SetupPrice,
    	RecurringPrice,
    	RecurrenceLength,
    	RecurrenceUnit,
    	IsAddon
    )
    VALUES
    (
    	@UserID,
    	@PackageID,
    	@PlanName,
    	@PlanDescription,
    	@Available,
    	@ServerID,
    	@SetupPrice,
    	@RecurringPrice,
    	@RecurrenceLength,
    	@RecurrenceUnit,
    	@IsAddon
    )

    SET @PlanID = SCOPE_IDENTITY()

    -- save quotas
    EXEC UpdateHostingPlanQuotas @ActorID, @PlanID, @QuotasXml

    COMMIT TRAN
    RETURN
GO
