SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetItemComments]
    (
    	@ItemID int,
    	@ItemTypeID varchar(50),
    	@ActorID int
    )
    RETURNS nvarchar(3000)
    AS
    BEGIN
    DECLARE @text nvarchar(3000)
    SET @text = ''

    SELECT @text = @text + U.Username + ' - ' + CONVERT(nvarchar(50), C.CreatedDate) + '
    ' + CommentText + '
    --------------------------------------
    ' FROM Comments AS C
    INNER JOIN UsersDetailed AS U ON C.UserID = U.UserID
    WHERE
    	ItemID = @ItemID
    	AND ItemTypeID = @ItemTypeID
    	AND dbo.CheckUserParent(@ActorID, C.UserID) = 1
    ORDER BY C.CreatedDate DESC

    RETURN @text
    END
GO
