SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchExchangeAccountsByTypes]
    (
    	@ActorID int,
    	@ItemID int,
    	@AccountTypes nvarchar(30),
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50)
    )
    AS

    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM ServiceItems
    WHERE ItemID = @ItemID

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @condition nvarchar(700)
    SET @condition = 'EA.ItemID = @ItemID AND EA.AccountType IN (' + @AccountTypes + ')'

    IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
    AND @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
    	IF @FilterColumn = 'PrimaryEmailAddress' AND @AccountTypes <> '2'
    	BEGIN		
    		SET @condition = @condition + ' AND EA.AccountID IN (SELECT EAEA.AccountID FROM ExchangeAccountEmailAddresses EAEA WHERE EAEA.EmailAddress LIKE ''' + @FilterValue + ''')'
    	END
    	ELSE
    	BEGIN		
    		SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
    	END
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'EA.DisplayName ASC'

    DECLARE @sql nvarchar(3500)
    SET @sql = '
    SELECT
    	EA.AccountID,
    	EA.ItemID,
    	EA.AccountType,
    	EA.AccountName,
    	EA.DisplayName,
    	EA.PrimaryEmailAddress,
    	EA.MailEnabledPublicFolder,
    	EA.MailboxPlanId,
    	P.MailboxPlan, 
    	EA.SubscriberNumber,
    	EA.UserPrincipalName
    FROM
    	ExchangeAccounts  AS EA
    LEFT OUTER JOIN ExchangeMailboxPlans AS P ON EA.MailboxPlanId = P.MailboxPlanId
    	WHERE ' + @condition
    	+ ' ORDER BY ' + @SortColumn

    EXEC sp_executesql @sql, N'@ItemID int', @ItemID

    RETURN
GO
