SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserPinSecret]
    (
    	@ActorID int,
    	@UserID int,
    	@PinSecret NVARCHAR(255)
    )
    AS
    	-- check actor rights
    	IF dbo.CanUpdateUserDetails(@ActorID, @UserID) = 0
    	BEGIN
    		RETURN
    	END
    	UPDATE Users SET
    		PinSecret = @PinSecret 
    	WHERE UserID = @UserID

    	RETURN
GO
