SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PackageParents]
    (
    	@PackageID int
    )
    RETURNS @T TABLE (PackageOrder int IDENTITY(1,1), PackageID int)
    AS
    BEGIN
    	-- insert current user
    	INSERT @T VALUES (@PackageID)

    	-- owner
    	DECLARE @ParentPackageID int, @TmpPackageID int
    	SET @TmpPackageID = @PackageID

    	WHILE 10 = 10
    	BEGIN

    		SET @ParentPackageID = NULL --reset var
    		SELECT @ParentPackageID = ParentPackageID FROM Packages
    		WHERE PackageID = @TmpPackageID

    		IF @ParentPackageID IS NULL -- parent not found
    		BREAK

    		INSERT @T VALUES (@ParentPackageID)

    		SET @TmpPackageID = @ParentPackageID
    	END

    RETURN
    END
GO
