SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeMailboxes]
    	@ItemID int
    AS
    BEGIN
    SELECT
    	AccountID,
    	ItemID,
    	AccountType,
    	AccountName,
    	DisplayName,
    	PrimaryEmailAddress,
    	MailEnabledPublicFolder,
    	SubscriberNumber,
    	UserPrincipalName
    FROM
    	ExchangeAccounts
    WHERE
    	ItemID = @ItemID AND
    	(AccountType =1  OR AccountType=5 OR AccountType=6)
    ORDER BY 1

    END
GO
