SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckSfBUserExists]
    	@AccountID int
    AS
    BEGIN
    	SELECT
    		COUNT(AccountID)
    	FROM
    		dbo.SfBUsers
    	WHERE AccountID = @AccountID
    END
GO
