SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSfBUsersByPlanId]
    (
    	@ItemID int,
    	@PlanId int
    )
    AS

    	SELECT
    		ea.AccountID,
    		ea.ItemID,
    		ea.AccountName,
    		ea.DisplayName,
    		ea.UserPrincipalName,
    		ea.SamAccountName,
    		ou.SfBUserPlanId,
    		lp.SfBUserPlanName
    	FROM
    		ExchangeAccounts ea
    	INNER JOIN
    		SfBUsers ou
    	INNER JOIN
    		SfBUserPlans lp
    	ON
    		ou.SfBUserPlanId = lp.SfBUserPlanId
    	ON
    		ea.AccountID = ou.AccountID
    	WHERE
    		ea.ItemID = @ItemID AND
    		ou.SfBUserPlanId = @PlanId
GO
