SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAccessToken]
    (
    	@AccessToken UNIQUEIDENTIFIER,
    	@TokenType INT
    )
    AS
    DELETE FROM AccessTokens
    WHERE AccessTokenGuid = @AccessToken AND TokenType = @TokenType
GO
