SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateWebDavPortalUsersSettings]
    (
    	@AccountId INT,
    	@Settings NVARCHAR(max)
    )
    AS

    UPDATE WebDavPortalUsersSettings
    SET
    	Settings = @Settings
    WHERE AccountId = @AccountId
GO
