SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetThemeSetting]
    (
    	@ThemeID int,
    	@SettingsName NVARCHAR(255)
    )
    AS
    BEGIN
    	SET NOCOUNT ON;
        SELECT
    		ThemeID,
    		SettingsName,
    		PropertyName,
    		PropertyValue
    	FROM
    		ThemeSettings
    	WHERE
    		ThemeID = @ThemeID
    		AND SettingsName = @SettingsName;
    END
GO
