SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceItemsByService]
    (
    	@ActorID int,
    	@ServiceID int
    )
    AS

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    DECLARE @Items TABLE
    (
    	ItemID int
    )

    -- find service items
    INSERT INTO @Items
    SELECT
    	SI.ItemID
    FROM ServiceItems AS SI
    WHERE SI.ServiceID = @ServiceID

    -- select service items
    SELECT
    	SI.ItemID,
    	SI.ItemName,
    	SI.ItemTypeID,
    	SIT.TypeName,
    	SI.ServiceID,
    	SI.PackageID,
    	P.PackageName,
    	S.ServiceID,
    	S.ServiceName,
    	SRV.ServerID,
    	SRV.ServerName,
    	RG.GroupName,
    	U.UserID,
    	U.Username,
    	(U.FirstName + U.LastName) AS UserFullName,
    	SI.CreatedDate
    FROM @Items AS FI
    INNER JOIN ServiceItems AS SI ON FI.ItemID = SI.ItemID
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    INNER JOIN Packages AS P ON SI.PackageID = P.PackageID
    INNER JOIN Services AS S ON SI.ServiceID = S.ServiceID
    INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    INNER JOIN ResourceGroups AS RG ON SIT.GroupID = RG.GroupID
    INNER JOIN Users AS U ON P.UserID = U.UserID
    WHERE @IsAdmin = 1

    -- select item properties
    -- get corresponding item properties
    SELECT
    	IP.ItemID,
    	IP.PropertyName,
    	IP.PropertyValue
    FROM ServiceItemProperties AS IP
    INNER JOIN @Items AS FI ON IP.ItemID = FI.ItemID
    WHERE @IsAdmin = 1

    RETURN
GO
