SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeMailboxPlanRetentionPolicyTags]
    (
    	@MailboxPlanId int
    )
    AS
    SELECT
    D.PlanTagID,
    D.TagID,
    D.MailboxPlanId,
    P.MailboxPlan,
    T.TagName
    FROM
    	ExchangeMailboxPlanRetentionPolicyTags AS D
    LEFT OUTER JOIN ExchangeMailboxPlans AS P ON P.MailboxPlanId = D.MailboxPlanId	
    LEFT OUTER JOIN ExchangeRetentionPolicyTags AS T ON T.TagID = D.TagID	
    WHERE
    	D.MailboxPlanId = @MailboxPlanId 
    RETURN
GO
