SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeAccountByMailboxPlanId] 
    (
    	@ItemID int,
    	@MailboxPlanId int
    )
    AS

    IF (@MailboxPlanId < 0)
    BEGIN
    SELECT
    	E.AccountID,
    	E.ItemID,
    	E.AccountType,
    	E.AccountName,
    	E.DisplayName,
    	E.PrimaryEmailAddress,
    	E.MailEnabledPublicFolder,
    	E.MailboxManagerActions,
    	E.SamAccountName,
    	E.MailboxPlanId,
    	P.MailboxPlan,
    	E.SubscriberNumber,
    	E.UserPrincipalName,
    	E.ArchivingMailboxPlanId, 
    	AP.MailboxPlan as 'ArchivingMailboxPlan',
    	E.EnableArchiving
    FROM
    	ExchangeAccounts AS E
    LEFT OUTER JOIN ExchangeMailboxPlans AS P ON E.MailboxPlanId = P.MailboxPlanId	
    LEFT OUTER JOIN ExchangeMailboxPlans AS AP ON E.ArchivingMailboxPlanId = AP.MailboxPlanId
    WHERE
    	E.ItemID = @ItemID AND
    	E.MailboxPlanId IS NULL AND
    	E.AccountType IN (1,5,6,10,12) 
    RETURN

    END
    ELSE
    IF (@ItemId = 0)
    BEGIN
    SELECT
    	E.AccountID,
    	E.ItemID,
    	E.AccountType,
    	E.AccountName,
    	E.DisplayName,
    	E.PrimaryEmailAddress,
    	E.MailEnabledPublicFolder,
    	E.MailboxManagerActions,
    	E.SamAccountName,
    	E.MailboxPlanId,
    	P.MailboxPlan,
    	E.SubscriberNumber,
    	E.UserPrincipalName,
    	E.ArchivingMailboxPlanId, 
    	AP.MailboxPlan as 'ArchivingMailboxPlan',
    	E.EnableArchiving
    FROM
    	ExchangeAccounts AS E
    LEFT OUTER JOIN ExchangeMailboxPlans AS P ON E.MailboxPlanId = P.MailboxPlanId	
    LEFT OUTER JOIN ExchangeMailboxPlans AS AP ON E.ArchivingMailboxPlanId = AP.MailboxPlanId
    WHERE
    	E.MailboxPlanId = @MailboxPlanId AND
    	E.AccountType IN (1,5,6,10,12) 
    END
    ELSE
    BEGIN
    SELECT
    	E.AccountID,
    	E.ItemID,
    	E.AccountType,
    	E.AccountName,
    	E.DisplayName,
    	E.PrimaryEmailAddress,
    	E.MailEnabledPublicFolder,
    	E.MailboxManagerActions,
    	E.SamAccountName,
    	E.MailboxPlanId,
    	P.MailboxPlan,
    	E.SubscriberNumber,
    	E.UserPrincipalName,
    	E.ArchivingMailboxPlanId, 
    	AP.MailboxPlan as 'ArchivingMailboxPlan',
    	E.EnableArchiving
    FROM
    	ExchangeAccounts AS E
    LEFT OUTER JOIN ExchangeMailboxPlans AS P ON E.MailboxPlanId = P.MailboxPlanId	
    LEFT OUTER JOIN ExchangeMailboxPlans AS AP ON E.ArchivingMailboxPlanId = AP.MailboxPlanId
    WHERE
    	E.ItemID = @ItemID AND
    	E.MailboxPlanId = @MailboxPlanId AND
    	E.AccountType IN (1,5,6,10,12) 
    RETURN
    END
GO
