SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDomainByName]
    (
    	@ActorID int,
    	@DomainName nvarchar(100),
    	@SearchOnDomainPointer bit,
    	@IsDomainPointer bit
    )
    AS

    IF (@SearchOnDomainPointer = 1)
    BEGIN
    	SELECT
    		D.DomainID,
    		D.PackageID,
    		D.ZoneItemID,
    		D.DomainItemID,
    		D.DomainName,
    		D.HostingAllowed,
    		ISNULL(D.WebSiteID, 0) AS WebSiteID,
    		WS.ItemName AS WebSiteName,
    		ISNULL(D.MailDomainID, 0) AS MailDomainID,
    		MD.ItemName AS MailDomainName,
    		Z.ItemName AS ZoneName,
    		D.IsSubDomain,
    		D.IsPreviewDomain,
    		D.IsDomainPointer
    	FROM Domains AS D
    	INNER JOIN Packages AS P ON D.PackageID = P.PackageID
    	LEFT OUTER JOIN ServiceItems AS WS ON D.WebSiteID = WS.ItemID
    	LEFT OUTER JOIN ServiceItems AS MD ON D.MailDomainID = MD.ItemID
    	LEFT OUTER JOIN ServiceItems AS Z ON D.ZoneItemID = Z.ItemID
    	WHERE
    		D.DomainName = @DomainName
    		AND D.IsDomainPointer = @IsDomainPointer
    		AND dbo.CheckActorPackageRights(@ActorID, P.PackageID) = 1
    	RETURN
    END
    ELSE
    BEGIN
    	SELECT
    		D.DomainID,
    		D.PackageID,
    		D.ZoneItemID,
    		D.DomainItemID,
    		D.DomainName,
    		D.HostingAllowed,
    		ISNULL(D.WebSiteID, 0) AS WebSiteID,
    		WS.ItemName AS WebSiteName,
    		ISNULL(D.MailDomainID, 0) AS MailDomainID,
    		MD.ItemName AS MailDomainName,
    		Z.ItemName AS ZoneName,
    		D.IsSubDomain,
    		D.IsPreviewDomain,
    		D.IsDomainPointer
    	FROM Domains AS D
    	INNER JOIN Packages AS P ON D.PackageID = P.PackageID
    	LEFT OUTER JOIN ServiceItems AS WS ON D.WebSiteID = WS.ItemID
    	LEFT OUTER JOIN ServiceItems AS MD ON D.MailDomainID = MD.ItemID
    	LEFT OUTER JOIN ServiceItems AS Z ON D.ZoneItemID = Z.ItemID
    	WHERE
    		D.DomainName = @DomainName
    		AND dbo.CheckActorPackageRights(@ActorID, P.PackageID) = 1
    	RETURN
    END
GO
