SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeMailboxPlanRetentionPolicyTag]
    (
            @PlanTagID int
    )
    AS
    DELETE FROM ExchangeMailboxPlanRetentionPolicyTags
    WHERE
    	PlanTagID = @PlanTagID
    RETURN
GO
