SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnterpriseFolderId]
    (
    	@ItemID INT,
    	@FolderName varchar(max)
    )
    AS
    SELECT TOP 1
    	EnterpriseFolderID
    	FROM EnterpriseFolders
    	WHERE ItemId = @ItemID AND FolderName = @FolderName
GO
