SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProcessBackgroundTasks]
    (	
    	@Status INT
    )
    AS

    SELECT
    	T.ID,
    	T.TaskID,
    	T.ScheduleId,
    	T.PackageId,
    	T.UserId,
    	T.EffectiveUserId,
    	T.TaskName,
    	T.ItemId,
    	T.ItemName,
    	T.StartDate,
    	T.FinishDate,
    	T.IndicatorCurrent,
    	T.IndicatorMaximum,
    	T.MaximumExecutionTime,
    	T.Source,
    	T.Severity,
    	T.Completed,
    	T.NotifyOnComplete,
    	T.Status
    FROM BackgroundTasks AS T
    WHERE T.Completed = 0 AND T.Status = @Status
GO
