SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOCSUser]
    (
    	@InstanceId nvarchar(50)
    )
    AS

    DELETE FROM
    	OCSUsers
    WHERE
    	InstanceId = @InstanceId

    RETURN
GO
