SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStorageSpace]
    (
    	@ID INT,
    	@Name nvarchar(300),
    	@ServiceId INT ,
    	@ServerId INT,
    	@LevelId INT,
    	@Path varchar(max),
    	@FsrmQuotaType INT,
    	@FsrmQuotaSizeBytes BIGINT,
    	@IsShared BIT,
    	@IsDisabled BIT,
    	@UncPath varchar(max)
    )
    AS
    	UPDATE StorageSpaces
    	SET Name = @Name, ServiceId = @ServiceId,ServerId=@ServerId,LevelId=@LevelId, Path=@Path,FsrmQuotaType=@FsrmQuotaType,FsrmQuotaSizeBytes=@FsrmQuotaSizeBytes,IsShared=@IsShared,UncPath=@UncPath,IsDisabled=@IsDisabled
    	WHERE ID = @ID
GO
