SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteServer]
    (
    	@ServerID int,
    	@Result int OUTPUT
    )
    AS
    SET @Result = 0

    -- check related services
    IF EXISTS (SELECT ServiceID FROM Services WHERE ServerID = @ServerID)
    BEGIN
    	SET @Result = -1
    	RETURN
    END

    -- check related packages
    IF EXISTS (SELECT PackageID FROM Packages WHERE ServerID = @ServerID)
    BEGIN
    	SET @Result = -2
    	RETURN
    END

    -- check related hosting plans
    IF EXISTS (SELECT PlanID FROM HostingPlans WHERE ServerID = @ServerID)
    BEGIN
    	SET @Result = -3
    	RETURN
    END

    BEGIN TRAN

    -- delete IP addresses
    DELETE FROM IPAddresses
    WHERE ServerID = @ServerID

    -- delete global DNS records
    DELETE FROM GlobalDnsRecords
    WHERE ServerID = @ServerID

    -- delete server
    DELETE FROM Servers
    WHERE ServerID = @ServerID

    -- delete virtual services if any
    DELETE FROM VirtualServices
    WHERE ServerID = @ServerID
    COMMIT TRAN

    RETURN
GO
