SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteService]
    (
    	@ServiceID int,
    	@Result int OUTPUT
    )
    AS

    SET @Result = 0

    -- check related service items
    IF EXISTS (SELECT ItemID FROM ServiceItems WHERE ServiceID = @ServiceID)
    BEGIN
    	SET @Result = -1
    	RETURN
    END

    IF EXISTS (SELECT ServiceID FROM VirtualServices WHERE ServiceID = @ServiceID)
    BEGIN
    	SET @Result = -2
    	RETURN
    END

    BEGIN TRAN
    -- delete global DNS records
    DELETE FROM GlobalDnsRecords
    WHERE ServiceID = @ServiceID

    -- delete service
    DELETE FROM Services
    WHERE ServiceID = @ServiceID

    -- delete PackageServices
    DELETE FROM PackageServices
    WHERE ServiceID = @ServiceID

    COMMIT TRAN

    RETURN
GO
