SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProviderByServiceID]
    (
    	@ServiceID int
    )
    AS
    SELECT
    	P.ProviderID,
    	P.GroupID,
    	P.DisplayName,
    	P.EditorControl,
    	P.ProviderType
    FROM Services AS S
    INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    WHERE
    	S.ServiceID = @ServiceID

    RETURN
GO
