SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeMailboxPlan] 
    (
    	@MailboxPlanId int
    )
    AS
    SELECT
    	MailboxPlanId,
    	ItemID,
    	MailboxPlan,
    	EnableActiveSync,
    	EnableIMAP,
    	EnableMAPI,
    	EnableOWA,
    	EnablePOP,
    	EnableAutoReply,
    	IsDefault,
    	IssueWarningPct,
    	KeepDeletedItemsDays,
    	MailboxSizeMB,
    	MaxReceiveMessageSizeKB,
    	MaxRecipients,
    	MaxSendMessageSizeKB,
    	ProhibitSendPct,
    	ProhibitSendReceivePct,
    	HideFromAddressBook,
    	MailboxPlanType,
    	AllowLitigationHold,
    	RecoverableItemsWarningPct,
    	RecoverableItemsSpace,
    	LitigationHoldUrl,
    	LitigationHoldMsg,
    	Archiving,
    	EnableArchiving,
    	ArchiveSizeMB,
    	ArchiveWarningPct,
    	EnableForceArchiveDeletion,
    	IsForJournaling
    FROM
    	ExchangeMailboxPlans
    WHERE
    	MailboxPlanId = @MailboxPlanId
    RETURN
GO
