SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackagePackages]
    (
    	@ActorID int,
    	@PackageID int,
    	@Recursive bit
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	P.PackageID,
    	P.ParentPackageID,
    	P.PackageName,
    	P.StatusID,
    	P.PurchaseDate,

    	-- server
    	P.ServerID,
    	ISNULL(S.ServerName, 'None') AS ServerName,
    	ISNULL(S.Comments, '') AS ServerComments,
    	ISNULL(S.VirtualServer, 1) AS VirtualServer,

    	-- hosting plan
    	P.PlanID,
    	HP.PlanName,

    	-- user
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.RoleID,
    	U.Email
    FROM Packages AS P
    INNER JOIN Users AS U ON P.UserID = U.UserID
    INNER JOIN Servers AS S ON P.ServerID = S.ServerID
    INNER JOIN HostingPlans AS HP ON P.PlanID = HP.PlanID
    WHERE
    	((@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, P.PackageID) = 1)
    		OR (@Recursive = 0 AND P.ParentPackageID = @PackageID))
    	AND P.PackageID <> @PackageID
    RETURN
GO
