SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeAccountEmailAddress]
    (
    	@AccountID int,
    	@EmailAddress nvarchar(300)
    )
    AS
    DELETE FROM ExchangeAccountEmailAddresses
    WHERE AccountID = @AccountID AND EmailAddress = @EmailAddress
    RETURN
GO
