SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationCRMUserCount]
    	@ItemID int
    AS
    BEGIN
    SELECT
     COUNT(CRMUserID)
    FROM
    	CrmUsers CU
    INNER JOIN
    	ExchangeAccounts EA
    ON
    	CU.AccountID = EA.AccountID
    WHERE EA.ItemID = @ItemID
    END
GO
