SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeUserPassword]
    (
    	@ActorID int,
    	@UserID int,
    	@Password nvarchar(200)
    )
    AS

    -- check actor rights
    IF dbo.CanUpdateUserDetails(@ActorID, @UserID) = 0
    RETURN

    UPDATE Users
    SET Password = @Password, OneTimePasswordState = 0
    WHERE UserID = @UserID

    RETURN
GO
