SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetScheduleParameters]
    (
    	@ActorID int,
    	@TaskID nvarchar(100),
    	@ScheduleID int
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM Schedule
    WHERE ScheduleID = @ScheduleID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	@ScheduleID AS ScheduleID,
    	STP.ParameterID,
    	STP.DataTypeID,
    	SP.ParameterValue,
    	STP.DefaultValue
    FROM ScheduleTaskParameters AS STP
    LEFT OUTER JOIN ScheduleParameters AS SP ON STP.ParameterID = SP.ParameterID AND SP.ScheduleID = @ScheduleID
    WHERE STP.TaskID = @TaskID
    ORDER BY STP.ParameterOrder

    RETURN
GO
