SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDomains]
    (
    	@ActorID int,
    	@PackageID int,
    	@Recursive bit = 1
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	D.DomainID,
    	D.PackageID,
    	D.ZoneItemID,
    	D.DomainItemID,
    	D.DomainName,
    	D.HostingAllowed,
    	ISNULL(WS.ItemID, 0) AS WebSiteID,
    	WS.ItemName AS WebSiteName,
    	ISNULL(MD.ItemID, 0) AS MailDomainID,
    	MD.ItemName AS MailDomainName,
    	Z.ItemName AS ZoneName,
    	D.IsSubDomain,
    	D.IsPreviewDomain,
    	D.CreationDate,
    	D.ExpirationDate,
    	D.LastUpdateDate,
    	D.IsDomainPointer,
    	D.RegistrarName
    FROM Domains AS D
    INNER JOIN PackagesTree(@PackageID, @Recursive) AS PT ON D.PackageID = PT.PackageID
    LEFT OUTER JOIN ServiceItems AS WS ON D.WebSiteID = WS.ItemID
    LEFT OUTER JOIN ServiceItems AS MD ON D.MailDomainID = MD.ItemID
    LEFT OUTER JOIN ServiceItems AS Z ON D.ZoneItemID = Z.ItemID
    RETURN
GO
