SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSCollection]
    (
    	@RDSCollectionID INT OUTPUT,
    	@ItemID INT,
    	@Name NVARCHAR(255),
    	@Description NVARCHAR(255),
    	@DisplayName NVARCHAR(255)
    )
    AS

    INSERT INTO RDSCollections
    (
    	ItemID,
    	Name,
    	Description,
    	DisplayName
    )
    VALUES
    (
    	@ItemID,
    	@Name,
    	@Description,
    	@DisplayName
    )

    SET @RDSCollectionID = SCOPE_IDENTITY()

    RETURN
GO
