SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSServersByCollectionId]
    (
    	@RdsCollectionId INT
    )
    AS
    SELECT 
    	RS.Id,
    	RS.ItemID,
    	RS.Name, 
    	RS.FqdName,
    	RS.Description,
    	RS.RdsCollectionId,
    	SI.ItemName
    	FROM RDSServers AS RS
    	LEFT OUTER JOIN  ServiceItems AS SI ON SI.ItemId = RS.ItemId
    	WHERE RdsCollectionId = @RdsCollectionId
GO
