SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CanChangeMfa]
    (
    	@CallerID int,
    	@ChangeUserID int,
    	@CanPeerChangeMfa bit,
    	@Result bit OUTPUT
    )
    AS
    	SET @Result = dbo.CanChangeMfaFunc(@CallerID, @ChangeUserID, @CanPeerChangeMfa)
    	RETURN
GO
