SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDomainDates]
    (
    	@DomainId INT,
    	@DomainCreationDate DateTime,
    	@DomainExpirationDate DateTime,
    	@DomainLastUpdateDate DateTime 
    )
    AS
    UPDATE [dbo].[Domains] SET [CreationDate] = @DomainCreationDate, [ExpirationDate] = @DomainExpirationDate, [LastUpdateDate] = @DomainLastUpdateDate WHERE [DomainID] = @DomainId
GO
