SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageBandwidth]
    (
    	@ActorID int,
    	@PackageID int,
    	@StartDate datetime,
    	@EndDate datetime
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	RG.GroupID,
    	RG.GroupName,
    	ROUND(CONVERT(float, ISNULL(GB.BytesSent, 0)) / 1024 / 1024, 0) AS MegaBytesSent,
    	ROUND(CONVERT(float, ISNULL(GB.BytesReceived, 0)) / 1024 / 1024, 0) AS MegaBytesReceived,
    	ROUND(CONVERT(float, ISNULL(GB.BytesTotal, 0)) / 1024 / 1024, 0) AS MegaBytesTotal,
    	ISNULL(GB.BytesSent, 0) AS BytesSent,
    	ISNULL(GB.BytesReceived, 0) AS BytesReceived,
    	ISNULL(GB.BytesTotal, 0) AS BytesTotal
    FROM ResourceGroups AS RG
    LEFT OUTER JOIN
    (
    	SELECT
    		PB.GroupID,
    		SUM(ISNULL(PB.BytesSent, 0)) AS BytesSent,
    		SUM(ISNULL(PB.BytesReceived, 0)) AS BytesReceived,
    		SUM(ISNULL(PB.BytesSent, 0)) + SUM(ISNULL(PB.BytesReceived, 0)) AS BytesTotal
    	FROM PackagesTreeCache AS PT
    	INNER JOIN PackagesBandwidth AS PB ON PT.PackageID = PB.PackageID
    	INNER JOIN Packages AS P ON PB.PackageID = P.PackageID
    	INNER JOIN HostingPlanResources AS HPR ON PB.GroupID = HPR.GroupID AND HPR.PlanID = P.PlanID
    		AND HPR.CalculateBandwidth = 1
    	WHERE
    		PT.ParentPackageID = @PackageID
    		AND PB.LogDate BETWEEN @StartDate AND @EndDate
    	GROUP BY PB.GroupID
    ) AS GB ON RG.GroupID = GB.GroupID
    WHERE GB.BytesTotal > 0
    ORDER BY RG.GroupOrder

    RETURN
GO
