SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetResellerDomains]
    (
    	@ActorID int,
    	@PackageID int
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- load parent package
    DECLARE @ParentPackageID int
    SELECT @ParentPackageID = ParentPackageID FROM Packages
    WHERE PackageID = @PackageID

    SELECT
    	D.DomainID,
    	D.PackageID,
    	D.ZoneItemID,
    	D.DomainName,
    	D.HostingAllowed,
    	D.WebSiteID,
    	WS.ItemName AS WebSiteName,
    	D.MailDomainID,
    	MD.ItemName AS MailDomainName
    FROM Domains AS D
    INNER JOIN PackagesTree(@ParentPackageID, 0) AS PT ON D.PackageID = PT.PackageID
    LEFT OUTER JOIN ServiceItems AS WS ON D.WebSiteID = WS.ItemID
    LEFT OUTER JOIN ServiceItems AS MD ON D.MailDomainID = MD.ItemID
    WHERE HostingAllowed = 1
    RETURN
GO
