SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLyncUser]
    (
    	@AccountId int
    )
    AS

    DELETE FROM
    	LyncUsers
    WHERE
    	AccountId = @AccountId

    RETURN
GO
