SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteComment]
    (
    	@ActorID int,
    	@CommentID int
    )
    AS

    -- check rights
    DECLARE @UserID int
    SELECT @UserID = UserID FROM Comments
    WHERE CommentID = @CommentID

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to perform this operation', 16, 1)

    -- delete comment
    DELETE FROM Comments
    WHERE CommentID = @CommentID

    RETURN
GO
