SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAdditionalGroups]
    (
    	@UserID INT
    )
    AS

    SELECT
    	AG.ID,
    	AG.UserID,
    	AG.GroupName
    FROM AdditionalGroups AS AG
    WHERE AG.UserID = @UserID
GO
