SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeOrganizationSettings]
    (
    	@ItemId INT ,
    	@SettingsName nvarchar(100)
    )
    AS
    SELECT 
    	ItemId,
    	SettingsName,
    	Xml

    FROM ExchangeOrganizationSettings 
    Where ItemId = @ItemId AND SettingsName = @SettingsName
GO
