SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSearchableServiceItemTypes]

    AS
    SELECT
    	ItemTypeID,
    	DisplayName
    FROM
    	ServiceItemTypes
    WHERE Searchable = 1
    ORDER BY TypeOrder
    RETURN
GO
