SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetItemPrivateIPAddresses]
    (
    	@ActorID int,
    	@ItemID int
    )
    AS

    SELECT
    	PIP.PrivateAddressID AS AddressID,
    	PIP.IPAddress,
    	PIP.IsPrimary
    FROM PrivateIPAddresses AS PIP
    INNER JOIN ServiceItems AS SI ON PIP.ItemID = SI.ItemID
    WHERE PIP.ItemID = @ItemID
    AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    ORDER BY PIP.IsPrimary DESC

    RETURN
GO
