SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeAccount] 
    (
    	@AccountID int OUTPUT,
    	@ItemID int,
    	@AccountType int,
    	@AccountName nvarchar(300),
    	@DisplayName nvarchar(300),
    	@PrimaryEmailAddress nvarchar(300),
    	@MailEnabledPublicFolder bit,
    	@MailboxManagerActions varchar(200),
    	@SamAccountName nvarchar(100),
    	@MailboxPlanId int,
    	@SubscriberNumber nvarchar(32)
    )
    AS

    INSERT INTO ExchangeAccounts
    (
    	ItemID,
    	AccountType,
    	AccountName,
    	DisplayName,
    	PrimaryEmailAddress,
    	MailEnabledPublicFolder,
    	MailboxManagerActions,
    	SamAccountName,
    	MailboxPlanId,
    	SubscriberNumber,
    	UserPrincipalName
    )
    VALUES
    (
    	@ItemID,
    	@AccountType,
    	@AccountName,
    	@DisplayName,
    	@PrimaryEmailAddress,
    	@MailEnabledPublicFolder,
    	@MailboxManagerActions,
    	@SamAccountName,
    	@MailboxPlanId,
    	@SubscriberNumber,
    	@PrimaryEmailAddress
    )

    SET @AccountID = SCOPE_IDENTITY()

    RETURN
GO
