SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AllocatePackageIPAddresses]
    (
    	@PackageID int,
    	@OrgID int,
    	@xml ntext
    )
    AS
    BEGIN

    	SET NOCOUNT ON;

    	DECLARE @idoc int
    	--Create an internal representation of the XML document.
    	EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    	-- delete
    	DELETE FROM PackageIPAddresses
    	FROM PackageIPAddresses AS PIP
    	INNER JOIN OPENXML(@idoc, '/items/item', 1) WITH 
    	(
    		AddressID int '@id'
    	) as PV ON PIP.AddressID = PV.AddressID

    	-- insert
    	INSERT INTO dbo.PackageIPAddresses
    	(		
    		PackageID,
    		OrgID,
    		AddressID	
    	)
    	SELECT		
    		@PackageID,
    		@OrgID,
    		AddressID

    	FROM OPENXML(@idoc, '/items/item', 1) WITH 
    	(
    		AddressID int '@id'
    	) as PV

    	-- remove document
    	exec sp_xml_removedocument @idoc

    END
GO
