SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackagePrivateIPAddressesPaged]
    	@PackageID int,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    AS
    BEGIN

    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    SI.PackageID = @PackageID
    '

    IF @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
    	IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
    		SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
    	ELSE
    		SET @condition = @condition + '
    			AND (IPAddress LIKE ''' + @FilterValue + '''
    			OR ItemName LIKE ''' + @FilterValue + ''')'
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'PA.IPAddress ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(PA.PrivateAddressID)
    FROM dbo.PrivateIPAddresses AS PA
    INNER JOIN dbo.ServiceItems AS SI ON PA.ItemID = SI.ItemID
    WHERE ' + @condition + '

    DECLARE @Addresses AS TABLE
    (
    	PrivateAddressID int
    );

    WITH TempItems AS (
    	SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
    		PA.PrivateAddressID
    	FROM dbo.PrivateIPAddresses AS PA
    	INNER JOIN dbo.ServiceItems AS SI ON PA.ItemID = SI.ItemID
    	WHERE ' + @condition + '
    )

    INSERT INTO @Addresses
    SELECT PrivateAddressID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
    	PA.PrivateAddressID,
    	PA.IPAddress,
    	PA.ItemID,
    	SI.ItemName,
    	PA.IsPrimary
    FROM @Addresses AS TA
    INNER JOIN dbo.PrivateIPAddresses AS PA ON TA.PrivateAddressID = PA.PrivateAddressID
    INNER JOIN dbo.ServiceItems AS SI ON PA.ItemID = SI.ItemID
    '

    print @sql

    exec sp_executesql @sql, N'@PackageID int, @StartRow int, @MaximumRows int',
    @PackageID, @StartRow, @MaximumRows

    END
GO
