SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSystemSettings]
    	@SettingsName nvarchar(50)
    AS
    BEGIN

    	SET NOCOUNT ON;

        SELECT
    		[PropertyName],
    		[PropertyValue]
    	FROM
    		[dbo].[SystemSettings]
    	WHERE
    		[SettingsName] = @SettingsName;

    END
GO
