SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetQuotas]
    AS
    SELECT
    	Q.GroupID,
    	Q.QuotaID,
    	RG.GroupName,
    	Q.QuotaDescription,
    	Q.QuotaTypeID
    FROM Quotas AS Q
    INNER JOIN ResourceGroups AS RG ON Q.GroupID = RG.GroupID
    ORDER BY RG.GroupOrder, Q.QuotaOrder
    RETURN
GO
