SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLyncUserPlan]
    (
    	@LyncUserPlanId int
    )
    AS

    -- delete lyncuserplan
    DELETE FROM LyncUserPlans
    WHERE LyncUserPlanId = @LyncUserPlanId

    RETURN
GO
