SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetExchangeAccountMailboxplan] 
    (
    	@AccountID int,
    	@MailboxPlanId int,
    	@ArchivingMailboxPlanId int,
    	@EnableArchiving bit
    )
    AS

    UPDATE ExchangeAccounts SET
    	MailboxPlanId = @MailboxPlanId,
    	ArchivingMailboxPlanId = @ArchivingMailboxPlanId,
    	EnableArchiving = @EnableArchiving
    WHERE
    	AccountID = @AccountID

    RETURN
GO
