SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSchedule]
    (
    	@ActorID int,
    	@ScheduleID int,
    	@TaskID nvarchar(100),
    	@ScheduleName nvarchar(100),
    	@ScheduleTypeID nvarchar(50),
    	@Interval int,
    	@FromTime datetime,
    	@ToTime datetime,
    	@StartTime datetime,
    	@LastRun datetime,
    	@NextRun datetime,
    	@Enabled bit,
    	@PriorityID nvarchar(50),
    	@HistoriesNumber int,
    	@MaxExecutionTime int,
    	@WeekMonthDay int,
    	@XmlParameters ntext
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM Schedule
    WHERE ScheduleID = @ScheduleID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN

    UPDATE Schedule
    SET
    	TaskID = @TaskID,
    	ScheduleName = @ScheduleName,
    	ScheduleTypeID = @ScheduleTypeID,
    	Interval = @Interval,
    	FromTime = @FromTime,
    	ToTime = @ToTime,
    	StartTime = @StartTime,
    	LastRun = @LastRun,
    	NextRun = @NextRun,
    	Enabled = @Enabled,
    	PriorityID = @PriorityID,
    	HistoriesNumber = @HistoriesNumber,
    	MaxExecutionTime = @MaxExecutionTime,
    	WeekMonthDay = @WeekMonthDay
    WHERE
    	ScheduleID = @ScheduleID

    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @XmlParameters

    -- Execute a SELECT statement that uses the OPENXML rowset provider.
    DELETE FROM ScheduleParameters
    WHERE ScheduleID = @ScheduleID

    INSERT INTO ScheduleParameters
    (
    	ScheduleID,
    	ParameterID,
    	ParameterValue
    )
    SELECT
    	@ScheduleID,
    	ParameterID,
    	ParameterValue
    FROM OPENXML(@idoc, '/parameters/parameter',1) WITH 
    (
    	ParameterID nvarchar(50) '@id',
    	ParameterValue nvarchar(3000) '@value'
    ) as PV

    -- remove document
    exec sp_xml_removedocument @idoc

    COMMIT TRAN
    RETURN
GO
