SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServers]
    (
    	@ActorID int
    )
    AS
    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	S.ServerID,
    	S.ServerName,
    	S.ServerUrl,
    	(SELECT COUNT(SRV.ServiceID) FROM Services AS SRV WHERE S.ServerID = SRV.ServerID) AS ServicesNumber,
    	S.Comments,
    	PrimaryGroupID,
    	S.ADEnabled
    FROM Servers AS S
    WHERE VirtualServer = 0
    AND @IsAdmin = 1
    ORDER BY S.ServerName

    -- services
    SELECT
    	S.ServiceID,
    	S.ServerID,
    	S.ProviderID,
    	S.ServiceName,
    	S.Comments
    FROM Services AS S
    INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    INNER JOIN ResourceGroups AS RG ON P.GroupID = RG.GroupID
    WHERE @IsAdmin = 1
    ORDER BY RG.GroupOrder

    RETURN
GO
