SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrganizationUserExists]
    (
    	@LoginName nvarchar(20),
    	@Exists bit OUTPUT
    )
    AS
    SET @Exists = 0
    IF EXISTS(SELECT * FROM ExchangeAccounts WHERE AccountName = @LoginName)
    BEGIN
    	SET @Exists = 1
    END

    RETURN
GO
