SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBlackBerryUser]
    (
    	@AccountID int
    )
    AS

    DELETE FROM
    	BlackBerryUsers
    WHERE
    	AccountID = @AccountID

    RETURN
GO
