SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddService]
    (
    	@ServiceID int OUTPUT,
    	@ServerID int,
    	@ProviderID int,
    	@ServiceQuotaValue int,
    	@ServiceName nvarchar(50),
    	@ClusterID int,
    	@Comments ntext
    )
    AS
    BEGIN

    BEGIN TRAN
    IF @ClusterID = 0 SET @ClusterID = NULL

    INSERT INTO Services
    (
    	ServerID,
    	ProviderID,
    	ServiceName,
    	ServiceQuotaValue,
    	ClusterID,
    	Comments
    )
    VALUES
    (
    	@ServerID,
    	@ProviderID,
    	@ServiceName,
    	@ServiceQuotaValue,
    	@ClusterID,
    	@Comments
    )

    SET @ServiceID = SCOPE_IDENTITY()

    -- copy default service settings
    INSERT INTO ServiceProperties (ServiceID, PropertyName, PropertyValue)
    SELECT @ServiceID, PropertyName, PropertyValue
    FROM ServiceDefaultProperties
    WHERE ProviderID = @ProviderID

    -- copy all default DNS records for the given service
    DECLARE @GroupID int
    SELECT @GroupID = GroupID FROM Providers
    WHERE ProviderID = @ProviderID

    -- default IP address for added records
    DECLARE @AddressID int
    SELECT TOP 1 @AddressID = AddressID FROM IPAddresses
    WHERE ServerID = @ServerID

    INSERT INTO GlobalDnsRecords
    (
    	RecordType,
    	RecordName,
    	RecordData,
    	MXPriority,
    	IPAddressID,
    	ServiceID,
    	ServerID,
    	PackageID
    )
    SELECT
    	RecordType,
    	RecordName,
    	CASE WHEN RecordData = '[ip]' THEN ''
    	ELSE RecordData END,
    	MXPriority,
    	CASE WHEN RecordData = '[ip]' THEN @AddressID
    	ELSE NULL END,
    	@ServiceID,
    	NULL, -- server
    	NULL -- package
    FROM
    	ResourceGroupDnsRecords
    WHERE GroupID = @GroupID
    ORDER BY RecordOrder
    COMMIT TRAN

    END
    RETURN
GO
