SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddComment]
    (
    	@ActorID int,
    	@ItemTypeID varchar(50),
    	@ItemID int,
    	@CommentText nvarchar(1000),
    	@SeverityID int
    )
    AS
    INSERT INTO Comments
    (
    	ItemTypeID,
    	ItemID,
    	UserID,
    	CreatedDate,
    	CommentText,
    	SeverityID
    )
    VALUES
    (
    	@ItemTypeID,
    	@ItemID,
    	@ActorID,
    	GETDATE(),
    	@CommentText,
    	@SeverityID
    )
    RETURN
GO
