SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckSSL]
    (
    	@siteID int,
    	@Renewal bit = 0,
    	@Result int OUTPUT
    )
    AS

    /*
    @Result values:
    	0 - OK
    	-1 - already exists
    */

    SET @Result = 0 -- OK

    -- check if a SSL Certificate is installed for domain
    IF EXISTS(SELECT [ID] FROM [dbo].[SSLCertificates] WHERE [SiteID] = @siteID)
    BEGIN
    	SET @Result = -1
    	RETURN
    END

    --To Do add renewal stuff

    RETURN

    SET ANSI_NULLS ON
GO
