SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetScheduleTasks]
    (
    	@ActorID int
    )
    AS

    -- get user role
    DECLARE @RoleID int
    SELECT @RoleID = RoleID FROM Users
    WHERE UserID = @ActorID

    SELECT
    	TaskID,
    	TaskType,
    	RoleID
    FROM ScheduleTasks
    WHERE @RoleID <= RoleID
    RETURN
GO
