SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSCollectionByName]
    (
    	@Name NVARCHAR(255)
    )
    AS

    SELECT TOP 1
    	Id,
    	Name, 
    	ItemId,
    	Description,
    	DisplayName
    	FROM RDSCollections
    	WHERE DisplayName = @Name
GO
