SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculatePackageDiskspace]
    (
    	@PackageID int
    )
    RETURNS int
    AS
    BEGIN

    DECLARE @Diskspace int

    SELECT
    	@Diskspace = ROUND(CONVERT(float, SUM(ISNULL(PD.DiskSpace, 0))) / 1024 / 1024, 0) -- in megabytes
    FROM PackagesTreeCache AS PT
    INNER JOIN Packages AS P ON PT.PackageID = P.PackageID
    INNER JOIN PackagesDiskspace AS PD ON P.PackageID = PD.PackageID
    INNER JOIN HostingPlanResources AS HPR ON PD.GroupID = HPR.GroupID
    	AND HPR.PlanID = P.PlanID AND HPR.CalculateDiskspace = 1
    WHERE PT.ParentPackageID = @PackageID

    RETURN @Diskspace
    END
GO
