SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserThemeSetting]
    (
    	@ActorID int,
    	@UserID int,
    	@PropertyName NVARCHAR(255),
    	@PropertyValue NVARCHAR(255)
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    BEGIN
    -- Update if present
    IF EXISTS ( SELECT * FROM UserSettings 
    						WHERE UserID = @UserID
    						AND SettingsName = N'Theme'
    						AND PropertyName = @PropertyName)
    		BEGIN
    			UPDATE UserSettings SET	PropertyValue = @PropertyValue
    				WHERE UserID = @UserID
    				AND SettingsName = N'Theme'
    				AND PropertyName = @PropertyName
    			Return
    		END
    	ELSE
    		BEGIN
    			INSERT UserSettings (UserID, SettingsName, PropertyName, PropertyValue) VALUES (@UserID, N'Theme', @PropertyName, @PropertyValue)
    		END
    END
GO
