SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSCollectionUsersByRDSCollectionId]
    (
    	@ID INT
    )
    AS
    SELECT 
    	  [AccountID],
    	  [ItemID],
    	  [AccountType],
    	  [AccountName],
    	  [DisplayName],
    	  [PrimaryEmailAddress],
    	  [MailEnabledPublicFolder],
    	  [MailboxManagerActions],
    	  [SamAccountName],
    	  [CreatedDate],
    	  [MailboxPlanId],
    	  [SubscriberNumber],
    	  [UserPrincipalName],
    	  [ExchangeDisclaimerId],
    	  [ArchivingMailboxPlanId],
    	  [EnableArchiving],
    	  [LevelID],
    	  [IsVIP]
    	FROM ExchangeAccounts
    	WHERE AccountID IN (Select AccountId from RDSCollectionUsers where RDSCollectionId = @Id)
GO
