SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserParents]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    SELECT
    	U.UserID,
    	U.RoleID,
    	U.StatusID,
    	U.SubscriberNumber,
    	U.LoginStatusId,
    	U.FailedLogins,
    	U.OwnerID,
    	U.Created,
    	U.Changed,
    	U.IsDemo,
    	U.Comments,
    	U.IsPeer,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.Email,
    	U.CompanyName,
    	U.EcommerceEnabled
    FROM UserParents(@ActorID, @UserID) AS UP
    INNER JOIN Users AS U ON UP.UserID = U.UserID
    ORDER BY UP.UserOrder DESC
    RETURN
GO
