SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchExchangeAccount]
    (
          @ActorID int,
          @AccountType int,
          @PrimaryEmailAddress nvarchar(300)
    )
    AS

    DECLARE @PackageID int
    DECLARE @ItemID int
    DECLARE @AccountID int

    SELECT
          @AccountID = AccountID,
          @ItemID = ItemID
    FROM ExchangeAccounts
    WHERE PrimaryEmailAddress = @PrimaryEmailAddress
    AND AccountType = @AccountType

    -- check space rights
    SELECT @PackageID = PackageID FROM ServiceItems
    WHERE ItemID = @ItemID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	AccountID,
    	ItemID,
    	@PackageID AS PackageID,
    	AccountType,
    	AccountName,
    	DisplayName,
    	PrimaryEmailAddress,
    	MailEnabledPublicFolder,
    	MailboxManagerActions,
    	SamAccountName,
    	SubscriberNumber,
    	UserPrincipalName
    FROM ExchangeAccounts
    WHERE AccountID = @AccountID

    RETURN
GO
