SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetItemIdByOrganizationId]
    	@OrganizationId nvarchar(128)
    AS
    BEGIN
    	SET NOCOUNT ON;

    	SELECT
    		ItemID
    	FROM
    		dbo.ExchangeOrganizations
    	WHERE
    		OrganizationId = @OrganizationId
    END
GO
