SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById]
    (
    	@ActorID int,
    	@UserID int
    )
    AS
    	-- user can retrieve his own account, his users accounts
    	-- and his reseller account (without password)
    	SELECT
    		U.UserID,
    		U.RoleID,
    		U.StatusID,
    		U.SubscriberNumber,
    		U.LoginStatusId,
    		U.FailedLogins,
    		U.OwnerID,
    		U.Created,
    		U.Changed,
    		U.IsDemo,
    		U.Comments,
    		U.IsPeer,
    		U.Username,
    		CASE WHEN dbo.CanGetUserPassword(@ActorID, @UserID) = 1 THEN U.Password
    		ELSE '' END AS Password,
    		U.FirstName,
    		U.LastName,
    		U.Email,
    		U.SecondaryEmail,
    		U.Address,
    		U.City,
    		U.State,
    		U.Country,
    		U.Zip,
    		U.PrimaryPhone,
    		U.SecondaryPhone,
    		U.Fax,
    		U.InstantMessenger,
    		U.HtmlMail,
    		U.CompanyName,
    		U.EcommerceEnabled,
    		U.[AdditionalParams],
    		U.MfaMode,
    		CASE WHEN dbo.CanGetUserPassword(@ActorID, @UserID) = 1 THEN U.PinSecret
    		ELSE '' END AS PinSecret
    	FROM Users AS U
    	WHERE U.UserID = @UserID
    	AND dbo.CanGetUserDetails(@ActorID, @UserID) = 1 -- actor user rights

    	RETURN
GO
