SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSServer]
    (
    	@RDSServerID INT OUTPUT,
    	@Name NVARCHAR(255),
    	@FqdName NVARCHAR(255),
    	@Description NVARCHAR(255),
    	@Controller INT
    )
    AS
    INSERT INTO RDSServers
    (
    	Name,
    	FqdName,
    	Description,
    	Controller
    )
    VALUES
    (
    	@Name,
    	@FqdName,
    	@Description,
    	@Controller
    )

    SET @RDSServerID = SCOPE_IDENTITY()

    RETURN
GO
