SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBlackBerryUsersCount]
    (
    	@ItemID int,
    	@Name nvarchar(400),
    	@Email nvarchar(400)

    )
    AS

    IF (@Name IS NULL)
    BEGIN
    	SET @Name = '%'
    END

    IF (@Email IS NULL)
    BEGIN
    	SET @Email = '%'
    END

    SELECT
    	COUNT(ea.AccountID)
    FROM
    	ExchangeAccounts ea
    INNER JOIN
    	BlackBerryUsers bu
    ON
    	ea.AccountID = bu.AccountID
    WHERE
    	ea.ItemID = @ItemID AND ea.DisplayName LIKE @Name AND ea.PrimaryEmailAddress LIKE @Email
GO
