SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProviderServiceQuota]
    (
    	@ProviderID int
    )
    AS

    SELECT TOP 1
    	Q.QuotaID,
    	Q.GroupID,
    	Q.QuotaName,
    	Q.QuotaDescription,
    	Q.QuotaTypeID,
    	Q.ServiceQuota
    FROM Providers AS P
    INNER JOIN Quotas AS Q ON P.GroupID = Q.GroupID
    WHERE P.ProviderID = @ProviderID AND Q.ServiceQuota = 1

    RETURN
GO
