SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationRdsServersCount]
    (
    	@ItemID INT,
    	@TotalNumber int OUTPUT
    )
    AS
    SELECT
      @TotalNumber = Count([Id])
      FROM [dbo].[RDSServers] WHERE [ItemId]  = @ItemId
    RETURN
GO
