SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[GetScheduleTaskViewConfigurations]
    (
    	@TaskID nvarchar(100)
    )
    AS

    SELECT
    	@TaskID AS TaskID,
    	STVC.ConfigurationID,
    	STVC.Environment,
    	STVC.Description
    FROM ScheduleTaskViewConfiguration AS STVC
    WHERE STVC.TaskID = @TaskID

    RETURN
GO
