SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCRMUser]
    (
    	@ItemID int,
    	@CALType int
    )
    AS
    BEGIN
    	SET NOCOUNT ON;

    UPDATE [dbo].[CRMUsers]
       SET 
          CALType = @CALType
     WHERE AccountID = @ItemID

    END
GO
