SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetThreadBackgroundTasks]
    (
    	@Guid UNIQUEIDENTIFIER
    )
    AS

    SELECT
    	T.ID,
    	T.Guid,
    	T.TaskID,
    	T.ScheduleId,
    	T.PackageId,
    	T.UserId,
    	T.EffectiveUserId,
    	T.TaskName,
    	T.ItemId,
    	T.ItemName,
    	T.StartDate,
    	T.FinishDate,
    	T.IndicatorCurrent,
    	T.IndicatorMaximum,
    	T.MaximumExecutionTime,
    	T.Source,
    	T.Severity,
    	T.Completed,
    	T.NotifyOnComplete,
    	T.Status
    FROM BackgroundTasks AS T
    INNER JOIN BackgroundTaskStack AS TS
    	ON TS.TaskId = T.ID
    WHERE T.Guid = @Guid
GO
