SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEnterpriseFolder]
    (
    	@ItemID INT,
    	@FolderID NVARCHAR(255),
    	@FolderName NVARCHAR(255),
    	@FolderQuota INT
    )
    AS

    UPDATE EnterpriseFolders SET
    	FolderName = @FolderName,
    	FolderQuota = @FolderQuota
    WHERE ItemID = @ItemID AND FolderName = @FolderID
GO
