SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIPAddresses]
    (
     @ActorID int,
     @PoolID int,
     @ServerID int
    )
    AS
    BEGIN

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
     IP.AddressID,
     IP.PoolID,
     IP.ExternalIP,
     IP.InternalIP,
     IP.SubnetMask,
     IP.DefaultGateway,
     IP.Comments,
     IP.VLAN,
     IP.ServerID,
     S.ServerName,
     PA.ItemID,
     SI.ItemName,
     PA.PackageID,
     P.PackageName,
     P.UserID,
     U.UserName
    FROM dbo.IPAddresses AS IP
    LEFT JOIN Servers AS S ON IP.ServerID = S.ServerID
    LEFT JOIN PackageIPAddresses AS PA ON IP.AddressID = PA.AddressID
    LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    LEFT JOIN dbo.Users U ON U.UserID = P.UserID
    WHERE @IsAdmin = 1
    AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
    AND (@ServerID = 0 OR @ServerID <> 0 AND IP.ServerID = @ServerID)
    END
GO
