SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCRMUser]
    	@AccountID int
    AS
    BEGIN
    	SET NOCOUNT ON;
    SELECT
    	CRMUserGUID as CRMUserID,
    	BusinessUnitID
    FROM
    	CRMUsers
    WHERE
    	AccountID = @AccountID
    END
GO
