SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrganizationExists]
    (
    	@OrganizationID nvarchar(10),
    	@Exists bit OUTPUT
    )
    AS
    SET @Exists = 0
    IF EXISTS(SELECT * FROM Organizations WHERE OrganizationID = @OrganizationID)
    BEGIN
    	SET @Exists = 1
    END

    RETURN
GO
