SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVirtualMachinesPagedProxmox]
    (
    	@ActorID int,
    	@PackageID int,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int,
    	@Recursive bit
    )
    AS
    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    SI.ItemTypeID = 143 -- Proxmox
    AND ((@Recursive = 0 AND P.PackageID = @PackageID)
    OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, P.PackageID) = 1))
    '

    IF @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
    	IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
    		SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
    	ELSE
    		SET @condition = @condition + '
    			AND (ItemName LIKE ''' + @FilterValue + '''
    			OR Username LIKE ''' + @FilterValue + '''
    			OR ExternalIP LIKE ''' + @FilterValue + '''
    			OR IPAddress LIKE ''' + @FilterValue + ''')'
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'SI.ItemName ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(SI.ItemID) FROM Packages AS P
    INNER JOIN ServiceItems AS SI ON P.PackageID = SI.PackageID
    INNER JOIN Users AS U ON P.UserID = U.UserID
    LEFT OUTER JOIN (
    	SELECT PIP.ItemID, IP.ExternalIP FROM PackageIPAddresses AS PIP
    	INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    	WHERE PIP.IsPrimary = 1 AND IP.PoolID = 3 -- external IP addresses
    ) AS EIP ON SI.ItemID = EIP.ItemID
    LEFT OUTER JOIN PrivateIPAddresses AS PIP ON PIP.ItemID = SI.ItemID AND PIP.IsPrimary = 1
    WHERE ' + @condition + '

    DECLARE @Items AS TABLE
    (
    	ItemID int
    );

    WITH TempItems AS (
    	SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
    		SI.ItemID
    	FROM Packages AS P
    	INNER JOIN ServiceItems AS SI ON P.PackageID = SI.PackageID
    	INNER JOIN Users AS U ON P.UserID = U.UserID
    	LEFT OUTER JOIN (
    		SELECT PIP.ItemID, IP.ExternalIP FROM PackageIPAddresses AS PIP
    		INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    		WHERE PIP.IsPrimary = 1 AND IP.PoolID = 3 -- external IP addresses
    	) AS EIP ON SI.ItemID = EIP.ItemID
    	LEFT OUTER JOIN PrivateIPAddresses AS PIP ON PIP.ItemID = SI.ItemID AND PIP.IsPrimary = 1
    	WHERE ' + @condition + '
    )

    INSERT INTO @Items
    SELECT ItemID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
    	SI.ItemID,
    	SI.ItemName,
    	SI.PackageID,
    	P.PackageName,
    	P.UserID,
    	U.Username,

    	EIP.ExternalIP,
    	PIP.IPAddress
    FROM @Items AS TSI
    INNER JOIN ServiceItems AS SI ON TSI.ItemID = SI.ItemID
    INNER JOIN Packages AS P ON SI.PackageID = P.PackageID
    INNER JOIN Users AS U ON P.UserID = U.UserID
    LEFT OUTER JOIN (
    	SELECT PIP.ItemID, IP.ExternalIP FROM PackageIPAddresses AS PIP
    	INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    	WHERE PIP.IsPrimary = 1 AND IP.PoolID = 3 -- external IP addresses
    ) AS EIP ON SI.ItemID = EIP.ItemID
    LEFT OUTER JOIN PrivateIPAddresses AS PIP ON PIP.ItemID = SI.ItemID AND PIP.IsPrimary = 1
    '

    --print @sql

    exec sp_executesql @sql, N'@PackageID int, @StartRow int, @MaximumRows int, @Recursive bit',
    @PackageID, @StartRow, @MaximumRows, @Recursive

    RETURN
GO
