SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSServerToCollection]
    (
    	@Id  INT,
    	@RDSCollectionId INT
    )
    AS

    UPDATE RDSServers
    SET
    	RDSCollectionId = @RDSCollectionId
    WHERE ID = @Id
GO
