SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddLyncUserPlan] 
    (
    	@LyncUserPlanId int OUTPUT,
    	@ItemID int,
    	@LyncUserPlanName	nvarchar(300),
    	@LyncUserPlanType int,
    	@IM bit,
    	@Mobility bit,
    	@MobilityEnableOutsideVoice bit,
    	@Federation bit,
    	@Conferencing bit,
    	@EnterpriseVoice bit,
    	@VoicePolicy int,
    	@IsDefault bit,

    	@RemoteUserAccess bit,
    	@PublicIMConnectivity bit,

    	@AllowOrganizeMeetingsWithExternalAnonymous bit,

    	@Telephony int,

    	@ServerURI nvarchar(300),

    	@ArchivePolicy  nvarchar(300),
    	@TelephonyDialPlanPolicy nvarchar(300),
    	@TelephonyVoicePolicy nvarchar(300)

    )
    AS

    IF (((SELECT Count(*) FROM LyncUserPlans WHERE ItemId = @ItemID) = 0) AND (@LyncUserPlanType=0))
    BEGIN
    	SET @IsDefault = 1
    END
    ELSE
    BEGIN
    	IF ((@IsDefault = 1) AND (@LyncUserPlanType=0))
    	BEGIN
    		UPDATE LyncUserPlans SET IsDefault = 0 WHERE ItemID = @ItemID
    	END
    END

    INSERT INTO LyncUserPlans
    (
    	ItemID,
    	LyncUserPlanName,
    	LyncUserPlanType,
    	IM,
    	Mobility,
    	MobilityEnableOutsideVoice,
    	Federation,
    	Conferencing,
    	EnterpriseVoice,
    	VoicePolicy,
    	IsDefault,

    	RemoteUserAccess,
    	PublicIMConnectivity,

    	AllowOrganizeMeetingsWithExternalAnonymous,

    	Telephony,

    	ServerURI,

    	ArchivePolicy,
    	TelephonyDialPlanPolicy,
    	TelephonyVoicePolicy

    )
    VALUES
    (
    	@ItemID,
    	@LyncUserPlanName,
    	@LyncUserPlanType,
    	@IM,
    	@Mobility,
    	@MobilityEnableOutsideVoice,
    	@Federation,
    	@Conferencing,
    	@EnterpriseVoice,
    	@VoicePolicy,
    	@IsDefault,

    	@RemoteUserAccess,
    	@PublicIMConnectivity,

    	@AllowOrganizeMeetingsWithExternalAnonymous,

    	@Telephony,

    	@ServerURI,

    	@ArchivePolicy,
    	@TelephonyDialPlanPolicy,
    	@TelephonyVoicePolicy

    )

    SET @LyncUserPlanId = SCOPE_IDENTITY()

    RETURN
GO
