SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeMailboxPlan] 
    (
    	@MailboxPlanId int OUTPUT,
    	@ItemID int,
    	@MailboxPlan	nvarchar(300),
    	@EnableActiveSync bit,
    	@EnableIMAP bit,
    	@EnableMAPI bit,
    	@EnableOWA bit,
    	@EnablePOP bit,
    	@EnableAutoReply bit,
    	@IsDefault bit,
    	@IssueWarningPct int,
    	@KeepDeletedItemsDays int,
    	@MailboxSizeMB int,
    	@MaxReceiveMessageSizeKB int,
    	@MaxRecipients int,
    	@MaxSendMessageSizeKB int,
    	@ProhibitSendPct int,
    	@ProhibitSendReceivePct int	,
    	@HideFromAddressBook bit,
    	@MailboxPlanType int,
    	@AllowLitigationHold bit,
    	@RecoverableItemsWarningPct int,
    	@RecoverableItemsSpace int,
    	@LitigationHoldUrl nvarchar(256),
    	@LitigationHoldMsg nvarchar(512),
    	@Archiving bit,
    	@EnableArchiving bit,
    	@ArchiveSizeMB int,
    	@ArchiveWarningPct int,
    	@EnableForceArchiveDeletion bit,
    	@IsForJournaling bit
    )
    AS

    IF (((SELECT Count(*) FROM ExchangeMailboxPlans WHERE ItemId = @ItemID) = 0) AND (@MailboxPlanType=0))
    BEGIN
    	SET @IsDefault = 1
    END
    ELSE
    BEGIN
    	IF ((@IsDefault = 1) AND (@MailboxPlanType=0))
    	BEGIN
    		UPDATE ExchangeMailboxPlans SET IsDefault = 0 WHERE ItemID = @ItemID
    	END
    END

    INSERT INTO ExchangeMailboxPlans
    (
    	ItemID,
    	MailboxPlan,
    	EnableActiveSync,
    	EnableIMAP,
    	EnableMAPI,
    	EnableOWA,
    	EnablePOP,
    	EnableAutoReply,
    	IsDefault,
    	IssueWarningPct,
    	KeepDeletedItemsDays,
    	MailboxSizeMB,
    	MaxReceiveMessageSizeKB,
    	MaxRecipients,
    	MaxSendMessageSizeKB,
    	ProhibitSendPct,
    	ProhibitSendReceivePct,
    	HideFromAddressBook,
    	MailboxPlanType,
    	AllowLitigationHold,
    	RecoverableItemsWarningPct,
    	RecoverableItemsSpace,
    	LitigationHoldUrl,
    	LitigationHoldMsg,
    	Archiving,
    	EnableArchiving,
    	ArchiveSizeMB,
    	ArchiveWarningPct,
    	EnableForceArchiveDeletion,
    	IsForJournaling
    )
    VALUES
    (
    	@ItemID,
    	@MailboxPlan,
    	@EnableActiveSync,
    	@EnableIMAP,
    	@EnableMAPI,
    	@EnableOWA,
    	@EnablePOP,
    	@EnableAutoReply,
    	@IsDefault,
    	@IssueWarningPct,
    	@KeepDeletedItemsDays,
    	@MailboxSizeMB,
    	@MaxReceiveMessageSizeKB,
    	@MaxRecipients,
    	@MaxSendMessageSizeKB,
    	@ProhibitSendPct,
    	@ProhibitSendReceivePct,
    	@HideFromAddressBook,
    	@MailboxPlanType,
    	@AllowLitigationHold,
    	@RecoverableItemsWarningPct,
    	@RecoverableItemsSpace,
    	@LitigationHoldUrl,
    	@LitigationHoldMsg,
    	@Archiving,
    	@EnableArchiving,
    	@ArchiveSizeMB,
    	@ArchiveWarningPct,
    	@EnableForceArchiveDeletion,
    	@IsForJournaling
    )

    SET @MailboxPlanId = SCOPE_IDENTITY()

    RETURN
GO
