SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePrivateNetworkVLAN]
    (
    	@VlanID int,
    	@Result int OUTPUT
    )
    AS

    SET @Result = 0
    IF EXISTS(SELECT VlanID FROM PackageVLANs WHERE VlanID = @VlanID)
    BEGIN
    	SET @Result = -2
    	RETURN
    END

    DELETE FROM PrivateNetworkVLANs
    WHERE VlanID = @VlanID
    RETURN
GO
