SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStorageSpacesByResourceGroupName] 
    (
    	@ResourceGroupName varchar(max)
    )
    AS
    SELECT
    		SS.Id,
    		SS.Name ,
    		SS.ServiceId ,
    		SS.ServerId ,
    		SS.LevelId,
    		SS.Path,
    		SS.FsrmQuotaType,
    		SS.FsrmQuotaSizeBytes,
    		SS.IsShared,
    		SS.UncPath,
    		SS.IsDisabled,
    		ISNULL((SELECT SUM(SSF.FsrmQuotaSizeBytes) FROM StorageSpaceFolders AS SSF WHERE SSF.StorageSpaceId = SS.Id), 0) UsedSizeBytes
    FROM StorageSpaces AS SS
    INNER JOIN StorageSpaceLevelResourceGroups AS SSLRG ON SSLRG.LevelId = SS.LevelId
    INNER JOIN ResourceGroups AS RG ON SSLRG.GroupID = RG.GroupID
    WHERE RG.GroupName = @ResourceGroupName
GO
