SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddItemIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@PackageAddressID int
    )
    AS
    BEGIN
    	UPDATE PackageIPAddresses
    	SET
    		ItemID = @ItemID,
    		IsPrimary = 0
    	FROM PackageIPAddresses AS PIP
    	WHERE
    		PIP.PackageAddressID = @PackageAddressID
    		AND dbo.CheckActorPackageRights(@ActorID, PIP.PackageID) = 1
    END
GO
