SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBackgroundTask]
    (
    	@ID INT
    )
    AS

    DELETE FROM BackgroundTaskStack
    WHERE TaskID = @ID

    DELETE FROM BackgroundTaskLogs
    WHERE TaskID = @ID

    DELETE FROM BackgroundTaskParameters
    WHERE TaskID = @ID

    DELETE FROM BackgroundTasks
    WHERE ID = @ID
GO
