SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetClusters]
    (
    	@ActorID int
    )
    AS

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    -- get the list
    SELECT
    	ClusterID,
    	ClusterName
    FROM Clusters
    WHERE @IsAdmin = 1

    RETURN
GO
