SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRawServicesByServerID]
    (
    	@ActorID int,
    	@ServerID int
    )
    AS

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    -- resource groups
    SELECT
    	GroupID,
    	GroupName
    FROM ResourceGroups
    WHERE @IsAdmin = 1 AND (ShowGroup = 1)
    ORDER BY GroupOrder

    -- services
    SELECT
    	S.ServiceID,
    	S.ServerID,
    	S.ServiceName,
    	S.Comments,
    	RG.GroupID,
    	PROV.DisplayName AS ProviderName
    FROM Services AS S
    INNER JOIN Providers AS PROV ON S.ProviderID = PROV.ProviderID
    INNER JOIN ResourceGroups AS RG ON PROV.GroupID = RG.GroupID
    WHERE
    	S.ServerID = @ServerID
    	AND @IsAdmin = 1
    ORDER BY RG.GroupOrder

    RETURN
GO
