SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserEnterpriseFolderWithOwaEditPermission]
    (
    	@ItemID INT,
    	@AccountID INT
    )
    AS
    SELECT 
    	EF.FolderName
    	FROM EnterpriseFoldersOwaPermissions AS EFOP
    	LEFT JOIN  [dbo].[EnterpriseFolders] AS EF ON EF.EnterpriseFolderID = EFOP.FolderID
    	WHERE EFOP.ItemID = @ItemID AND EFOP.AccountID = @AccountID
GO
