SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackagesBandwidthPaged]
    (
    	@ActorID int,
    	@UserID int,
    	@PackageID int,
    	@StartDate datetime,
    	@EndDate datetime,
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @sql nvarchar(4000)

    SET @sql = '
    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows

    DECLARE @Report TABLE
    (
    	ItemPosition int IDENTITY(0,1),
    	PackageID int,
    	QuotaValue int,
    	Bandwidth int,
    	UsagePercentage int,
    	PackagesNumber int
    )

    INSERT INTO @Report (PackageID, QuotaValue, Bandwidth, UsagePercentage, PackagesNumber)
    SELECT
    	P.PackageID,
    	PB.QuotaValue,
    	PB.Bandwidth,
    	UsagePercentage = 	CASE
    							WHEN PB.QuotaValue = -1 THEN 0
    							WHEN PB.QuotaValue <> 0 THEN PB.Bandwidth * 100 / PB.QuotaValue
    							ELSE 0
    						END,
    	(SELECT COUNT(NP.PackageID) FROM Packages AS NP WHERE NP.ParentPackageID = P.PackageID) AS PackagesNumber
    FROM Packages AS P
    LEFT OUTER JOIN
    (
    	SELECT
    		P.PackageID,
    		dbo.GetPackageAllocatedQuota(P.PackageID, 51) AS QuotaValue, -- bandwidth
    		ROUND(CONVERT(float, SUM(ISNULL(PB.BytesSent + PB.BytesReceived, 0))) / 1024 / 1024, 0) AS Bandwidth -- in megabytes
    	FROM Packages AS P
    	INNER JOIN PackagesTreeCache AS PT ON P.PackageID = PT.ParentPackageID
    	INNER JOIN Packages AS PC ON PT.PackageID = PC.PackageID
    	INNER JOIN PackagesBandwidth AS PB ON PT.PackageID = PB.PackageID
    	INNER JOIN HostingPlanResources AS HPR ON PB.GroupID = HPR.GroupID
    		AND HPR.PlanID = PC.PlanID
    	WHERE PB.LogDate BETWEEN @StartDate AND @EndDate
    		AND HPR.CalculateBandwidth = 1
    	GROUP BY P.PackageID
    ) AS PB ON P.PackageID = PB.PackageID
    WHERE (@PackageID = -1 AND P.UserID = @UserID) OR
    	(@PackageID <> -1 AND P.ParentPackageID = @PackageID) '

    IF @SortColumn = '' OR @SortColumn IS NULL
    SET @SortColumn = 'UsagePercentage DESC'

    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + '
    SELECT COUNT(PackageID) FROM @Report

    SELECT
    	R.PackageID,
    	ISNULL(R.QuotaValue, 0) AS QuotaValue,
    	ISNULL(R.Bandwidth, 0) AS Bandwidth,
    	ISNULL(R.UsagePercentage, 0) AS UsagePercentage,

    	-- package
    	P.PackageName,
    	ISNULL(R.PackagesNumber, 0) AS PackagesNumber,
    	P.StatusID,

    	-- user
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email,
    	dbo.GetItemComments(U.UserID, ''USER'', @ActorID) AS UserComments
    FROM @Report AS R
    INNER JOIN Packages AS P ON R.PackageID = P.PackageID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    WHERE R.ItemPosition BETWEEN @StartRow AND @EndRow
    '

    exec sp_executesql @sql, N'@ActorID int, @UserID int, @PackageID int, @StartDate datetime, @EndDate datetime, @StartRow int, @MaximumRows int',
    @ActorID, @UserID, @PackageID, @StartDate, @EndDate, @StartRow, @MaximumRows

    RETURN
GO
