SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSServerToOrganization]
    (
    	@Id  INT,
    	@ItemID INT
    )
    AS

    UPDATE RDSServers
    SET
    	ItemID = @ItemID
    WHERE ID = @Id
GO
