SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetThemes]
    AS
    BEGIN
    	SET NOCOUNT ON;
        SELECT
    		ThemeID,
    		DisplayName,
    		LTRName,
    		RTLName,
    		DisplayOrder
    	FROM
    		Themes
    	WHERE
    		Enabled = '1'
    	ORDER BY 
    		DisplayOrder;
    END
GO
