SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeallocatePackageIPAddress]
    	@PackageAddressID int
    AS
    BEGIN

    	SET NOCOUNT ON;

    	-- check parent package
    	DECLARE @ParentPackageID int

    	SELECT @ParentPackageID = P.ParentPackageID
    	FROM PackageIPAddresses AS PIP
    	INNER JOIN Packages AS P ON PIP.PackageID = P.PackageId
    	WHERE PIP.PackageAddressID = @PackageAddressID

    	IF (@ParentPackageID = 1) -- ""System"" space
    	BEGIN
    		DELETE FROM dbo.PackageIPAddresses
    		WHERE PackageAddressID = @PackageAddressID
    	END
    	ELSE -- 2rd level space and below
    	BEGIN
    		UPDATE PackageIPAddresses
    		SET PackageID = @ParentPackageID
    		WHERE PackageAddressID = @PackageAddressID
    	END

    END
GO
