SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageBandwidthUpdate]
    (
    	@PackageID int,
    	@UpdateDate datetime OUTPUT
    )
    AS
    	SELECT @UpdateDate = BandwidthUpdated FROM Packages
    	WHERE PackageID = @PackageID
    RETURN
GO
