SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWebDavAccessTokenById]
    (
    	@Id int
    )
    AS
    SELECT 
    	ID ,
    	FilePath ,
    	AuthData ,
    	AccessToken,
    	ExpirationDate,
    	AccountID,
    	ItemId
    	FROM WebDavAccessTokens 
    	Where ID = @Id AND ExpirationDate > getdate()
GO
