SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBackgroundTask]
    (
    	@Guid UNIQUEIDENTIFIER,
    	@TaskID INT,
    	@ScheduleID INT,
    	@PackageID INT,
    	@TaskName NVARCHAR(255),
    	@ItemID INT,
    	@ItemName NVARCHAR(255),
    	@FinishDate DATETIME,
    	@IndicatorCurrent INT,
    	@IndicatorMaximum INT,
    	@MaximumExecutionTime INT,
    	@Source NVARCHAR(MAX),
    	@Severity INT,
    	@Completed BIT,
    	@NotifyOnComplete BIT,
    	@Status INT
    )
    AS

    UPDATE BackgroundTasks
    SET
    	Guid = @Guid,
    	ScheduleID = @ScheduleID,
    	PackageID = @PackageID,
    	TaskName = @TaskName,
    	ItemID = @ItemID,
    	ItemName = @ItemName,
    	FinishDate = @FinishDate,
    	IndicatorCurrent = @IndicatorCurrent,
    	IndicatorMaximum = @IndicatorMaximum,
    	MaximumExecutionTime = @MaximumExecutionTime,
    	Source = @Source,
    	Severity = @Severity,
    	Completed = @Completed,
    	NotifyOnComplete = @NotifyOnComplete,
    	Status = @Status
    WHERE ID = @TaskID
GO
