SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStorageSpaceFolder]
    (
    	@ID INT,
    	@Name varchar(300),
    	@StorageSpaceId INT,
    	@Path varchar(max),
    	@UncPath varchar(max),
    	@IsShared BIT,
    	@FsrmQuotaType INT,
    	@FsrmQuotaSizeBytes BIGINT 
    )
    AS
    UPDATE StorageSpaceFolders
    SET
    	Name=@Name,
    	StorageSpaceId=@StorageSpaceId,
    	Path=@Path,
    	UncPath=@UncPath,
    	IsShared=@IsShared,
    	FsrmQuotaType=@FsrmQuotaType,
    	FsrmQuotaSizeBytes=@FsrmQuotaSizeBytes
    WHERE ID = @ID
GO
