SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIPAddressesPaged]
    (
     @ActorID int,
     @PoolID int,
     @ServerID int,
     @FilterColumn nvarchar(50) = '',
     @FilterValue nvarchar(50) = '',
     @SortColumn nvarchar(50),
     @StartRow int,
     @MaximumRows int
    )
    AS
    BEGIN

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    @IsAdmin = 1
    AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
    AND (@ServerID = 0 OR @ServerID <> 0 AND IP.ServerID = @ServerID)
    '

    IF @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
     IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
      SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
     ELSE
      SET @condition = @condition + '
       AND (ExternalIP LIKE ''' + @FilterValue + '''
       OR InternalIP LIKE ''' + @FilterValue + '''
       OR DefaultGateway LIKE ''' + @FilterValue + '''
       OR ServerName LIKE ''' + @FilterValue + '''
       OR ItemName LIKE ''' + @FilterValue + '''
       OR Username LIKE ''' + @FilterValue + ''')'
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'IP.ExternalIP ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(IP.AddressID)
    FROM dbo.IPAddresses AS IP
    LEFT JOIN Servers AS S ON IP.ServerID = S.ServerID
    LEFT JOIN PackageIPAddresses AS PA ON IP.AddressID = PA.AddressID
    LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    LEFT JOIN dbo.Users U ON P.UserID = U.UserID
    WHERE ' + @condition + '

    DECLARE @Addresses AS TABLE
    (
     AddressID int
    );

    WITH TempItems AS (
     SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
      IP.AddressID
     FROM dbo.IPAddresses AS IP
     LEFT JOIN Servers AS S ON IP.ServerID = S.ServerID
     LEFT JOIN PackageIPAddresses AS PA ON IP.AddressID = PA.AddressID
     LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
     LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
     LEFT JOIN dbo.Users U ON U.UserID = P.UserID
     WHERE ' + @condition + '
    )

    INSERT INTO @Addresses
    SELECT AddressID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
     IP.AddressID,
     IP.PoolID,
     IP.ExternalIP,
     IP.InternalIP,
     IP.SubnetMask,
     IP.DefaultGateway,
     IP.Comments,
     IP.VLAN,
     IP.ServerID,
     S.ServerName,
     PA.ItemID,
     SI.ItemName,
     PA.PackageID,
     P.PackageName,
     P.UserID,
     U.UserName
    FROM @Addresses AS TA
    INNER JOIN dbo.IPAddresses AS IP ON TA.AddressID = IP.AddressID
    LEFT JOIN Servers AS S ON IP.ServerID = S.ServerID
    LEFT JOIN PackageIPAddresses AS PA ON IP.AddressID = PA.AddressID
    LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    LEFT JOIN dbo.Users U ON U.UserID = P.UserID
    '

    exec sp_executesql @sql, N'@IsAdmin bit, @PoolID int, @ServerID int, @StartRow int, @MaximumRows int',
    @IsAdmin, @PoolID, @ServerID, @StartRow, @MaximumRows

    END
GO
