SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBackgroundTask]
    (
    	@TaskID NVARCHAR(255)
    )
    AS

    SELECT TOP 1
    	T.ID,
    	T.Guid,
    	T.TaskID,
    	T.ScheduleID,
    	T.PackageID,
    	T.UserID,
    	T.EffectiveUserID,
    	T.TaskName,
    	T.ItemID,
    	T.ItemName,
    	T.StartDate,
    	T.FinishDate,
    	T.IndicatorCurrent,
    	T.IndicatorMaximum,
    	T.MaximumExecutionTime,
    	T.Source,
    	T.Severity,
    	T.Completed,
    	T.NotifyOnComplete,
    	T.Status
    FROM BackgroundTasks AS T
    INNER JOIN BackgroundTaskStack AS TS
    	ON TS.TaskId = T.ID
    WHERE T.TaskID = @TaskID
GO
