SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddWebDavPortalUsersSettings]
    (
    	@WebDavPortalUsersSettingsId INT OUTPUT,
    	@AccountId INT,
    	@Settings NVARCHAR(max)
    )
    AS

    INSERT INTO WebDavPortalUsersSettings
    (
    	AccountId,
    	Settings
    )
    VALUES
    (
    	@AccountId,
    	@Settings
    )

    SET @WebDavPortalUsersSettingsId = SCOPE_IDENTITY()

    RETURN
GO
