SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNestedPackagesSummary]
    (
    	@ActorID int,
    	@PackageID int
    )
    AS
    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- ALL spaces
    SELECT COUNT(PackageID) AS PackagesNumber FROM Packages
    WHERE ParentPackageID = @PackageID

    -- BY STATUS spaces
    SELECT StatusID, COUNT(PackageID) AS PackagesNumber FROM Packages
    WHERE ParentPackageID = @PackageID AND StatusID > 0
    GROUP BY StatusID
    ORDER BY StatusID

    RETURN
GO
