SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetResourceGroup]
    (
    	@GroupID int
    )
    AS
    SELECT
    	RG.GroupID,
    	RG.GroupOrder,
    	RG.GroupName,
    	RG.GroupController
    FROM ResourceGroups AS RG
    WHERE RG.GroupID = @GroupID

    RETURN
GO
