SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackageSettings]
    (
    	@ActorID int,
    	@PackageID int,
    	@SettingsName nvarchar(50),
    	@Xml ntext
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- delete old properties
    BEGIN TRAN
    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    -- Execute a SELECT statement that uses the OPENXML rowset provider.
    DELETE FROM PackageSettings
    WHERE PackageID = @PackageID AND SettingsName = @SettingsName

    INSERT INTO PackageSettings
    (
    	PackageID,
    	SettingsName,
    	PropertyName,
    	PropertyValue
    )
    SELECT
    	@PackageID,
    	@SettingsName,
    	PropertyName,
    	PropertyValue
    FROM OPENXML(@idoc, '/properties/property',1) WITH
    (
    	PropertyName nvarchar(50) '@name',
    	PropertyValue ntext '@value'
    ) as PV

    -- remove document
    exec sp_xml_removedocument @idoc

    COMMIT TRAN

    RETURN
GO
