SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddEnterpriseFolder]
    (
    	@FolderID INT OUTPUT,
    	@ItemID INT,
    	@FolderName NVARCHAR(255),
    	@FolderQuota INT,
    	@LocationDrive NVARCHAR(255),
    	@HomeFolder NVARCHAR(255),
    	@Domain NVARCHAR(255),
    	@StorageSpaceFolderId INT
    )
    AS

    INSERT INTO EnterpriseFolders
    (
    	ItemID,
    	FolderName,
    	FolderQuota,
    	LocationDrive,
    	HomeFolder,
    	Domain,
    	StorageSpaceFolderId
    )
    VALUES
    (
    	@ItemID,
    	@FolderName,
    	@FolderQuota,
    	@LocationDrive,
    	@HomeFolder,
    	@Domain,
    	@StorageSpaceFolderId
    )

    SET @FolderID = SCOPE_IDENTITY()

    RETURN
GO
