SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetSystemSettings]
    	@SettingsName nvarchar(50),
    	@Xml ntext
    AS
    BEGIN
    /*
    XML Format:
    <properties>
    	<property name="""" value=""""/>
    </properties>
    */
    	SET NOCOUNT ON;

    	BEGIN TRAN
    		DECLARE @idoc int;
    		--Create an internal representation of the XML document.
    		EXEC sp_xml_preparedocument @idoc OUTPUT, @xml;

    		DELETE FROM [dbo].[SystemSettings] WHERE [SettingsName] = @SettingsName;

    		INSERT INTO [dbo].[SystemSettings]
    		(
    			[SettingsName],
    			[PropertyName],
    			[PropertyValue]
    		)
    		SELECT
    			@SettingsName,
    			[XML].[PropertyName],
    			[XML].[PropertyValue]
    		FROM OPENXML(@idoc, '/properties/property',1) WITH
    		(
    			[PropertyName] nvarchar(50) '@name',
    			[PropertyValue] ntext '@value'
    		) AS XML;

    		-- remove document
    		EXEC sp_xml_removedocument @idoc;

    	COMMIT TRAN;

    END
GO
