SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchedule]
    (
    	@ActorID int,
    	@ScheduleID int
    )
    AS

    -- select schedule
    SELECT TOP 1
    	S.ScheduleID,
    	S.TaskID,
    	S.PackageID,
    	S.ScheduleName,
    	S.ScheduleTypeID,
    	S.Interval,
    	S.FromTime,
    	S.ToTime,
    	S.StartTime,
    	S.LastRun,
    	S.NextRun,
    	S.Enabled,
    	S.HistoriesNumber,
    	S.PriorityID,
    	S.MaxExecutionTime,
    	S.WeekMonthDay,
    	1 AS StatusID
    FROM Schedule AS S
    WHERE
    	S.ScheduleID = @ScheduleID
    	AND dbo.CheckActorPackageRights(@ActorID, S.PackageID) = 1

    -- select task
    SELECT
    	ST.TaskID,
    	ST.TaskType,
    	ST.RoleID
    FROM Schedule AS S
    INNER JOIN ScheduleTasks AS ST ON S.TaskID = ST.TaskID
    WHERE
    	S.ScheduleID = @ScheduleID
    	AND dbo.CheckActorPackageRights(@ActorID, S.PackageID) = 1

    -- select schedule parameters
    SELECT
    	S.ScheduleID,
    	STP.ParameterID,
    	STP.DataTypeID,
    	ISNULL(SP.ParameterValue, STP.DefaultValue) AS ParameterValue
    FROM Schedule AS S
    INNER JOIN ScheduleTaskParameters AS STP ON S.TaskID = STP.TaskID
    LEFT OUTER JOIN ScheduleParameters AS SP ON STP.ParameterID = SP.ParameterID AND SP.ScheduleID = S.ScheduleID
    WHERE
    	S.ScheduleID = @ScheduleID
    	AND dbo.CheckActorPackageRights(@ActorID, S.PackageID) = 1

    RETURN
GO
