SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRDSServerSettings]
    (
    	@ServerId int
    )
    AS
    	DELETE FROM RDSServerSettings WHERE RDSServerId = @ServerId
GO
