SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckIsUserAdmin]
    (
    	@UserID int
    )
    RETURNS bit
    AS
    BEGIN

    IF @UserID = -1
    RETURN 1

    IF EXISTS (SELECT UserID FROM Users
    WHERE UserID = @UserID AND RoleID = 1) -- administrator
    RETURN 1

    RETURN 0
    END
GO
