SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBackgroundTaskParam]
    (
    	@TaskID INT,
    	@Name NVARCHAR(255),
    	@Value NTEXT,
    	@TypeName NVARCHAR(255)
    )
    AS

    INSERT INTO BackgroundTaskParameters
    (
    	TaskID,
    	Name,
    	SerializerValue,
    	TypeName
    )
    VALUES
    (
    	@TaskID,
    	@Name,
    	@Value,
    	@TypeName
    )
GO
