SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRDSCollection]
    (
    	@ID INT,
    	@ItemID INT,
    	@Name NVARCHAR(255),
    	@Description NVARCHAR(255),
    	@DisplayName NVARCHAR(255)
    )
    AS

    UPDATE RDSCollections
    SET
    	ItemID = @ItemID,
    	Name = @Name,
    	Description = @Description,
    	DisplayName = @DisplayName
    WHERE ID = @Id
GO
