SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProviders]
    AS
    SELECT
    	PROV.ProviderID,
    	PROV.GroupID,
    	PROV.ProviderName,
    	PROV.EditorControl,
    	PROV.DisplayName,
    	PROV.ProviderType,
    	RG.GroupName + ' - ' + PROV.DisplayName AS ProviderGroupName,
    	PROV.DisableAutoDiscovery
    FROM Providers AS PROV
    INNER JOIN ResourceGroups AS RG ON PROV.GroupID = RG.GroupID
    ORDER BY RG.GroupOrder, PROV.DisplayName
    RETURN
GO
