SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteItemDmzIPAddresses]
    (
    	@ActorID int,
    	@ItemID int
    )
    AS
    BEGIN
    	DELETE FROM DmzIPAddresses
    	FROM DmzIPAddresses AS DIP
    	INNER JOIN ServiceItems AS SI ON DIP.ItemID = SI.ItemID
    	WHERE DIP.ItemID = @ItemID
    	AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    END
GO
