SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDomainsPaged]
    (
    	@ActorID int,
    	@PackageID int,
    	@ServerID int,
    	@Recursive bit,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS
    SET NOCOUNT ON

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2500)

    IF @SortColumn = '' OR @SortColumn IS NULL
    SET @SortColumn = 'DomainName'

    SET @sql = '
    DECLARE @Domains TABLE
    (
    	ItemPosition int IDENTITY(1,1),
    	DomainID int
    )
    INSERT INTO @Domains (DomainID)
    SELECT
    	D.DomainID
    FROM Domains AS D
    INNER JOIN Packages AS P ON D.PackageID = P.PackageID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    LEFT OUTER JOIN ServiceItems AS Z ON D.ZoneItemID = Z.ItemID
    LEFT OUTER JOIN Services AS S ON Z.ServiceID = S.ServiceID
    LEFT OUTER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    WHERE (D.IsPreviewDomain = 0 AND D.IsDomainPointer = 0) AND
    		((@Recursive = 0 AND D.PackageID = @PackageID)
    		OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, D.PackageID) = 1))
    AND (@ServerID = 0 OR (@ServerID > 0 AND S.ServerID = @ServerID))
    '

    IF @FilterValue <> ''
    BEGIN
    	IF @FilterColumn <> ''
    	BEGIN
    		SET @sql = @sql + ' AND ' + @FilterColumn + ' LIKE @FilterValue '
    	END
    	ELSE
    		SET @sql = @sql + '
    		AND (DomainName LIKE @FilterValue 
    		OR Username LIKE @FilterValue
    		OR ServerName LIKE @FilterValue
    		OR PackageName LIKE @FilterValue) '
    END

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(DomainID) FROM @Domains;SELECT
    	D.DomainID,
    	D.PackageID,
    	D.ZoneItemID,
    	D.DomainItemID,
    	D.DomainName,
    	D.HostingAllowed,
    	ISNULL(WS.ItemID, 0) AS WebSiteID,
    	WS.ItemName AS WebSiteName,
    	ISNULL(MD.ItemID, 0) AS MailDomainID,
    	MD.ItemName AS MailDomainName,
    	D.IsSubDomain,
    	D.IsPreviewDomain,
    	D.IsDomainPointer,
    	D.ExpirationDate,
    	D.LastUpdateDate,
    	D.RegistrarName,
    	P.PackageName,
    	ISNULL(SRV.ServerID, 0) AS ServerID,
    	ISNULL(SRV.ServerName, '''') AS ServerName,
    	ISNULL(SRV.Comments, '''') AS ServerComments,
    	ISNULL(SRV.VirtualServer, 0) AS VirtualServer,
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email
    FROM @Domains AS SD
    INNER JOIN Domains AS D ON SD.DomainID = D.DomainID
    INNER JOIN Packages AS P ON D.PackageID = P.PackageID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    LEFT OUTER JOIN ServiceItems AS WS ON D.WebSiteID = WS.ItemID
    LEFT OUTER JOIN ServiceItems AS MD ON D.MailDomainID = MD.ItemID
    LEFT OUTER JOIN ServiceItems AS Z ON D.ZoneItemID = Z.ItemID
    LEFT OUTER JOIN Services AS S ON Z.ServiceID = S.ServiceID
    LEFT OUTER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    WHERE SD.ItemPosition BETWEEN @StartRow + 1 AND @StartRow + @MaximumRows'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int, @PackageID int, @FilterValue nvarchar(50), @ServerID int, @Recursive bit', 
    @StartRow, @MaximumRows, @PackageID, @FilterValue, @ServerID, @Recursive

    RETURN
GO
