SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetComments]
    (
    	@ActorID int,
    	@UserID int,
    	@ItemTypeID varchar(50),
    	@ItemID int
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    SELECT
    	C.CommentID,
    	C.ItemTypeID,
    	C.ItemID,
    	C.UserID,
    	C.CreatedDate,
    	C.CommentText,
    	C.SeverityID,

    	-- user
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email
    FROM Comments AS C
    INNER JOIN UsersDetailed AS U ON C.UserID = U.UserID
    WHERE
    	ItemTypeID = @ItemTypeID
    	AND ItemID = @ItemID
    	AND dbo.CheckUserParent(@UserID, C.UserID) = 1
    ORDER BY C.CreatedDate ASC
    RETURN
GO
