SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CanUpdateUserDetails]
    (
    	@ActorID int,
    	@UserID int
    )
    RETURNS bit
    AS
    BEGIN

    IF @ActorID = -1
    RETURN 1

    -- check if the user requests himself
    IF @ActorID = @UserID
    BEGIN
    	RETURN 1
    END

    DECLARE @IsPeer bit
    DECLARE @OwnerID int

    SELECT @IsPeer = IsPeer, @OwnerID = OwnerID FROM Users
    WHERE UserID = @ActorID

    IF @IsPeer = 1
    BEGIN
    	-- check if the peer is trying to update his owner
    	IF @UserID = @OwnerID
    	RETURN 0

    	-- check if the peer is trying to update his peers
    	IF EXISTS (SELECT UserID FROM Users
    	WHERE IsPeer = 1 AND OwnerID = @OwnerID AND UserID = @UserID)
    	RETURN 0

    	SET @ActorID = @OwnerID
    END

    DECLARE @ParentUserID int, @TmpUserID int
    SET @TmpUserID = @UserID

    WHILE 10 = 10
    BEGIN

    	SET @ParentUserID = NULL --reset var

    	-- get owner
    	SELECT
    		@ParentUserID = OwnerID
    	FROM Users
    	WHERE UserID = @TmpUserID

    	IF @ParentUserID IS NULL -- the last parent
    		BREAK

    	IF @ParentUserID = @ActorID
    	RETURN 1

    	SET @TmpUserID = @ParentUserID
    END

    RETURN 0
    END
GO
