SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUnallottedIPAddresses]
     @PackageID int,
     @ServiceID int,
     @PoolID int = 0
    AS
    BEGIN
     DECLARE @ParentPackageID int
     DECLARE @ServerID int
    IF (@PackageID = -1) -- NO PackageID defined, use ServerID from ServiceID (VPS Import)
    BEGIN
     SELECT
      @ServerID = ServerID,
      @ParentPackageID = 1
     FROM Services
     WHERE ServiceID = @ServiceID
    END
    ELSE
    BEGIN
     SELECT
      @ParentPackageID = ParentPackageID,
      @ServerID = ServerID
     FROM Packages
     WHERE PackageID = @PackageId
    END

    IF (@ParentPackageID = 1 OR @PoolID = 4 /* management network */) -- ""System"" space
    BEGIN
      -- check if server is physical
      IF EXISTS(SELECT * FROM Servers WHERE ServerID = @ServerID AND VirtualServer = 0)
      BEGIN
       -- physical server
       SELECT
        IP.AddressID,
        IP.ExternalIP,
        IP.InternalIP,
        IP.ServerID,
        IP.PoolID,
        IP.SubnetMask,
        IP.DefaultGateway,
        IP.VLAN
       FROM dbo.IPAddresses AS IP
       WHERE
        (IP.ServerID = @ServerID OR IP.ServerID IS NULL)
        AND IP.AddressID NOT IN (SELECT PIP.AddressID FROM dbo.PackageIPAddresses AS PIP)
        AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
       ORDER BY IP.ServerID DESC, IP.DefaultGateway, IP.ExternalIP
      END
      ELSE
      BEGIN
       -- virtual server
       -- get resource group by service
       DECLARE @GroupID int
       SELECT @GroupID = P.GroupID FROM Services AS S
       INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
       WHERE S.ServiceID = @ServiceID
       SELECT
        IP.AddressID,
        IP.ExternalIP,
        IP.InternalIP,
        IP.ServerID,
        IP.PoolID,
        IP.SubnetMask,
        IP.DefaultGateway,
        IP.VLAN
       FROM dbo.IPAddresses AS IP
       WHERE
        (IP.ServerID IN (
         SELECT SVC.ServerID FROM [dbo].[Services] AS SVC
         INNER JOIN [dbo].[Providers] AS P ON SVC.ProviderID = P.ProviderID
         WHERE [SVC].[ServiceID] = @ServiceId AND P.GroupID = @GroupID
        ) OR IP.ServerID IS NULL)
        AND IP.AddressID NOT IN (SELECT PIP.AddressID FROM dbo.PackageIPAddresses AS PIP)
        AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
       ORDER BY IP.ServerID DESC, IP.DefaultGateway, IP.ExternalIP
      END
     END
     ELSE -- 2rd level space and below
     BEGIN
      -- get service location
      SELECT @ServerID = S.ServerID FROM Services AS S
      WHERE S.ServiceID = @ServiceID
      SELECT
       IP.AddressID,
       IP.ExternalIP,
       IP.InternalIP,
       IP.ServerID,
       IP.PoolID,
       IP.SubnetMask,
       IP.DefaultGateway,
       IP.VLAN
      FROM dbo.PackageIPAddresses AS PIP
      INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
      WHERE
       PIP.PackageID = @ParentPackageID
       AND PIP.ItemID IS NULL
       AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
       AND (IP.ServerID = @ServerID OR IP.ServerID IS NULL)
      ORDER BY IP.ServerID DESC, IP.DefaultGateway, IP.ExternalIP
     END
    END
GO
