SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRDSCollectionSettings]
    (
    	@Id  int
    )
    AS

    DELETE FROM DeleteRDSCollectionSettings
    WHERE Id = @Id
GO
