SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculateQuotaUsage]
    (
    	@PackageID int,
    	@QuotaID int
    )
    RETURNS int
    AS
    	BEGIN

    		DECLARE @QuotaTypeID int
    		DECLARE @QuotaName nvarchar(50)
    		SELECT @QuotaTypeID = QuotaTypeID, @QuotaName = QuotaName FROM Quotas
    		WHERE QuotaID = @QuotaID

    		IF @QuotaTypeID <> 2
    			RETURN 0

    		DECLARE @Result int
    		DECLARE @vhd TABLE (Size int)

    		IF @QuotaID = 52 -- diskspace
    			SET @Result = dbo.CalculatePackageDiskspace(@PackageID)
    		ELSE IF @QuotaID = 51 -- bandwidth
    			SET @Result = dbo.CalculatePackageBandwidth(@PackageID)
    		ELSE IF @QuotaID = 53 -- domains
    			SET @Result = (SELECT COUNT(D.DomainID) FROM PackagesTreeCache AS PT
    				INNER JOIN Domains AS D ON D.PackageID = PT.PackageID
    				WHERE IsSubDomain = 0 AND IsPreviewDomain = 0 AND IsDomainPointer = 0 AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 54 -- sub-domains
    			SET @Result = (SELECT COUNT(D.DomainID) FROM PackagesTreeCache AS PT
    				INNER JOIN Domains AS D ON D.PackageID = PT.PackageID
    				WHERE IsSubDomain = 1 AND IsPreviewDomain = 0 AND IsDomainPointer = 0 AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 220 -- domain pointers
    			SET @Result = (SELECT COUNT(D.DomainID) FROM PackagesTreeCache AS PT
    				INNER JOIN Domains AS D ON D.PackageID = PT.PackageID
    				WHERE IsDomainPointer = 1 AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 71 -- scheduled tasks
    			SET @Result = (SELECT COUNT(S.ScheduleID) FROM PackagesTreeCache AS PT
    				INNER JOIN Schedule AS S ON S.PackageID = PT.PackageID
    				WHERE PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 305 -- RAM of VPS
    			SET @Result = (SELECT SUM(CAST(SIP.PropertyValue AS int)) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'RamSize' AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 302 -- CpuNumber of VPS
    			SET @Result = (SELECT SUM(CAST(SIP.PropertyValue AS int)) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'CpuCores' AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 306 -- HDD of VPS
    		BEGIN
    			INSERT INTO @vhd
    			SELECT (SELECT SUM(CAST([value] AS int)) AS value FROM dbo.SplitString(SIP.PropertyValue,';')) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'HddSize' AND PT.ParentPackageID = @PackageID
    			SET @Result = (SELECT SUM(Size) FROM @vhd)
    		END
    		ELSE IF @QuotaID = 309 -- External IP addresses of VPS
    			SET @Result = (SELECT COUNT(PIP.PackageAddressID) FROM PackageIPAddresses AS PIP
    							INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    							INNER JOIN PackagesTreeCache AS PT ON PIP.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID AND IP.PoolID = 3)
    		ELSE IF @QuotaID = 555 -- CpuNumber of VPS2012
    			SET @Result = (SELECT SUM(CAST(SIP.PropertyValue AS int)) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'CpuCores' AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 558 BEGIN -- RAM of VPS2012
    			DECLARE @Result1 int
    			SET @Result1 = (SELECT SUM(CAST(SIP.PropertyValue AS int)) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'RamSize' AND PT.ParentPackageID = @PackageID)
    			DECLARE @Result2 int
    			SET @Result2 = (SELECT SUM(CAST(SIP.PropertyValue AS int)) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN ServiceItemProperties AS SIP2 ON 
    								SIP2.ItemID = SI.ItemID AND SIP2.PropertyName = 'DynamicMemory.Enabled' AND SIP2.PropertyValue = 'True'
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'DynamicMemory.Maximum' AND PT.ParentPackageID = @PackageID)
    			SET @Result = CASE WHEN isnull(@Result1,0) > isnull(@Result2,0) THEN @Result1 ELSE @Result2 END
    		END
    		ELSE IF @QuotaID = 559 -- HDD of VPS2012
    		BEGIN
    			INSERT INTO @vhd
    			SELECT (SELECT SUM(CAST([value] AS int)) AS value FROM dbo.SplitString(SIP.PropertyValue,';')) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'HddSize' AND PT.ParentPackageID = @PackageID
    			SET @Result = (SELECT SUM(Size) FROM @vhd)
    		END
    		ELSE IF @QuotaID = 562 -- External IP addresses of VPS2012
    			SET @Result = (SELECT COUNT(PIP.PackageAddressID) FROM PackageIPAddresses AS PIP
    							INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    							INNER JOIN PackagesTreeCache AS PT ON PIP.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID AND IP.PoolID = 3)
    		ELSE IF @QuotaID = 728 -- Private Network VLANs of VPS2012
    			SET @Result = (SELECT COUNT(PV.PackageVlanID) FROM PackageVLANs AS PV
    							INNER JOIN PrivateNetworkVLANs AS V ON PV.VlanID = V.VlanID
    							INNER JOIN PackagesTreeCache AS PT ON PV.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 100 -- Dedicated Web IP addresses
    			SET @Result = (SELECT COUNT(PIP.PackageAddressID) FROM PackageIPAddresses AS PIP
    							INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    							INNER JOIN PackagesTreeCache AS PT ON PIP.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID AND IP.PoolID = 2)
    		ELSE IF @QuotaID = 350 -- RAM of VPSforPc
    			SET @Result = (SELECT SUM(CAST(SIP.PropertyValue AS int)) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'Memory' AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 347 -- CpuNumber of VPSforPc
    			SET @Result = (SELECT SUM(CAST(SIP.PropertyValue AS int)) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'CpuCores' AND PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 351 -- HDD of VPSforPc
    		BEGIN
    			INSERT INTO @vhd
    			SELECT (SELECT SUM(CAST([value] AS int)) AS value FROM dbo.SplitString(SIP.PropertyValue,';')) FROM ServiceItemProperties AS SIP
    							INNER JOIN ServiceItems AS SI ON SIP.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID
    							WHERE SIP.PropertyName = 'HddSize' AND PT.ParentPackageID = @PackageID
    			SET @Result = (SELECT SUM(Size) FROM @vhd)
    		END
    		ELSE IF @QuotaID = 354 -- External IP addresses of VPSforPc
    			SET @Result = (SELECT COUNT(PIP.PackageAddressID) FROM PackageIPAddresses AS PIP
    							INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    							INNER JOIN PackagesTreeCache AS PT ON PIP.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID AND IP.PoolID = 3)
    		ELSE IF @QuotaID = 319 -- BB Users
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts ea 
    							INNER JOIN BlackBerryUsers bu ON ea.AccountID = bu.AccountID
    							INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    							INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    							WHERE pt.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 320 -- OCS Users
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts ea 
    							INNER JOIN OCSUsers ocs ON ea.AccountID = ocs.AccountID
    							INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    							INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    							WHERE pt.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 206 -- HostedSolution.Users
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts AS ea
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE pt.ParentPackageID = @PackageID AND ea.AccountType IN (1,5,6,7))
    		ELSE IF @QuotaID = 78 -- Exchange2007.Mailboxes
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts AS ea
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE pt.ParentPackageID = @PackageID 
    				AND ea.AccountType IN (1)
    				AND ea.MailboxPlanId IS NOT NULL)
    		ELSE IF @QuotaID = 731 -- Exchange2013.JournalingMailboxes
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts AS ea
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE pt.ParentPackageID = @PackageID 
    				AND ea.AccountType IN (12)
    				AND ea.MailboxPlanId IS NOT NULL)
    		ELSE IF @QuotaID = 77 -- Exchange2007.DiskSpace
    			SET @Result = (SELECT SUM(B.MailboxSizeMB) FROM ExchangeAccounts AS ea 
    			INNER JOIN ExchangeMailboxPlans AS B ON ea.MailboxPlanId = B.MailboxPlanId 
    			INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    			INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    			WHERE pt.ParentPackageID = @PackageID AND ea.AccountType in (1, 5, 6, 10, 12))
    		ELSE IF @QuotaID = 370 -- Lync.Users
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts AS ea
    				INNER JOIN LyncUsers lu ON ea.AccountID = lu.AccountID
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE pt.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 376 -- Lync.EVUsers
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts AS ea
    				INNER JOIN LyncUsers lu ON ea.AccountID = lu.AccountID
    				INNER JOIN LyncUserPlans lp ON lu.LyncUserPlanId = lp.LyncUserPlanId
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE pt.ParentPackageID = @PackageID AND lp.EnterpriseVoice = 1)
    		ELSE IF @QuotaID = 381 -- Dedicated Lync Phone Numbers
    			SET @Result = (SELECT COUNT(PIP.PackageAddressID) FROM PackageIPAddresses AS PIP
    							INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    							INNER JOIN PackagesTreeCache AS PT ON PIP.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID AND IP.PoolID = 5)
    		ELSE IF @QuotaID = 430 -- Enterprise Storage
    			SET @Result = (SELECT SUM(ESF.FolderQuota) FROM EnterpriseFolders AS ESF
    							INNER JOIN ServiceItems  SI ON ESF.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache PT ON SI.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 431 -- Enterprise Storage Folders
    			SET @Result = (SELECT COUNT(ESF.EnterpriseFolderID) FROM EnterpriseFolders AS ESF
    							INNER JOIN ServiceItems  SI ON ESF.ItemID = SI.ItemID
    							INNER JOIN PackagesTreeCache PT ON SI.PackageID = PT.PackageID
    							WHERE PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 423 -- HostedSolution.SecurityGroups
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts AS ea
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE pt.ParentPackageID = @PackageID AND ea.AccountType IN (8,9))
    		ELSE IF @QuotaID = 495 -- HostedSolution.DeletedUsers
    			SET @Result = (SELECT COUNT(ea.AccountID) FROM ExchangeAccounts AS ea
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE pt.ParentPackageID = @PackageID AND ea.AccountType = 11)
    		ELSE IF @QuotaID = 450
    			SET @Result = (SELECT COUNT(DISTINCT(RCU.[AccountId])) FROM [dbo].[RDSCollectionUsers] RCU
    				INNER JOIN ExchangeAccounts EA ON EA.AccountId = RCU.AccountId
    				INNER JOIN ServiceItems  si ON ea.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 451
    			SET @Result = (SELECT COUNT(RS.[ID]) FROM [dbo].[RDSServers] RS				
    				INNER JOIN ServiceItems  si ON RS.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaID = 491
    			SET @Result = (SELECT COUNT(RC.[ID]) FROM [dbo].[RDSCollections] RC
    				INNER JOIN ServiceItems  si ON RC.ItemID = si.ItemID
    				INNER JOIN PackagesTreeCache pt ON si.PackageID = pt.PackageID
    				WHERE PT.ParentPackageID = @PackageID)
    		ELSE IF @QuotaName like 'ServiceLevel.%' -- Support Service Level Quota
    		BEGIN
    			DECLARE @LevelID int

    			SELECT @LevelID = LevelID FROM SupportServiceLevels
    			WHERE LevelName = REPLACE(@QuotaName,'ServiceLevel.','')

    			IF (@LevelID IS NOT NULL)
    			SET @Result = (SELECT COUNT(EA.AccountID)
    				FROM SupportServiceLevels AS SL
    				INNER JOIN ExchangeAccounts AS EA ON SL.LevelID = EA.LevelID
    				INNER JOIN ServiceItems  SI ON EA.ItemID = SI.ItemID
    				INNER JOIN PackagesTreeCache PT ON SI.PackageID = PT.PackageID
    				WHERE EA.LevelID = @LevelID AND PT.ParentPackageID = @PackageID)
    			ELSE SET @Result = 0
    		END
    		ELSE
    			SET @Result = (SELECT COUNT(SI.ItemID) FROM Quotas AS Q
    			INNER JOIN ServiceItems AS SI ON SI.ItemTypeID = Q.ItemTypeID
    			INNER JOIN PackagesTreeCache AS PT ON SI.PackageID = PT.PackageID AND PT.ParentPackageID = @PackageID
    			WHERE Q.QuotaID = @QuotaID)

    		RETURN @Result
    	END
GO
