SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddItemPrivateIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@IPAddress varchar(15)
    )
    AS

    IF EXISTS (SELECT ItemID FROM ServiceItems AS SI WHERE
    	ItemID = @ItemID AND -- bugfix added by Simon Egli, 27.6.2024
    	dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1)
    BEGIN

    	INSERT INTO PrivateIPAddresses
    	(
    		ItemID,
    		IPAddress,
    		IsPrimary
    	)
    	VALUES
    	(
    		@ItemID,
    		@IPAddress,
    		0 -- not primary
    	)

    END

    RETURN
GO
