SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddIPAddress]
    (
     @AddressID int OUTPUT,
     @ServerID int,
     @ExternalIP varchar(24),
     @InternalIP varchar(24),
     @PoolID int,
     @SubnetMask varchar(15),
     @DefaultGateway varchar(15),
     @Comments ntext,
     @VLAN int
    )
    AS
    BEGIN
     IF @ServerID = 0
     SET @ServerID = NULL

     INSERT INTO IPAddresses (ServerID, ExternalIP, InternalIP, PoolID, SubnetMask, DefaultGateway, Comments, VLAN)
     VALUES (@ServerID, @ExternalIP, @InternalIP, @PoolID, @SubnetMask, @DefaultGateway, @Comments, @VLAN)

     SET @AddressID = SCOPE_IDENTITY()

     RETURN
    END
GO
