SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationDeletedUser]
    (
    	@AccountID int
    )
    AS
    SELECT
    	EDA.AccountID,
    	EDA.OriginAT,
    	EDA.StoragePath,
    	EDA.FolderName,
    	EDA.FileName,
    	EDA.ExpirationDate
    FROM
    	ExchangeDeletedAccounts AS EDA
    WHERE
    	EDA.AccountID = @AccountID
    RETURN
GO
