SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCRMOrganizationUsers]
    	@ItemID int
    AS
    BEGIN
    	SELECT
    		ea.AccountID,
    		ea.ItemID,
    		ea.AccountName,
    		ea.DisplayName,
    		ea.PrimaryEmailAddress,
    		ea.SamAccountName
    	FROM
    		ExchangeAccounts ea
    	INNER JOIN
    		CRMUsers cu
    	ON
    		ea.AccountID = cu.AccountID
    	WHERE
    		ea.ItemID = @ItemID
    END
GO
