SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnterpriseFolder]
    (
    	@ItemID INT,
    	@FolderName NVARCHAR(255)
    )
    AS

    SELECT TOP 1
    	ST.EnterpriseFolderID,
    	ST.ItemID,
    	ST.FolderName,
    	ST.FolderQuota,
    	ST.LocationDrive,
    	ST.HomeFolder,
    	ST.Domain,
    	ST.StorageSpaceFolderId,
    	ssf.Name,
    	ssf.StorageSpaceId,
    	ssf.Path,
    	ssf.UncPath,
    	ssf.IsShared,
    	ssf.FsrmQuotaType,
    	ssf.FsrmQuotaSizeBytes
    FROM EnterpriseFolders AS ST
    LEFT OUTER JOIN StorageSpaceFolders as ssf on ssf.Id = ST.StorageSpaceFolderId
    WHERE ItemID = @ItemID AND FolderName = @FolderName
GO
