SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetResourceGroupByName]
    (
    	@GroupName nvarchar(100)
    )
    AS
    SELECT
    	RG.GroupID,
    	RG.GroupOrder,
    	RG.GroupName,
    	RG.GroupController
    FROM ResourceGroups AS RG
    WHERE RG.GroupName = @GroupName

    RETURN
GO
