SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSCollectionSettingsByCollectionId]
    (
    	@RDSCollectionID INT
    )
    AS

    SELECT TOP 1
    	Id,
    	RDSCollectionId,
    	DisconnectedSessionLimitMin, 
    	ActiveSessionLimitMin,
    	IdleSessionLimitMin,
    	BrokenConnectionAction,
    	AutomaticReconnectionEnabled,
    	TemporaryFoldersDeletedOnExit,
    	TemporaryFoldersPerSession,
    	ClientDeviceRedirectionOptions,
    	ClientPrinterRedirected,
    	ClientPrinterAsDefault,
    	RDEasyPrintDriverEnabled,
    	MaxRedirectedMonitors,
    	SecurityLayer,
    	EncryptionLevel,
    	AuthenticateUsingNLA

    	FROM RDSCollectionSettings
    	WHERE RDSCollectionID = @RDSCollectionID
GO
