SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceItemTypes]
    AS
    SELECT
    	[ItemTypeID],
    	[GroupID],
    	[DisplayName],
    	[TypeName],
    	[TypeOrder],
    	[CalculateDiskspace],
    	[CalculateBandwidth],
    	[Suspendable],
    	[Disposable],
    	[Searchable],
    	[Importable],
    	[Backupable]
    FROM
    	[ServiceItemTypes]
    ORDER BY TypeOrder
GO
