SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeMailboxPlans]
    (
    	@ItemID int,
    	@Archiving bit
    )
    AS
    SELECT
    	MailboxPlanId,
    	ItemID,
    	MailboxPlan,
    	EnableActiveSync,
    	EnableIMAP,
    	EnableMAPI,
    	EnableOWA,
    	EnablePOP,
    	EnableAutoReply,
    	IsDefault,
    	IssueWarningPct,
    	KeepDeletedItemsDays,
    	MailboxSizeMB,
    	MaxReceiveMessageSizeKB,
    	MaxRecipients,
    	MaxSendMessageSizeKB,
    	ProhibitSendPct,
    	ProhibitSendReceivePct,
    	HideFromAddressBook,
    	MailboxPlanType,
    	Archiving,
    	EnableArchiving,
    	ArchiveSizeMB,
    	ArchiveWarningPct,
    	EnableForceArchiveDeletion,
    	IsForJournaling
    FROM
    	ExchangeMailboxPlans
    WHERE
    	ItemID = @ItemID 
    AND ((Archiving=@Archiving) OR ((@Archiving=0) AND (Archiving IS NULL)))
    ORDER BY MailboxPlan
    RETURN
GO
