SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserPeers]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    DECLARE @CanGetDetails bit
    SET @CanGetDetails = dbo.CanGetUserDetails(@ActorID, @UserID)

    SELECT
    	U.UserID,
    	U.RoleID,
    	U.StatusID,
    	U.LoginStatusId,
    	U.FailedLogins,
    	U.OwnerID,
    	U.Created,
    	U.Changed,
    	U.IsDemo,
    	U.Comments,
    	U.IsPeer,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.Email,
    	U.FullName,
    	(U.FirstName + ' ' + U.LastName) AS FullName,
    	U.CompanyName,
    	U.EcommerceEnabled
    FROM UsersDetailed AS U
    WHERE U.OwnerID = @UserID AND IsPeer = 1
    AND @CanGetDetails = 1 -- actor rights

    RETURN
GO
