SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRDSCollection]
    (
    	@Id  int
    )
    AS

    UPDATE RDSServers
    SET
    	RDSCollectionId = Null
    WHERE RDSCollectionId = @Id

    DELETE FROM RDSCollections
    WHERE Id = @Id
GO
