SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageIPAddresses]
    (
     @PackageID int,
     @OrgID int,
     @FilterColumn nvarchar(50) = '',
     @FilterValue nvarchar(50) = '',
     @SortColumn nvarchar(50),
     @StartRow int,
     @MaximumRows int,
     @PoolID int = 0,
     @Recursive bit = 0
    )
    AS
    BEGIN
    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    ((@Recursive = 0 AND PA.PackageID = @PackageID)
    OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, PA.PackageID) = 1))
    AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
    AND (@OrgID = 0 OR @OrgID <> 0 AND PA.OrgID = @OrgID)
    '

    IF @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
     IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
      SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
     ELSE
      SET @condition = @condition + '
       AND (ExternalIP LIKE ''' + @FilterValue + '''
       OR InternalIP LIKE ''' + @FilterValue + '''
       OR DefaultGateway LIKE ''' + @FilterValue + '''
       OR ItemName LIKE ''' + @FilterValue + '''
       OR Username LIKE ''' + @FilterValue + ''')'
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'IP.ExternalIP ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(PA.PackageAddressID)
    FROM dbo.PackageIPAddresses PA
    INNER JOIN dbo.IPAddresses AS IP ON PA.AddressID = IP.AddressID
    INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    INNER JOIN dbo.Users U ON U.UserID = P.UserID
    LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    WHERE ' + @condition + '

    DECLARE @Addresses AS TABLE
    (
     PackageAddressID int
    );

    WITH TempItems AS (
     SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
      PA.PackageAddressID
     FROM dbo.PackageIPAddresses PA
     INNER JOIN dbo.IPAddresses AS IP ON PA.AddressID = IP.AddressID
     INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
     INNER JOIN dbo.Users U ON U.UserID = P.UserID
     LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
     WHERE ' + @condition + '
    )

    INSERT INTO @Addresses
    SELECT PackageAddressID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
     PA.PackageAddressID,
     PA.AddressID,
     IP.ExternalIP,
     IP.InternalIP,
     IP.SubnetMask,
     IP.DefaultGateway,
     IP.VLAN,
     PA.ItemID,
     SI.ItemName,
     PA.PackageID,
     P.PackageName,
     P.UserID,
     U.UserName,
     PA.IsPrimary
    FROM @Addresses AS TA
    INNER JOIN dbo.PackageIPAddresses AS PA ON TA.PackageAddressID = PA.PackageAddressID
    INNER JOIN dbo.IPAddresses AS IP ON PA.AddressID = IP.AddressID
    INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    INNER JOIN dbo.Users U ON U.UserID = P.UserID
    LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    '

    print @sql

    exec sp_executesql @sql, N'@PackageID int, @OrgID int, @StartRow int, @MaximumRows int, @Recursive bit, @PoolID int',
    @PackageID, @OrgID, @StartRow, @MaximumRows, @Recursive, @PoolID

    END
GO
