SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetScheduleInternal]
    (
    	@ScheduleID int
    )
    AS

    -- select schedule
    SELECT
    	S.ScheduleID,
    	S.TaskID,
    	ST.TaskType,
    	ST.RoleID,
    	S.PackageID,
    	S.ScheduleName,
    	S.ScheduleTypeID,
    	S.Interval,
    	S.FromTime,
    	S.ToTime,
    	S.StartTime,
    	S.LastRun,
    	S.NextRun,
    	S.Enabled,
    	1 AS StatusID,
    	S.PriorityID,
    	S.HistoriesNumber,
    	S.MaxExecutionTime,
    	S.WeekMonthDay
    FROM Schedule AS S
    INNER JOIN ScheduleTasks AS ST ON S.TaskID = ST.TaskID
    WHERE ScheduleID = @ScheduleID
    RETURN
GO
