SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSServerSettings]
    (
    	@ServerId int,
    	@SettingsName nvarchar(50)
    )
    AS
    	SELECT RDSServerId, PropertyName, PropertyValue, ApplyUsers, ApplyAdministrators
    	FROM RDSServerSettings
    	WHERE RDSServerId = @ServerId AND SettingsName = @SettingsName
GO
