SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBackgroundTasks]
    (
    	@Guid UNIQUEIDENTIFIER
    )
    AS

    DELETE FROM BackgroundTaskStack
    WHERE TaskID IN (SELECT ID FROM BackgroundTasks WHERE Guid = @Guid)

    DELETE FROM BackgroundTaskLogs
    WHERE TaskID IN (SELECT ID FROM BackgroundTasks WHERE Guid = @Guid)

    DELETE FROM BackgroundTaskParameters
    WHERE TaskID IN (SELECT ID FROM BackgroundTasks WHERE Guid = @Guid)

    DELETE FROM BackgroundTasks
    WHERE ID IN (SELECT ID FROM BackgroundTasks WHERE Guid = @Guid)
GO
