SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateService]
    (
    	@ServiceID int,
    	@ServiceName nvarchar(50),
    	@Comments ntext,
    	@ServiceQuotaValue int,
    	@ClusterID int
    )
    AS

    IF @ClusterID = 0 SET @ClusterID = NULL

    UPDATE Services
    SET
    	ServiceName = @ServiceName,
    	ServiceQuotaValue = @ServiceQuotaValue,
    	Comments = @Comments,
    	ClusterID = @ClusterID
    WHERE ServiceID = @ServiceID

    RETURN
GO
