SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSCollectionSettings]
    (
    	@RDSCollectionSettingsID INT OUTPUT,
    	@RDSCollectionId INT,
    	@DisconnectedSessionLimitMin INT, 
    	@ActiveSessionLimitMin INT,
    	@IdleSessionLimitMin INT,
    	@BrokenConnectionAction NVARCHAR(20),
    	@AutomaticReconnectionEnabled BIT,
    	@TemporaryFoldersDeletedOnExit BIT,
    	@TemporaryFoldersPerSession BIT,
    	@ClientDeviceRedirectionOptions NVARCHAR(250),
    	@ClientPrinterRedirected BIT,
    	@ClientPrinterAsDefault BIT,
    	@RDEasyPrintDriverEnabled BIT,
    	@MaxRedirectedMonitors INT,
    	@SecurityLayer NVARCHAR(20),
    	@EncryptionLevel NVARCHAR(20),
    	@AuthenticateUsingNLA BIT
    )
    AS

    INSERT INTO RDSCollectionSettings
    (
    	RDSCollectionId,
    	DisconnectedSessionLimitMin, 
    	ActiveSessionLimitMin,
    	IdleSessionLimitMin,
    	BrokenConnectionAction,
    	AutomaticReconnectionEnabled,
    	TemporaryFoldersDeletedOnExit,
    	TemporaryFoldersPerSession,
    	ClientDeviceRedirectionOptions,
    	ClientPrinterRedirected,
    	ClientPrinterAsDefault,
    	RDEasyPrintDriverEnabled,
    	MaxRedirectedMonitors,
    	SecurityLayer,
    	EncryptionLevel,
    	AuthenticateUsingNLA
    )
    VALUES
    (
    	@RDSCollectionId,
    	@DisconnectedSessionLimitMin, 
    	@ActiveSessionLimitMin,
    	@IdleSessionLimitMin,
    	@BrokenConnectionAction,
    	@AutomaticReconnectionEnabled,
    	@TemporaryFoldersDeletedOnExit,
    	@TemporaryFoldersPerSession,
    	@ClientDeviceRedirectionOptions,
    	@ClientPrinterRedirected,
    	@ClientPrinterAsDefault,
    	@RDEasyPrintDriverEnabled,
    	@MaxRedirectedMonitors,
    	@SecurityLayer,
    	@EncryptionLevel,
    	@AuthenticateUsingNLA
    )

    SET @RDSCollectionSettingsID = SCOPE_IDENTITY()

    RETURN
GO
