SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddWebDavAccessToken]
    (
    	@TokenID INT OUTPUT,
    	@FilePath NVARCHAR(MAX),
    	@AccessToken UNIQUEIDENTIFIER,
    	@AuthData NVARCHAR(MAX),
    	@ExpirationDate DATETIME,
    	@AccountID INT,
    	@ItemId INT
    )
    AS
    INSERT INTO WebDavAccessTokens
    (
    	FilePath,
    	AccessToken,
    	AuthData,
    	ExpirationDate,
    	AccountID  ,
    	ItemId
    )
    VALUES
    (
    	@FilePath ,
    	@AccessToken  ,
    	@AuthData,
    	@ExpirationDate ,
    	@AccountID,
    	@ItemId
    )

    SET @TokenID = SCOPE_IDENTITY()

    RETURN
GO
