SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationObjectsByDomain]
    (
            @ItemID int,
            @DomainName nvarchar(100)
    )
    AS
    SELECT
    	'ExchangeAccounts' as ObjectName,
            AccountID as ObjectID,
    	AccountType as ObjectType,
            DisplayName as DisplayName,
    	0 as OwnerID
    FROM
            ExchangeAccounts
    WHERE
    	UserPrincipalName LIKE '%@'+ @DomainName AND AccountType!=2
    UNION
    SELECT
    	'ExchangeAccountEmailAddresses' as ObjectName,
    	eam.AddressID as ObjectID,
    	ea.AccountType as ObjectType,
    	eam.EmailAddress as DisplayName,
    	eam.AccountID as OwnerID
    FROM
    	ExchangeAccountEmailAddresses as eam
    INNER JOIN 
    	ExchangeAccounts ea
    ON 
    	ea.AccountID = eam.AccountID
    WHERE
    	(ea.PrimaryEmailAddress != eam.EmailAddress)
    	AND (ea.UserPrincipalName != eam.EmailAddress)
    	AND (eam.EmailAddress LIKE '%@'+ @DomainName)
    UNION
    SELECT 
    	'SfBUsers' as ObjectName,
    	ea.AccountID as ObjectID,
    	ea.AccountType as ObjectType,
    	ea.DisplayName as DisplayName,
    	0 as OwnerID
    FROM 
    	ExchangeAccounts ea 
    INNER JOIN 
    	SfBUsers ou
    ON 
    	ea.AccountID = ou.AccountID
    WHERE 
    	ou.SipAddress LIKE '%@'+ @DomainName
    UNION
    SELECT 
    	'LyncUsers' as ObjectName,
    	ea.AccountID as ObjectID,
    	ea.AccountType as ObjectType,
    	ea.DisplayName as DisplayName,
    	0 as OwnerID
    FROM 
    	ExchangeAccounts ea 
    INNER JOIN 
    	LyncUsers ou
    ON 
    	ea.AccountID = ou.AccountID
    WHERE 
    	ou.SipAddress LIKE '%@'+ @DomainName
    ORDER BY 
    	DisplayName
    RETURN
GO
