SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
    Algorythm:
    	0. Get the primary distribution resource from hosting plan
    	1. Check whether user has Resource of requested type in his user plans/add-ons
    		EXCEPTION ""The requested service is not available for the user. The resource of the requested type {type} should be assigned to him through hosting plan or add-on""
    		1.1 If the number of returned reources is greater than 1
    			EXCEPTION ""User has several resources assigned of the requested type""

    	2. If the requested resource has 0 services
    		EXCEPTION ""The resource {name} of type {type} should contain atleast one service
    	3. If the requested resource has one service
    		remember the ID of this single service
    	4. If the requested resource has several services DO distribution:

    		4.1. If the resource is NOT BOUNDED or is PRIMARY DISTRIBUTION RESOURCE
    			if PRIMARY DISTRIBUTION RESOURCE and exists in UserServices
    				return serviceId from UserServices table

    			remember any service from that resource according to distribution type (""BALANCED"" or ""RANDOM"") - get the number of ServiceItems for each service

    		4.2. If the resource is BOUNDED to primary distribution resource
    			- If the primary distribution resource is NULL
    			EXCEPTION ""Requested resource marked as bound to primary distribution resource, but there is no any resources in hosting plan marked as primary""

    			- Get the service id of the primary distribution resource
    			GetServiceId(userId, primaryResourceId)

    		Get from user assigned hosting plan

    	5. If it is PRIMARY DISTRIBUTION RESOURCE
    		Save it's ID to UserServices table

    	6. return serviceId

    ERROR CODES:
    	-1 - there are several hosting plans with PDR assigned to that user
    	-2 - The requested service is not available for the user. The resource of the
    		requested type {type} should be assigned to him through hosting plan or add-on
    	-3 - several resources of the same type was assigned through hosting plan or add-on
    	-4 - The resource {name} of type {type} should contain atleast one service
    	-5 - Requested resource marked as bound to primary distribution resource,
    		but there is no any resources in hosting plan marked as primary
    	-6 - the server where PDR is located doesn't contain the service of requested resource type
    */
    CREATE PROCEDURE [dbo].[GetUserServiceID]
    (
    	@UserID int,
    	@TypeName nvarchar(1000),
    	@ServiceID int OUTPUT
    )
    AS
    	DECLARE @PrimaryResourceID int -- primary distribution resource assigned through hosting plan

    	----------------------------------------
    	-- Get the primary distribution resource
    	----------------------------------------
    	IF (SELECT COUNT (HP.PrimaryResourceID) FROM PurchasedHostingPlans AS PHP
    	INNER JOIN HostingPlans AS HP ON PHP.PlanID = HP.PlanID
    	WHERE PHP.UserID = @UserID AND HP.PrimaryResourceID IS NOT NULL AND HP.PrimaryResourceID <> 0) > 1
    	BEGIN
    		SET @ServiceID = -1
    		RETURN
    	END

    	SELECT @PrimaryResourceID = HP.PrimaryResourceID FROM PurchasedHostingPlans AS PHP
    	INNER JOIN HostingPlans AS HP ON PHP.PlanID = HP.PlanID
    	WHERE PHP.UserID = @UserID AND HP.PrimaryResourceID IS NOT NULL AND HP.PrimaryResourceID <> 0

    	----------------------------------------------
    	-- Check whether user has a resource
    	-- of this type in his hosting plans or addons
    	----------------------------------------------
    	DECLARE @UserResourcesTable TABLE
    	(
    		ResourceID int
    	)
    	INSERT INTO @UserResourcesTable
    	SELECT DISTINCT HPR.ResourceID FROM PurchasedHostingPlans AS PHP
    		INNER JOIN HostingPlans AS HP ON PHP.PlanID = HP.PlanID
    		INNER JOIN HostingPlanResources AS HPR ON HP.PlanID = HPR.PlanID
    		INNER JOIN Resources AS R ON HPR.ResourceID = R.ResourceID
    		INNER JOIN ServiceTypes AS ST ON R.ServiceTypeID = ST.ServiceTypeID
    		WHERE PHP.UserID = @UserID AND (ST.ImplementedTypeNames LIKE @TypeName OR ST.TypeName LIKE @TypeName)

    	----------------------------------------
    	-- Check resources number
    	----------------------------------------
    	DECLARE @ResourcesCount int
    	SET @ResourcesCount = @@ROWCOUNT
    	IF @ResourcesCount = 0
    	BEGIN
    		SET @ServiceID = -2 -- user doesn't have requested service assigned
    		RETURN
    	END
    	IF @ResourcesCount > 1
    	BEGIN
    		SET @ServiceID = -3 -- several resources of the same type was assigned
    		RETURN
    	END

    	----------------------------------------
    	-- Check services number
    	----------------------------------------
    	DECLARE @ResourceID int
    	SET @ResourceID = (SELECT TOP 1 ResourceID FROM @UserResourcesTable)

    	DECLARE @UserServicesTable TABLE
    	(
    		ServiceID int,
    		ServerID int,
    		ItemsNumber int,
    		Randomizer float
    	)
    	INSERT INTO @UserServicesTable
    	SELECT
    		RS.ServiceID,
    		S.ServerID,
    		(SELECT COUNT(ItemID) FROM ServiceItems AS SI WHERE SI.ServiceID = RS.ServiceID),
    		RAND()
    	FROM ResourceServices AS RS
    	INNER JOIN Services AS S ON RS.ServiceID = S.ServiceID
    	WHERE RS.ResourceID = @ResourceID

    	DECLARE @ServicesCount int
    	SET @ServicesCount = @@ROWCOUNT
    	IF @ServicesCount = 0
    	BEGIN
    		SET @ServiceID = -4 -- The resource {name} of type {type} should contain atleast one service
    		RETURN
    	END

    	-- try to return from UserServices
    	-- if it is a PDR
    	IF @ResourceID = @PrimaryResourceID
    	BEGIN
    		-- check in UserServices table
    		SELECT @ServiceID = US.ServiceID FROM ResourceServices AS RS
    		INNER JOIN UserServices AS US ON RS.ServiceID = US.ServiceID
    		WHERE RS.ResourceID = @ResourceID AND US.UserID = @UserID

    		-- check validness of the current primary service id
    		IF @ServiceID IS NOT NULL
    		BEGIN
    			IF EXISTS(SELECT ResourceServiceID FROM ResourceServices
    			WHERE ResourceID = @ResourceID AND ServiceID = @ServiceID)
    				RETURN
    			ELSE -- invalidate service
    				DELETE FROM UserServices WHERE UserID = @UserID
    		END
    	END

    	IF @ServicesCount = 1
    	BEGIN
    		-- nothing to distribute
    		-- just remember this single service id
    		SET @ServiceID = (SELECT TOP 1 ServiceID FROM @UserServicesTable)
    	END
    	ELSE
    	BEGIN
    		-- the service should be distributed
    		DECLARE @DistributionTypeID int
    		DECLARE @BoundToPrimaryResource bit
    		SELECT @DistributionTypeID = R.DistributionTypeID, @BoundToPrimaryResource = R.BoundToPrimaryResource
    		FROM Resources AS R WHERE R.ResourceID = @ResourceID

    		IF @BoundToPrimaryResource = 0 OR @ResourceID = @PrimaryResourceID
    		BEGIN
    			IF @ResourceID = @PrimaryResourceID -- it's PDR itself
    			BEGIN
    				-- check in UserServices table
    				SELECT @ServiceID = US.ServiceID FROM ResourceServices AS RS
    				INNER JOIN UserServices AS US ON RS.ServiceID = US.ServiceID
    				WHERE RS.ResourceID = @ResourceID AND US.UserID = @UserID

    				-- check validness of the current primary service id
    				IF @ServiceID IS NOT NULL
    				BEGIN
    					IF EXISTS(SELECT ResourceServiceID FROM ResourceServices
    					WHERE ResourceID = @ResourceID AND ServiceID = @ServiceID)
    						RETURN
    					ELSE -- invalidate service
    						DELETE FROM UserServices WHERE UserID = @UserID
    				END
    			END

    			-- distribute
    			IF @DistributionTypeID = 1 -- BALANCED distribution
    				SELECT @ServiceID = ServiceID FROM @UserServicesTable
    				ORDER BY ItemsNumber ASC
    			ELSE -- RANDOM distribution
    				SELECT @ServiceID = ServiceID FROM @UserServicesTable
    				ORDER BY Randomizer
    		END
    		ELSE -- BOUND to PDR resource
    		BEGIN
    			IF @PrimaryResourceID IS NULL
    			BEGIN
    				SET @ServiceID = -5 -- Requested resource marked as bound to primary distribution resource,
    									-- but there is no any resources in hosting plan marked as primary
    				RETURN
    			END

    			-- get the type of primary resource
    			DECLARE @PrimaryTypeName nvarchar(200)
    			SELECT @PrimaryTypeName = ST.TypeName FROM  Resources AS R
    			INNER JOIN ServiceTypes AS ST ON R.ServiceTypeID = ST.ServiceTypeID
    			WHERE R.ResourceID = @PrimaryResourceID

    			DECLARE @PrimaryServiceID int
    			EXEC GetUserServiceID @UserID, @PrimaryTypeName, @PrimaryServiceID OUTPUT

    			IF @PrimaryServiceID < 0
    			BEGIN
    				SET @ServiceID = @PrimaryServiceID
    				RETURN
    			END

    			DECLARE @ServerID int
    			SET @ServerID = (SELECT ServerID FROM Services WHERE ServiceID = @PrimaryServiceID)

    			-- try to get the service of the requested type on PDR server
    			SET @ServiceID = (SELECT ServiceID FROM @UserServicesTable WHERE ServerID = @ServerID)

    			IF @ServiceID IS NULL
    			BEGIN
    				SET @ServiceID = -6 -- the server where PDR is located doesn't contain the service of requested resource type
    			END
    		END
    	END

    	IF @ResourceID = @PrimaryResourceID -- it's PDR
    	BEGIN
    		DELETE FROM UserServices WHERE UserID = @UserID

    		INSERT INTO UserServices (UserID, ServiceID)
    		VALUES (@UserID, @ServiceID)
    	END

    RETURN
GO
