<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="system.data.dataset.serialization" type="System.Data.SerializationSettingsSectionGroup, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="allowedTypes" type="System.Data.AllowedTypesSectionHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
        <sectionGroup name="bundleTransformer">
            
            
        <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" /><section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" /></sectionGroup>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <system.data.dataset.serialization>
        <allowedTypes>
            <!-- <add type="assembly qualified type name" /> -->
            <add type="SolidCP.Providers.ResultObjects.HeliconApeStatus, SolidCP.Providers.Base, Version=1.4.9.0, Culture=neutral, PublicKeyToken=da8782a6fc4d0081" />
            <!-- additional <add /> elements as needed -->
        </allowedTypes>
    </system.data.dataset.serialization>
    <connectionStrings>
        <add name="EnterpriseServer" connectionString="DbType=SqlServer;Server=(local);Database=SolidCP;uid=sa;pwd=Password12;TrustServerCertificate=true" providerName="System.Data.EntityClient" />
        <add name="EnterpriseServerSqlServer" connectionString="DbType=SqlServer;Server=(local);Database=SolidCP;uid=sa;pwd=Password12;TrustServerCertificate=true" providerName="System.Data.EntityClient" />
        <add name="EnterpriseServerMySql" connectionString="DbType=MySql;server=localhost;port=3306;database=SolidCP;uid=root;password=Password12" providerName="MySql.Data.MySqlClient" />
        <add name="EnterpriseServerSqlite" connectionString="DbType=Sqlite;data source=..\SolidCP.EnterpriseServer\App_Data\SolidCP.sqlite" providerName="System.Data.SQLite.EF6" />
        <!-- doesn't work because of bugs in the EF6 provider, and provider is not maintained anymore
        <add name="EnterpriseServerPostgreSql" connectionString="DbType=PostgreSql;Server=localhost;port=5433;Database=SolidCP;User Id=postgres;Password=Password12;" providerName="Npgsql" />-->
    </connectionStrings>
    <appSettings>
        <add key="WebPortal.ThemeProvider" value="SolidCP.Portal.WebPortalThemeProvider, SolidCP.Portal.Modules" />
        <add key="WebPortal.PageTitleProvider" value="SolidCP.Portal.WebPortalPageTitleProvider, SolidCP.Portal.Modules" />
        <add key="ChartImageHandler" value="storage=file;timeout=20;" />
        <add key="SessionValidationKey" value="61a37c29624fd37fe7b697e85ec80337" />
        <!-- This enables SE for all exchange accounts -->
        <add key="SpamExpertsEnable" value="false" />
        <add key="SpamExpertsUrl" value="" />
        <!-- Example: "https://demo1.spambrand.com/" (Include trailing slash) -->
        <add key="SpamExpertsUser" value="" />
        <!-- API Username -->
        <add key="SpamExpertsPassword" value="" />
        <!-- Password with "&" replaced for "&amp;" -->
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <!-- Settings for EnterpriseServer when running within WebPortal -->
        <!-- Encryption util settings -->
        <add key="SolidCP.CryptoKey" value="1234567890" />
        <!-- A1D4KDHUE83NKHddF -->
        <add key="SolidCP.EncryptionEnabled" value="true" />
        <!-- Web Applications -->
        <add key="SolidCP.EnterpriseServer.WebApplicationsPath" value="~/WebApplications" />
        <!-- Communication settings -->
        <!-- Maximum waiting time when sending request to the remote server
         The value is in seconds. "-1" - infinite. -->
        <add key="SolidCP.EnterpriseServer.ServerRequestTimeout" value="3600" />
        <add key="SolidCP.AltConnectionString" value="ConnectionString" />
        <add key="SolidCP.AltCryptoKey" value="CryptoKey" />
        <!-- Enable this setting to embed EnterpriseServer or Server within WebPortal. You must specify all the probing paths
			that are listed in the runtime sections of EnterpriseServer or Server's web.config here in order to embed
			EnterpriseServer or Server into WebPortal. If you omit this setting nothing will be embedded. When you embed
			EnterpriseServer, you have to set the EnterpriseServer url in App_Data\SiteSettings.config to
			assembly://SolidCP.EnterpriseServer
			If you embed Server, you have to specify the url
			assembly://SolidCP.Server in the Add Server page where you add the server.
			Also, when you embedd those, you'll have to replicate their web.config settings here in the WebPortal web.config
		 -->
        <add key="ExternalProbingPaths" value="..\SolidCP.EnterpriseServer\bin;..\SolidCP.EnterpriseServer\bin\Code;..\SolidCP.EnterpriseServer\bin\netstandard" />
        <!--
			- Set this value "true", "All" or "EnterpiseServer, Server" or omit the setting to expose all web services 
			- Set this value to "EnterpriseServer" to expose EnterpriseServer only
			- Set this value to "Server" to expose Server only
			- Set this value to "false" or "None" to not expose any web services
			The recommended value is to expose EnterpriseServer only, and only if EnterpriseServer web services are needed
			by other services than WebPortal, as exposing Server might be a security risk,
			whereas exposing EnterpriseServer is the same risk as exposing WebPortal, but we strongly recommend
			running WebPortal over a secure HTTPS connection anyway. Running EnterpriseServer or WebPortal over
			insecure HTTP is a security risk, as passwords are sent unencrypted.
			We set the value to true here, as we are not referencing the Server component in the ExternalProbingPaths
			so the Server will not be embedded in WebPortal.
		-->
        <add key="ExposeWebServices" value="true" />
    </appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <system.web>
        <!-- SiteMap settings -->
        <siteMap defaultProvider="SolidCPSiteMapProvider" enabled="true">
            <providers>
                <remove name="MySqlSiteMapProvider" />
                <add name="SolidCPSiteMapProvider" type="SolidCP.WebPortal.SolidCPSiteMapProvider, SolidCP.WebPortal" securityTrimmingEnabled="true" />
            </providers>
        </siteMap>
        <!-- Set default scheme -->
        <pages theme="Default" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" asyncTimeout="120">
            <controls>
                <add tagPrefix="CPCC" namespace="CPCC" assembly="CPCC" />
                <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
            </controls>
        </pages>
        <!-- Maximum size of uploaded file, in MB -->
        <httpRuntime targetFramework="4.8" executionTimeout="1800" requestValidationMode="2.0" maxRequestLength="16384" enableVersionHeader="false" />
        <!--
          ASMX is mapped to a new handler so that proxy javascripts can also be served.
    -->
        <httpHandlers>
            <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
            <add verb="*" path="AjaxHandler.ashx" type="SolidCP.WebPortal.SolidCPAjaxHandler, SolidCP.WebPortal" />
        </httpHandlers>
        <!-- Authentication -->
        <authentication mode="Forms">
            <forms name=".SolidCPPORTALAUTHASPX" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false" />
        </authentication>
        <!-- Custom errors -->
        <customErrors mode="RemoteOnly" defaultRedirect="~/error.htm" />
        <!-- Default authorization settings -->
        <authorization>
            <allow users="*" />
        </authorization>
        <!-- Globalization settings -->
        <globalization culture="auto:en-US" uiCulture="auto:en" requestEncoding="UTF-8" responseEncoding="UTF-8" />
        <compilation debug="true" targetFramework="4.8">
            <assemblies>
                <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
            </assemblies>
        </compilation>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <add name="ChartImg" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" preCondition="integratedMode" />
            
        <add name="LessAssetHandler" path="*.less" verb="GET" type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" resourceType="File" preCondition="" /></handlers>
        <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
        <!-- hide the bin_dotnet folder -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="bin_dotnet" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
    <!-- Bellowed settings added for MailCleaner SSL Ignore Check-->
    <system.net>
        <settings>
            <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
        </settings>
    </system.net>
    <!-- SECTION END-->
    <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
        <less useNativeMinification="true" ieCompat="true" strictMath="false" strictUnits="false" dumpLineNumbers="None" javascriptEnabled="true">
            <jsEngine name="MsieJsEngine" />
        </less>
        <core>
            <css>
                <translators>
                    
                    
                <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" /><add name="LessTranslator" type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less" /></translators>
                
                
                <fileExtensions>
                    
                    
                <add fileExtension=".css" assetTypeCode="Css" /><add fileExtension=".less" assetTypeCode="Less" /></fileExtensions>
            <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors><minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers></css>
            
        <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js></core>
    </bundleTransformer>
    <!-- setting for embedded EnterpriseServer -->
    <system.serviceModel>
        <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceCredentials>
                        <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="bin/Lazy" />
            <dependentAssembly>
                <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="C608B2A8CC9E4472" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.19.0.0" newVersion="3.19.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MsieJavaScriptEngine" publicKeyToken="A3A2846A37AC0D3E" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973C344C93AAC60D" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.9.171.0" newVersion="1.9.171.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.19.0.0" newVersion="3.19.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.35.0.0" newVersion="6.35.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>