/****** Object:  UserDefinedFunction [dbo].[GetFullIPAddress]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetFullIPAddress]
    (
    	@ExternalIP varchar(24),
    	@InternalIP varchar(24)
    )
    RETURNS varchar(60)
    AS
    BEGIN
    DECLARE @IP varchar(60)
    SET @IP = ''

    IF @ExternalIP IS NOT NULL AND @ExternalIP <> ''
    SET @IP = @ExternalIP

    IF @InternalIP IS NOT NULL AND @InternalIP <> ''
    SET @IP = @IP + ' (' + @InternalIP + ')'

    RETURN @IP
    END
GO
