/****** Object:  StoredProcedure [dbo].[GetExchangeOrganizationSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeOrganizationSettings]
    (
    	@ItemId INT ,
    	@SettingsName nvarchar(100)
    )
    AS
    SELECT 
    	ItemId,
    	SettingsName,
    	Xml

    FROM ExchangeOrganizationSettings 
    Where ItemId = @ItemId AND SettingsName = @SettingsName
GO
