/****** Object:  StoredProcedure [dbo].[GetPackageQuotasForEdit]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageQuotasForEdit]
    (
    	@ActorID int,
    	@PackageID int
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @ServerID int, @ParentPackageID int, @PlanID int
    SELECT @ServerID = ServerID, @ParentPackageID = ParentPackageID, @PlanID = PlanID FROM Packages
    WHERE PackageID = @PackageID

    -- get resource groups
    SELECT
    	RG.GroupID,
    	RG.GroupName,
    	ISNULL(PR.CalculateDiskSpace, ISNULL(HPR.CalculateDiskSpace, 0)) AS CalculateDiskSpace,
    	ISNULL(PR.CalculateBandwidth, ISNULL(HPR.CalculateBandwidth, 0)) AS CalculateBandwidth,
    		--dbo.GetPackageAllocatedResource(@PackageID, RG.GroupID, @ServerID) AS Enabled,
    	CASE
    		WHEN RG.GroupName = 'Service Levels' THEN dbo.GetPackageServiceLevelResource(PackageID, RG.GroupID, @ServerID)
    		ELSE dbo.GetPackageAllocatedResource(PackageID, RG.GroupID, @ServerID)
    	END AS Enabled,
    	--dbo.GetPackageAllocatedResource(@ParentPackageID, RG.GroupID, @ServerID) AS ParentEnabled
    	CASE
    		WHEN RG.GroupName = 'Service Levels' THEN dbo.GetPackageServiceLevelResource(@ParentPackageID, RG.GroupID, @ServerID)
    		ELSE dbo.GetPackageAllocatedResource(@ParentPackageID, RG.GroupID, @ServerID)
    	END AS ParentEnabled
    FROM ResourceGroups AS RG
    LEFT OUTER JOIN PackageResources AS PR ON RG.GroupID = PR.GroupID AND PR.PackageID = @PackageID
    LEFT OUTER JOIN HostingPlanResources AS HPR ON RG.GroupID = HPR.GroupID AND HPR.PlanID = @PlanID
    ORDER BY RG.GroupOrder

    -- return quotas
    SELECT
    	Q.QuotaID,
    	Q.GroupID,
    	Q.QuotaName,
    	Q.QuotaDescription,
    	Q.QuotaTypeID,
    	CASE
    		WHEN PQ.QuotaValue IS NULL THEN dbo.GetPackageAllocatedQuota(@PackageID, Q.QuotaID)
    		ELSE PQ.QuotaValue
    	END QuotaValue,
    	dbo.GetPackageAllocatedQuota(@ParentPackageID, Q.QuotaID) AS ParentQuotaValue
    FROM Quotas AS Q
    LEFT OUTER JOIN PackageQuotas AS PQ ON PQ.QuotaID = Q.QuotaID AND PQ.PackageID = @PackageID
    ORDER BY Q.QuotaOrder

    RETURN
GO
