/****** Object:  StoredProcedure [dbo].[AddDomainDnsRecord]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDomainDnsRecord]
    (
    	@DomainId INT,
    	@RecordType INT,
    	@DnsServer NVARCHAR(255),
    	@Value NVARCHAR(255),
    	@Date DATETIME
    )
    AS

    INSERT INTO DomainDnsRecords
    (
    	DomainId,
    	DnsServer,
    	RecordType,
    	Value,
    	Date
    )
    VALUES
    (
    	@DomainId,
    	@DnsServer,
    	@RecordType,
    	@Value,
    	@Date
    )
GO
