/****** Object:  StoredProcedure [dbo].[UpdateHostingPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHostingPlan]
    (
    	@ActorID int,
    	@PlanID int,
    	@PackageID int,
    	@ServerID int,
    	@PlanName nvarchar(200),
    	@PlanDescription ntext,
    	@Available bit,
    	@SetupPrice money,
    	@RecurringPrice money,
    	@RecurrenceLength int,
    	@RecurrenceUnit int,
    	@QuotasXml ntext
    )
    AS

    -- check rights
    DECLARE @UserID int
    SELECT @UserID = UserID FROM HostingPlans
    WHERE PlanID = @PlanID

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    IF @ServerID = 0
    SELECT @ServerID = ServerID FROM Packages
    WHERE PackageID = @PackageID

    IF @PackageID = 0 SET @PackageID = NULL
    IF @ServerID = 0 SET @ServerID = NULL

    -- update record
    UPDATE HostingPlans SET
    	PackageID = @PackageID,
    	ServerID = @ServerID,
    	PlanName = @PlanName,
    	PlanDescription = @PlanDescription,
    	Available = @Available,
    	SetupPrice = @SetupPrice,
    	RecurringPrice = @RecurringPrice,
    	RecurrenceLength = @RecurrenceLength,
    	RecurrenceUnit = @RecurrenceUnit
    WHERE PlanID = @PlanID

    BEGIN TRAN

    -- update quotas
    EXEC UpdateHostingPlanQuotas @ActorID, @PlanID, @QuotasXml

    DECLARE @ExceedingQuotas AS TABLE (QuotaID int, QuotaName nvarchar(50), QuotaValue int)
    INSERT INTO @ExceedingQuotas
    SELECT * FROM dbo.GetPackageExceedingQuotas(@PackageID) WHERE QuotaValue > 0

    SELECT * FROM @ExceedingQuotas

    IF EXISTS(SELECT * FROM @ExceedingQuotas)
    BEGIN
    	ROLLBACK TRAN
    	RETURN
    END

    COMMIT TRAN

    RETURN
GO
