/****** Object:  StoredProcedure [dbo].[SetOrganizationDefaultLyncUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetOrganizationDefaultLyncUserPlan]
    (
    	@ItemID int,
    	@LyncUserPlanId int
    )
    AS

    UPDATE ExchangeOrganizations SET
    	LyncUserPlanID = @LyncUserPlanId
    WHERE
    	ItemID = @ItemID

    RETURN
GO
