/****** Object:  StoredProcedure [dbo].[GetPackageAddon]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageAddon]
    (
    	@ActorID int,
    	@PackageAddonID int
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM PackageAddons
    WHERE PackageAddonID = @PackageAddonID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	PackageAddonID,
    	PackageID,
    	PlanID,
    	PurchaseDate,
    	Quantity,
    	StatusID,
    	Comments
    FROM PackageAddons AS PA
    WHERE PA.PackageAddonID = @PackageAddonID
    RETURN
GO
