/****** Object:  StoredProcedure [dbo].[UpdateExchangeRetentionPolicyTag]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateExchangeRetentionPolicyTag] 
    (
    	@TagID int,
    	@ItemID int,
    	@TagName nvarchar(255),
    	@TagType int,
    	@AgeLimitForRetention int,
    	@RetentionAction int
    )
    AS

    UPDATE ExchangeRetentionPolicyTags SET
    	ItemID = @ItemID,
    	TagName = @TagName,
    	TagType = @TagType,
    	AgeLimitForRetention = @AgeLimitForRetention,
    	RetentionAction = @RetentionAction
    WHERE TagID = @TagID

    RETURN
GO
