/****** Object:  StoredProcedure [dbo].[UpdateStorageSpaceLevel]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStorageSpaceLevel]
    (
    	@ID INT,
    	@Name nvarchar(300),
    	@Description nvarchar(max)
    )
    AS
    	UPDATE StorageSpaceLevels
    	SET Name = @Name, Description = @Description
    	WHERE ID = @ID
GO
