/****** Object:  StoredProcedure [dbo].[UpdateWebDavPortalUsersSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateWebDavPortalUsersSettings]
    (
    	@AccountId INT,
    	@Settings NVARCHAR(max)
    )
    AS

    UPDATE WebDavPortalUsersSettings
    SET
    	Settings = @Settings
    WHERE AccountId = @AccountId
GO
