/****** Object:  StoredProcedure [dbo].[GetUsersPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersPaged]
    (
    	@ActorID int,
    	@UserID int,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@StatusID int,
    	@RoleID int,
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int,
    	@Recursive bit
    )
    AS
    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2000)

    SET @sql = '

    DECLARE @HasUserRights bit
    SET @HasUserRights = dbo.CheckActorUserRights(@ActorID, @UserID)

    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows
    DECLARE @Users TABLE
    (
    	ItemPosition int IDENTITY(0,1),
    	UserID int
    )
    INSERT INTO @Users (UserID)
    SELECT
    	U.UserID
    FROM UsersDetailed AS U
    WHERE 
    	U.UserID <> @UserID AND U.IsPeer = 0 AND
    	(
    		(@Recursive = 0 AND OwnerID = @UserID) OR
    		(@Recursive = 1 AND dbo.CheckUserParent(@UserID, U.UserID) = 1)
    	)
    	AND ((@StatusID = 0) OR (@StatusID > 0 AND U.StatusID = @StatusID))
    	AND ((@RoleID = 0) OR (@RoleID > 0 AND U.RoleID = @RoleID))
    	AND @HasUserRights = 1 '

    IF @FilterValue <> ''
    BEGIN
    	IF @FilterColumn <> ''
    		SET @sql = @sql + ' AND ' + @FilterColumn + ' LIKE @FilterValue '
    	ELSE
    		SET @sql = @sql + '
    			AND (Username LIKE @FilterValue
    			OR FullName LIKE @FilterValue
    			OR Email LIKE @FilterValue) '
    END

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(UserID) FROM @Users;
    SELECT
    	U.UserID,
    	U.RoleID,
    	U.StatusID,
    	U.SubscriberNumber,
    	U.LoginStatusId,
    	U.FailedLogins,
    	U.OwnerID,
    	U.Created,
    	U.Changed,
    	U.IsDemo,
    	dbo.GetItemComments(U.UserID, ''USER'', @ActorID) AS Comments,
    	U.IsPeer,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.Email,
    	U.FullName,
    	U.OwnerUsername,
    	U.OwnerFirstName,
    	U.OwnerLastName,
    	U.OwnerRoleID,
    	U.OwnerFullName,
    	U.OwnerEmail,
    	U.PackagesNumber,
    	U.CompanyName,
    	U.EcommerceEnabled
    FROM @Users AS TU
    INNER JOIN UsersDetailed AS U ON TU.UserID = U.UserID
    WHERE TU.ItemPosition BETWEEN @StartRow AND @EndRow'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int, @UserID int, @FilterValue nvarchar(50), @ActorID int, @Recursive bit, @StatusID int, @RoleID int',
    @StartRow, @MaximumRows, @UserID, @FilterValue, @ActorID, @Recursive, @StatusID, @RoleID

    RETURN
GO
