/****** Object:  StoredProcedure [dbo].[GetSfBUsers]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSfBUsers]
    (
    	@ItemID int,
    	@SortColumn nvarchar(40),
    	@SortDirection nvarchar(20),
    	@StartRow int,
    	@Count int	
    )
    AS
    BEGIN
    	CREATE TABLE #TempSfBUsers 
    	(	
    		[ID] [int] IDENTITY(1,1) NOT NULL,
    		[AccountID] [int],	
    		[ItemID] [int] NOT NULL,
    		[AccountName] [nvarchar](300)  NOT NULL,
    		[DisplayName] [nvarchar](300)  NOT NULL,
    		[UserPrincipalName] [nvarchar](300) NULL,
    		[SipAddress] [nvarchar](300) NULL,
    		[SamAccountName] [nvarchar](100) NULL,
    		[SfBUserPlanId] [int] NOT NULL,		
    		[SfBUserPlanName] [nvarchar] (300) NOT NULL,		
    	)

    	DECLARE @condition nvarchar(700)
    	SET @condition = ''

    	IF (@SortColumn = 'DisplayName')
    	BEGIN
    		SET @condition = 'ORDER BY ea.DisplayName'
    	END

    	IF (@SortColumn = 'UserPrincipalName')
    	BEGIN
    		SET @condition = 'ORDER BY ea.UserPrincipalName'
    	END

    	IF (@SortColumn = 'SipAddress')
    	BEGIN
    		SET @condition = 'ORDER BY ou.SipAddress'
    	END

    	IF (@SortColumn = 'SfBUserPlanName')
    	BEGIN
    		SET @condition = 'ORDER BY lp.SfBUserPlanName'
    	END

    	DECLARE @sql nvarchar(3500)

    	set @sql = '
    		INSERT INTO 
    			#TempSfBUsers 
    		SELECT 
    			ea.AccountID,
    			ea.ItemID,
    			ea.AccountName,
    			ea.DisplayName,
    			ea.UserPrincipalName,
    			ou.SipAddress,
    			ea.SamAccountName,
    			ou.SfBUserPlanId,
    			lp.SfBUserPlanName				
    		FROM 
    			ExchangeAccounts ea 
    		INNER JOIN 
    			SfBUsers ou
    		INNER JOIN
    			SfBUserPlans lp 
    		ON
    			ou.SfBUserPlanId = lp.SfBUserPlanId				
    		ON 
    			ea.AccountID = ou.AccountID
    		WHERE 
    			ea.ItemID = @ItemID ' + @condition

    	exec sp_executesql @sql, N'@ItemID int',@ItemID

    	DECLARE @RetCount int
    	SELECT @RetCount = COUNT(ID) FROM #TempSfBUsers 

    	IF (@SortDirection = 'ASC')
    	BEGIN
    		SELECT * FROM #TempSfBUsers 
    		WHERE ID > @StartRow AND ID <= (@StartRow + @Count) 
    	END
    	ELSE
    	BEGIN
    		IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    		BEGIN
    			IF (@SortColumn = 'DisplayName')
    			BEGIN
    				SELECT * FROM #TempSfBUsers 
    					WHERE ID >@RetCount - @Count - @StartRow AND ID <= @RetCount- @StartRow  ORDER BY DisplayName DESC
    			END
    			IF (@SortColumn = 'UserPrincipalName')
    			BEGIN
    				SELECT * FROM #TempSfBUsers 
    					WHERE ID >@RetCount - @Count - @StartRow AND ID <= @RetCount- @StartRow  ORDER BY UserPrincipalName DESC
    			END

    			IF (@SortColumn = 'SipAddress')
    			BEGIN
    				SELECT * FROM #TempSfBUsers 
    					WHERE ID >@RetCount - @Count - @StartRow AND ID <= @RetCount- @StartRow  ORDER BY SipAddress DESC
    			END

    			IF (@SortColumn = 'SfBUserPlanName')
    			BEGIN
    				SELECT * FROM #TempSfBUsers 
    					WHERE ID >@RetCount - @Count - @StartRow AND ID <= @RetCount- @StartRow  ORDER BY SfBUserPlanName DESC
    			END
    		END
    		ELSE
    		BEGIN
    			SELECT * FROM #TempSfBUsers 
    				WHERE ID >@RetCount - @Count - @StartRow AND ID <= @RetCount- @StartRow  ORDER BY UserPrincipalName DESC
    		END	
    	END
    	DROP TABLE #TempSfBUsers
    END
GO
