/****** Object:  StoredProcedure [dbo].[GetScheduleTaskViewConfigurations]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[GetScheduleTaskViewConfigurations]    Script Date: 09/10/2007 17:53:56 ******/

    CREATE PROCEDURE [dbo].[GetScheduleTaskViewConfigurations]
    (
    	@TaskID nvarchar(100)
    )
    AS

    SELECT
    	@TaskID AS TaskID,
    	STVC.ConfigurationID,
    	STVC.Environment,
    	STVC.Description
    FROM ScheduleTaskViewConfiguration AS STVC
    WHERE STVC.TaskID = @TaskID

    RETURN
GO
