/****** Object:  StoredProcedure [dbo].[AddPrivateNetworkVlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPrivateNetworkVlan]
    (
     @VlanID int OUTPUT,
     @Vlan int,
     @ServerID int,
     @Comments ntext
    )
    AS
    BEGIN
     IF @ServerID = 0
     SET @ServerID = NULL

     INSERT INTO PrivateNetworkVLANs(Vlan, ServerID, Comments)
     VALUES (@Vlan, @ServerID, @Comments)

     SET @VlanID = SCOPE_IDENTITY()

     RETURN
    END
GO
