/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
    (
    	@ActorID int,
    	@OwnerID int,
    	@Recursive bit = 0
    )
    AS

    DECLARE @CanGetDetails bit
    SET @CanGetDetails = dbo.CanGetUserDetails(@ActorID, @OwnerID)

    SELECT
    	U.UserID,
    	U.RoleID,
    	U.StatusID,
    	U.SubscriberNumber,
    	U.LoginStatusId,
    	U.FailedLogins,
    	U.OwnerID,
    	U.Created,
    	U.Changed,
    	U.IsDemo,
    	U.Comments,
    	U.IsPeer,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.Email,
    	U.FullName,
    	U.OwnerUsername,
    	U.OwnerFirstName,
    	U.OwnerLastName,
    	U.OwnerRoleID,
    	U.OwnerFullName,
    	U.PackagesNumber,
    	U.CompanyName,
    	U.EcommerceEnabled
    FROM UsersDetailed AS U
    WHERE U.UserID <> @OwnerID AND
    ((@Recursive = 1 AND dbo.CheckUserParent(@OwnerID, U.UserID) = 1) OR
    (@Recursive = 0 AND U.OwnerID = @OwnerID))
    AND U.IsPeer = 0
    AND @CanGetDetails = 1 -- actor user rights

    RETURN
GO
