/****** Object:  StoredProcedure [dbo].[DeleteIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteIPAddress]
    (
    	@AddressID int,
    	@Result int OUTPUT
    )
    AS

    SET @Result = 0

    IF EXISTS(SELECT RecordID FROM GlobalDnsRecords WHERE IPAddressID = @AddressID)
    BEGIN
    	SET @Result = -1
    	RETURN
    END

    IF EXISTS(SELECT AddressID FROM PackageIPAddresses WHERE AddressID = @AddressID AND ItemID IS NOT NULL)
    BEGIN
    	SET @Result = -2

    	RETURN
    END

    -- delete package-IP relation
    DELETE FROM PackageIPAddresses
    WHERE AddressID = @AddressID

    -- delete IP address
    DELETE FROM IPAddresses
    WHERE AddressID = @AddressID

    RETURN
GO
