/****** Object:  StoredProcedure [dbo].[GetUsersSummary]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersSummary]
    (
    	@ActorID int,
    	@UserID int
    )
    AS
    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    -- ALL users
    SELECT COUNT(UserID) AS UsersNumber FROM Users
    WHERE OwnerID = @UserID AND IsPeer = 0

    -- BY STATUS users
    SELECT StatusID, COUNT(UserID) AS UsersNumber FROM Users
    WHERE OwnerID = @UserID AND IsPeer = 0
    GROUP BY StatusID
    ORDER BY StatusID

    -- BY ROLE users
    SELECT RoleID, COUNT(UserID) AS UsersNumber FROM Users
    WHERE OwnerID = @UserID AND IsPeer = 0
    GROUP BY RoleID
    ORDER BY RoleID DESC

    RETURN
GO
