/****** Object:  StoredProcedure [dbo].[UpdateExchangeMailboxPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateExchangeMailboxPlan] 
    (
    	@MailboxPlanId int,
    	@MailboxPlan	nvarchar(300),
    	@EnableActiveSync bit,
    	@EnableIMAP bit,
    	@EnableMAPI bit,
    	@EnableOWA bit,
    	@EnablePOP bit,
    	@EnableAutoReply bit,
    	@IsDefault bit,
    	@IssueWarningPct int,
    	@KeepDeletedItemsDays int,
    	@MailboxSizeMB int,
    	@MaxReceiveMessageSizeKB int,
    	@MaxRecipients int,
    	@MaxSendMessageSizeKB int,
    	@ProhibitSendPct int,
    	@ProhibitSendReceivePct int	,
    	@HideFromAddressBook bit,
    	@MailboxPlanType int,
    	@AllowLitigationHold bit,
    	@RecoverableItemsWarningPct int,
    	@RecoverableItemsSpace int,
    	@LitigationHoldUrl nvarchar(256),
    	@LitigationHoldMsg nvarchar(512),
    	@Archiving bit,
    	@EnableArchiving bit,
    	@ArchiveSizeMB int,
    	@ArchiveWarningPct int,
    	@EnableForceArchiveDeletion bit,
    	@IsForJournaling bit
    )
    AS

    UPDATE ExchangeMailboxPlans SET
    	MailboxPlan = @MailboxPlan,
    	EnableActiveSync = @EnableActiveSync,
    	EnableIMAP = @EnableIMAP,
    	EnableMAPI = @EnableMAPI,
    	EnableOWA = @EnableOWA,
    	EnablePOP = @EnablePOP,
    	EnableAutoReply = @EnableAutoReply,
    	IsDefault = @IsDefault,
    	IssueWarningPct= @IssueWarningPct,
    	KeepDeletedItemsDays = @KeepDeletedItemsDays,
    	MailboxSizeMB= @MailboxSizeMB,
    	MaxReceiveMessageSizeKB= @MaxReceiveMessageSizeKB,
    	MaxRecipients= @MaxRecipients,
    	MaxSendMessageSizeKB= @MaxSendMessageSizeKB,
    	ProhibitSendPct= @ProhibitSendPct,
    	ProhibitSendReceivePct = @ProhibitSendReceivePct,
    	HideFromAddressBook = @HideFromAddressBook,
    	MailboxPlanType = @MailboxPlanType,
    	AllowLitigationHold = @AllowLitigationHold,
    	RecoverableItemsWarningPct = @RecoverableItemsWarningPct,
    	RecoverableItemsSpace = @RecoverableItemsSpace, 
    	LitigationHoldUrl = @LitigationHoldUrl,
    	LitigationHoldMsg = @LitigationHoldMsg,
    	Archiving = @Archiving,
    	EnableArchiving = @EnableArchiving,
    	ArchiveSizeMB = @ArchiveSizeMB,
    	ArchiveWarningPct = @ArchiveWarningPct,
    	EnableForceArchiveDeletion = @EnableForceArchiveDeletion,
    	IsForJournaling = @IsForJournaling
    WHERE MailboxPlanId = @MailboxPlanId

    RETURN
GO
