/****** Object:  StoredProcedure [dbo].[GetEnterpriseFoldersPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnterpriseFoldersPaged]
    (
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@ItemID int,
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS
    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2000)

    SET @sql = '
    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows

    DECLARE @Folders TABLE
    (
    	ItemPosition int IDENTITY(1,1),
    	Id int
    )
    INSERT INTO @Folders (Id)
    SELECT
    	S.EnterpriseFolderID
    FROM EnterpriseFolders AS S
    WHERE @ItemID = S.ItemID'

    IF @FilterColumn <> '' AND @FilterValue <> ''
    SET @sql = @sql + ' AND ' + @FilterColumn + ' LIKE @FilterValue '

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(Id) FROM @Folders;
    SELECT
    	ST.EnterpriseFolderID,
    	ST.ItemID,
    	ST.FolderName,
    	ST.FolderQuota,
    	ST.LocationDrive,
    	ST.HomeFolder,
    	ST.Domain,
    	ST.StorageSpaceFolderId,
    	ssf.Name,
    	ssf.StorageSpaceId,
    	ssf.Path,
    	ssf.UncPath,
    	ssf.IsShared,
    	ssf.FsrmQuotaType,
    	ssf.FsrmQuotaSizeBytes
    FROM @Folders AS S
    INNER JOIN EnterpriseFolders AS ST ON S.Id = ST.EnterpriseFolderID
    LEFT OUTER JOIN StorageSpaceFolders as ssf on ssf.Id = ST.StorageSpaceFolderId
    WHERE S.ItemPosition BETWEEN @StartRow AND @EndRow'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int,  @FilterValue nvarchar(50),  @ItemID int',
    @StartRow, @MaximumRows,  @FilterValue,  @ItemID

    RETURN
GO
