/****** Object:  StoredProcedure [dbo].[GetServiceItemsForStatistics]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceItemsForStatistics]
    (
    	@ActorID int,
    	@ServiceID int,
    	@PackageID int,
    	@CalculateDiskspace bit,
    	@CalculateBandwidth bit,
    	@Suspendable bit,
    	@Disposable bit
    )
    AS
    DECLARE @Items TABLE
    (
    	ItemID int
    )

    -- find service items
    INSERT INTO @Items
    SELECT
    	SI.ItemID
    FROM ServiceItems AS SI
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    WHERE
    	((@ServiceID = 0) OR (@ServiceID > 0 AND SI.ServiceID = @ServiceID))
    	AND ((@PackageID = 0) OR (@PackageID > 0 AND SI.PackageID = @PackageID))
    	AND ((@CalculateDiskspace = 0) OR (@CalculateDiskspace = 1 AND SIT.CalculateDiskspace = @CalculateDiskspace))
    	AND ((@CalculateBandwidth = 0) OR (@CalculateBandwidth = 1 AND SIT.CalculateBandwidth = @CalculateBandwidth))
    	AND ((@Suspendable = 0) OR (@Suspendable = 1 AND SIT.Suspendable = @Suspendable))
    	AND ((@Disposable = 0) OR (@Disposable = 1 AND SIT.Disposable = @Disposable))

    -- select service items
    SELECT
    	SI.ItemID,
    	SI.ItemName,
    	SI.ItemTypeID,
    	RG.GroupName,
    	SIT.TypeName,
    	SI.ServiceID,
    	SI.PackageID,
    	SI.CreatedDate
    FROM @Items AS FI
    INNER JOIN ServiceItems AS SI ON FI.ItemID = SI.ItemID
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    INNER JOIN ResourceGroups AS RG ON SIT.GroupID = RG.GroupID
    ORDER BY RG.GroupOrder DESC, SI.ItemName

    -- select item properties
    -- get corresponding item properties
    SELECT
    	IP.ItemID,
    	IP.PropertyName,
    	IP.PropertyValue
    FROM ServiceItemProperties AS IP
    INNER JOIN @Items AS FI ON IP.ItemID = FI.ItemID

    RETURN
GO
