/****** Object:  StoredProcedure [dbo].[CheckBlackBerryUserExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckBlackBerryUserExists]
    	@AccountID int
    AS
    BEGIN
    	SELECT
    		COUNT(AccountID)
    	FROM
    		dbo.BlackBerryUsers
    	WHERE AccountID = @AccountID
    END
GO
