/****** Object:  StoredProcedure [dbo].[GetServicesByGroupName]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServicesByGroupName]
    (
    	@ActorID int,
    	@GroupName nvarchar(100),
    	@forAutodiscover bit
    )
    AS
    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	S.ServiceID,
    	S.ServiceName,
    	S.ServerID,
    	S.ServiceQuotaValue,
    	SRV.ServerName,
    	S.ProviderID,
        PROV.ProviderName,
    	S.ServiceName + ' on ' + SRV.ServerName AS FullServiceName
    FROM Services AS S
    INNER JOIN Providers AS PROV ON S.ProviderID = PROV.ProviderID
    INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    INNER JOIN ResourceGroups AS RG ON PROV.GroupID = RG.GroupID
    WHERE
    	RG.GroupName = @GroupName
    	AND (@IsAdmin = 1 OR @forAutodiscover = 1)
    RETURN
GO
