/****** Object:  StoredProcedure [dbo].[DeleteSfBUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSfBUserPlan]
    (
    	@SfBUserPlanId int
    )
    AS

    -- delete sfbuserplan
    DELETE FROM SfBUserPlans
    WHERE SfBUserPlanId = @SfBUserPlanId

    RETURN
GO
