/****** Object:  StoredProcedure [dbo].[UpdateSfBUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSfBUser]
    (
    	@AccountID int,
    	@SipAddress nvarchar(300)
    )
    AS

    UPDATE SfBUsers SET
    	SipAddress = @SipAddress
    WHERE
    	AccountID = @AccountID

    RETURN
GO
