/****** Object:  StoredProcedure [dbo].[GetRDSCertificateByServiceId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSCertificateByServiceId]
    (
    	@ServiceId INT
    )
    AS
    SELECT TOP 1
    	Id,
    	ServiceId,
    	Content, 
    	Hash,
    	FileName,
    	ValidFrom,
    	ExpiryDate
    	FROM RDSCertificates
    	WHERE ServiceId = @ServiceId
    	ORDER BY Id DESC
GO
