/****** Object:  StoredProcedure [dbo].[GetExchangeOrganizationDomains]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeOrganizationDomains]
    (
    	@ItemID int
    )
    AS
    SELECT
    	ED.DomainID,
    	D.DomainName,
    	ED.IsHost,
    	ED.DomainTypeID
    FROM
    	ExchangeOrganizationDomains AS ED
    INNER JOIN Domains AS D ON ED.DomainID = D.DomainID
    WHERE ED.ItemID = @ItemID
    RETURN
GO
