/****** Object:  StoredProcedure [dbo].[AddExchangeMailboxPlanRetentionPolicyTag]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeMailboxPlanRetentionPolicyTag] 
    (
    	@PlanTagID int OUTPUT,
    	@TagID int,
    	@MailboxPlanId int
    )
    AS
    BEGIN

    INSERT INTO ExchangeMailboxPlanRetentionPolicyTags
    (
    	TagID,
    	MailboxPlanId
    )
    VALUES
    (
    	@TagID,
    	@MailboxPlanId
    )

    SET @PlanTagID = SCOPE_IDENTITY()

    RETURN

    END
GO
