/****** Object:  StoredProcedure [dbo].[CheckSSLExistsForWebsite]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckSSLExistsForWebsite]
    (
    	@siteID int,
    	@SerialNumber nvarchar(250),
    	@Result bit OUTPUT
    )
    AS

    /*
    @Result values:
    	0 - OK
    	-1 - already exists
    */

    SET @Result = 0 -- OK

    -- check if a SSL Certificate is installed for domain
    IF EXISTS(SELECT [ID] FROM [dbo].[SSLCertificates] WHERE [SiteID] = @siteID
    --AND SerialNumber=@SerialNumber
    )
    BEGIN
    	SET @Result = 1
    	RETURN
    END

    RETURN

    SET ANSI_NULLS ON
GO
