/****** Object:  StoredProcedure [dbo].[RemoveRDSUserFromRDSCollection]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveRDSUserFromRDSCollection]
    (
    	@AccountId  INT,
    	@RDSCollectionId INT
    )
    AS

    DELETE FROM RDSCollectionUsers
    WHERE AccountId = @AccountId AND RDSCollectionId = @RDSCollectionId
GO
