/****** Object:  UserDefinedFunction [dbo].[GetPackageServiceLevelResource]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetPackageServiceLevelResource]
    (
    	@PackageID int,
    	@GroupID int,
    	@ServerID int
    )
    RETURNS bit
    AS
    BEGIN

    IF NOT EXISTS (SELECT * FROM dbo.ResourceGroups WHERE GroupID = @GroupID AND GroupName = 'Service Levels')
    RETURN 0

    IF @PackageID IS NULL
    RETURN 1

    DECLARE @Result bit
    SET @Result = 1 -- enabled

    DECLARE @PID int, @ParentPackageID int
    SET @PID = @PackageID

    DECLARE @OverrideQuotas bit

    IF @ServerID IS NULL OR @ServerID = 0
    SELECT @ServerID = ServerID FROM Packages
    WHERE PackageID = @PackageID

    WHILE 1 = 1
    BEGIN

    	DECLARE @GroupEnabled int

    	-- get package info
    	SELECT
    		@ParentPackageID = ParentPackageID,
    		@OverrideQuotas = OverrideQuotas
    	FROM Packages WHERE PackageID = @PID

    	-- check if this is a root 'System' package
    	SET @GroupEnabled = 1 -- enabled
    	IF @ParentPackageID IS NULL
    	BEGIN

    		IF @ServerID = 0
    		RETURN 0
    		ELSE IF @PID = -1
    		RETURN 1
    		ELSE IF @ServerID IS NULL
    		RETURN 1
    		ELSE IF @ServerID > 0
    		RETURN 1
    		ELSE RETURN 0
    	END
    	ELSE -- parentpackage is not null
    	BEGIN
    		-- check the current package
    		IF @OverrideQuotas = 1
    		BEGIN
    			IF NOT EXISTS(
    				SELECT GroupID FROM PackageResources WHERE GroupID = @GroupID AND PackageID = @PID
    			)
    			SET @GroupEnabled = 0
    		END
    		ELSE
    		BEGIN
    			IF NOT EXISTS(
    				SELECT HPR.GroupID FROM Packages AS P
    				INNER JOIN HostingPlanResources AS HPR ON P.PlanID = HPR.PlanID
    				WHERE HPR.GroupID = @GroupID AND P.PackageID = @PID
    			)
    			SET @GroupEnabled = 0
    		END

    		-- check addons
    		IF EXISTS(
    			SELECT HPR.GroupID FROM PackageAddons AS PA
    			INNER JOIN HostingPlanResources AS HPR ON PA.PlanID = HPR.PlanID
    			WHERE HPR.GroupID = @GroupID AND PA.PackageID = @PID
    			AND PA.StatusID = 1 -- active add-on
    		)
    		SET @GroupEnabled = 1
    	END

    	IF @GroupEnabled = 0
    		RETURN 0

    	SET @PID = @ParentPackageID

    END -- end while

    RETURN @Result
    END
GO
