/****** Object:  StoredProcedure [dbo].[AddLevelResourceGroups]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddLevelResourceGroups]
    (
    	@LevelId INT,
    	@GroupId INT
    )
    AS
    	INSERT INTO [dbo].[StorageSpaceLevelResourceGroups] (LevelId, GroupId)
    	VALUES (@LevelId, @GroupId)
GO
