/****** Object:  StoredProcedure [dbo].[AddAdditionalGroup]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddAdditionalGroup]
    (
    	@GroupID INT OUTPUT,
    	@UserID INT,
    	@GroupName NVARCHAR(255)
    )
    AS

    INSERT INTO AdditionalGroups
    (
    	UserID,
    	GroupName
    )
    VALUES
    (
    	@UserID,
    	@GroupName
    )

    SET @GroupID = SCOPE_IDENTITY()

    RETURN
GO
