/****** Object:  StoredProcedure [dbo].[GetEnterpriseFolders]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnterpriseFolders]
    (
    	@ItemID INT
    )
    AS

    SELECT DISTINCT LocationDrive, HomeFolder, Domain FROM EnterpriseFolders
    WHERE ItemID = @ItemID
GO
