/****** Object:  StoredProcedure [dbo].[DeleteDomain]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDomain]
    (
    	@DomainID int,
    	@ActorID int
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM Domains
    WHERE DomainID = @DomainID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DELETE FROM Domains
    WHERE DomainID = @DomainID

    RETURN
GO
