/****** Object:  StoredProcedure [dbo].[CheckRDSServer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckRDSServer]
    (
    	@ServerFQDN nvarchar(100),
    	@Result int OUTPUT
    )
    AS

    /*
    @Result values:
    	0 - OK
    	-1 - already exists
    */

    SET @Result = 0 -- OK

    -- check if the domain already exists
    IF EXISTS(
    SELECT FqdName FROM RDSServers
    WHERE FqdName = @ServerFQDN
    )
    BEGIN
    	SET @Result = -1
    	RETURN
    END

    RETURN
GO
