/****** Object:  StoredProcedure [dbo].[DeleteAllLogRecords]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAllLogRecords]
    AS

    DELETE FROM Log

    RETURN
GO
