/****** Object:  StoredProcedure [dbo].[GetExchangeOrganization]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeOrganization]
    (
    	@ItemID int
    )
    AS
    SELECT
    	ItemID,
    	ExchangeMailboxPlanID,
    	LyncUserPlanID,
    	SfBUserPlanID
    FROM
    	ExchangeOrganizations
    WHERE
    	ItemID = @ItemID
    RETURN
GO
