/****** Object:  StoredProcedure [dbo].[UpdateRDSServerSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRDSServerSettings]
    (
    	@ServerId int,
    	@SettingsName nvarchar(50),
    	@Xml ntext
    )
    AS

    BEGIN TRAN
    DECLARE @idoc int
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    DELETE FROM RDSServerSettings
    WHERE RDSServerId = @ServerId AND SettingsName = @SettingsName

    INSERT INTO RDSServerSettings
    (
    	RDSServerId,
    	SettingsName,
    	ApplyUsers,
    	ApplyAdministrators,
    	PropertyName,
    	PropertyValue	
    )
    SELECT
    	@ServerId,
    	@SettingsName,
    	ApplyUsers,
    	ApplyAdministrators,
    	PropertyName,
    	PropertyValue
    FROM OPENXML(@idoc, '/properties/property',1) WITH 
    (
    	PropertyName nvarchar(50) '@name',
    	PropertyValue ntext '@value',
    	ApplyUsers BIT '@applyUsers',
    	ApplyAdministrators BIT '@applyAdministrators'
    ) as PV

    exec sp_xml_removedocument @idoc

    COMMIT TRAN

    RETURN
GO
