/****** Object:  StoredProcedure [dbo].[AddBlackBerryUser]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBlackBerryUser]
    	@AccountID int
    AS
    BEGIN
    	SET NOCOUNT ON;

    INSERT INTO
    	dbo.BlackBerryUsers
    	(

    	 AccountID,
    	 CreatedDate,
    	 ModifiedDate)
    VALUES
    (
    	@AccountID,
    	getdate(),
    	getdate()
    )
    END
GO
