/****** Object:  StoredProcedure [dbo].[AddBackgroundTaskStack]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBackgroundTaskStack]
    (
    	@TaskID INT
    )
    AS

    INSERT INTO BackgroundTaskStack
    (
    	TaskID
    )
    VALUES
    (
    	@TaskID
    )
GO
