/****** Object:  StoredProcedure [dbo].[GetPackagesDiskspacePaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackagesDiskspacePaged]
    (
    	@ActorID int,
    	@UserID int,
    	@PackageID int,
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @sql nvarchar(4000)

    SET @sql = '
    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows

    DECLARE @Report TABLE
    (
    	ItemPosition int IDENTITY(0,1),
    	PackageID int,
    	QuotaValue int,
    	Diskspace int,
    	UsagePercentage int,
    	PackagesNumber int
    )

    INSERT INTO @Report (PackageID, QuotaValue, Diskspace, UsagePercentage, PackagesNumber)
    SELECT
    	P.PackageID,
    	PD.QuotaValue,
    	PD.Diskspace,
    	UsagePercentage = 	CASE
    							WHEN PD.QuotaValue = -1 THEN 0
    							WHEN PD.QuotaValue <> 0 THEN PD.Diskspace * 100 / PD.QuotaValue
    							ELSE 0
    						END,
    	(SELECT COUNT(NP.PackageID) FROM Packages AS NP WHERE NP.ParentPackageID = P.PackageID) AS PackagesNumber
    FROM Packages AS P
    LEFT OUTER JOIN
    (
    	SELECT
    		P.PackageID,
    		dbo.GetPackageAllocatedQuota(P.PackageID, 52) AS QuotaValue, -- diskspace
    		ROUND(CONVERT(float, SUM(ISNULL(PD.DiskSpace, 0))) / 1024 / 1024, 0) AS Diskspace -- in megabytes
    	FROM Packages AS P
    	INNER JOIN PackagesTreeCache AS PT ON P.PackageID = PT.ParentPackageID
    	INNER JOIN Packages AS PC ON PT.PackageID = PC.PackageID
    	INNER JOIN PackagesDiskspace AS PD ON PT.PackageID = PD.PackageID
    	INNER JOIN HostingPlanResources AS HPR ON PD.GroupID = HPR.GroupID
    		AND HPR.PlanID = PC.PlanID
    	WHERE HPR.CalculateDiskspace = 1
    	GROUP BY P.PackageID
    ) AS PD ON P.PackageID = PD.PackageID
    WHERE (@PackageID = -1 AND P.UserID = @UserID) OR
    	(@PackageID <> -1 AND P.ParentPackageID = @PackageID)
    '

    IF @SortColumn = '' OR @SortColumn IS NULL
    SET @SortColumn = 'UsagePercentage DESC'

    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + '
    SELECT COUNT(PackageID) FROM @Report

    SELECT
    	R.PackageID,
    	ISNULL(R.QuotaValue, 0) AS QuotaValue,
    	ISNULL(R.Diskspace, 0) AS Diskspace,
    	ISNULL(R.UsagePercentage, 0) AS UsagePercentage,

    	-- package
    	P.PackageName,
    	ISNULL(R.PackagesNumber, 0) AS PackagesNumber,
    	P.StatusID,

    	-- user
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email,
    	dbo.GetItemComments(U.UserID, ''USER'', @ActorID) AS UserComments
    FROM @Report AS R
    INNER JOIN Packages AS P ON R.PackageID = P.PackageID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    WHERE R.ItemPosition BETWEEN @StartRow AND @EndRow
    '

    exec sp_executesql @sql, N'@ActorID int, @UserID int, @PackageID int, @StartRow int, @MaximumRows int',
    @ActorID, @UserID, @PackageID, @StartRow, @MaximumRows

    RETURN
GO
