/****** Object:  StoredProcedure [dbo].[GetPackageSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageSettings]
    (
    	@ActorID int,
    	@PackageID int,
    	@SettingsName nvarchar(50)
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @ParentPackageID int, @TmpPackageID int
    SET @TmpPackageID = @PackageID

    WHILE 10 = 10
    BEGIN
    	IF @TmpPackageID < 2 -- system package
    	BEGIN
    		SELECT
    			@TmpPackageID AS PackageID,
    			'Dump' AS PropertyName,
    			'' AS PropertyValue
    	END
    	ELSE
    	BEGIN
    		-- user package
    		IF EXISTS
    		(
    			SELECT PropertyName FROM PackageSettings
    			WHERE SettingsName = @SettingsName AND PackageID = @TmpPackageID
    		)
    		BEGIN
    			SELECT
    				PackageID,
    				PropertyName,
    				PropertyValue
    			FROM
    				PackageSettings
    			WHERE
    				PackageID = @TmpPackageID AND
    				SettingsName = @SettingsName

    			BREAK
    		END
    	END

    	SET @ParentPackageID = NULL --reset var

    	-- get owner
    	SELECT
    		@ParentPackageID = ParentPackageID
    	FROM Packages
    	WHERE PackageID = @TmpPackageID

    	IF @ParentPackageID IS NULL -- the last parent
    	BREAK

    	SET @TmpPackageID = @ParentPackageID
    END

    RETURN
GO
