/****** Object:  StoredProcedure [dbo].[GetScheduleTaskEmailTemplate]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetScheduleTaskEmailTemplate]
    (
    	@TaskID [nvarchar](100) 
    )
    AS
    SELECT
    	[TaskID],
    	[From] ,
    	[Subject] ,
    	[Template]
      FROM [dbo].[ScheduleTasksEmailTemplates] where [TaskID] = @TaskID
GO
