/****** Object:  StoredProcedure [dbo].[DeleteCertificate]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCertificate]
    (
    	@ActorID int,
    	@PackageID int,
    	@id int

    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    BEGIN
    	RAISERROR('You are not allowed to access this package', 16, 1)
    	RETURN
    END

    -- insert record
    DELETE FROM
    	[dbo].[SSLCertificates]
    WHERE
    	[ID] = @id

    RETURN
GO
