/****** Object:  StoredProcedure [dbo].[AddUserToRDSCollection]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserToRDSCollection]
    (
    	@RDSCollectionID INT,
    	@AccountId INT
    )
    AS

    INSERT INTO RDSCollectionUsers
    (
    	RDSCollectionId, 
    	AccountID
    )
    VALUES
    (
    	@RDSCollectionID,
    	@AccountId
    )
GO
