/****** Object:  StoredProcedure [dbo].[GetExchangeAccountByAccountName]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Password column removed
    CREATE PROCEDURE [dbo].[GetExchangeAccountByAccountName] 
    (
    	@ItemID int,
    	@AccountName nvarchar(300)
    )
    AS
    SELECT
    	E.AccountID,
    	E.ItemID,
    	E.AccountType,
    	E.AccountName,
    	E.DisplayName,
    	E.PrimaryEmailAddress,
    	E.MailEnabledPublicFolder,
    	E.MailboxManagerActions,
    	E.SamAccountName,
    	E.MailboxPlanId,
    	P.MailboxPlan,
    	E.SubscriberNumber,
    	E.UserPrincipalName,
    	E.ArchivingMailboxPlanId, 
    	AP.MailboxPlan as 'ArchivingMailboxPlan',
    	E.EnableArchiving
    FROM
    	ExchangeAccounts AS E
    LEFT OUTER JOIN ExchangeMailboxPlans AS P ON E.MailboxPlanId = P.MailboxPlanId	
    LEFT OUTER JOIN ExchangeMailboxPlans AS AP ON E.ArchivingMailboxPlanId = AP.MailboxPlanId
    WHERE
    	E.ItemID = @ItemID AND
    	E.AccountName = @AccountName
    RETURN
GO
