/****** Object:  UserDefinedFunction [dbo].[CheckPackageParent]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckPackageParent]
    (
    	@ParentPackageID int,
    	@PackageID int
    )
    RETURNS bit
    AS
    BEGIN

    -- check if the user requests hiself
    IF @ParentPackageID = @PackageID
    BEGIN
    	RETURN 1
    END

    DECLARE @TmpParentPackageID int, @TmpPackageID int
    SET @TmpPackageID = @PackageID

    WHILE 10 = 10
    BEGIN

    	SET @TmpParentPackageID = NULL --reset var

    	-- get owner
    	SELECT
    		@TmpParentPackageID = ParentPackageID
    	FROM Packages
    	WHERE PackageID = @TmpPackageID

    	IF @TmpParentPackageID IS NULL -- the last parent package
    		BREAK

    	IF @TmpParentPackageID = @ParentPackageID
    	RETURN 1

    	SET @TmpPackageID = @TmpParentPackageID
    END

    RETURN 0
    END
GO
