/****** Object:  StoredProcedure [dbo].[DeleteSchedule]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSchedule]
    (
    	@ActorID int,
    	@ScheduleID int
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM Schedule
    WHERE ScheduleID = @ScheduleID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN
    -- delete schedule parameters
    DELETE FROM ScheduleParameters
    WHERE ScheduleID = @ScheduleID

    -- delete schedule
    DELETE FROM Schedule
    WHERE ScheduleID = @ScheduleID

    COMMIT TRAN

    RETURN
GO
