/****** Object:  StoredProcedure [dbo].[UpdateSfBUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSfBUserPlan]
    (
    	@SfBUserPlanId int,
    	@SfBUserPlanName	nvarchar(300),
    	@SfBUserPlanType int,
    	@IM bit,
    	@Mobility bit,
    	@MobilityEnableOutsideVoice bit,
    	@Federation bit,
    	@Conferencing bit,
    	@EnterpriseVoice bit,
    	@VoicePolicy int,
    	@IsDefault bit
    )
    AS

    UPDATE SfBUserPlans SET
    	SfBUserPlanName = @SfBUserPlanName,
    	SfBUserPlanType = @SfBUserPlanType,
    	IM = @IM,
    	Mobility = @Mobility,
    	MobilityEnableOutsideVoice = @MobilityEnableOutsideVoice,
    	Federation = @Federation,
    	Conferencing =@Conferencing,
    	EnterpriseVoice = @EnterpriseVoice,
    	VoicePolicy = @VoicePolicy,
    	IsDefault = @IsDefault
    WHERE SfBUserPlanId = @SfBUserPlanId

    RETURN
GO
