/****** Object:  StoredProcedure [dbo].[DeleteExpiredWebDavAccessTokens]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExpiredWebDavAccessTokens]
    AS
    DELETE FROM WebDavAccessTokens
    WHERE ExpirationDate < getdate()
GO
