/****** Object:  StoredProcedure [dbo].[AddExchangeOrganization]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeOrganization]
    (
    	@ItemID int,
    	@OrganizationID nvarchar(128)
    )
    AS

    IF NOT EXISTS(SELECT * FROM ExchangeOrganizations WHERE OrganizationID = @OrganizationID)
    BEGIN
    	INSERT INTO ExchangeOrganizations
    	(ItemID, OrganizationID)
    	VALUES
    	(@ItemID, @OrganizationID)
    END

    RETURN
GO
