/****** Object:  StoredProcedure [dbo].[SetSfBUserSfBUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetSfBUserSfBUserPlan]
    (
    	@AccountID int,
    	@SfBUserPlanId int
    )
    AS

    UPDATE SfBUsers SET
    	SfBUserPlanId = @SfBUserPlanId
    WHERE
    	AccountID = @AccountID

    RETURN
GO
