/****** Object:  StoredProcedure [dbo].[AllocatePackageVLANs]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AllocatePackageVLANs]
    (
    	@PackageID int,
    	@xml ntext
    )
    AS
    BEGIN

    	SET NOCOUNT ON;

    	DECLARE @idoc int
    	--Create an internal representation of the XML document.
    	EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    	-- delete
    	DELETE FROM PackageVLANs
    	FROM PackageVLANs AS PV
    	INNER JOIN OPENXML(@idoc, '/items/item', 1) WITH 
    	(
    		VlanID int '@id'
    	) as PX ON PV.VlanID = PX.VlanID


    	-- insert
    	INSERT INTO dbo.PackageVLANs
    	(		
    		PackageID,
    		VlanID	
    	)
    	SELECT		
    		@PackageID,
    		VlanID

    	FROM OPENXML(@idoc, '/items/item', 1) WITH 
    	(
    		VlanID int '@id'
    	) as PX

    	-- remove document
    	exec sp_xml_removedocument @idoc

    END
GO
