/****** Object:  StoredProcedure [dbo].[GetDnsRecord]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDnsRecord]
    (
    	@ActorID int,
    	@RecordID int
    )
    AS

    -- check rights
    DECLARE @ServiceID int, @ServerID int, @PackageID int
    SELECT
    	@ServiceID = ServiceID,
    	@ServerID = ServerID,
    	@PackageID = PackageID
    FROM GlobalDnsRecords
    WHERE
    	RecordID = @RecordID

    IF (@ServiceID > 0 OR @ServerID > 0) AND dbo.CheckIsUserAdmin(@ActorID) = 0
    RAISERROR('You are not allowed to perform this operation', 16, 1)

    IF (@PackageID > 0) AND dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	NR.RecordID,
    	NR.ServiceID,
    	NR.ServerID,
    	NR.PackageID,
    	NR.RecordType,
    	NR.RecordName,
    	NR.RecordData,
    	NR.MXPriority,
    	NR.SrvPriority,
    	NR.SrvWeight,
    	NR.SrvPort,
    	NR.IPAddressID
    FROM
    	GlobalDnsRecords AS NR
    WHERE NR.RecordID = @RecordID
    RETURN
GO
