/****** Object:  StoredProcedure [dbo].[DeleteVirtualServices]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteVirtualServices]
    (
    	@ServerID int,
    	@Xml ntext
    )
    AS

    /*
    XML Format:

    <services>
    	<service id=""16"" />
    </services>

    */

    BEGIN TRAN
    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    -- update HP resources
    DELETE FROM VirtualServices
    WHERE ServiceID IN (
    SELECT
    	ServiceID
    FROM OPENXML(@idoc, '/services/service',1) WITH
    (
    	ServiceID int '@id'
    ) as XS)
    AND ServerID = @ServerID

    -- remove document
    EXEC sp_xml_removedocument @idoc

    COMMIT TRAN
    RETURN
GO
