/****** Object:  StoredProcedure [dbo].[GetAuditLogSources]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAuditLogSources]
    AS

    SELECT SourceName FROM AuditLogSources

    RETURN
GO
