/****** Object:  StoredProcedure [dbo].[GetItemDmzIPAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetItemDmzIPAddresses]
    (
    	@ActorID int,
    	@ItemID int
    )
    AS
    BEGIN
    SELECT
    	DIP.DmzAddressID AS AddressID,
    	DIP.IPAddress,
    	DIP.IsPrimary
    FROM DmzIPAddresses AS DIP
    INNER JOIN ServiceItems AS SI ON DIP.ItemID = SI.ItemID
    WHERE DIP.ItemID = @ItemID
    AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    ORDER BY DIP.IsPrimary DESC
    END
GO
