/****** Object:  StoredProcedure [dbo].[UpdateSupportServiceLevel]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSupportServiceLevel]
    (
    	@LevelID int,
    	@LevelName nvarchar(100),
    	@LevelDescription nvarchar(1000)
    )
    AS
    BEGIN

    	DECLARE @PrevQuotaName nvarchar(100), @PrevLevelName nvarchar(100)

    	SELECT @PrevLevelName = LevelName FROM SupportServiceLevels WHERE LevelID = @LevelID

    	SET @PrevQuotaName = N'ServiceLevel.' + @PrevLevelName

    	UPDATE SupportServiceLevels
    	SET LevelName = @LevelName,
    		LevelDescription = @LevelDescription
    	WHERE LevelID = @LevelID

    	IF EXISTS (SELECT * FROM Quotas WHERE QuotaName = @PrevQuotaName)
    	BEGIN
    		DECLARE @QuotaID INT

    		SELECT @QuotaID = QuotaID FROM Quotas WHERE QuotaName = @PrevQuotaName

    		UPDATE Quotas
    		SET QuotaName = N'ServiceLevel.' + @LevelName,
    			QuotaDescription = @LevelName + ', users'
    		WHERE QuotaID = @QuotaID
    	END

    END

    RETURN
GO
