/****** Object:  UserDefinedFunction [dbo].[CheckExceedingQuota]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckExceedingQuota]
    (
    	@PackageID int,
    	@QuotaID int,
    	@QuotaTypeID int
    )
    RETURNS int
    AS
    BEGIN

    DECLARE @ExceedValue int
    SET @ExceedValue = 0

    DECLARE @PackageQuotaValue int
    SET @PackageQuotaValue = dbo.GetPackageAllocatedQuota(@PackageID, @QuotaID)

    -- check boolean quota
    IF @QuotaTypeID = 1-- AND @PackageQuotaValue > 0 -- enabled
    RETURN 0 -- can exceed

    -- check numeric quota
    IF @QuotaTypeID = 2 AND @PackageQuotaValue = -1 -- unlimited
    RETURN 0 -- can exceed

    -- get summary usage for the numeric quota
    DECLARE @UsedQuantity int
    DECLARE @UsedPlans int
    DECLARE @UsedOverrides int
    DECLARE @UsedAddons int

    	-- limited by hosting plans
    	SELECT @UsedPlans = SUM(HPQ.QuotaValue) FROM Packages AS P
    	INNER JOIN HostingPlanQuotas AS HPQ ON P.PlanID = HPQ.PlanID
    	WHERE HPQ.QuotaID = @QuotaID
    		AND P.ParentPackageID = @PackageID
    		AND P.OverrideQuotas = 0

    	-- overrides
    	SELECT @UsedOverrides = SUM(PQ.QuotaValue) FROM Packages AS P
    	INNER JOIN PackageQuotas AS PQ ON P.PackageID = PQ.PackageID AND PQ.QuotaID = @QuotaID
    	WHERE P.ParentPackageID = @PackageID
    		AND P.OverrideQuotas = 1

    	-- addons
    	SELECT @UsedAddons = SUM(HPQ.QuotaValue * PA.Quantity)
    	FROM Packages AS P
    	INNER JOIN PackageAddons AS PA ON P.PackageID = PA.PackageID
    	INNER JOIN HostingPlanQuotas AS HPQ ON PA.PlanID = HPQ.PlanID
    	WHERE P.ParentPackageID = @PackageID AND HPQ.QuotaID = @QuotaID AND PA.StatusID = 1 -- active

    --SET @UsedQuantity = (SELECT SUM(dbo.GetPackageAllocatedQuota(PackageID, @QuotaID)) FROM Packages WHERE ParentPackageID = @PackageID)

    SET @UsedQuantity = @UsedPlans + @UsedOverrides + @UsedAddons

    IF @UsedQuantity IS NULL
    RETURN 0 -- can exceed

    SET @ExceedValue = @UsedQuantity - @PackageQuotaValue

    RETURN @ExceedValue
    END
GO
