/****** Object:  StoredProcedure [dbo].[GetStorageSpaceLevelById]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStorageSpaceLevelById] 
    (
    @ID INT
    )
    AS
    SELECT TOP 1
    	SL.Id,
    	Sl.Name,
    	SL.Description
    FROM StorageSpaceLevels AS SL
    WHERE SL.Id = @ID
GO
