/****** Object:  StoredProcedure [dbo].[GetDnsRecordsByServer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDnsRecordsByServer]
    (
    	@ActorID int,
    	@ServerID int
    )
    AS

    SELECT
    	NR.RecordID,
    	NR.ServiceID,
    	NR.ServerID,
    	NR.PackageID,
    	NR.RecordType,
    	NR.RecordName,
    	NR.RecordData,
    	CASE
    		WHEN NR.RecordType = 'A' AND NR.RecordData = '' THEN dbo.GetFullIPAddress(IP.ExternalIP, IP.InternalIP)
    		WHEN NR.RecordType = 'MX' THEN CONVERT(varchar(3), NR.MXPriority) + ', ' + NR.RecordData
    		WHEN NR.RecordType = 'SRV' THEN CONVERT(varchar(3), NR.SrvPort) + ', ' + NR.RecordData
    		ELSE NR.RecordData
    	END AS FullRecordData,
    	NR.MXPriority,
    	NR.SrvPriority,
    	NR.SrvWeight,
    	NR.SrvPort,
    	NR.IPAddressID,
    	dbo.GetFullIPAddress(IP.ExternalIP, IP.InternalIP) AS IPAddress,
    	IP.ExternalIP,
    	IP.InternalIP
    FROM
    	GlobalDnsRecords AS NR
    LEFT OUTER JOIN IPAddresses AS IP ON NR.IPAddressID = IP.AddressID
    WHERE
    	NR.ServerID = @ServerID
    RETURN
GO
