/****** Object:  StoredProcedure [dbo].[SetExchangeAccountDisclaimerId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetExchangeAccountDisclaimerId] 
    (
    	@AccountID int,
    	@ExchangeDisclaimerId int
    )
    AS
    UPDATE ExchangeAccounts SET
    	ExchangeDisclaimerId = @ExchangeDisclaimerId
    WHERE AccountID = @AccountID

    RETURN
GO
