/****** Object:  StoredProcedure [dbo].[DeleteItemIPAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteItemIPAddresses]
    (
    	@ActorID int,
    	@ItemID int
    )
    AS
    BEGIN
    	UPDATE PackageIPAddresses
    	SET
    		ItemID = NULL,
    		IsPrimary = 0
    	FROM PackageIPAddresses AS PIP
    	WHERE
    		PIP.ItemID = @ItemID
    		AND dbo.CheckActorPackageRights(@ActorID, PIP.PackageID) = 1
    END
GO
