/****** Object:  StoredProcedure [dbo].[UpdateExchangeAccountUserPrincipalName]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateExchangeAccountUserPrincipalName]
    (
    	@AccountID int,
    	@UserPrincipalName nvarchar(300)
    )
    AS

    UPDATE ExchangeAccounts SET
    	UserPrincipalName = @UserPrincipalName
    WHERE
    	AccountID = @AccountID

    RETURN
GO
