/****** Object:  StoredProcedure [dbo].[MoveServiceItem]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MoveServiceItem]
    (
    	@ActorID int,
    	@ItemID int,
    	@DestinationServiceID int,
    	@forAutodiscover bit
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM ServiceItems
    WHERE ItemID = @ItemID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0 AND @forAutodiscover = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN

    UPDATE ServiceItems
    SET ServiceID = @DestinationServiceID
    WHERE ItemID = @ItemID

    COMMIT TRAN

    RETURN
GO
