/****** Object:  StoredProcedure [dbo].[CreateStorageSpaceFolder]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateStorageSpaceFolder]
    (
    	@ID INT OUTPUT,
    	@Name varchar(300),
    	@StorageSpaceId INT,
    	@Path varchar(max),
    	@UncPath varchar(max),
    	@IsShared BIT,
    	@FsrmQuotaType INT,
    	@FsrmQuotaSizeBytes BIGINT 
    )
    AS
    INSERT INTO StorageSpaceFolders (	
    	Name,
    	StorageSpaceId,
    	Path,
    	UncPath,
    	IsShared,
    	FsrmQuotaType,
    	FsrmQuotaSizeBytes)
    VALUES (
    	@Name,
    	@StorageSpaceId,
    	@Path,
    	@UncPath,
    	@IsShared,
    	@FsrmQuotaType,
    	@FsrmQuotaSizeBytes)

    SET @ID = SCOPE_IDENTITY()

    RETURN
GO
