/****** Object:  StoredProcedure [dbo].[GetVirtualServers]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVirtualServers]
    (
    	@ActorID int
    )
    AS

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	S.ServerID,
    	S.ServerName,
    	S.ServerUrl,
    	(SELECT COUNT(SRV.ServiceID) FROM VirtualServices AS SRV WHERE S.ServerID = SRV.ServerID) AS ServicesNumber,
    	S.Comments,
    	PrimaryGroupID
    FROM Servers AS S
    WHERE
    	VirtualServer = 1
    	AND @IsAdmin = 1
    ORDER BY S.ServerName

    RETURN
GO
