/****** Object:  StoredProcedure [dbo].[SetUserOneTimePassword]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetUserOneTimePassword]
    (
    	@UserID int,
    	@Password nvarchar(200),
    	@OneTimePasswordState int
    )
    AS
    UPDATE Users
    SET Password = @Password, OneTimePasswordState = @OneTimePasswordState
    WHERE UserID = @UserID
    RETURN
GO
