/****** Object:  StoredProcedure [dbo].[DeleteExchangeAccount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeAccount]
    (
    	@ItemID int,
    	@AccountID int
    )
    AS

    -- delete e-mail addresses
    DELETE FROM ExchangeAccountEmailAddresses
    WHERE AccountID = @AccountID

    -- delete account
    DELETE FROM ExchangeAccounts
    WHERE ItemID = @ItemID AND AccountID = @AccountID

    RETURN
GO
