/****** Object:  StoredProcedure [dbo].[CheckUserExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUserExists]
    (
    	@Exists bit OUTPUT,
    	@Username nvarchar(100)
    )
    AS

    SET @Exists = 0

    IF EXISTS (SELECT UserID FROM Users
    WHERE Username = @Username)
    SET @Exists = 1

    RETURN
GO
