/****** Object:  StoredProcedure [dbo].[GetRDSControllerServiceIDbyFQDN]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSControllerServiceIDbyFQDN]
    (
    	@RdsfqdnName NVARCHAR(255),
    	@Controller int OUTPUT
    )
    AS

    SELECT @Controller = Controller
    	FROM RDSServers
    	WHERE FqdName = @RdsfqdnName

    RETURN
GO
