/****** Object:  StoredProcedure [dbo].[UpdateExchangeAccount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Password column removed
    CREATE PROCEDURE [dbo].[UpdateExchangeAccount] 
    (
    	@AccountID int,
    	@AccountName nvarchar(300),
    	@DisplayName nvarchar(300),
    	@PrimaryEmailAddress nvarchar(300),
    	@AccountType int,
    	@SamAccountName nvarchar(100),
    	@MailEnabledPublicFolder bit,
    	@MailboxManagerActions varchar(200),
    	@MailboxPlanId int,
    	@ArchivingMailboxPlanId int,
    	@SubscriberNumber varchar(32),
    	@EnableArchiving bit
    )
    AS

    BEGIN TRAN	

    IF (@MailboxPlanId = -1) 
    BEGIN
    	SET @MailboxPlanId = NULL
    END

    UPDATE ExchangeAccounts SET
    	AccountName = @AccountName,
    	DisplayName = @DisplayName,
    	PrimaryEmailAddress = @PrimaryEmailAddress,
    	MailEnabledPublicFolder = @MailEnabledPublicFolder,
    	MailboxManagerActions = @MailboxManagerActions,	
    	AccountType =@AccountType,
    	SamAccountName = @SamAccountName,
    	MailboxPlanId = @MailboxPlanId,
    	SubscriberNumber = @SubscriberNumber,
    	ArchivingMailboxPlanId = @ArchivingMailboxPlanId,
    	EnableArchiving = @EnableArchiving

    WHERE
    	AccountID = @AccountID

    IF (@@ERROR <> 0 )
    	BEGIN
    		ROLLBACK TRANSACTION
    		RETURN -1
    	END

    COMMIT TRAN
    RETURN
GO
