/****** Object:  StoredProcedure [dbo].[GetEnterpriseFolderOwaUsers]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnterpriseFolderOwaUsers]
    (
    	@ItemID INT,
    	@FolderID INT
    )
    AS
    SELECT 
    	EA.AccountID,
    	EA.ItemID,
    	EA.AccountType,
    	EA.AccountName,
    	EA.DisplayName,
    	EA.PrimaryEmailAddress,
    	EA.MailEnabledPublicFolder,
    	EA.MailboxPlanId,
    	EA.SubscriberNumber,
    	EA.UserPrincipalName 
    	FROM EnterpriseFoldersOwaPermissions AS EFOP
    	LEFT JOIN  ExchangeAccounts AS EA ON EA.AccountID = EFOP.AccountID
    	WHERE EFOP.ItemID = @ItemID AND EFOP.FolderID = @FolderID
GO
