/****** Object:  StoredProcedure [dbo].[GetWebDavPortalUsersSettingsByAccountId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWebDavPortalUsersSettingsByAccountId]
    (
    	@AccountId INT
    )
    AS
    SELECT TOP 1
    	US.Id,
    	US.AccountId,
    	US.Settings
    	FROM WebDavPortalUsersSettings AS US
    	WHERE AccountId = @AccountId
GO
