/****** Object:  StoredProcedure [dbo].[DeleteExpiredAccessTokenTokens]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExpiredAccessTokenTokens]
    AS
    DELETE FROM AccessTokens
    WHERE ExpirationDate < getdate()
GO
