/****** Object:  StoredProcedure [dbo].[GetRDSServersPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSServersPaged]
    (
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@ItemID int,
    	@IgnoreItemId bit,
    	@RdsCollectionId int,
    	@IgnoreRdsCollectionId bit,
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int,
    	@Controller int,
    	@ControllerName nvarchar(50) = ''
    )
    AS
    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2000)

    SET @sql = '

    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows

    DECLARE @RDSServer TABLE
    (
    	ItemPosition int IDENTITY(0,1),
    	RDSServerId int
    )
    INSERT INTO @RDSServer (RDSServerId)
    SELECT
    	S.ID
    FROM RDSServers AS S
    LEFT OUTER JOIN  ServiceItems AS SI ON SI.ItemId = S.ItemId
    LEFT OUTER JOIN  Services AS SE ON SE.ServiceID = S.Controller
    LEFT OUTER JOIN  RDSCollections AS RC ON RC.ID = S.RdsCollectionId
    WHERE 
    	((((@ItemID is Null AND S.ItemID is null ) or (@IgnoreItemId = 1 ))
    		or (@ItemID is not Null AND S.ItemID = @ItemID ))
    	and
    	(((@RdsCollectionId is Null AND S.RDSCollectionId is null) or @IgnoreRdsCollectionId = 1)
    		or (@RdsCollectionId is not Null AND S.RDSCollectionId = @RdsCollectionId)))'

    IF @FilterColumn <> '' AND @FilterValue <> ''
    SET @sql = @sql + ' AND ' + @FilterColumn + ' LIKE ''%' + @FilterValue + '%'''

    IF @Controller <> ''
    SET @sql = @sql + ' AND Controller = @Controller '

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(RDSServerId) FROM @RDSServer;
    SELECT
    	ST.ID,
    	ST.ItemID,
    	ST.Name, 
    	ST.FqdName,
    	ST.Description,
    	ST.RdsCollectionId,
    	SI.ItemName,
    	ST.ConnectionEnabled,
    	ST.Controller,
    	SE.ServiceName as ControllerName,
    	RC.Name as CollectionName
    FROM @RDSServer AS S
    INNER JOIN RDSServers AS ST ON S.RDSServerId = ST.ID
    LEFT OUTER JOIN  ServiceItems AS SI ON SI.ItemId = ST.ItemId
    LEFT OUTER JOIN  Services AS SE ON SE.ServiceID = ST.Controller
    LEFT OUTER JOIN  RDSCollections AS RC ON RC.ID = ST.RdsCollectionId
    WHERE S.ItemPosition BETWEEN @StartRow AND @EndRow'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int,  @FilterValue nvarchar(50),  @ItemID int, @RdsCollectionId int, @IgnoreItemId bit, @IgnoreRdsCollectionId bit, @Controller int, @ControllerName nvarchar(50)',
    @StartRow, @MaximumRows,  @FilterValue,  @ItemID, @RdsCollectionId, @IgnoreItemId , @IgnoreRdsCollectionId, @Controller, @ControllerName

    RETURN
GO
