/****** Object:  StoredProcedure [dbo].[GetSfBUserPlans]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSfBUserPlans]
    (
    	@ItemID int
    )
    AS
    SELECT
    	SfBUserPlanId,
    	ItemID,
    	SfBUserPlanName,
    	SfBUserPlanType,
    	IM,
    	Mobility,
    	MobilityEnableOutsideVoice,
    	Federation,
    	Conferencing,
    	EnterpriseVoice,
    	VoicePolicy,
    	IsDefault
    FROM
    	SfBUserPlans
    WHERE
    	ItemID = @ItemID
    ORDER BY SfBUserPlanName
    RETURN
GO
