/****** Object:  StoredProcedure [dbo].[AddAccessToken]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddAccessToken]
    (
    	@TokenID INT OUTPUT,
    	@AccessToken UNIQUEIDENTIFIER,
    	@ExpirationDate DATETIME,
    	@AccountID INT,
    	@ItemId INT,
    	@TokenType INT
    )
    AS
    INSERT INTO AccessTokens
    (
    	AccessTokenGuid,
    	ExpirationDate,
    	AccountID  ,
    	ItemId,
    	TokenType
    )
    VALUES
    (
    	@AccessToken  ,
    	@ExpirationDate ,
    	@AccountID,
    	@ItemId,
    	@TokenType
    )

    SET @TokenID = SCOPE_IDENTITY()

    RETURN
GO
