/****** Object:  StoredProcedure [dbo].[UpdateExchangeAccountSLSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateExchangeAccountSLSettings]
    (
    	@AccountID int,
    	@LevelID int,
    	@IsVIP bit
    )
    AS

    BEGIN TRAN	

    	IF (@LevelID = -1) 
    	BEGIN
    		SET @LevelID = NULL
    	END

    	UPDATE ExchangeAccounts SET
    		LevelID = @LevelID,
    		IsVIP = @IsVIP
    	WHERE
    		AccountID = @AccountID

    	IF (@@ERROR <> 0 )
    		BEGIN
    			ROLLBACK TRANSACTION
    			RETURN -1
    		END
    COMMIT TRAN
    RETURN
GO
