/****** Object:  StoredProcedure [dbo].[GetExchangeAccountDisclaimerId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeAccountDisclaimerId] 
    (
    	@AccountID int
    )
    AS
    SELECT
    	ExchangeDisclaimerId
    FROM
    	ExchangeAccounts
    WHERE
    	AccountID= @AccountID
    RETURN
GO
