/****** Object:  StoredProcedure [dbo].[DeleteItemDmzIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteItemDmzIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@DmzAddressID int
    )
    AS
    BEGIN
    	DELETE FROM DmzIPAddresses
    	FROM DmzIPAddresses AS DIP
    	INNER JOIN ServiceItems AS SI ON DIP.ItemID = SI.ItemID
    	WHERE DIP.DmzAddressID = @DmzAddressID
    	AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    END
GO
