/****** Object:  StoredProcedure [dbo].[SetOrganizationDefaultSfBUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetOrganizationDefaultSfBUserPlan]
    (
    	@ItemID int,
    	@SfBUserPlanId int
    )
    AS

    UPDATE ExchangeOrganizations SET
    	SfBUserPlanID = @SfBUserPlanId
    WHERE
    	ItemID = @ItemID

    RETURN
GO
