/****** Object:  StoredProcedure [dbo].[DeleteServiceItem]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteServiceItem]
    (
    	@ActorID int,
    	@ItemID int
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM ServiceItems
    WHERE ItemID = @ItemID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN

    UPDATE Domains
    SET ZoneItemID = NULL
    WHERE ZoneItemID = @ItemID

    DELETE FROM Domains
    WHERE WebSiteID = @ItemID AND IsDomainPointer = 1

    UPDATE Domains
    SET WebSiteID = NULL
    WHERE WebSiteID = @ItemID

    UPDATE Domains
    SET MailDomainID = NULL
    WHERE MailDomainID = @ItemID

    -- delete item comments
    DELETE FROM Comments
    WHERE ItemID = @ItemID AND ItemTypeID = 'SERVICE_ITEM'

    -- delete item properties
    DELETE FROM ServiceItemProperties
    WHERE ItemID = @ItemID

    -- delete external IP addresses
    EXEC dbo.DeleteItemIPAddresses @ActorID, @ItemID

    -- delete item
    DELETE FROM ServiceItems
    WHERE ItemID = @ItemID

    COMMIT TRAN

    RETURN
GO
