/****** Object:  StoredProcedure [dbo].[UpdateRDSCollectionSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRDSCollectionSettings]
    (
    	@ID INT,
    	@RDSCollectionId INT,
    	@DisconnectedSessionLimitMin INT, 
    	@ActiveSessionLimitMin INT,
    	@IdleSessionLimitMin INT,
    	@BrokenConnectionAction NVARCHAR(20),
    	@AutomaticReconnectionEnabled BIT,
    	@TemporaryFoldersDeletedOnExit BIT,
    	@TemporaryFoldersPerSession BIT,
    	@ClientDeviceRedirectionOptions NVARCHAR(250),
    	@ClientPrinterRedirected BIT,
    	@ClientPrinterAsDefault BIT,
    	@RDEasyPrintDriverEnabled BIT,
    	@MaxRedirectedMonitors INT,
    	@SecurityLayer NVARCHAR(20),
    	@EncryptionLevel NVARCHAR(20),
    	@AuthenticateUsingNLA BIT
    )
    AS

    UPDATE RDSCollectionSettings
    SET
    	RDSCollectionId = @RDSCollectionId,
    	DisconnectedSessionLimitMin = @DisconnectedSessionLimitMin,
    	ActiveSessionLimitMin = @ActiveSessionLimitMin,
    	IdleSessionLimitMin = @IdleSessionLimitMin,
    	BrokenConnectionAction = @BrokenConnectionAction,
    	AutomaticReconnectionEnabled = @AutomaticReconnectionEnabled,
    	TemporaryFoldersDeletedOnExit = @TemporaryFoldersDeletedOnExit,
    	TemporaryFoldersPerSession = @TemporaryFoldersPerSession,
    	ClientDeviceRedirectionOptions = @ClientDeviceRedirectionOptions,
    	ClientPrinterRedirected = @ClientPrinterRedirected,
    	ClientPrinterAsDefault = @ClientPrinterAsDefault,
    	RDEasyPrintDriverEnabled = @RDEasyPrintDriverEnabled,
    	MaxRedirectedMonitors = @MaxRedirectedMonitors,
    	SecurityLayer = @SecurityLayer,
    	EncryptionLevel = @EncryptionLevel,
    	AuthenticateUsingNLA = @AuthenticateUsingNLA
    WHERE ID = @Id
GO
