/****** Object:  StoredProcedure [dbo].[UpdateWhoisDomainInfo]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateWhoisDomainInfo]
    (
    	@DomainId INT,
    	@DomainCreationDate DateTime,
    	@DomainExpirationDate DateTime,
    	@DomainLastUpdateDate DateTime,
    	@DomainRegistrarName nvarchar(max)
    )
    AS
    UPDATE [dbo].[Domains] SET [CreationDate] = @DomainCreationDate, [ExpirationDate] = @DomainExpirationDate, [LastUpdateDate] = @DomainLastUpdateDate, [RegistrarName] = @DomainRegistrarName WHERE [DomainID] = @DomainId
GO
