/****** Object:  StoredProcedure [dbo].[DeleteExchangeAccountEmailAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeAccountEmailAddress]
    (
    	@AccountID int,
    	@EmailAddress nvarchar(300)
    )
    AS
    DELETE FROM ExchangeAccountEmailAddresses
    WHERE AccountID = @AccountID AND EmailAddress = @EmailAddress
    RETURN
GO
