/****** Object:  UserDefinedFunction [dbo].[CheckUserParent]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckUserParent]
    (
    	@OwnerID int,
    	@UserID int
    )
    RETURNS bit
    AS
    BEGIN

    -- check if the user requests himself
    IF @OwnerID = @UserID
    BEGIN
    	RETURN 1
    END

    -- check if the owner is peer
    DECLARE @IsPeer int, @TmpOwnerID int
    SELECT @IsPeer = IsPeer, @TmpOwnerID = OwnerID FROM Users
    WHERE UserID = @OwnerID

    IF @IsPeer = 1
    SET @OwnerID = @TmpOwnerID

    -- check if the user requests himself
    IF @OwnerID = @UserID
    BEGIN
    	RETURN 1
    END

    DECLARE @ParentUserID int, @TmpUserID int
    SET @TmpUserID = @UserID

    WHILE 10 = 10
    BEGIN

    	SET @ParentUserID = NULL --reset var

    	-- get owner
    	SELECT
    		@ParentUserID = OwnerID
    	FROM Users
    	WHERE UserID = @TmpUserID

    	IF @ParentUserID IS NULL -- the last parent
    		BREAK

    	IF @ParentUserID = @OwnerID
    	RETURN 1

    	SET @TmpUserID = @ParentUserID
    END

    RETURN 0
    END
GO
