/****** Object:  StoredProcedure [dbo].[SfBUserExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SfBUserExists]
    (
    	@AccountID int,
    	@SipAddress nvarchar(300),
    	@Exists bit OUTPUT
    )
    AS

    	SET @Exists = 0
    	IF EXISTS(SELECT * FROM [dbo].[ExchangeAccountEmailAddresses] WHERE [EmailAddress] = @SipAddress AND [AccountID] <> @AccountID)
    		BEGIN
    			SET @Exists = 1
    		END
    	ELSE IF EXISTS(SELECT * FROM [dbo].[ExchangeAccounts] WHERE [PrimaryEmailAddress] = @SipAddress AND [AccountID] <> @AccountID)
    		BEGIN
    			SET @Exists = 1
    		END
    	ELSE IF EXISTS(SELECT * FROM [dbo].[ExchangeAccounts] WHERE [UserPrincipalName] = @SipAddress AND [AccountID] <> @AccountID)
    		BEGIN
    			SET @Exists = 1
    		END
    	ELSE IF EXISTS(SELECT * FROM [dbo].[ExchangeAccounts] WHERE [AccountName] = @SipAddress AND [AccountID] <> @AccountID)
    		BEGIN
    			SET @Exists = 1
    		END
    	ELSE IF EXISTS(SELECT * FROM [dbo].[SfBUsers] WHERE [SipAddress] = @SipAddress)
    		BEGIN
    			SET @Exists = 1
    		END

    	RETURN
GO
