/****** Object:  StoredProcedure [dbo].[AddBackgroundTask]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBackgroundTask]
    (
    	@BackgroundTaskID INT OUTPUT,
    	@Guid UNIQUEIDENTIFIER,
    	@TaskID NVARCHAR(255),
    	@ScheduleID INT,
    	@PackageID INT,
    	@UserID INT,
    	@EffectiveUserID INT,
    	@TaskName NVARCHAR(255),
    	@ItemID INT,
    	@ItemName NVARCHAR(255),
    	@StartDate DATETIME,
    	@IndicatorCurrent INT,
    	@IndicatorMaximum INT,
    	@MaximumExecutionTime INT,
    	@Source NVARCHAR(MAX),
    	@Severity INT,
    	@Completed BIT,
    	@NotifyOnComplete BIT,
    	@Status INT
    )
    AS

    INSERT INTO BackgroundTasks
    (
    	Guid,
    	TaskID,
    	ScheduleID,
    	PackageID,
    	UserID,
    	EffectiveUserID,
    	TaskName,
    	ItemID,
    	ItemName,
    	StartDate,
    	IndicatorCurrent,
    	IndicatorMaximum,
    	MaximumExecutionTime,
    	Source,
    	Severity,
    	Completed,
    	NotifyOnComplete,
    	Status
    )
    VALUES
    (
    	@Guid,
    	@TaskID,
    	@ScheduleID,
    	@PackageID,
    	@UserID,
    	@EffectiveUserID,
    	@TaskName,
    	@ItemID,
    	@ItemName,
    	@StartDate,
    	@IndicatorCurrent,
    	@IndicatorMaximum,
    	@MaximumExecutionTime,
    	@Source,
    	@Severity,
    	@Completed,
    	@NotifyOnComplete,
    	@Status
    )

    SET @BackgroundTaskID = SCOPE_IDENTITY()

    RETURN
GO
