/****** Object:  StoredProcedure [dbo].[GetLyncUserPlanByAccountId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLyncUserPlanByAccountId]
    (
    	@AccountID int
    )
    AS
    SELECT
    	LyncUserPlanId,
    	ItemID,
    	LyncUserPlanName,
    	LyncUserPlanType,
    	IM,
    	Mobility,
    	MobilityEnableOutsideVoice,
    	Federation,
    	Conferencing,
    	EnterpriseVoice,
    	VoicePolicy,
    	IsDefault
    FROM
    	LyncUserPlans
    WHERE
    	LyncUserPlanId IN (SELECT LyncUserPlanId FROM LyncUsers WHERE AccountID = @AccountID)
    RETURN
GO
