/****** Object:  StoredProcedure [dbo].[ChangePackageUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangePackageUser]
    (
    	@PackageID int,
    	@ActorID int,
    	@UserID int
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN

    UPDATE Packages
    SET UserID = @UserID
    WHERE PackageID = @PackageID

    COMMIT TRAN

    RETURN
GO
