/****** Object:  StoredProcedure [dbo].[ExchangeOrganizationDomainExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExchangeOrganizationDomainExists]
    (
    	@DomainID int,
    	@Exists bit OUTPUT
    )
    AS
    SET @Exists = 0
    IF EXISTS(SELECT * FROM ExchangeOrganizationDomains WHERE DomainID = @DomainID)
    BEGIN
    	SET @Exists = 1
    END
    RETURN
GO
