/****** Object:  StoredProcedure [dbo].[DeleteLevelResourceGroups]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLevelResourceGroups]
    (
    	@LevelId INT
    )
    AS
    	DELETE 
    	FROM [dbo].[StorageSpaceLevelResourceGroups]
    	WHERE LevelId = @LevelId
GO
