/****** Object:  StoredProcedure [dbo].[ExchangeAccountEmailAddressExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExchangeAccountEmailAddressExists]
    (
    	@EmailAddress nvarchar(300),
    	@checkContacts bit,
    	@Exists bit OUTPUT
    )
    AS
    	SET @Exists = 0
    	IF EXISTS(SELECT * FROM [dbo].[ExchangeAccountEmailAddresses] WHERE [EmailAddress] = @EmailAddress)
    		BEGIN
    			SET @Exists = 1
    		END
    	ELSE IF EXISTS(SELECT * FROM [dbo].[ExchangeAccounts] WHERE [PrimaryEmailAddress] = @EmailAddress AND ([AccountType] <> 2 OR @checkContacts = 1))
    		BEGIN
    			SET @Exists = 1
    		END

    	RETURN
GO
