/****** Object:  StoredProcedure [dbo].[UpdateRDSServer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRDSServer]
    (
    	@Id  INT,
    	@ItemID INT,
    	@Name NVARCHAR(255),
    	@FqdName NVARCHAR(255),
    	@Description NVARCHAR(255),
    	@RDSCollectionId INT,
    	@ConnectionEnabled BIT
    )
    AS

    UPDATE RDSServers
    SET
    	ItemID = @ItemID,
    	Name = @Name,
    	FqdName = @FqdName,
    	Description = @Description,
    	RDSCollectionId = @RDSCollectionId,
    	ConnectionEnabled = @ConnectionEnabled
    WHERE ID = @Id
GO
