/****** Object:  StoredProcedure [dbo].[DeleteSupportServiceLevel]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSupportServiceLevel]
    (
    	@LevelID int
    )
    AS
    BEGIN

    	DECLARE @LevelName nvarchar(100), @QuotaName nvarchar(100), @QuotaID int

    	SELECT @LevelName = LevelName FROM SupportServiceLevels WHERE LevelID = @LevelID

    	SET @QuotaName = N'ServiceLevel.' + @LevelName

    	SELECT @QuotaID = QuotaID FROM Quotas WHERE QuotaName = @QuotaName

    	IF @QuotaID IS NOT NULL
    	BEGIN
    		DELETE FROM HostingPlanQuotas WHERE QuotaID = @QuotaID
    		DELETE FROM PackageQuotas WHERE QuotaID = @QuotaID
    		DELETE FROM Quotas WHERE QuotaID = @QuotaID
    	END

    	IF EXISTS (SELECT * FROM ExchangeAccounts WHERE LevelID = @LevelID)
    	UPDATE ExchangeAccounts
    	   SET LevelID = NULL
    	 WHERE LevelID = @LevelID

    	DELETE FROM SupportServiceLevels WHERE LevelID = @LevelID

    END

    RETURN
GO
