/****** Object:  StoredProcedure [dbo].[AddDomain]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDomain]
    (
    	@DomainID int OUTPUT,
    	@ActorID int,
    	@PackageID int,
    	@ZoneItemID int,
    	@DomainName nvarchar(200),
    	@HostingAllowed bit,
    	@WebSiteID int,
    	@MailDomainID int,
    	@IsSubDomain bit,
    	@IsPreviewDomain bit,
    	@IsDomainPointer bit
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    IF @ZoneItemID = 0 SET @ZoneItemID = NULL
    IF @WebSiteID = 0 SET @WebSiteID = NULL
    IF @MailDomainID = 0 SET @MailDomainID = NULL

    -- insert record
    INSERT INTO Domains
    (
    	PackageID,
    	ZoneItemID,
    	DomainName,
    	HostingAllowed,
    	WebSiteID,
    	MailDomainID,
    	IsSubDomain,
    	IsPreviewDomain,
    	IsDomainPointer
    )
    VALUES
    (
    	@PackageID,
    	@ZoneItemID,
    	@DomainName,
    	@HostingAllowed,
    	@WebSiteID,
    	@MailDomainID,
    	@IsSubDomain,
    	@IsPreviewDomain,
    	@IsDomainPointer
    )

    SET @DomainID = SCOPE_IDENTITY()
    RETURN
GO
