/****** Object:  StoredProcedure [dbo].[GetPackageBandwidthUpdate]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageBandwidthUpdate]
    (
    	@PackageID int,
    	@UpdateDate datetime OUTPUT
    )
    AS
    	SELECT @UpdateDate = BandwidthUpdated FROM Packages
    	WHERE PackageID = @PackageID
    RETURN
GO
