/****** Object:  StoredProcedure [dbo].[DeleteCluster]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCluster]
    (
    	@ClusterID int
    )
    AS

    -- reset cluster in services
    UPDATE Services
    SET ClusterID = NULL
    WHERE ClusterID = @ClusterID

    -- delete cluster
    DELETE FROM Clusters
    WHERE ClusterID = @ClusterID
    RETURN
GO
