/****** Object:  UserDefinedFunction [dbo].[CheckActorPackageRights]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckActorPackageRights]
    (
    	@ActorID int,
    	@PackageID int
    )
    RETURNS bit
    AS
    BEGIN

    IF @ActorID = -1 OR @PackageID IS NULL
    RETURN 1

    -- check if this is a 'system' package
    IF @PackageID < 2 AND @PackageID > -1 AND dbo.CheckIsUserAdmin(@ActorID) = 0
    RETURN 0

    -- get package owner
    DECLARE @UserID int
    SELECT @UserID = UserID FROM Packages
    WHERE PackageID = @PackageID

    IF @UserID IS NULL
    RETURN 1 -- unexisting package

    -- check user
    RETURN dbo.CheckActorUserRights(@ActorID, @UserID)

    RETURN 0
    END
GO
