/****** Object:  StoredProcedure [dbo].[ChangeExchangeAcceptedDomainType]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeExchangeAcceptedDomainType]
    (
    	@ItemID int,
    	@DomainID int,
    	@DomainTypeID int
    )
    AS
    UPDATE ExchangeOrganizationDomains
    SET DomainTypeID=@DomainTypeID
    WHERE ItemID=ItemID AND DomainID=@DomainID
    RETURN
GO
