/****** Object:  StoredProcedure [dbo].[GetCRMUsersCount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCRMUsersCount] 
    (
    	@ItemID int,
    	@Name nvarchar(400),
    	@Email nvarchar(400),
    	@CALType int
    )
    AS
    BEGIN

    IF (@Name IS NULL)
    BEGIN
    	SET @Name = '%'
    END

    IF (@Email IS NULL)
    BEGIN
    	SET @Email = '%'
    END

    SELECT 
    	COUNT(ea.AccountID)		
    FROM 
    	ExchangeAccounts ea 
    INNER JOIN 
    	CRMUsers cu 
    ON 
    	ea.AccountID = cu.AccountID
    WHERE 
    	ea.ItemID = @ItemID AND ea.DisplayName LIKE @Name AND ea.PrimaryEmailAddress LIKE @Email
    	AND ((cu.CALType = @CALType) OR (@CALType = -1))
    END
GO
