/****** Object:  StoredProcedure [dbo].[DeletePackageAddon]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePackageAddon]
    (
    	@ActorID int,
    	@PackageAddonID int
    )
    AS

    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM PackageAddons
    WHERE PackageAddonID = @PackageAddonID

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- delete record
    DELETE FROM PackageAddons
    WHERE PackageAddonID = @PackageAddonID

    RETURN
GO
