/****** Object:  StoredProcedure [dbo].[GetServerShortDetails]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServerShortDetails]
    (
    	@ServerID int
    )
    AS

    SELECT
    	ServerID,
    	ServerName,
    	Comments,
    	VirtualServer,
    	InstantDomainAlias
    FROM Servers
    WHERE
    	ServerID = @ServerID

    RETURN
GO
