/****** Object:  StoredProcedure [dbo].[GetAuditLogTasks]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAuditLogTasks]
    (
    	@SourceName varchar(100)
    )
    AS

    IF @SourceName = '' SET @SourceName = NULL

    SELECT SourceName, TaskName FROM AuditLogTasks
    WHERE (@SourceName = NULL OR @SourceName IS NOT NULL AND SourceName = @SourceName)

    RETURN
GO
