/****** Object:  StoredProcedure [dbo].[DeleteRDSCollection]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRDSCollection]
    (
    	@Id  int
    )
    AS

    UPDATE RDSServers
    SET
    	RDSCollectionId = Null
    WHERE RDSCollectionId = @Id

    DELETE FROM RDSCollections
    WHERE Id = @Id
GO
