/****** Object:  StoredProcedure [dbo].[UpdateAdditionalGroup]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAdditionalGroup]
    (
    	@GroupID INT,
    	@GroupName NVARCHAR(255)
    )
    AS

    UPDATE AdditionalGroups SET
    	GroupName = @GroupName
    WHERE ID = @GroupID
GO
