/****** Object:  StoredProcedure [dbo].[GetServiceItemByName]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceItemByName]
    (
    	@ActorID int,
    	@PackageID int,
    	@ItemName nvarchar(500),
    	@GroupName nvarchar(100) = NULL,
    	@ItemTypeName nvarchar(200)
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @Items TABLE
    (
    	ItemID int
    )

    -- find service items
    INSERT INTO @Items
    SELECT
    	SI.ItemID
    FROM ServiceItems AS SI
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    INNER JOIN ResourceGroups AS RG ON SIT.GroupID = RG.GroupID
    WHERE SI.PackageID = @PackageID AND SIT.TypeName = @ItemTypeName
    AND SI.ItemName = @ItemName
    AND ((@GroupName IS NULL) OR (@GroupName IS NOT NULL AND RG.GroupName = @GroupName))

    -- select service items
    SELECT
    	SI.ItemID,
    	SI.ItemName,
    	SI.ItemTypeID,
    	SIT.TypeName,
    	SI.ServiceID,
    	SI.PackageID,
    	P.PackageName,
    	S.ServiceID,
    	S.ServiceName,
    	SRV.ServerID,
    	SRV.ServerName,
    	RG.GroupName,
    	U.UserID,
    	U.Username,
    	U.FullName AS UserFullName,
    	SI.CreatedDate
    FROM @Items AS FI
    INNER JOIN ServiceItems AS SI ON FI.ItemID = SI.ItemID
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    INNER JOIN Packages AS P ON SI.PackageID = P.PackageID
    INNER JOIN Services AS S ON SI.ServiceID = S.ServiceID
    INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    INNER JOIN Providers AS PROV ON S.ProviderID = PROV.ProviderID
    INNER JOIN ResourceGroups AS RG ON PROV.GroupID = RG.GroupID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID

    -- select item properties
    -- get corresponding item properties
    SELECT
    	IP.ItemID,
    	IP.PropertyName,
    	IP.PropertyValue
    FROM ServiceItemProperties AS IP
    INNER JOIN @Items AS FI ON IP.ItemID = FI.ItemID

    RETURN
GO
