/****** Object:  StoredProcedure [dbo].[UpdateUserFailedLoginAttempt]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserFailedLoginAttempt]
    (
    	@UserID int,
    	@LockOut int,
    	@Reset int
    )
    AS

    IF (@Reset = 1)
    BEGIN
    	UPDATE Users SET FailedLogins = 0 WHERE UserID = @UserID
    END
    ELSE
    BEGIN
    	IF (@LockOut <= (SELECT FailedLogins FROM USERS WHERE UserID = @UserID))
    	BEGIN
    		UPDATE Users SET LoginStatusId = 2 WHERE UserID = @UserID
    	END
    	ELSE
    	BEGIN
    		IF ((SELECT FailedLogins FROM Users WHERE UserID = @UserID) IS NULL)
    		BEGIN
    			UPDATE Users SET FailedLogins = 1 WHERE UserID = @UserID
    		END
    		ELSE
    			UPDATE Users SET FailedLogins = FailedLogins + 1 WHERE UserID = @UserID
    	END
    END
GO
