/****** Object:  StoredProcedure [dbo].[GetBackgroundTaskLogs]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBackgroundTaskLogs]
    (
    	@TaskID INT,
    	@StartLogTime DATETIME
    )
    AS

    SELECT
    	L.LogID,
    	L.TaskID,
    	L.Date,
    	L.ExceptionStackTrace,
    	L.InnerTaskStart,
    	L.Severity,
    	L.Text,
    	L.XmlParameters
    FROM BackgroundTaskLogs AS L
    WHERE L.TaskID = @TaskID AND L.Date >= @StartLogTime
    ORDER BY L.Date
GO
