/****** Object:  StoredProcedure [dbo].[UpdateUserMfaMode]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserMfaMode]
    (
    	@ActorID int,
    	@UserID int,
    	@MfaMode int
    )
    AS
    	-- check actor rights
    	IF dbo.CanUpdateUserDetails(@ActorID, @UserID) = 0
    	BEGIN
    		RETURN
    	END
    	UPDATE Users SET
    		MfaMode = @MfaMode 
    	WHERE UserID = @UserID

    	RETURN
GO
