/****** Object:  StoredProcedure [dbo].[GetSSLCertificateByID]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSSLCertificateByID]
    (
    	@ActorID int,
    	@ID int
    )
    AS

    SELECT
    	[ID], [UserID], [SiteID], [Hostname], [FriendlyName], [CSR], [Certificate], [Hash], [Installed], [IsRenewal], [PreviousId]
    FROM
    	[dbo].[SSLCertificates]
    INNER JOIN
    	[dbo].[ServiceItems] AS [SI] ON [SSLCertificates].[SiteID] = [SI].[ItemID]
    WHERE
    	[ID] = @ID AND [dbo].CheckActorPackageRights(@ActorID, [SI].[PackageID]) = 1

    RETURN
GO
