/****** Object:  StoredProcedure [dbo].[GetWebDavAccessTokenByAccessToken]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWebDavAccessTokenByAccessToken]
    (
    	@AccessToken UNIQUEIDENTIFIER
    )
    AS
    SELECT 
    	ID ,
    	FilePath ,
    	AuthData ,
    	AccessToken,
    	ExpirationDate,
    	AccountID,
    	ItemId
    	FROM WebDavAccessTokens 
    	Where AccessToken = @AccessToken AND ExpirationDate > getdate()
GO
