/****** Object:  View [dbo].[UsersDetailed]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create UserDetailed view
    CREATE VIEW [dbo].[UsersDetailed]
    AS
    SELECT U.UserID, U.RoleID, U.StatusID, U.LoginStatusId, U.SubscriberNumber, U.FailedLogins, U.OwnerID, U.Created, U.Changed, U.IsDemo, U.Comments, U.IsPeer, U.Username, U.FirstName, U.LastName, U.Email,
        U.CompanyName, U.FirstName + ' ' + U.LastName AS FullName, UP.Username AS OwnerUsername, UP.FirstName AS OwnerFirstName,
        UP.LastName AS OwnerLastName, UP.RoleID AS OwnerRoleID, UP.FirstName + ' ' + UP.LastName AS OwnerFullName, UP.Email AS OwnerEmail, UP.RoleID AS Expr1,
        (SELECT COUNT(PackageID) AS Expr1
             FROM dbo.Packages AS P
             WHERE (UserID = U.UserID)) AS PackagesNumber, U.EcommerceEnabled
    FROM dbo.Users AS U
    LEFT OUTER JOIN dbo.Users AS UP ON U.OwnerID = UP.UserID
GO
