/****** Object:  StoredProcedure [dbo].[GetSiteCert]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSiteCert]
    (
    	@ActorID int,
    	@ID int
    )
    AS

    SELECT
    	[UserID], [SiteID], [Hostname], [CSR], [Certificate], [Hash], [Installed], [IsRenewal]
    FROM
    	[dbo].[SSLCertificates]
    INNER JOIN
    	[dbo].[ServiceItems] AS [SI] ON [SSLCertificates].[SiteID] = [SI].[ItemID]
    WHERE
    	[SiteID] = @ID AND [Installed] = 1 AND [dbo].CheckActorPackageRights(@ActorID, [SI].[PackageID]) = 1
    RETURN

    SET ANSI_NULLS ON
GO
