/****** Object:  StoredProcedure [dbo].[AddSSLRequest]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSSLRequest]
    (
    	@SSLID int OUTPUT,
    	@ActorID int,
    	@PackageID int,
    	@UserID int,
    	@WebSiteID int,
    	@FriendlyName nvarchar(255),
    	@HostName nvarchar(255),
    	@CSR ntext,
    	@CSRLength int,
    	@DistinguishedName nvarchar(500),
    	@IsRenewal bit = 0,
    	@PreviousId int = NULL

    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    BEGIN
    	RAISERROR('You are not allowed to access this package', 16, 1)
    	RETURN
    END

    -- insert record
    INSERT INTO [dbo].[SSLCertificates]
    	([UserID], [SiteID], [FriendlyName], [Hostname], [DistinguishedName], [CSR], [CSRLength], [IsRenewal], [PreviousId])
    VALUES
    	(@UserID, @WebSiteID, @FriendlyName, @HostName, @DistinguishedName, @CSR, @CSRLength, @IsRenewal, @PreviousId)

    SET @SSLID = SCOPE_IDENTITY()
    RETURN
GO
