/****** Object:  StoredProcedure [dbo].[GetBackgroundTaskParams]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBackgroundTaskParams]
    (
    	@TaskID INT
    )
    AS

    SELECT
    	P.ParameterID,
    	P.TaskID,
    	P.Name,
    	P.SerializerValue,
    	P.TypeName
    FROM BackgroundTaskParameters AS P
    WHERE P.TaskID = @TaskID
GO
