/****** Object:  StoredProcedure [dbo].[SetItemPrivatePrimaryIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetItemPrivatePrimaryIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@PrivateAddressID int
    )
    AS
    BEGIN
    	UPDATE PrivateIPAddresses
    	SET IsPrimary = CASE PIP.PrivateAddressID WHEN @PrivateAddressID THEN 1 ELSE 0 END
    	FROM PrivateIPAddresses AS PIP
    	INNER JOIN ServiceItems AS SI ON PIP.ItemID = SI.ItemID
    	WHERE PIP.ItemID = @ItemID
    	AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    END
GO
