/****** Object:  StoredProcedure [dbo].[GetInstanceID]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInstanceID]
    	 @AccountID int
    AS
    BEGIN
    	SET NOCOUNT ON;

    	SELECT InstanceID FROM OCSUsers WHERE AccountID = @AccountID
    END
GO
