/****** Object:  StoredProcedure [dbo].[GetRDSCollectionById]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSCollectionById]
    (
    	@ID INT
    )
    AS

    SELECT TOP 1
    	Id,
    	ItemId,
    	Name, 
    	Description,
    	DisplayName 
    	FROM RDSCollections
    	WHERE ID = @ID
GO
