/****** Object:  StoredProcedure [dbo].[GetServerInternal]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServerInternal]
    (
    	@ServerID int
    )
    AS
    SELECT
    	ServerID,
    	ServerName,
    	ServerUrl,
    	Password,
    	Comments,
    	VirtualServer,
    	InstantDomainAlias,
    	PrimaryGroupID,
    	ADEnabled,
    	ADRootDomain,
    	ADUsername,
    	ADPassword,
    	ADAuthenticationType,
    	ADParentDomain,
    	ADParentDomainController,
    	OSPlatform,
    	IsCore,
    	PasswordIsSHA256
    FROM Servers
    WHERE
    	ServerID = @ServerID

    RETURN
GO
