/****** Object:  StoredProcedure [dbo].[GetServer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServer]
    (
    	@ActorID int,
    	@ServerID int,
    	@forAutodiscover bit
    )
    AS
    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	ServerID,
    	ServerName,
    	ServerUrl,
    	Password,
    	Comments,
    	VirtualServer,
    	InstantDomainAlias,
    	PrimaryGroupID,
    	ADEnabled,
    	ADRootDomain,
    	ADUsername,
    	ADPassword,
    	ADAuthenticationType,
    	ADParentDomain,
    	ADParentDomainController,
    	OSPlatform,
    	IsCore,
    	PasswordIsSHA256

    FROM Servers
    WHERE
    	ServerID = @ServerID
    	AND (@IsAdmin = 1 OR @forAutodiscover = 1)

    RETURN
GO
