/****** Object:  StoredProcedure [dbo].[UpdateServer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateServer]
    (
    	@ServerID int,
    	@ServerName nvarchar(100),
    	@ServerUrl nvarchar(255),
    	@Password nvarchar(100),
    	@Comments ntext,
    	@InstantDomainAlias nvarchar(200),
    	@PrimaryGroupID int,
    	@ADEnabled bit,
    	@ADRootDomain nvarchar(200),
    	@ADUsername nvarchar(100),
    	@ADPassword nvarchar(100),
    	@ADAuthenticationType varchar(50),
    	@ADParentDomain nvarchar(200),
    	@ADParentDomainController nvarchar(200),
    	@OSPlatform int,
    	@IsCore bit,
    	@PasswordIsSHA256 bit
    )
    AS

    IF @PrimaryGroupID = 0
    SET @PrimaryGroupID = NULL

    UPDATE Servers SET
    	ServerName = @ServerName,
    	ServerUrl = @ServerUrl,
    	Password = @Password,
    	Comments = @Comments,
    	InstantDomainAlias = @InstantDomainAlias,
    	PrimaryGroupID = @PrimaryGroupID,
    	ADEnabled = @ADEnabled,
    	ADRootDomain = @ADRootDomain,
    	ADUsername = @ADUsername,
    	ADPassword = @ADPassword,
    	ADAuthenticationType = @ADAuthenticationType,
    	ADParentDomain = @ADParentDomain,
    	ADParentDomainController = @ADParentDomainController,
    	OSPlatform = @OSPlatform,
    	IsCore = @IsCore,
    	PasswordIsSHA256 = @PasswordIsSHA256
    WHERE ServerID = @ServerID
    RETURN

    SET ANSI_NULLS ON
GO
