/****** Object:  StoredProcedure [dbo].[AddOrganizationDeletedUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrganizationDeletedUser] 
    (
    	@ID int OUTPUT,
    	@AccountID int,
    	@OriginAT int,
    	@StoragePath nvarchar(255),
    	@FolderName nvarchar(128),
    	@FileName nvarchar(128),
    	@ExpirationDate datetime
    )
    AS

    INSERT INTO ExchangeDeletedAccounts
    (
    	AccountID,
    	OriginAT,
    	StoragePath,
    	FolderName,
    	FileName,
    	ExpirationDate
    )
    VALUES
    (
    	@AccountID,
    	@OriginAT,
    	@StoragePath,
    	@FolderName,
    	@FileName,
    	@ExpirationDate
    )

    SET @ID = SCOPE_IDENTITY()

    RETURN
GO
