/****** Object:  StoredProcedure [dbo].[UpdatePackageDiskSpace]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackageDiskSpace]
    (
    	@PackageID int,
    	@xml ntext
    )
    AS
    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml
    -- Execute a SELECT statement that uses the OPENXML rowset provider.

    DECLARE @Items TABLE
    (
    	ItemID int,
    	Bytes bigint
    )

    INSERT INTO @Items (ItemID, Bytes)
    SELECT ItemID, DiskSpace FROM OPENXML (@idoc, '/items/item',1)
    WITH
    (
    	ItemID int '@id',
    	DiskSpace bigint '@bytes'
    ) as XSI

    -- remove current diskspace
    DELETE FROM PackagesDiskspace
    WHERE PackageID = @PackageID

    -- update package diskspace
    INSERT INTO PackagesDiskspace (PackageID, GroupID, Diskspace)
    SELECT
    	@PackageID,
    	SIT.GroupID,
    	SUM(I.Bytes)
    FROM @Items AS I
    INNER JOIN ServiceItems AS SI ON I.ItemID = SI.ItemID
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    GROUP BY SIT.GroupID

    -- remove document
    exec sp_xml_removedocument @idoc

    RETURN
GO
