/****** Object:  StoredProcedure [dbo].[DeletePackage]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePackage]
    (
    	@ActorID int,
    	@PackageID int
    )
    AS
    BEGIN
    	-- check rights
    	IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    	RAISERROR('You are not allowed to access this package', 16, 1)

    	BEGIN TRAN

    	-- remove package from cache
    	DELETE FROM PackagesTreeCache
    	WHERE
    		ParentPackageID = @PackageID OR
    		PackageID = @PackageID

    	-- delete package comments
    	DELETE FROM Comments
    	WHERE ItemID = @PackageID AND ItemTypeID = 'PACKAGE'

    	-- delete diskspace
    	DELETE FROM PackagesDiskspace
    	WHERE PackageID = @PackageID

    	-- delete bandwidth
    	DELETE FROM PackagesBandwidth
    	WHERE PackageID = @PackageID

    	-- delete settings
    	DELETE FROM PackageSettings
    	WHERE PackageID = @PackageID

    	-- delete domains
    	DELETE FROM Domains
    	WHERE PackageID = @PackageID

    	-- delete package IP addresses
    	DELETE FROM PackageIPAddresses
    	WHERE PackageID = @PackageID

    	-- delete service items
    	DELETE FROM ServiceItems
    	WHERE PackageID = @PackageID

    	-- delete global DNS records
    	DELETE FROM GlobalDnsRecords
    	WHERE PackageID = @PackageID

    	-- delete package services
    	DELETE FROM PackageServices
    	WHERE PackageID = @PackageID

    	-- delete package quotas
    	DELETE FROM PackageQuotas
    	WHERE PackageID = @PackageID

    	-- delete package resources
    	DELETE FROM PackageResources
    	WHERE PackageID = @PackageID

    	-- delete package
    	DELETE FROM Packages
    	WHERE PackageID = @PackageID

    	COMMIT TRAN
    END
GO
