/****** Object:  StoredProcedure [dbo].[SetItemDmzPrimaryIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetItemDmzPrimaryIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@DmzAddressID int
    )
    AS
    BEGIN
    	UPDATE DmzIPAddresses
    	SET IsPrimary = CASE DIP.DmzAddressID WHEN @DmzAddressID THEN 1 ELSE 0 END
    	FROM DmzIPAddresses AS DIP
    	INNER JOIN ServiceItems AS SI ON DIP.ItemID = SI.ItemID
    	WHERE DIP.ItemID = @ItemID
    	AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    END
GO
