/****** Object:  StoredProcedure [dbo].[GetAllPackages]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPackages]
    AS
    SELECT
    	   [PackageID]
          ,[ParentPackageID]
          ,[UserID]
          ,[PackageName]
          ,[PackageComments]
          ,[ServerID]
          ,[StatusID]
          ,[PlanID]
          ,[PurchaseDate]
          ,[OverrideQuotas]
          ,[BandwidthUpdated]
      FROM [dbo].[Packages]
GO
