/****** Object:  StoredProcedure [dbo].[GetSfBUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSfBUserPlan] 
    (
    	@SfBUserPlanId int
    )
    AS
    SELECT
    	SfBUserPlanId,
    	ItemID,
    	SfBUserPlanName,
    	SfBUserPlanType,
    	IM,
    	Mobility,
    	MobilityEnableOutsideVoice,
    	Federation,
    	Conferencing,
    	EnterpriseVoice,
    	VoicePolicy,
    	IsDefault,
    	RemoteUserAccess,
    	PublicIMConnectivity,
    	AllowOrganizeMeetingsWithExternalAnonymous,
    	Telephony,
    	ServerURI,
    	ArchivePolicy,
    	TelephonyDialPlanPolicy,
    	TelephonyVoicePolicy

    FROM
    	SfBUserPlans
    WHERE
    	SfBUserPlanId = @SfBUserPlanId
    RETURN
GO
