/****** Object:  StoredProcedure [dbo].[GetPackageAddons]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageAddons]
    (
    	@ActorID int,
    	@PackageID int
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    SELECT
    	PA.PackageAddonID,
    	PA.PackageID,
    	PA.PlanID,
    	PA.Quantity,
    	PA.PurchaseDate,
    	PA.StatusID,
    	PA.Comments,
    	HP.PlanName,
    	HP.PlanDescription
    FROM PackageAddons AS PA
    INNER JOIN HostingPlans AS HP ON PA.PlanID = HP.PlanID
    WHERE PA.PackageID = @PackageID
    RETURN
GO
