/****** Object:  StoredProcedure [dbo].[SetItemPrimaryIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetItemPrimaryIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@PackageAddressID int
    )
    AS
    BEGIN

    	-- read item pool
    	DECLARE @PoolID int
    	SELECT @PoolID = IP.PoolID FROM PackageIPAddresses AS PIP
    	INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    	WHERE PIP.PackageAddressID = @PackageAddressID

    	-- update all IP addresses of the specified pool
    	UPDATE PackageIPAddresses
    	SET IsPrimary = CASE PIP.PackageAddressID WHEN @PackageAddressID THEN 1 ELSE 0 END
    	FROM PackageIPAddresses AS PIP
    	INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    	WHERE PIP.ItemID = @ItemID
    	AND IP.PoolID = @PoolID
    	AND dbo.CheckActorPackageRights(@ActorID, PIP.PackageID) = 1
    END
GO
