/****** Object:  StoredProcedure [dbo].[DeleteAuditLogRecords]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAuditLogRecords]
    (
    	@ActorID int,
    	@UserID int,
    	@ItemID int,
    	@ItemName nvarchar(100),
    	@StartDate datetime,
    	@EndDate datetime,
    	@SeverityID int,
    	@SourceName varchar(100),
    	@TaskName varchar(100)
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    DECLARE @IsAdmin bit
    SET @IsAdmin = 0
    IF EXISTS(SELECT UserID FROM Users WHERE UserID = @ActorID AND RoleID = 1)
    SET @IsAdmin = 1

    DELETE FROM AuditLog
    WHERE (dbo.CheckUserParent(@UserID, UserID) = 1 OR (UserID IS NULL AND @IsAdmin = 1))
    AND StartDate BETWEEN @StartDate AND @EndDate
    AND ((@SourceName = '') OR (@SourceName <> '' AND SourceName = @SourceName))
    AND ((@TaskName = '') OR (@TaskName <> '' AND TaskName = @TaskName))
    AND ((@ItemID = 0) OR (@ItemID > 0 AND ItemID = @ItemID))
    AND ((@ItemName = '') OR (@ItemName <> '' AND ItemName LIKE @ItemName))

    RETURN
GO
