/****** Object:  StoredProcedure [dbo].[GetMyPackages]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMyPackages]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    SELECT
    	P.PackageID,
    	P.ParentPackageID,
    	P.PackageName,
    	P.StatusID,
    	P.PlanID,
    	P.PurchaseDate,
      	P.StatusIDchangeDate,

    	dbo.GetItemComments(P.PackageID, 'PACKAGE', @ActorID) AS Comments,

    	-- server
    	ISNULL(P.ServerID, 0) AS ServerID,
    	ISNULL(S.ServerName, 'None') AS ServerName,
    	ISNULL(S.Comments, '') AS ServerComments,
    	ISNULL(S.VirtualServer, 1) AS VirtualServer,

    	-- hosting plan
    	HP.PlanName,

    	-- user
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email,

    	P.DefaultTopPackage
    FROM Packages AS P
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    LEFT OUTER JOIN Servers AS S ON P.ServerID = S.ServerID
    LEFT OUTER JOIN HostingPlans AS HP ON P.PlanID = HP.PlanID
    WHERE P.UserID = @UserID
    RETURN
GO
