/****** Object:  StoredProcedure [dbo].[AddEnterpriseFolderOwaUser]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddEnterpriseFolderOwaUser]
    (
    	@ESOwsaUserId INT OUTPUT,
    	@ItemID INT,
    	@FolderID INT, 
    	@AccountID INT 
    )
    AS
    INSERT INTO EnterpriseFoldersOwaPermissions
    (
    	ItemID ,
    	FolderID, 
    	AccountID
    )
    VALUES
    (
    	@ItemID,
    	@FolderID, 
    	@AccountID 
    )

    SET @ESOwsaUserId = SCOPE_IDENTITY()

    RETURN
GO
