/****** Object:  StoredProcedure [dbo].[GetServiceProperties]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceProperties]
    (
    	@ActorID int,
    	@ServiceID int
    )
    AS

    SELECT ServiceID, PropertyName, PropertyValue
    FROM ServiceProperties
    WHERE
    	ServiceID = @ServiceID

    RETURN
GO
