/****** Object:  StoredProcedure [dbo].[AddExchangeOrganizationDomain]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeOrganizationDomain]
    (
    	@ItemID int,
    	@DomainID int,
    	@IsHost bit
    )
    AS
    INSERT INTO ExchangeOrganizationDomains
    (ItemID, DomainID, IsHost)
    VALUES
    (@ItemID, @DomainID, @IsHost)
    RETURN
GO
