/****** Object:  StoredProcedure [dbo].[AddRDSCertificate]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSCertificate]
    (
    	@RDSCertificateId INT OUTPUT,
    	@ServiceId INT,
    	@Content NTEXT,
    	@Hash NVARCHAR(255),
    	@FileName NVARCHAR(255),
    	@ValidFrom DATETIME,
    	@ExpiryDate DATETIME
    )
    AS
    INSERT INTO RDSCertificates
    (
    	ServiceId,
    	Content,
    	Hash,
    	FileName,
    	ValidFrom,
    	ExpiryDate	
    )
    VALUES
    (
    	@ServiceId,
    	@Content,
    	@Hash,
    	@FileName,
    	@ValidFrom,
    	@ExpiryDate
    )

    SET @RDSCertificateId = SCOPE_IDENTITY()

    RETURN
GO
