/****** Object:  StoredProcedure [dbo].[GetRDSServerById]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSServerById]
    (
    	@ID INT
    )
    AS
    SELECT TOP 1
    	RS.Id,
    	RS.ItemID,
    	RS.Name, 
    	RS.FqdName,
    	RS.Description,
    	RS.RdsCollectionId,
    	RS.ConnectionEnabled,
    	SI.ItemName,
    	RC.Name AS CollectionName
    	FROM RDSServers AS RS
    	LEFT OUTER JOIN  ServiceItems AS SI ON SI.ItemId = RS.ItemId
    	LEFT OUTER JOIN  RDSCollections AS RC ON RC.ID = RdsCollectionId
    	WHERE RS.Id = @Id
GO
