/****** Object:  UserDefinedFunction [dbo].[CalculatePackageBandwidth]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculatePackageBandwidth]
    (
    	@PackageID int
    )
    RETURNS int
    AS
    BEGIN

    DECLARE @d datetime, @StartDate datetime, @EndDate datetime
    SET @d = GETDATE()
    SET @StartDate = DATEADD(Day, -DAY(@d) + 1, @d)
    SET @EndDate = DATEADD(Day, -1, DATEADD(Month, 1, @StartDate))
    --SET @EndDate =  GETDATE()
    --SET @StartDate = DATEADD(month, -1, @EndDate)

    -- remove hours and minutes
    SET @StartDate = CONVERT(datetime, CONVERT(nvarchar, @StartDate, 112))
    SET @EndDate = CONVERT(datetime, CONVERT(nvarchar, @EndDate, 112))

    DECLARE @Bandwidth int
    SELECT
    	@Bandwidth = ROUND(CONVERT(float, SUM(ISNULL(PB.BytesSent + PB.BytesReceived, 0))) / 1024 / 1024, 0) -- in megabytes
    FROM PackagesTreeCache AS PT
    INNER JOIN Packages AS P ON PT.PackageID = P.PackageID
    INNER JOIN PackagesBandwidth AS PB ON PT.PackageID = PB.PackageID
    INNER JOIN HostingPlanResources AS HPR ON PB.GroupID = HPR.GroupID
    	AND HPR.PlanID = P.PlanID AND HPR.CalculateBandwidth = 1
    WHERE
    	PT.ParentPackageID = @PackageID
    	AND PB.LogDate BETWEEN @StartDate AND @EndDate

    IF @Bandwidth IS NULL
    SET @Bandwidth = 0

    RETURN @Bandwidth
    END
GO
