/****** Object:  StoredProcedure [dbo].[AddItemDmzIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddItemDmzIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@IPAddress varchar(15)
    )
    AS
    BEGIN

    	IF EXISTS (SELECT ItemID FROM ServiceItems AS SI WHERE ItemID = @ItemID AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1)
    	BEGIN

    		INSERT INTO DmzIPAddresses
    		(
    			ItemID,
    			IPAddress,
    			IsPrimary
    		)
    		VALUES
    		(
    			@ItemID,
    			@IPAddress,
    			0 -- not primary
    		)

    	END
    END
GO
