/****** Object:  StoredProcedure [dbo].[GetPackageDmzIPAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DMZ Network

    CREATE PROCEDURE [dbo].[GetPackageDmzIPAddresses]
    	@PackageID int
    AS
    BEGIN

    	SELECT
    		DA.DmzAddressID,
    		DA.IPAddress,
    		DA.ItemID,
    		SI.ItemName,
    		DA.IsPrimary
    	FROM DmzIPAddresses AS DA
    	INNER JOIN ServiceItems AS SI ON DA.ItemID = SI.ItemID
    	WHERE SI.PackageID = @PackageID

    END
GO
