/****** Object:  StoredProcedure [dbo].[GetFilterURL]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFilterURL]
    (
     @ActorID int,
     @PackageID int,
     @GroupName nvarchar(100),
     @FilterUrl nvarchar(200) OUTPUT
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- load group info
    DECLARE @GroupID int
    SELECT @GroupID = GroupID FROM ResourceGroups
    WHERE GroupName = @GroupName

    --print @GroupID 

    Declare @ServiceID int
    SELECT @ServiceID = PS.ServiceID FROM PackageServices AS PS
    INNER JOIN Services AS S ON PS.ServiceID = S.ServiceID
    INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    WHERE PS.PackageID = @PackageID AND P.GroupID = @GroupID

    SELECT
     @FilterUrl = PropertyValue
     FROM ServiceProperties AS SP
     WHERE @ServiceID = SP.ServiceID AND PropertyName = 'apiurl'
    -- print  @FilterUrl
    RETURN
GO
