/****** Object:  StoredProcedure [dbo].[GetServiceItemsCount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceItemsCount]
    (
    	@ItemTypeName nvarchar(200),
    	@GroupName nvarchar(100) = NULL,
    	@ServiceID int = 0,
    	@TotalNumber int OUTPUT
    )
    AS

    SET @TotalNumber = 0

    -- find service items
    SELECT
    	@TotalNumber = COUNT(SI.ItemID)
    FROM ServiceItems AS SI
    INNER JOIN ServiceItemTypes AS IT ON SI.ItemTypeID = IT.ItemTypeID
    INNER JOIN ResourceGroups AS RG ON IT.GroupID = RG.GroupID
    WHERE IT.TypeName = @ItemTypeName
    AND ((@GroupName IS NULL) OR (@GroupName IS NOT NULL AND RG.GroupName = @GroupName))
    AND ((@ServiceID = 0) OR (@ServiceID > 0 AND SI.ServiceID = @ServiceID))

    RETURN
GO
