/****** Object:  StoredProcedure [dbo].[DeleteLyncUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLyncUser]
    (
    	@AccountId int
    )
    AS

    DELETE FROM
    	LyncUsers
    WHERE
    	AccountId = @AccountId

    RETURN
GO
