/****** Object:  StoredProcedure [dbo].[GetDomainsByDomainItemID]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDomainsByDomainItemID]
    (
    	@ActorID int,
    	@DomainID int
    )
    AS

    SELECT
    	D.DomainID,
    	D.PackageID,
    	D.ZoneItemID,
    	D.DomainItemID,
    	D.DomainName,
    	D.HostingAllowed,
    	ISNULL(D.WebSiteID, 0) AS WebSiteID,
    	WS.ItemName AS WebSiteName,
    	ISNULL(D.MailDomainID, 0) AS MailDomainID,
    	MD.ItemName AS MailDomainName,
    	Z.ItemName AS ZoneName,
    	D.IsSubDomain,
    	D.IsPreviewDomain,
    	D.IsDomainPointer
    FROM Domains AS D
    INNER JOIN Packages AS P ON D.PackageID = P.PackageID
    LEFT OUTER JOIN ServiceItems AS WS ON D.WebSiteID = WS.ItemID
    LEFT OUTER JOIN ServiceItems AS MD ON D.MailDomainID = MD.ItemID
    LEFT OUTER JOIN ServiceItems AS Z ON D.ZoneItemID = Z.ItemID
    WHERE
    	D.DomainItemID = @DomainID
    	AND dbo.CheckActorPackageRights(@ActorID, P.PackageID) = 1
    RETURN
GO
