/****** Object:  StoredProcedure [dbo].[GetRDSCollectionsByItemId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSCollectionsByItemId]
    (
    	@ItemID INT
    )
    AS
    SELECT 
    	Id,
    	ItemId,
    	Name, 
    	Description,
    	DisplayName
    	FROM RDSCollections
    	WHERE ItemID = @ItemID
GO
