/****** Object:  StoredProcedure [dbo].[GetLevelResourceGroups]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLevelResourceGroups]
    (
    	@LevelId INT
    )
    AS
    	SELECT 
    	G.[GroupID],
    	G.[GroupName],
    	G.[GroupOrder],
    	G.[GroupController],
    	G.[ShowGroup]
    	FROM [dbo].[StorageSpaceLevelResourceGroups] AS SG
    	INNER JOIN [dbo].[ResourceGroups] AS G
    	ON SG.GroupId = G.GroupId
    	WHERE SG.LevelId = @LevelId
GO
