/****** Object:  StoredProcedure [dbo].[AddRDSMessage]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSMessage]
    (
    	@RDSMessageId INT OUTPUT,
    	@RDSCollectionId INT,
    	@MessageText NTEXT,
    	@UserName NVARCHAR(255),
    	@Date DATETIME
    )
    AS
    INSERT INTO RDSMessages
    (
    	RDSCollectionId,
    	[MessageText],
    	UserName,
    	[Date]
    )
    VALUES
    (
    	@RDSCollectionId,
    	@MessageText,
    	@UserName,
    	@Date
    )

    SET @RDSMessageId = SCOPE_IDENTITY()

    RETURN
GO
