/****** Object:  StoredProcedure [dbo].[AddAuditLogRecord]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddAuditLogRecord]
    (
    	@RecordID varchar(32),
    	@SeverityID int,
    	@UserID int,
    	@PackageID int,
    	@Username nvarchar(50),
    	@ItemID int,
    	@StartDate datetime,
    	@FinishDate datetime,
    	@SourceName varchar(50),
    	@TaskName varchar(50),
    	@ItemName nvarchar(50),
    	@ExecutionLog ntext
    )
    AS

    IF @ItemID = 0 SET @ItemID = NULL
    IF @UserID = 0 OR @UserID = -1 SET @UserID = NULL

    INSERT INTO AuditLog
    (
    	RecordID,
    	SeverityID,
    	UserID,
    	PackageID,
    	Username,
    	ItemID,
    	SourceName,
    	StartDate,
    	FinishDate,
    	TaskName,
    	ItemName,
    	ExecutionLog
    )
    VALUES
    (
    	@RecordID,
    	@SeverityID,
    	@UserID,
    	@PackageID,
    	@Username,
    	@ItemID,
    	@SourceName,
    	@StartDate,
    	@FinishDate,
    	@TaskName,
    	@ItemName,
    	@ExecutionLog
    )
    RETURN
GO
