/****** Object:  StoredProcedure [dbo].[UpdatePackage]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackage]
    (
    	@ActorID int,
    	@PackageID int,
    	@PackageName nvarchar(300),
    	@PackageComments ntext,
    	@StatusID int,
    	@PlanID int,
    	@PurchaseDate datetime,
    	@OverrideQuotas bit,
    	@QuotasXml ntext,
    	@DefaultTopPackage bit
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN

    DECLARE @ParentPackageID int
    DECLARE @OldPlanID int

    SELECT @ParentPackageID = ParentPackageID, @OldPlanID = PlanID FROM Packages
    WHERE PackageID = @PackageID

    -- update package
    UPDATE Packages SET
    	PackageName = @PackageName,
    	PackageComments = @PackageComments,
    	StatusID = @StatusID,
    	PlanID = @PlanID,
    	PurchaseDate = @PurchaseDate,
    	OverrideQuotas = @OverrideQuotas,
    	DefaultTopPackage = @DefaultTopPackage
    WHERE
    	PackageID = @PackageID

    -- update quotas (if required)
    EXEC UpdatePackageQuotas @ActorID, @PackageID, @QuotasXml

    -- check resulting quotas
    DECLARE @ExceedingQuotas AS TABLE (QuotaID int, QuotaName nvarchar(50), QuotaValue int)

    -- check exceeding quotas if plan has been changed
    IF (@OldPlanID <> @PlanID) OR (@OverrideQuotas = 1)
    BEGIN
    	INSERT INTO @ExceedingQuotas
    	SELECT * FROM dbo.GetPackageExceedingQuotas(@ParentPackageID) WHERE QuotaValue > 0
    END

    SELECT * FROM @ExceedingQuotas

    IF EXISTS(SELECT * FROM @ExceedingQuotas)
    BEGIN
    	ROLLBACK TRAN
    	RETURN
    END

    COMMIT TRAN
    RETURN
GO
