/****** Object:  StoredProcedure [dbo].[GetUserSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserSettings]
    (
    	@ActorID int,
    	@UserID int,
    	@SettingsName nvarchar(50)
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    -- find which parent package has overriden NS
    DECLARE @ParentUserID int, @TmpUserID int
    SET @TmpUserID = @UserID

    WHILE 10 = 10
    BEGIN

    	IF EXISTS
    	(
    		SELECT PropertyName FROM UserSettings
    		WHERE SettingsName = @SettingsName AND UserID = @TmpUserID
    	)
    	BEGIN
    		SELECT
    			UserID,
    			PropertyName,
    			PropertyValue
    		FROM
    			UserSettings
    		WHERE
    			UserID = @TmpUserID AND
    			SettingsName = @SettingsName

    		BREAK
    	END

    	SET @ParentUserID = NULL --reset var

    	-- get owner
    	SELECT
    		@ParentUserID = OwnerID
    	FROM Users
    	WHERE UserID = @TmpUserID

    	IF @ParentUserID IS NULL -- the last parent
    	BREAK

    	SET @TmpUserID = @ParentUserID
    END

    RETURN
GO
