/****** Object:  StoredProcedure [dbo].[DeleteItemPrivateIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteItemPrivateIPAddress]
    (
    	@ActorID int,
    	@ItemID int,
    	@PrivateAddressID int
    )
    AS
    BEGIN
    	DELETE FROM PrivateIPAddresses
    	FROM PrivateIPAddresses AS PIP
    	INNER JOIN ServiceItems AS SI ON PIP.ItemID = SI.ItemID
    	WHERE PIP.PrivateAddressID = @PrivateAddressID
    	AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    END
GO
