/****** Object:  StoredProcedure [dbo].[GetOrganizationRdsUsersCount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationRdsUsersCount]
    (
    	@ItemID INT,
    	@TotalNumber int OUTPUT
    )
    AS
    SELECT
      @TotalNumber = Count(DISTINCT([AccountId]))
      FROM [dbo].[RDSCollectionUsers]
      WHERE [RDSCollectionId] in (SELECT [ID] FROM [RDSCollections] where [ItemId]  = @ItemId )
    RETURN
GO
