/****** Object:  StoredProcedure [dbo].[AddSupportServiceLevel]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSupportServiceLevel]
    (
    	@LevelID int OUTPUT,
    	@LevelName nvarchar(100),
    	@LevelDescription nvarchar(1000)
    )
    AS
    BEGIN

    	IF EXISTS (SELECT * FROM SupportServiceLevels WHERE LevelName = @LevelName)
    	BEGIN
    		SET @LevelID = -1

    		RETURN
    	END

    	INSERT INTO SupportServiceLevels
    	(
    		LevelName,
    		LevelDescription
    	)
    	VALUES
    	(
    		@LevelName,
    		@LevelDescription
    	)

    	SET @LevelID = SCOPE_IDENTITY()

    	DECLARE @ResourseGroupID int

    	IF EXISTS (SELECT * FROM ResourceGroups WHERE GroupName = 'Service Levels')
    	BEGIN
    		DECLARE @QuotaLastID int, @CurQuotaName nvarchar(100), 
    			@CurQuotaDescription nvarchar(1000), @QuotaOrderInGroup int

    		SET @CurQuotaName = N'ServiceLevel.' + @LevelName
    		SET @CurQuotaDescription = @LevelName + N', users'

    		SELECT @ResourseGroupID = GroupID FROM ResourceGroups WHERE GroupName = 'Service Levels'

    		SELECT @QuotaLastID = MAX(QuotaID) FROM Quotas

    		SELECT @QuotaOrderInGroup = MAX(QuotaOrder) FROM Quotas WHERE GroupID = @ResourseGroupID

    		IF @QuotaOrderInGroup IS NULL SET @QuotaOrderInGroup = 0

    		IF NOT EXISTS (SELECT * FROM Quotas WHERE QuotaName = @CurQuotaName)
    		BEGIN
    			INSERT Quotas 
    				(QuotaID, 
    				GroupID, 
    				QuotaOrder, 
    				QuotaName, 
    				QuotaDescription, 
    				QuotaTypeID, 
    				ServiceQuota, 
    				ItemTypeID) 
    			VALUES 
    				(@QuotaLastID + 1, 
    				@ResourseGroupID, 
    				@QuotaOrderInGroup + 1, 
    				@CurQuotaName, 
    				@CurQuotaDescription,
    				2, 
    				0, 
    				NULL)
    		END
    	END

    END

    RETURN
GO
