/****** Object:  StoredProcedure [dbo].[GetSfBUsersCount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSfBUsersCount]
    (
    	@ItemID int
    )
    AS

    SELECT
    	COUNT(ea.AccountID)
    FROM
    	ExchangeAccounts ea
    INNER JOIN
    	SfBUsers ou
    ON
    	ea.AccountID = ou.AccountID
    WHERE
    	ea.ItemID = @ItemID
GO
