/****** Object:  StoredProcedure [dbo].[GetEnterpriseFolderId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnterpriseFolderId]
    (
    	@ItemID INT,
    	@FolderName varchar(max)
    )
    AS
    SELECT TOP 1
    	EnterpriseFolderID
    	FROM EnterpriseFolders
    	WHERE ItemId = @ItemID AND FolderName = @FolderName
GO
