/****** Object:  StoredProcedure [dbo].[SetAccessTokenSmsResponse]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetAccessTokenSmsResponse]
    (
    	@AccessToken UNIQUEIDENTIFIER,
    	@SmsResponse varchar(100)
    )
    AS
    UPDATE [dbo].[AccessTokens] SET [SmsResponse] = @SmsResponse WHERE [AccessTokenGuid] = @AccessToken
    RETURN
GO
