/****** Object:  StoredProcedure [dbo].[GetService]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetService]
    (
    	@ActorID int,
    	@ServiceID int
    )
    AS

    SELECT
    	ServiceID,
    	Services.ServerID,
    	ProviderID,
    	ServiceName,
    	ServiceQuotaValue,
    	ClusterID,
    	Services.Comments,
    	Servers.ServerName
    FROM Services INNER JOIN Servers ON Services.ServerID = Servers.ServerID
    WHERE
    	ServiceID = @ServiceID

    RETURN
GO
