/****** Object:  StoredProcedure [dbo].[AddPFX]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPFX]
    (
    	@ActorID int,
    	@PackageID int,
    	@UserID int,
    	@WebSiteID int,
    	@FriendlyName nvarchar(255),
    	@HostName nvarchar(255),
    	@CSRLength int,
    	@DistinguishedName nvarchar(500),
    	@SerialNumber nvarchar(250),
    	@ValidFrom datetime,
    	@ExpiryDate datetime

    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    BEGIN
    	RAISERROR('You are not allowed to access this package', 16, 1)
    	RETURN
    END

    -- insert record
    INSERT INTO [dbo].[SSLCertificates]
    	([UserID], [SiteID], [FriendlyName], [Hostname], [DistinguishedName], [CSRLength], [SerialNumber], [ValidFrom], [ExpiryDate], [Installed])
    VALUES
    	(@UserID, @WebSiteID, @FriendlyName, @HostName, @DistinguishedName, @CSRLength, @SerialNumber, @ValidFrom, @ExpiryDate, 1)

    RETURN
GO
