/****** Object:  StoredProcedure [dbo].[DeleteEnterpriseFolder]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEnterpriseFolder]
    (
    	@ItemID INT,
    	@FolderName NVARCHAR(255)
    )
    AS

    DELETE FROM EnterpriseFolders
    WHERE ItemID = @ItemID AND FolderName = @FolderName
GO
