/****** Object:  StoredProcedure [dbo].[DeleteExchangeOrganizationDomain]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeOrganizationDomain]
    (
    	@ItemID int,
    	@DomainID int
    )
    AS
    DELETE FROM ExchangeOrganizationDomains
    WHERE DomainID = @DomainID AND ItemID = @ItemID
    RETURN
GO
