/****** Object:  StoredProcedure [dbo].[GetAuditLogRecordsPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAuditLogRecordsPaged]
    (
    	@ActorID int,
    	@UserID int,
    	@PackageID int,
    	@ItemID int,
    	@ItemName nvarchar(100),
    	@StartDate datetime,
    	@EndDate datetime,
    	@SeverityID int,
    	@SourceName varchar(100),
    	@TaskName varchar(100),
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    IF @SourceName IS NULL SET @SourceName = ''
    IF @TaskName IS NULL SET @TaskName = ''
    IF @ItemName IS NULL SET @ItemName = ''

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'L.StartDate DESC'

    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2000)

    SET @sql = '
    DECLARE @IsAdmin bit
    SET @IsAdmin = 0
    IF EXISTS(SELECT UserID FROM Users WHERE UserID = @ActorID AND RoleID = 1)
    SET @IsAdmin = 1

    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows
    DECLARE @Records TABLE
    (
    	ItemPosition int IDENTITY(1,1),
    	RecordID varchar(32)
    )
    INSERT INTO @Records (RecordID)
    SELECT
    	L.RecordID
    FROM AuditLog AS L
    WHERE
    ((@PackageID = 0 AND dbo.CheckUserParent(@UserID, L.UserID) = 1 OR (L.UserID IS NULL AND @IsAdmin = 1))
    	OR (@PackageID > 0 AND L.PackageID = @PackageID))
    AND L.StartDate BETWEEN @StartDate AND @EndDate
    AND ((@SourceName = '''') OR (@SourceName <> '''' AND L.SourceName = @SourceName))
    AND ((@TaskName = '''') OR (@TaskName <> '''' AND L.TaskName = @TaskName))
    AND ((@ItemID = 0) OR (@ItemID > 0 AND L.ItemID = @ItemID))
    AND ((@ItemName = '''') OR (@ItemName <> '''' AND L.ItemName LIKE @ItemName))
    AND ((@SeverityID = -1) OR (@SeverityID > -1 AND L.SeverityID = @SeverityID)) '

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(RecordID) FROM @Records;
    SELECT
    	TL.RecordID,
        L.SeverityID,
        L.StartDate,
        L.FinishDate,
        L.ItemID,
        L.SourceName,
        L.TaskName,
        L.ItemName,
        L.ExecutionLog,

        ISNULL(L.UserID, 0) AS UserID,
    	L.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	ISNULL(U.RoleID, 0) AS RoleID,
    	U.Email,
    	CASE U.IsPeer
    		WHEN 1 THEN U.OwnerID
    		ELSE U.UserID
    	END EffectiveUserID
    FROM @Records AS TL
    INNER JOIN AuditLog AS L ON TL.RecordID = L.RecordID
    LEFT OUTER JOIN UsersDetailed AS U ON L.UserID = U.UserID
    WHERE TL.ItemPosition BETWEEN @StartRow + 1 AND @EndRow'

    exec sp_executesql @sql, N'@TaskName varchar(100), @SourceName varchar(100), @PackageID int, @ItemID int, @ItemName nvarchar(100), @StartDate datetime,
    @EndDate datetime, @StartRow int, @MaximumRows int, @UserID int, @ActorID int, @SeverityID int',
    @TaskName, @SourceName, @PackageID, @ItemID, @ItemName, @StartDate, @EndDate, @StartRow, @MaximumRows, @UserID, @ActorID,
    @SeverityID

    RETURN
GO
