/****** Object:  StoredProcedure [dbo].[GetStorageSpaceLevelsPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStorageSpaceLevelsPaged]
    (
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS
    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2000)

    SET @sql = '

    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows
    DECLARE @SSLevels TABLE
    (
    	ItemPosition int IDENTITY(0,1),
    	SSLevelId int
    )
    INSERT INTO @SSLevels (SSLevelId)
    SELECT
    	S.ID
    FROM StorageSpaceLevels AS S'

    IF @FilterColumn <> '' AND @FilterValue <> ''
    SET @sql = @sql + ' WHERE ' + @FilterColumn + ' LIKE @FilterValue '

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(SSLevelId) FROM @SSLevels;
    SELECT
    	CR.ID,
    	CR.Name,
    	CR.Description
    FROM @SSLevels AS C
    INNER JOIN StorageSpaceLevels AS CR ON C.SSLevelId = CR.ID
    WHERE C.ItemPosition BETWEEN @StartRow AND @EndRow'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int,  @FilterValue nvarchar(50)',
    @StartRow, @MaximumRows,  @FilterValue

    RETURN
GO
