/****** Object:  StoredProcedure [dbo].[UpdatePackageBandwidthUpdate]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackageBandwidthUpdate]
    (
    	@PackageID int,
    	@UpdateDate datetime
    )
    AS

    UPDATE Packages SET BandwidthUpdated = @UpdateDate
    WHERE PackageID = @PackageID

    RETURN
GO
