/****** Object:  StoredProcedure [dbo].[GetUserPackagesServerUrls]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserPackagesServerUrls]
    (
    	@UserId INT
    )
    AS
    	SELECT DISTINCT Servers.ServerUrl
    	FROM Servers
    	INNER JOIN Packages
    	ON Servers.ServerId = Packages.ServerId
    	WHERE Packages.UserID = @UserId
    	RETURN
GO
