/****** Object:  StoredProcedure [dbo].[GetLyncUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--

    CREATE PROCEDURE [dbo].[GetLyncUserPlan] 
    (
    	@LyncUserPlanId int
    )
    AS
    SELECT
    	LyncUserPlanId,
    	ItemID,
    	LyncUserPlanName,
    	LyncUserPlanType,
    	IM,
    	Mobility,
    	MobilityEnableOutsideVoice,
    	Federation,
    	Conferencing,
    	EnterpriseVoice,
    	VoicePolicy,
    	IsDefault,

    	RemoteUserAccess,
    	PublicIMConnectivity,

    	AllowOrganizeMeetingsWithExternalAnonymous,

    	Telephony,

    	ServerURI,

    	ArchivePolicy,
    	TelephonyDialPlanPolicy,
    	TelephonyVoicePolicy

    FROM
    	LyncUserPlans
    WHERE
    	LyncUserPlanId = @LyncUserPlanId
    RETURN
GO
