/****** Object:  StoredProcedure [dbo].[DeleteOrganizationDeletedUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrganizationDeletedUser]
    (
    	@ID int
    )
    AS
    DELETE FROM	ExchangeDeletedAccounts WHERE AccountID = @ID
    RETURN
GO
