/****** Object:  StoredProcedure [dbo].[CheckServiceItemExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckServiceItemExists]
    (
    	@Exists bit OUTPUT,
    	@ItemName nvarchar(500),
    	@ItemTypeName nvarchar(200),
    	@GroupName nvarchar(100) = NULL
    )
    AS

    SET @Exists = 0

    DECLARE @ItemTypeID int
    SELECT @ItemTypeID = ItemTypeID FROM ServiceItemTypes
    WHERE TypeName = @ItemTypeName

    IF EXISTS (
    SELECT ItemID FROM ServiceItems AS SI
    INNER JOIN Services AS S ON SI.ServiceID = S.ServiceID
    INNER JOIN Providers AS PROV ON S.ProviderID = PROV.ProviderID
    INNER JOIN ResourceGroups AS RG ON PROV.GroupID = RG.GroupID
    WHERE SI.ItemName = @ItemName AND SI.ItemTypeID = @ItemTypeID
    AND ((@GroupName IS NULL) OR (@GroupName IS NOT NULL AND RG.GroupName = @GroupName))
    )
    SET @Exists = 1

    RETURN
GO
