/****** Object:  StoredProcedure [dbo].[UpdatePackageBandwidth]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackageBandwidth]
    (
    	@PackageID int,
    	@xml ntext
    )
    AS
    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    DECLARE @Items TABLE
    (
    	ItemID int,
    	LogDate datetime,
    	BytesSent bigint,
    	BytesReceived bigint
    )

    INSERT INTO @Items
    (
    	ItemID,
    	LogDate,
    	BytesSent,
    	BytesReceived
    )
    SELECT
    	ItemID,
    	CONVERT(datetime, LogDate, 101),
    	BytesSent,
    	BytesReceived
    FROM OPENXML(@idoc, '/items/item',1) WITH
    (
    	ItemID int '@id',
    	LogDate nvarchar(10) '@date',
        BytesSent bigint '@sent',
        BytesReceived bigint '@received'
    )

    -- delete current statistics
    DELETE FROM PackagesBandwidth
    FROM PackagesBandwidth AS PB
    INNER JOIN (
    	SELECT
    		SIT.GroupID,
    		I.LogDate
    	FROM @Items AS I
    	INNER JOIN ServiceItems AS SI ON I.ItemID = SI.ItemID
    	INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    	GROUP BY I.LogDate, SIT.GroupID
    ) AS STAT ON PB.LogDate = STAT.LogDate AND PB.GroupID = STAT.GroupID
    WHERE PB.PackageID = @PackageID

    -- insert new statistics
    INSERT INTO PackagesBandwidth (PackageID, GroupID, LogDate, BytesSent, BytesReceived)
    SELECT
    	@PackageID,
    	SIT.GroupID,
    	I.LogDate,
    	SUM(I.BytesSent),
    	SUM(I.BytesReceived)
    FROM @Items AS I
    INNER JOIN ServiceItems AS SI ON I.ItemID = SI.ItemID
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    GROUP BY I.LogDate, SIT.GroupID

    -- remove document
    exec sp_xml_removedocument @idoc

    RETURN
GO
