/****** Object:  StoredProcedure [dbo].[AddDnsRecord]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDnsRecord]
    (
    	@ActorID int,
    	@ServiceID int,
    	@ServerID int,
    	@PackageID int,
    	@RecordType nvarchar(10),
    	@RecordName nvarchar(50),
    	@RecordData nvarchar(500),
    	@MXPriority int,
    	@SrvPriority int,
    	@SrvWeight int,
    	@SrvPort int,
    	@IPAddressID int
    )
    AS

    IF (@ServiceID > 0 OR @ServerID > 0) AND dbo.CheckIsUserAdmin(@ActorID) = 0
    RAISERROR('You should have administrator role to perform such operation', 16, 1)

    IF (@PackageID > 0) AND dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    IF @ServiceID = 0 SET @ServiceID = NULL
    IF @ServerID = 0 SET @ServerID = NULL
    IF @PackageID = 0 SET @PackageID = NULL
    IF @IPAddressID = 0 SET @IPAddressID = NULL

    IF EXISTS
    (
    	SELECT RecordID FROM GlobalDnsRecords WHERE
    	ServiceID = @ServiceID AND ServerID = @ServerID AND PackageID = @PackageID
    	AND RecordName = @RecordName AND RecordType = @RecordType
    )

    	UPDATE GlobalDnsRecords
    	SET
    		RecordData = RecordData,
    		MXPriority = MXPriority,
    		SrvPriority = SrvPriority,
    		SrvWeight = SrvWeight,
    		SrvPort = SrvPort,

    		IPAddressID = @IPAddressID
    	WHERE
    		ServiceID = @ServiceID AND ServerID = @ServerID AND PackageID = @PackageID
    ELSE
    	INSERT INTO GlobalDnsRecords
    	(
    		ServiceID,
    		ServerID,
    		PackageID,
    		RecordType,
    		RecordName,
    		RecordData,
    		MXPriority,
    		SrvPriority,
    		SrvWeight,
    		SrvPort,
    		IPAddressID
    	)
    	VALUES
    	(
    		@ServiceID,
    		@ServerID,
    		@PackageID,
    		@RecordType,
    		@RecordName,
    		@RecordData,
    		@MXPriority,
    		@SrvPriority,
    		@SrvWeight,
    		@SrvPort,
    		@IPAddressID
    	)

    RETURN
GO
