/****** Object:  StoredProcedure [dbo].[DeleteHostingPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteHostingPlan]
    (
    	@ActorID int,
    	@PlanID int,
    	@Result int OUTPUT
    )
    AS
    SET @Result = 0

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM HostingPlans
    WHERE PlanID = @PlanID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- check if some packages uses this plan
    IF EXISTS (SELECT PackageID FROM Packages WHERE PlanID = @PlanID)
    BEGIN
    	SET @Result = -1
    	RETURN
    END

    -- check if some package addons uses this plan
    IF EXISTS (SELECT PackageID FROM PackageAddons WHERE PlanID = @PlanID)
    BEGIN
    	SET @Result = -2
    	RETURN
    END

    -- delete hosting plan
    DELETE FROM HostingPlans
    WHERE PlanID = @PlanID

    RETURN
GO
