/****** Object:  StoredProcedure [dbo].[DeleteExchangeMailboxPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeMailboxPlan]
    (
    	@MailboxPlanId int
    )
    AS

    -- delete mailboxplan
    DELETE FROM ExchangeMailboxPlans
    WHERE MailboxPlanId = @MailboxPlanId

    RETURN
GO
