/****** Object:  StoredProcedure [dbo].[GetServerByName]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServerByName]
    (
    	@ActorID int,
    	@ServerName nvarchar(100)
    )
    AS
    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	ServerID,
    	ServerName,
    	ServerUrl,
    	Password,
    	Comments,
    	VirtualServer,
    	InstantDomainAlias,
    	PrimaryGroupID,
    	ADRootDomain,
    	ADUsername,
    	ADPassword,
    	ADAuthenticationType,
    	ADParentDomain,
    	ADParentDomainController,
    	OSPlatform,
    	IsCore,
    	PasswordIsSHA256
    FROM Servers
    WHERE
    	ServerName = @ServerName
    	AND @IsAdmin = 1

    RETURN
GO
