/****** Object:  StoredProcedure [dbo].[GetProvider]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProvider]
    (
    	@ProviderID int
    )
    AS
    SELECT
    	ProviderID,
    	GroupID,
    	ProviderName,
    	EditorControl,
    	DisplayName,
    	ProviderType
    FROM Providers
    WHERE
    	ProviderID = @ProviderID

    RETURN
GO
