/****** Object:  StoredProcedure [dbo].[CheckDomain]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckDomain]
    (
    	@PackageID int,
    	@DomainName nvarchar(100),
    	@IsDomainPointer bit,
    	@Result int OUTPUT
    )
    AS

    /*
    @Result values:
    	0 - OK
    	-1 - already exists
    	-2 - sub-domain of prohibited domain
    */

    SET @Result = 0 -- OK

    -- check if the domain already exists
    IF EXISTS(
    SELECT DomainID FROM Domains
    WHERE DomainName = @DomainName AND IsDomainPointer = @IsDomainPointer
    )
    BEGIN
    	SET @Result = -1
    	RETURN
    END

    -- check if this is a sub-domain of other domain
    -- that is not allowed for 3rd level hosting

    DECLARE @UserID int
    SELECT @UserID = UserID FROM Packages
    WHERE PackageID = @PackageID

    -- find sub-domains
    DECLARE @DomainUserID int, @HostingAllowed bit
    SELECT
    	@DomainUserID = P.UserID,
    	@HostingAllowed = D.HostingAllowed
    FROM Domains AS D
    INNER JOIN Packages AS P ON D.PackageID = P.PackageID
    WHERE CHARINDEX('.' + DomainName, @DomainName) > 0
    AND (CHARINDEX('.' + DomainName, @DomainName) + LEN('.' + DomainName)) = LEN(@DomainName) + 1
    AND IsDomainPointer = 0

    -- this is a domain of other user
    IF @UserID <> @DomainUserID AND @HostingAllowed = 0
    BEGIN
    	SET @Result = -2
    	RETURN
    END

    RETURN
GO
