/****** Object:  StoredProcedure [dbo].[UpdateExchangeDisclaimer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateExchangeDisclaimer] 
    (
    	@ExchangeDisclaimerId int,
    	@DisclaimerName nvarchar(300),
    	@DisclaimerText nvarchar(MAX)
    )
    AS

    UPDATE ExchangeDisclaimers SET
    	DisclaimerName = @DisclaimerName,
    	DisclaimerText = @DisclaimerText

    WHERE ExchangeDisclaimerId = @ExchangeDisclaimerId

    RETURN
GO
