/****** Object:  StoredProcedure [dbo].[GetPackageIPAddressesCount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageIPAddressesCount]
    (
    	@PackageID int,
    	@OrgID int,
    	@PoolID int = 0
    )
    AS
    BEGIN

    SELECT 
    	COUNT(PA.PackageAddressID)
    FROM 
    	dbo.PackageIPAddresses PA
    INNER JOIN 
    	dbo.IPAddresses AS IP ON PA.AddressID = IP.AddressID
    INNER JOIN 
    	dbo.Packages P ON PA.PackageID = P.PackageID
    INNER JOIN 
    	dbo.Users U ON U.UserID = P.UserID
    LEFT JOIN 
    	ServiceItems SI ON PA.ItemId = SI.ItemID
    WHERE
    	(@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
    AND (@OrgID = 0 OR @OrgID <> 0 AND PA.OrgID = @OrgID)

    END
GO
