/****** Object:  StoredProcedure [dbo].[AddSfBUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSfBUserPlan]
    (
    	@SfBUserPlanId int OUTPUT,
    	@ItemID int,
    	@SfBUserPlanName	nvarchar(300),
    	@SfBUserPlanType int,
    	@IM bit,
    	@Mobility bit,
    	@MobilityEnableOutsideVoice bit,
    	@Federation bit,
    	@Conferencing bit,
    	@EnterpriseVoice bit,
    	@VoicePolicy int,
    	@IsDefault bit,
    	@RemoteUserAccess bit,
    	@PublicIMConnectivity bit,
    	@AllowOrganizeMeetingsWithExternalAnonymous bit,
    	@Telephony int,
    	@ServerURI nvarchar(300),
    	@ArchivePolicy  nvarchar(300),
    	@TelephonyDialPlanPolicy nvarchar(300),
    	@TelephonyVoicePolicy nvarchar(300)

    )
    AS

    IF (((SELECT Count(*) FROM SfBUserPlans WHERE ItemId = @ItemID) = 0) AND (@SfBUserPlanType=0))
    BEGIN
    	SET @IsDefault = 1
    END
    ELSE
    BEGIN
    	IF ((@IsDefault = 1) AND (@SfBUserPlanType=0))
    	BEGIN
    		UPDATE SfBUserPlans SET IsDefault = 0 WHERE ItemID = @ItemID
    	END
    END

    INSERT INTO SfBUserPlans
    (
    	ItemID,
    	SfBUserPlanName,
    	SfBUserPlanType,
    	IM,
    	Mobility,
    	MobilityEnableOutsideVoice,
    	Federation,
    	Conferencing,
    	EnterpriseVoice,
    	VoicePolicy,
    	IsDefault,
    	RemoteUserAccess,
    	PublicIMConnectivity,
    	AllowOrganizeMeetingsWithExternalAnonymous,
    	Telephony,
    	ServerURI,
    	ArchivePolicy,
    	TelephonyDialPlanPolicy,
    	TelephonyVoicePolicy

    )
    VALUES
    (
    	@ItemID,
    	@SfBUserPlanName,
    	@SfBUserPlanType,
    	@IM,
    	@Mobility,
    	@MobilityEnableOutsideVoice,
    	@Federation,
    	@Conferencing,
    	@EnterpriseVoice,
    	@VoicePolicy,
    	@IsDefault,
    	@RemoteUserAccess,
    	@PublicIMConnectivity,
    	@AllowOrganizeMeetingsWithExternalAnonymous,
    	@Telephony,
    	@ServerURI,
    	@ArchivePolicy,
    	@TelephonyDialPlanPolicy,
    	@TelephonyVoicePolicy
    )

    SET @SfBUserPlanId = SCOPE_IDENTITY()
    RETURN
GO
