/****** Object:  StoredProcedure [dbo].[UpdatePackageQuotas]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackageQuotas]
    (
    	@ActorID int,
    	@PackageID int,
    	@Xml ntext
    )
    AS

    /*
    XML Format:

    <plan>
    	<groups>
    		<group id=""16"" enabled=""1"" calculateDiskSpace=""1"" calculateBandwidth=""1""/>
    	</groups>
    	<quotas>
    		<quota id=""2"" value=""2""/>
    	</quotas>
    </plan>

    */

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @OverrideQuotas bit
    SELECT @OverrideQuotas = OverrideQuotas FROM Packages
    WHERE PackageID = @PackageID

    IF @OverrideQuotas = 0
    BEGIN
    	-- delete old Package resources
    	DELETE FROM PackageResources
    	WHERE PackageID = @PackageID

    	-- delete old Package quotas
    	DELETE FROM PackageQuotas
    	WHERE PackageID = @PackageID
    END

    IF @OverrideQuotas = 1 AND @Xml IS NOT NULL
    BEGIN
    	-- delete old Package resources
    	DELETE FROM PackageResources
    	WHERE PackageID = @PackageID

    	-- delete old Package quotas
    	DELETE FROM PackageQuotas
    	WHERE PackageID = @PackageID

    	DECLARE @idoc int
    	--Create an internal representation of the XML document.
    	EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    	-- update Package resources
    	INSERT INTO PackageResources
    	(
    		PackageID,
    		GroupID,
    		CalculateDiskSpace,
    		CalculateBandwidth
    	)
    	SELECT
    		@PackageID,
    		GroupID,
    		CalculateDiskSpace,
    		CalculateBandwidth
    	FROM OPENXML(@idoc, '/plan/groups/group',1) WITH
    	(
    		GroupID int '@id',
    		CalculateDiskSpace bit '@calculateDiskSpace',
    		CalculateBandwidth bit '@calculateBandwidth'
    	) as XRG

    	-- update Package quotas
    	INSERT INTO PackageQuotas
    	(
    		PackageID,
    		QuotaID,
    		QuotaValue
    	)
    	SELECT
    		@PackageID,
    		QuotaID,
    		QuotaValue
    	FROM OPENXML(@idoc, '/plan/quotas/quota',1) WITH
    	(
    		QuotaID int '@id',
    		QuotaValue int '@value'
    	) as PV

    	-- remove document
    	exec sp_xml_removedocument @idoc
    END
    RETURN
GO
