/****** Object:  StoredProcedure [dbo].[AddCluster]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCluster]
    (
    	@ClusterID int OUTPUT,
    	@ClusterName nvarchar(100)
    )
    AS
    INSERT INTO Clusters
    (
    	ClusterName
    )
    VALUES
    (
    	@ClusterName
    )

    SET @ClusterID = SCOPE_IDENTITY()
    RETURN
GO
