/****** Object:  StoredProcedure [dbo].[GetPackagePrivateIPAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackagePrivateIPAddresses]
    	@PackageID int
    AS
    BEGIN

    	SELECT
    		PA.PrivateAddressID,
    		PA.IPAddress,
    		PA.ItemID,
    		SI.ItemName,
    		PA.IsPrimary
    	FROM PrivateIPAddresses AS PA
    	INNER JOIN ServiceItems AS SI ON PA.ItemID = SI.ItemID
    	WHERE SI.PackageID = @PackageID

    END
GO
