/****** Object:  StoredProcedure [dbo].[GetOrganizationGroupsByDisplayName]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationGroupsByDisplayName]
    (
    	@ItemID int,
    	@DisplayName NVARCHAR(255)
    )
    AS
    SELECT
    	AccountID,
    	ItemID,
    	AccountType,
    	AccountName,
    	DisplayName,
    	UserPrincipalName
    FROM
    	ExchangeAccounts
    WHERE
    	ItemID = @ItemID AND DisplayName = @DisplayName AND (AccountType IN (8, 9))
    RETURN
GO
