/****** Object:  StoredProcedure [dbo].[ConvertToExchangeOrganization]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConvertToExchangeOrganization]
    (
    	@ItemID int
    )
    AS

    UPDATE
    	[dbo].[ServiceItems]
    SET
    	[ItemTypeID] = 26
    WHERE
    	[ItemID] = @ItemID

    RETURN
GO
