/****** Object:  StoredProcedure [dbo].[GetPackage]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackage]
    (
    	@PackageID int,
    	@ActorID int
    )
    AS

    -- Note: ActorID is not verified
    -- check both requested and parent package

    SELECT
    	P.PackageID,
    	P.ParentPackageID,
    	P.UserID,
    	P.PackageName,
    	P.PackageComments,
    	P.ServerID,
    	P.StatusID,
    	P.PlanID,
    	P.PurchaseDate,     
      	P.StatusIDchangeDate,
    	P.OverrideQuotas,
    	P.DefaultTopPackage
    FROM Packages AS P
    WHERE P.PackageID = @PackageID
    RETURN
GO
