/****** Object:  StoredProcedure [dbo].[GetSfBUserPlanByAccountId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSfBUserPlanByAccountId]
    (
    	@AccountID int
    )
    AS
    SELECT
    	SfBUserPlanId,
    	ItemID,
    	SfBUserPlanName,
    	SfBUserPlanType,
    	IM,
    	Mobility,
    	MobilityEnableOutsideVoice,
    	Federation,
    	Conferencing,
    	EnterpriseVoice,
    	VoicePolicy,
    	IsDefault
    FROM
    	SfBUserPlans
    WHERE
    	SfBUserPlanId IN (SELECT SfBUserPlanId FROM SfBUsers WHERE AccountID = @AccountID)
    RETURN
GO
