/****** Object:  StoredProcedure [dbo].[AddServer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddServer]
    (
    	@ServerID int OUTPUT,
    	@ServerName nvarchar(100),
    	@ServerUrl nvarchar(255),
    	@Password nvarchar(100),
    	@Comments ntext,
    	@VirtualServer bit,
    	@InstantDomainAlias nvarchar(200),
    	@PrimaryGroupID int,
    	@ADEnabled bit,
    	@ADRootDomain nvarchar(200),
    	@ADUsername nvarchar(100),
    	@ADPassword nvarchar(100),
    	@ADAuthenticationType varchar(50),
    	@OSPlatform int,
    	@IsCore bit,
    	@PasswordIsSHA256 bit
    )
    AS

    IF @PrimaryGroupID = 0

    SET @PrimaryGroupID = NULL

    INSERT INTO Servers
    (
    	ServerName,
    	ServerUrl,
    	Password,
    	Comments,
    	VirtualServer,
    	InstantDomainAlias,
    	PrimaryGroupID,
    	ADEnabled,
    	ADRootDomain,
    	ADUsername,
    	ADPassword,
    	ADAuthenticationType,
    	OSPlatform,
    	IsCore,
    	PasswordIsSHA256
    )
    VALUES
    (
    	@ServerName,
    	@ServerUrl,
    	@Password,
    	@Comments,
    	@VirtualServer,
    	@InstantDomainAlias,
    	@PrimaryGroupID,
    	@ADEnabled,
    	@ADRootDomain,
    	@ADUsername,
    	@ADPassword,
    	@ADAuthenticationType,
    	@OSPlatform,
    	@IsCore,
    	@PasswordIsSHA256
    )

    SET @ServerID = SCOPE_IDENTITY()

    RETURN
GO
