/****** Object:  StoredProcedure [dbo].[UpdatePackageAddon]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackageAddon]
    (
    	@ActorID int,
    	@PackageAddonID int,
    	@PlanID int,
    	@Quantity int,
    	@PurchaseDate datetime,
    	@StatusID int,
    	@Comments ntext
    )
    AS

    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM PackageAddons
    WHERE PackageAddonID = @PackageAddonID

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN

    DECLARE @ParentPackageID int
    SELECT @ParentPackageID = ParentPackageID FROM Packages
    WHERE PackageID = @PackageID

    -- update record
    UPDATE PackageAddons SET
    	PlanID = @PlanID,
    	Quantity = @Quantity,
    	PurchaseDate = @PurchaseDate,
    	StatusID = @StatusID,
    	Comments = @Comments
    WHERE PackageAddonID = @PackageAddonID

    DECLARE @ExceedingQuotas AS TABLE (QuotaID int, QuotaName nvarchar(50), QuotaValue int)
    INSERT INTO @ExceedingQuotas
    SELECT * FROM dbo.GetPackageExceedingQuotas(@ParentPackageID) WHERE QuotaValue > 0

    SELECT * FROM @ExceedingQuotas

    IF EXISTS(SELECT * FROM @ExceedingQuotas)
    BEGIN
    	ROLLBACK TRAN
    	RETURN
    END

    COMMIT TRAN

    RETURN
GO
