/****** Object:  StoredProcedure [dbo].[DeleteBackgroundTaskParams]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBackgroundTaskParams]
    (
    	@TaskID INT
    )
    AS

    DELETE FROM BackgroundTaskParameters
    WHERE TaskID = @TaskID
GO
