/****** Object:  StoredProcedure [dbo].[DeleteAllEnterpriseFolderOwaUsers]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAllEnterpriseFolderOwaUsers]
    (
    	@ItemID  int,
    	@FolderID int
    )
    AS
    DELETE FROM EnterpriseFoldersOwaPermissions
    WHERE ItemId = @ItemID AND FolderID = @FolderID
GO
