/****** Object:  StoredProcedure [dbo].[GetExchangeDisclaimer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeDisclaimer] 
    (
    	@ExchangeDisclaimerId int
    )
    AS
    SELECT
    	ExchangeDisclaimerId,
    	ItemID,
    	DisclaimerName,
    	DisclaimerText
    FROM
    	ExchangeDisclaimers
    WHERE
    	ExchangeDisclaimerId = @ExchangeDisclaimerId
    RETURN
GO
