/****** Object:  StoredProcedure [dbo].[InsertCRMUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCRMUser] 
    (
    	@ItemID int,
    	@CrmUserID uniqueidentifier,
    	@BusinessUnitID uniqueidentifier,
    	@CALType int
    )
    AS
    BEGIN
    	SET NOCOUNT ON;

    INSERT INTO
    	CRMUsers
    (
    	AccountID,
    	CRMUserGuid,
    	BusinessUnitID,
    	CALType
    )
    VALUES 
    (
    	@ItemID, 
    	@CrmUserID,
    	@BusinessUnitID,
    	@CALType
    )

    END
GO
