/****** Object:  StoredProcedure [dbo].[AddLyncUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddLyncUser]
    	@AccountID int,
    	@LyncUserPlanID int,
    	@SipAddress nvarchar(300)
    AS
    INSERT INTO
    	dbo.LyncUsers
    	(AccountID,
    	 LyncUserPlanID,
    	 CreatedDate,
    	 ModifiedDate,
    	 SipAddress)
    VALUES
    (
    	@AccountID,
    	@LyncUserPlanID,
    	getdate(),
    	getdate(),
    	@SipAddress
    )
GO
