/****** Object:  StoredProcedure [dbo].[GetDnsRecordsByGroup]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDnsRecordsByGroup]
    (
    	@GroupID int
    )
    AS
    SELECT
    	RGR.RecordID,
    	RGR.RecordOrder,
    	RGR.GroupID,
    	RGR.RecordType,
    	RGR.RecordName,
    	RGR.RecordData,
    	RGR.MXPriority
    FROM
    	ResourceGroupDnsRecords AS RGR
    WHERE RGR.GroupID = @GroupID
    ORDER BY RGR.RecordOrder
    RETURN
GO
