/****** Object:  StoredProcedure [dbo].[DeleteExchangeRetentionPolicyTag]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeRetentionPolicyTag]
    (
            @TagID int
    )
    AS
    DELETE FROM ExchangeRetentionPolicyTags
    WHERE
    	TagID = @TagID
    RETURN
GO
