/****** Object:  StoredProcedure [dbo].[CheckServiceItemExistsInService]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckServiceItemExistsInService]
    (
    	@Exists bit OUTPUT,
    	@ServiceID int,
    	@ItemName nvarchar(500),
    	@ItemTypeName nvarchar(200)
    )
    AS

    SET @Exists = 0

    DECLARE @ItemTypeID int
    SELECT @ItemTypeID = ItemTypeID FROM ServiceItemTypes
    WHERE TypeName = @ItemTypeName

    IF EXISTS (SELECT ItemID FROM ServiceItems
    WHERE ItemName = @ItemName AND ItemTypeID = @ItemTypeID AND ServiceID = @ServiceID)
    SET @Exists = 1

    RETURN
GO
