/****** Object:  StoredProcedure [dbo].[AddExchangeDisclaimer]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeDisclaimer] 
    (
    	@ExchangeDisclaimerId int OUTPUT,
    	@ItemID int,
    	@DisclaimerName	nvarchar(300),
    	@DisclaimerText	nvarchar(MAX)
    )
    AS

    INSERT INTO ExchangeDisclaimers
    (
    	ItemID,
    	DisclaimerName,
    	DisclaimerText
    )
    VALUES
    (
    	@ItemID,
    	@DisclaimerName,
    	@DisclaimerText
    )

    SET @ExchangeDisclaimerId = SCOPE_IDENTITY()

    RETURN
GO
