/****** Object:  StoredProcedure [dbo].[ExchangeAccountExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExchangeAccountExists]
    (
    	@AccountName nvarchar(20),
    	@Exists bit OUTPUT
    )
    AS
    SET @Exists = 0
    IF EXISTS(SELECT * FROM ExchangeAccounts WHERE sAMAccountName LIKE '%\'+@AccountName)
    BEGIN
    	SET @Exists = 1
    END

    RETURN
GO
