/****** Object:  StoredProcedure [dbo].[GetServiceItemsPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceItemsPaged]
    (
    	@ActorID int,
    	@PackageID int,
    	@ItemTypeName nvarchar(200),
    	@GroupName nvarchar(100) = NULL,
    	@ServerID int,
    	@Recursive bit,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- start
    DECLARE @GroupID int
    SELECT @GroupID = GroupID FROM ResourceGroups
    WHERE GroupName = @GroupName

    DECLARE @ItemTypeID int
    SELECT @ItemTypeID = ItemTypeID FROM ServiceItemTypes
    WHERE TypeName = @ItemTypeName
    AND ((@GroupID IS NULL) OR (@GroupID IS NOT NULL AND GroupID = @GroupID))

    DECLARE @condition nvarchar(700)
    SET @condition = 'SI.ItemTypeID = @ItemTypeID
    AND ((@Recursive = 0 AND P.PackageID = @PackageID)
    		OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, P.PackageID) = 1))
    AND ((@GroupID IS NULL) OR (@GroupID IS NOT NULL AND IT.GroupID = @GroupID))
    AND (@ServerID = 0 OR (@ServerID > 0 AND S.ServerID = @ServerID))
    '

    IF @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
    	IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
    		SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
    	ELSE
    		SET @condition = @condition + '
    			AND (ItemName LIKE ''' + @FilterValue + '''
    			OR Username LIKE ''' + @FilterValue + '''
    			OR FullName LIKE ''' + @FilterValue + '''
    			OR Email LIKE ''' + @FilterValue + ''')'
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'SI.ItemName ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(SI.ItemID) FROM Packages AS P
    INNER JOIN ServiceItems AS SI ON P.PackageID = SI.PackageID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    INNER JOIN ServiceItemTypes AS IT ON SI.ItemTypeID = IT.ItemTypeID
    INNER JOIN Services AS S ON SI.ServiceID = S.ServiceID
    WHERE ' + @condition + '

    DECLARE @Items AS TABLE
    (
    	ItemID int
    );

    WITH TempItems AS (
    	SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
    		SI.ItemID
    	FROM Packages AS P
    	INNER JOIN ServiceItems AS SI ON P.PackageID = SI.PackageID
    	INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    	INNER JOIN ServiceItemTypes AS IT ON SI.ItemTypeID = IT.ItemTypeID
    	INNER JOIN Services AS S ON SI.ServiceID = S.ServiceID
    	INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    	WHERE ' + @condition + '
    )

    INSERT INTO @Items
    SELECT ItemID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
    	SI.ItemID,
    	SI.ItemName,
    	SI.ItemTypeID,
    	IT.TypeName,
    	SI.ServiceID,
    	SI.PackageID,
    	SI.CreatedDate,
    	RG.GroupName,

    	-- packages
    	P.PackageName,

    	-- server
    	ISNULL(SRV.ServerID, 0) AS ServerID,
    	ISNULL(SRV.ServerName, '''') AS ServerName,
    	ISNULL(SRV.Comments, '''') AS ServerComments,
    	ISNULL(SRV.VirtualServer, 0) AS VirtualServer,

    	-- user
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email
    FROM @Items AS TSI
    INNER JOIN ServiceItems AS SI ON TSI.ItemID = SI.ItemID
    INNER JOIN ServiceItemTypes AS IT ON SI.ItemTypeID = IT.ItemTypeID
    INNER JOIN Packages AS P ON SI.PackageID = P.PackageID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    INNER JOIN Services AS S ON SI.ServiceID = S.ServiceID
    INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    INNER JOIN ResourceGroups AS RG ON IT.GroupID = RG.GroupID

    SELECT
    	IP.ItemID,
    	IP.PropertyName,
    	IP.PropertyValue
    FROM ServiceItemProperties AS IP
    INNER JOIN @Items AS TSI ON IP.ItemID = TSI.ItemID'

    --print @sql

    exec sp_executesql @sql, N'@ItemTypeID int, @PackageID int, @GroupID int, @StartRow int, @MaximumRows int, @Recursive bit, @ServerID int',
    @ItemTypeID, @PackageID, @GroupID, @StartRow, @MaximumRows, @Recursive, @ServerID

    RETURN
GO
