/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    (
    	@ActorID int,
    	@UserID int OUTPUT,
    	@OwnerID int,
    	@RoleID int,
    	@StatusID int,
    	@SubscriberNumber nvarchar(32),
    	@LoginStatusID int,
    	@IsDemo bit,
    	@IsPeer bit,
    	@Comments ntext,
    	@Username nvarchar(50),
    	@Password nvarchar(200),
    	@FirstName nvarchar(50),
    	@LastName nvarchar(50),
    	@Email nvarchar(255),
    	@SecondaryEmail nvarchar(255),
    	@Address nvarchar(200),
    	@City nvarchar(50),
    	@State nvarchar(50),
    	@Country nvarchar(50),
    	@Zip varchar(20),
    	@PrimaryPhone varchar(30),
    	@SecondaryPhone varchar(30),
    	@Fax varchar(30),
    	@InstantMessenger nvarchar(200),
    	@HtmlMail bit,
    	@CompanyName nvarchar(100),
    	@EcommerceEnabled bit
    )
    AS

    -- check if the user already exists
    IF EXISTS(SELECT UserID FROM Users WHERE Username = @Username)
    BEGIN
    	SET @UserID = -1
    	RETURN
    END

    -- check actor rights
    IF dbo.CanCreateUser(@ActorID, @OwnerID) = 0
    BEGIN
    	SET @UserID = -2
    	RETURN
    END

    INSERT INTO Users
    (
    	OwnerID,
    	RoleID,
    	StatusID,
    	SubscriberNumber,
    	LoginStatusID,
    	Created,
    	Changed,
    	IsDemo,
    	IsPeer,
    	Comments,
    	Username,
    	Password,
    	FirstName,
    	LastName,
    	Email,
    	SecondaryEmail,
    	Address,
    	City,
    	State,
    	Country,
    	Zip,
    	PrimaryPhone,
    	SecondaryPhone,
    	Fax,
    	InstantMessenger,
    	HtmlMail,
    	CompanyName,
    	EcommerceEnabled
    )
    VALUES
    (
    	@OwnerID,
    	@RoleID,
    	@StatusID,
    	@SubscriberNumber,
    	@LoginStatusID,
    	GetDate(),
    	GetDate(),
    	@IsDemo,
    	@IsPeer,
    	@Comments,
    	@Username,
    	@Password,
    	@FirstName,
    	@LastName,
    	@Email,
    	@SecondaryEmail,
    	@Address,
    	@City,
    	@State,
    	@Country,
    	@Zip,
    	@PrimaryPhone,
    	@SecondaryPhone,
    	@Fax,
    	@InstantMessenger,
    	@HtmlMail,
    	@CompanyName,
    	@EcommerceEnabled
    )

    SET @UserID = SCOPE_IDENTITY()

    RETURN
GO
