/****** Object:  StoredProcedure [dbo].[GetGroupProviders]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetGroupProviders]
    (
    	@GroupID int
    )
    AS
    SELECT
    	PROV.ProviderID,
    	PROV.GroupID,
    	PROV.ProviderName,
    	PROV.DisplayName,
    	PROV.ProviderType,
    	RG.GroupName + ' - ' + PROV.DisplayName AS ProviderName
    FROM Providers AS PROV
    INNER JOIN ResourceGroups AS RG ON PROV.GroupID = RG.GroupID
    WHERE RG.GroupID = @GroupId
    ORDER BY RG.GroupOrder, PROV.DisplayName
    RETURN
GO
