/****** Object:  StoredProcedure [dbo].[GetOrganizationStoragSpacesFolderByType]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationStoragSpacesFolderByType]
    (
    	@ItemId INT,
    	@Type varchar(100)
    )
    AS
    	SELECT
    		SSF.Id,
    		SSF.Name,
    		SSF.StorageSpaceId,
    		SSF.Path,
    		SSF.UncPath,
    		SSF.IsShared,
    		SSF.FsrmQuotaType,
    		SSF.FsrmQuotaSizeBytes
    	FROM [ExchangeOrganizationSsFolders] AS OSSF
    	INNER JOIN [StorageSpaceFolders] AS SSF ON SSF.Id = OSSF.StorageSpaceFolderId
    	WHERE ItemId = @ItemId AND Type = @Type
GO
