/****** Object:  UserDefinedFunction [dbo].[PackagesTree]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PackagesTree]
    (
    	@PackageID int,
    	@Recursive bit = 0
    )
    RETURNS @T TABLE (PackageID int)
    AS
    BEGIN

    INSERT INTO @T VALUES (@PackageID)

    IF @Recursive = 1
    BEGIN
    	WITH RecursivePackages(ParentPackageID, PackageID, PackageLevel) AS
    	(
    		SELECT ParentPackageID, PackageID, 0 AS PackageLevel
    		FROM Packages
    		WHERE ParentPackageID = @PackageID
    		UNION ALL
    		SELECT p.ParentPackageID, p.PackageID, PackageLevel + 1
    		FROM Packages p
    			INNER JOIN RecursivePackages d
    			ON p.ParentPackageID = d.PackageID
    		WHERE @Recursive = 1
    	)
    	INSERT INTO @T
    	SELECT PackageID
    	FROM RecursivePackages
    END

    RETURN
    END
GO
