/****** Object:  StoredProcedure [dbo].[GetExchangeRetentionPolicyTag]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeRetentionPolicyTag] 
    (
    	@TagID int
    )
    AS
    SELECT
    	TagID,
    	ItemID,
    	TagName,
    	TagType,
    	AgeLimitForRetention,
    	RetentionAction
    FROM
    	ExchangeRetentionPolicyTags
    WHERE
    	TagID = @TagID
    RETURN
GO
