/****** Object:  StoredProcedure [dbo].[AddExchangeAccountEmailAddress]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExchangeAccountEmailAddress]
    (
    	@AccountID int,
    	@EmailAddress nvarchar(300)
    )
    AS
    INSERT INTO ExchangeAccountEmailAddresses
    (
    	AccountID,
    	EmailAddress
    )
    VALUES
    (
    	@AccountID,
    	@EmailAddress
    )
    RETURN
GO
