/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString] (@stringToSplit VARCHAR(MAX), @separator CHAR)
    RETURNS
     @returnList TABLE ([value] [nvarchar] (500))
    AS
    BEGIN

     DECLARE @value NVARCHAR(255)
     DECLARE @pos INT

     WHILE CHARINDEX(@separator, @stringToSplit) > 0
     BEGIN
      SELECT @pos  = CHARINDEX(@separator, @stringToSplit)  
      SELECT @value = SUBSTRING(@stringToSplit, 1, @pos-1)

      INSERT INTO @returnList 
      SELECT @value

      SELECT @stringToSplit = SUBSTRING(@stringToSplit, @pos+1, LEN(@stringToSplit)-@pos)
     END

     INSERT INTO @returnList
     SELECT @stringToSplit

     RETURN
    END
GO
