/****** Object:  UserDefinedFunction [dbo].[GetPackageAllocatedQuota]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetPackageAllocatedQuota]
    (
    	@PackageID int,
    	@QuotaID int
    )
    RETURNS int
    AS
    BEGIN

    DECLARE @Result int

    DECLARE @QuotaTypeID int
    SELECT @QuotaTypeID = QuotaTypeID FROM Quotas
    WHERE QuotaID = @QuotaID

    IF @QuotaTypeID = 1
    	SET @Result = 1 -- enabled
    ELSE
    	SET @Result = -1 -- unlimited

    DECLARE @PID int, @ParentPackageID int
    SET @PID = @PackageID

    DECLARE @OverrideQuotas bit

    WHILE 1 = 1
    BEGIN

    	DECLARE @QuotaValue int

    	-- get package info
    	SELECT
    		@ParentPackageID = ParentPackageID,
    		@OverrideQuotas = OverrideQuotas
    	FROM Packages WHERE PackageID = @PID

    	SET @QuotaValue = NULL

    	-- check if this is a root 'System' package
    	IF @ParentPackageID IS NULL
    	BEGIN
    		IF @QuotaTypeID = 1 -- boolean
    			SET @QuotaValue = 1 -- enabled
    		ELSE IF @QuotaTypeID > 1 -- numeric
    			SET @QuotaValue = -1 -- unlimited
    	END
    	ELSE
    	BEGIN
    		-- check the current package
    		IF @OverrideQuotas = 1
    			SELECT @QuotaValue = QuotaValue FROM PackageQuotas WHERE QuotaID = @QuotaID AND PackageID = @PID
    		ELSE
    			SELECT @QuotaValue = HPQ.QuotaValue FROM Packages AS P
    			INNER JOIN HostingPlanQuotas AS HPQ ON P.PlanID = HPQ.PlanID
    			WHERE HPQ.QuotaID = @QuotaID AND P.PackageID = @PID

    		IF @QuotaValue IS NULL
    		SET @QuotaValue = 0

    		-- check package addons
    		DECLARE @QuotaAddonValue int
    		SELECT
    			@QuotaAddonValue = SUM(HPQ.QuotaValue * PA.Quantity)
    		FROM PackageAddons AS PA
    		INNER JOIN HostingPlanQuotas AS HPQ ON PA.PlanID = HPQ.PlanID
    		WHERE PA.PackageID = @PID AND HPQ.QuotaID = @QuotaID AND PA.StatusID = 1 -- active

    		-- process bool quota
    		IF @QuotaAddonValue IS NOT NULL
    		BEGIN
    			IF @QuotaTypeID = 1
    			BEGIN
    				IF @QuotaAddonValue > 0 AND @QuotaValue = 0 -- enabled
    				SET @QuotaValue = 1
    			END
    			ELSE
    			BEGIN -- numeric quota
    				IF @QuotaAddonValue < 0 -- unlimited
    					SET @QuotaValue = -1
    				ELSE
    					SET @QuotaValue = @QuotaValue + @QuotaAddonValue
    			END
    		END
    	END

    	-- process bool quota
    	IF @QuotaTypeID = 1
    	BEGIN
    		IF @QuotaValue = 0 OR @QuotaValue IS NULL -- disabled
    		RETURN 0
    	END
    	ELSE
    	BEGIN -- numeric quota
    		IF @QuotaValue = 0 OR @QuotaValue IS NULL -- zero quantity
    		RETURN 0

    		IF (@QuotaValue <> -1 AND @Result = -1) OR (@QuotaValue < @Result AND @QuotaValue <> -1)
    			SET @Result = @QuotaValue
    	END

    	IF @ParentPackageID IS NULL
    	RETURN @Result -- exit from the loop

    	SET @PID = @ParentPackageID

    END -- end while

    RETURN @Result
    END
GO
