/****** Object:  StoredProcedure [dbo].[GetStorageSpacesPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStorageSpacesPaged]
    (
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS
    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2500)

    SET @sql = '

    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows
    DECLARE @Spaces TABLE
    (
    	ItemPosition int IDENTITY(0,1),
    	SpaceId int
    )
    INSERT INTO @Spaces (SpaceId)
    SELECT
    	S.Id
    FROM StorageSpaces AS S'

    IF @FilterColumn <> '' AND @FilterValue <> ''
    SET @sql = @sql + ' WHERE ' + @FilterColumn + ' LIKE @FilterValue '

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(SpaceId) FROM @Spaces;
    SELECT
    		CR.Id,
    		CR.Name ,
    		CR.ServiceId ,
    		CR.ServerId ,
    		CR.LevelId,
    		CR.Path,
    		CR.FsrmQuotaType,
    		CR.FsrmQuotaSizeBytes,
    		CR.IsShared,
    		CR.IsDisabled,
    		CR.UncPath,
    		ISNULL((SELECT SUM(SSF.FsrmQuotaSizeBytes) FROM StorageSpaceFolders AS SSF WHERE SSF.StorageSpaceId = CR.Id), 0) UsedSizeBytes
    FROM @Spaces AS C
    INNER JOIN StorageSpaces AS CR ON C.SpaceId = CR.Id
    WHERE C.ItemPosition BETWEEN @StartRow AND @EndRow'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int,  @FilterValue nvarchar(50)',
    @StartRow, @MaximumRows,  @FilterValue

    RETURN
GO
