/****** Object:  StoredProcedure [dbo].[CheckDomainUsedByHostedOrganization]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- fix check domain used by HostedOrganization

    CREATE PROCEDURE [dbo].[CheckDomainUsedByHostedOrganization] 
    	@DomainName nvarchar(100),
    	@Result int OUTPUT
    AS
    	SET @Result = 0
    	IF EXISTS(SELECT 1 FROM ExchangeAccounts WHERE UserPrincipalName LIKE '%@'+ @DomainName AND AccountType!=2)
    	BEGIN
    		SET @Result = 1
    	END
    	ELSE
    	IF EXISTS(SELECT 1 FROM ExchangeAccountEmailAddresses WHERE EmailAddress LIKE '%@'+ @DomainName)
    	BEGIN
    		SET @Result = 1
    	END
    	ELSE
    	IF EXISTS(SELECT 1 FROM LyncUsers WHERE SipAddress LIKE '%@'+ @DomainName)
    	BEGIN
    		SET @Result = 1
    	END
    	ELSE
    	IF EXISTS(SELECT 1 FROM SfBUsers WHERE SipAddress LIKE '%@'+ @DomainName)
    	BEGIN
    		SET @Result = 1
    	END

    	RETURN @Result
GO
