/****** Object:  StoredProcedure [dbo].[GetPrivateNetworVLAN]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPrivateNetworVLAN]
    (
     @VlanID int
    )
    AS
    BEGIN
     -- select
     SELECT
      VlanID,
      Vlan,
      ServerID,
      Comments
     FROM PrivateNetworkVLANs
     WHERE
      VlanID = @VlanID
     RETURN
    END
GO
