/****** Object:  StoredProcedure [dbo].[UpdateEntepriseFolderStorageSpaceFolder]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEntepriseFolderStorageSpaceFolder]
    (
    	@ItemID INT,
    	@FolderName NVARCHAR(255),
    	@StorageSpaceFolderId INT
    )
    AS

    UPDATE EnterpriseFolders
    SET StorageSpaceFolderId = @StorageSpaceFolderId
    WHERE ItemID = @ItemID AND FolderName = @FolderName
GO
