/****** Object:  StoredProcedure [dbo].[DeleteLyncUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLyncUserPlan]
    (
    	@LyncUserPlanId int
    )
    AS

    -- delete lyncuserplan
    DELETE FROM LyncUserPlans
    WHERE LyncUserPlanId = @LyncUserPlanId

    RETURN
GO
