/****** Object:  StoredProcedure [dbo].[DeleteOrganizationUsers]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrganizationUsers]
    	@ItemID int
    AS
    BEGIN
    	SET NOCOUNT ON;

        DELETE FROM ExchangeAccounts WHERE ItemID = @ItemID
    END
GO
