/****** Object:  StoredProcedure [dbo].[GetServicesByServerID]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServicesByServerID]
    (
    	@ActorID int,
    	@ServerID int
    )
    AS

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	S.ServiceID,
    	S.ServerID,
    	S.ServiceName,
    	S.Comments,
    	S.ServiceQuotaValue,
    	RG.GroupName,
    	S.ProviderID,
    	PROV.DisplayName AS ProviderName
    FROM Services AS S
    INNER JOIN Providers AS PROV ON S.ProviderID = PROV.ProviderID
    INNER JOIN ResourceGroups AS RG ON PROV.GroupID = RG.GroupID
    WHERE
    	S.ServerID = @ServerID
    	AND @IsAdmin = 1
    ORDER BY RG.GroupOrder

    RETURN
GO
