/****** Object:  StoredProcedure [dbo].[GetStorageSpaceById]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStorageSpaceById]
    (
    	@Id INT
    )
    AS
    	SELECT TOP 1
    		SS.Id,
    		SS.Name ,
    		SS.ServiceId ,
    		SS.ServerId ,
    		SS.LevelId,
    		SS.Path,
    		SS.FsrmQuotaType,
    		SS.FsrmQuotaSizeBytes,
    		SS.IsShared,
    		SS.UncPath,
    		SS.IsDisabled,
    		ISNULL((SELECT SUM(SSF.FsrmQuotaSizeBytes) FROM StorageSpaceFolders AS SSF WHERE SSF.StorageSpaceId = SS.Id), 0) UsedSizeBytes
    	FROM [dbo].[StorageSpaces] AS SS
    	WHERE SS.Id = @Id
GO
