/****** Object:  StoredProcedure [dbo].[GetRDSMessages]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSMessages]
    (
    	@RDSCollectionId INT
    )
    AS
    SELECT Id, RDSCollectionId, MessageText, UserName, [Date] FROM [dbo].[RDSMessages] WHERE RDSCollectionId = @RDSCollectionId
    RETURN
GO
