/****** Object:  StoredProcedure [dbo].[RemoveStorageSpace]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveStorageSpace]
    (
    	@ID INT
    )
    AS
    	DELETE FROM StorageSpaces WHERE ID = @ID
GO
