/****** Object:  StoredProcedure [dbo].[UpdatePrivateNetworVLAN]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePrivateNetworVLAN]
    (
     @VlanID int,
     @ServerID int,
     @Vlan int,
     @Comments ntext
    )
    AS
    BEGIN
     IF @ServerID = 0
     SET @ServerID = NULL

     UPDATE PrivateNetworkVLANs SET
      Vlan = @Vlan,
      ServerID = @ServerID,
      Comments = @Comments
     WHERE VlanID = @VlanID
     RETURN
    END
GO
