/****** Object:  StoredProcedure [dbo].[GetPackageIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageIPAddress]
     @PackageAddressID int
    AS
    BEGIN
    SELECT
     PA.PackageAddressID,
     PA.AddressID,
     IP.ExternalIP,
     IP.InternalIP,
     IP.SubnetMask,
     IP.DefaultGateway,
     IP.VLAN,
     PA.ItemID,
     SI.ItemName,
     PA.PackageID,
     P.PackageName,
     P.UserID,
     U.UserName,
     PA.IsPrimary
    FROM dbo.PackageIPAddresses AS PA
    INNER JOIN dbo.IPAddresses AS IP ON PA.AddressID = IP.AddressID
    INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    INNER JOIN dbo.Users U ON U.UserID = P.UserID
    LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    WHERE PA.PackageAddressID = @PackageAddressID
    END
GO
