/****** Object:  StoredProcedure [dbo].[SetOrganizationDefaultExchangeMailboxPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetOrganizationDefaultExchangeMailboxPlan]
    (
    	@ItemID int,
    	@MailboxPlanId int
    )
    AS

    UPDATE ExchangeOrganizations SET
    	ExchangeMailboxPlanID = @MailboxPlanId
    WHERE
    	ItemID = @ItemID

    RETURN
GO
