/****** Object:  StoredProcedure [dbo].[GetSchedules]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchedules]
    (
    	@ActorID int,
    	@PackageID int,
    	@Recursive bit
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    DECLARE @Schedules TABLE
    (
    	ScheduleID int
    )

    INSERT INTO @Schedules (ScheduleID)
    SELECT
    	S.ScheduleID
    FROM Schedule AS S
    INNER JOIN PackagesTree(@PackageID, @Recursive) AS PT ON S.PackageID = PT.PackageID
    ORDER BY S.Enabled DESC, S.NextRun

    -- select schedules
    SELECT
    	S.ScheduleID,
    	S.TaskID,
    	ST.TaskType,
    	ST.RoleID,
    	S.PackageID,
    	S.ScheduleName,
    	S.ScheduleTypeID,
    	S.Interval,
    	S.FromTime,
    	S.ToTime,
    	S.StartTime,
    	S.LastRun,
    	S.NextRun,
    	S.Enabled,
    	1 AS StatusID,
    	S.PriorityID,
    	S.MaxExecutionTime,
    	S.WeekMonthDay,
    	-- bug ISNULL(0, ...) always is not NULL
    	-- ISNULL(0, (SELECT TOP 1 SeverityID FROM AuditLog WHERE ItemID = S.ScheduleID AND SourceName = ''SCHEDULER'' ORDER BY StartDate DESC)) AS LastResult,
    	ISNULL((SELECT TOP 1 SeverityID FROM AuditLog WHERE ItemID = S.ScheduleID AND SourceName = 'SCHEDULER' ORDER BY StartDate DESC), 0) AS LastResult,

    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email
    FROM @Schedules AS STEMP
    INNER JOIN Schedule AS S ON STEMP.ScheduleID = S.ScheduleID
    INNER JOIN Packages AS P ON S.PackageID = P.PackageID
    INNER JOIN ScheduleTasks AS ST ON S.TaskID = ST.TaskID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID

    -- select schedule parameters
    SELECT
    	S.ScheduleID,
    	STP.ParameterID,
    	STP.DataTypeID,
    	ISNULL(SP.ParameterValue, STP.DefaultValue) AS ParameterValue
    FROM @Schedules AS STEMP
    INNER JOIN Schedule AS S ON STEMP.ScheduleID = S.ScheduleID
    INNER JOIN ScheduleTaskParameters AS STP ON S.TaskID = STP.TaskID
    LEFT OUTER JOIN ScheduleParameters AS SP ON STP.ParameterID = SP.ParameterID AND SP.ScheduleID = S.ScheduleID
    RETURN
GO
