/****** Object:  StoredProcedure [dbo].[AddSchedule]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSchedule]
    (
    	@ActorID int,
    	@ScheduleID int OUTPUT,
    	@TaskID nvarchar(100),
    	@PackageID int,
    	@ScheduleName nvarchar(100),
    	@ScheduleTypeID nvarchar(50),
    	@Interval int,
    	@FromTime datetime,
    	@ToTime datetime,
    	@StartTime datetime,
    	@NextRun datetime,
    	@Enabled bit,
    	@PriorityID nvarchar(50),
    	@HistoriesNumber int,
    	@MaxExecutionTime int,
    	@WeekMonthDay int,
    	@XmlParameters ntext
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- insert record
    BEGIN TRAN
    INSERT INTO Schedule
    (
    	TaskID,
    	PackageID,
    	ScheduleName,
    	ScheduleTypeID,
    	Interval,
    	FromTime,
    	ToTime,
    	StartTime,
    	NextRun,
    	Enabled,
    	PriorityID,
    	HistoriesNumber,
    	MaxExecutionTime,
    	WeekMonthDay
    )
    VALUES
    (
    	@TaskID,
    	@PackageID,
    	@ScheduleName,
    	@ScheduleTypeID,
    	@Interval,
    	@FromTime,
    	@ToTime,
    	@StartTime,
    	@NextRun,
    	@Enabled,
    	@PriorityID,
    	@HistoriesNumber,
    	@MaxExecutionTime,
    	@WeekMonthDay
    )

    SET @ScheduleID = SCOPE_IDENTITY()

    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @XmlParameters

    -- Execute a SELECT statement that uses the OPENXML rowset provider.
    DELETE FROM ScheduleParameters
    WHERE ScheduleID = @ScheduleID

    INSERT INTO ScheduleParameters
    (
    	ScheduleID,
    	ParameterID,
    	ParameterValue
    )
    SELECT
    	@ScheduleID,
    	ParameterID,
    	ParameterValue
    FROM OPENXML(@idoc, '/parameters/parameter',1) WITH
    (
    	ParameterID nvarchar(50) '@id',
    	ParameterValue nvarchar(3000) '@value'
    ) as PV

    -- remove document
    exec sp_xml_removedocument @idoc

    COMMIT TRAN

    RETURN
GO
