/****** Object:  StoredProcedure [dbo].[GetHostingAddons]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHostingAddons]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    SELECT
    	PlanID,
    	UserID,
    	PackageID,
    	PlanName,
    	PlanDescription,
    	Available,
    	SetupPrice,
    	RecurringPrice,
    	RecurrenceLength,
    	RecurrenceUnit,
    	IsAddon,
    	(SELECT COUNT(P.PackageID) FROM PackageAddons AS P WHERE P.PlanID = HP.PlanID) AS PackagesNumber
    FROM
    	HostingPlans AS HP
    WHERE
    	UserID = @UserID
    	AND IsAddon = 1
    ORDER BY PlanName
    RETURN
GO
