/****** Object:  StoredProcedure [dbo].[GetPackagesPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackagesPaged]
    (
    	@ActorID int,
    	@UserID int,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS

    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2000)

    SET @sql = '
    DECLARE @HasUserRights bit
    SET @HasUserRights = dbo.CheckActorUserRights(@ActorID, @UserID)

    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows
    DECLARE @Packages TABLE
    (
    	ItemPosition int IDENTITY(1,1),
    	PackageID int
    )
    INSERT INTO @Packages (PackageID)
    SELECT
    	P.PackageID
    FROM Packages AS P
    --INNER JOIN UsersTree(@UserID, 1) AS UT ON P.UserID = UT.UserID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    INNER JOIN Servers AS S ON P.ServerID = S.ServerID
    INNER JOIN HostingPlans AS HP ON P.PlanID = HP.PlanID
    WHERE
    	P.UserID <> @UserID AND dbo.CheckUserParent(@UserID, P.UserID) = 1
    	AND @HasUserRights = 1 '

    IF @FilterColumn <> '' AND @FilterValue <> ''
    SET @sql = @sql + ' AND ' + @FilterColumn + ' LIKE @FilterValue '

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(PackageID) FROM @Packages;
    SELECT
    	P.PackageID,
    	P.PackageName,
    	P.StatusID,
    	P.PurchaseDate,

    	dbo.GetItemComments(P.PackageID, ''PACKAGE'', @ActorID) AS Comments,

    	-- server
    	P.ServerID,
    	ISNULL(S.ServerName, ''None'') AS ServerName,
    	ISNULL(S.Comments, '''') AS ServerComments,
    	ISNULL(S.VirtualServer, 1) AS VirtualServer,

    	-- hosting plan
    	P.PlanID,
    	HP.PlanName,

    	-- user
    	P.UserID,
    	U.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	U.RoleID,
    	U.Email
    FROM @Packages AS TP
    INNER JOIN Packages AS P ON TP.PackageID = P.PackageID
    INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    INNER JOIN Servers AS S ON P.ServerID = S.ServerID
    INNER JOIN HostingPlans AS HP ON P.PlanID = HP.PlanID
    WHERE TP.ItemPosition BETWEEN @StartRow AND @EndRow'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int, @UserID int, @FilterValue nvarchar(50), @ActorID int',
    @StartRow, @MaximumRows, @UserID, @FilterValue, @ActorID

    RETURN
GO
