/****** Object:  StoredProcedure [dbo].[GetNextSchedule]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNextSchedule]
    AS

    -- find next schedule
    DECLARE @ScheduleID int
    DECLARE @TaskID nvarchar(100)
    SELECT TOP 1
    	@ScheduleID = ScheduleID,
    	@TaskID = TaskID
    FROM Schedule AS S
    WHERE Enabled = 1
    ORDER BY NextRun ASC

    -- select schedule
    SELECT TOP 1
    	S.ScheduleID,
    	S.TaskID,
    	S.PackageID,
    	S.ScheduleName,
    	S.ScheduleTypeID,
    	S.Interval,
    	S.FromTime,
    	S.ToTime,
    	S.StartTime,
    	S.LastRun,
    	S.NextRun,
    	S.Enabled,
    	S.HistoriesNumber,
    	S.PriorityID,
    	S.MaxExecutionTime,
    	S.WeekMonthDay,
    	1 AS StatusID
    FROM Schedule AS S
    WHERE S.ScheduleID = @ScheduleID
    ORDER BY NextRun ASC

    -- select task
    SELECT
    	TaskID,
    	TaskType,
    	RoleID
    FROM ScheduleTasks
    WHERE TaskID = @TaskID

    -- select schedule parameters
    SELECT
    	S.ScheduleID,
    	STP.ParameterID,
    	STP.DataTypeID,
    	ISNULL(SP.ParameterValue, STP.DefaultValue) AS ParameterValue
    FROM Schedule AS S
    INNER JOIN ScheduleTaskParameters AS STP ON S.TaskID = STP.TaskID
    LEFT OUTER JOIN ScheduleParameters AS SP ON STP.ParameterID = SP.ParameterID AND SP.ScheduleID = S.ScheduleID
    WHERE S.ScheduleID = @ScheduleID
    RETURN
GO
