/****** Object:  StoredProcedure [dbo].[DeleteAdditionalGroup]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAdditionalGroup]
    (
    	@GroupID INT
    )
    AS

    DELETE FROM AdditionalGroups
    WHERE ID = @GroupID
GO
