/****** Object:  StoredProcedure [dbo].[GetSearchObject]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSearchObject]
    (
    	@ActorID int,
    	@UserID int,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@StatusID int,
    	@RoleID int,
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int = 0,
    	@Recursive bit,
    	@ColType nvarchar(500) = '',
    	@FullType nvarchar(50) = '',
    	@OnlyFind bit
    )
    AS

    IF @ColType IS NULL
    	SET @ColType = ''
    	
    DECLARE @HasUserRights bit
    SET @HasUserRights = dbo.CheckActorUserRights(@ActorID, @UserID)

    IF @HasUserRights = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    DECLARE @curAll CURSOR
    DECLARE @curUsers CURSOR
    DECLARE @ItemID int
    DECLARE @TextSearch nvarchar(500)
    DECLARE @ColumnType nvarchar(50)
    DECLARE @FullTypeAll nvarchar(50)
    DECLARE @PackageID int
    DECLARE @AccountID int
    DECLARE @Username nvarchar(50)
    DECLARE @Fullname nvarchar(50)
    DECLARE @ItemsAll TABLE
     (
      ItemID int,
      TextSearch nvarchar(500),
      ColumnType nvarchar(50),
      FullType nvarchar(50),
      PackageID int,
      AccountID int,
      Username nvarchar(100),
      Fullname nvarchar(100)
     )
    DECLARE @sql nvarchar(max)

    /*------------------------------------------------Users---------------------------------------------------------------*/
    DECLARE @columnUsername nvarchar(20)  
    SET @columnUsername = 'Username'

    DECLARE @columnEmail nvarchar(20)  
    SET @columnEmail = 'Email'

    DECLARE @columnCompanyName nvarchar(20)  
    SET @columnCompanyName = 'CompanyName'

    DECLARE @columnFullName nvarchar(20)  
    SET @columnFullName = 'FullName'

    IF @FilterColumn = '' AND @FilterValue <> ''
    SET @FilterColumn = 'TextSearch'

    SET @sql = '
    DECLARE @Users TABLE
    (
     ItemPosition int IDENTITY(0,1),
     UserID int,
     Username nvarchar(100),
     Fullname nvarchar(100)
    )
    INSERT INTO @Users (UserID, Username, Fullname)
    SELECT 
     U.UserID,
     U.Username,
     U.FirstName + '' '' + U.LastName as Fullname
    FROM UsersDetailed AS U
    WHERE 
     U.UserID <> @UserID AND U.IsPeer = 0 AND
     (
      (@Recursive = 0 AND OwnerID = @UserID) OR
      (@Recursive = 1 AND dbo.CheckUserParent(@UserID, U.UserID) = 1)
     )
     AND ((@StatusID = 0) OR (@StatusID > 0 AND U.StatusID = @StatusID))
     AND ((@RoleID = 0) OR (@RoleID > 0 AND U.RoleID = @RoleID))
     AND ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1
     SET @curValue = cursor local for
    SELECT '

    IF @OnlyFind = 1
    	SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + 'U.ItemID,
     U.TextSearch,
     U.ColumnType,
     ''AccountHome'' as FullType,
     0 as PackageID,
     0 as AccountID,
     TU.Username,
     TU.Fullname
    FROM @Users AS TU
    INNER JOIN 
    (
    SELECT ItemID, TextSearch, ColumnType
    FROM(
    SELECT U0.UserID as ItemID, U0.Username as TextSearch, @columnUsername as ColumnType
    FROM dbo.Users AS U0
    UNION
    SELECT U1.UserID as ItemID, U1.Email as TextSearch, @columnEmail as ColumnType                      
    FROM dbo.Users AS U1
    UNION
    SELECT U2.UserID as ItemID, U2.CompanyName as TextSearch, @columnCompanyName as ColumnType 
    FROM dbo.Users AS U2
    UNION
    SELECT U3.UserID as ItemID, U3.FirstName + '' '' + U3.LastName as TextSearch, @columnFullName as ColumnType 
    FROM dbo.Users AS U3) as U
    WHERE TextSearch<>'' '' OR ISNULL(TextSearch, 0) > 0
    )
     AS U ON TU.UserID = U.ItemID'
    IF @FilterValue <> ''
     SET @sql = @sql + ' WHERE TextSearch LIKE ''' + @FilterValue + ''''
    SET @sql = @sql + ' ORDER BY TextSearch'

    SET @sql = @sql + ';open @curValue'

    exec sp_executesql @sql, N'@UserID int, @FilterValue nvarchar(50), @Recursive bit, @StatusID int, @RoleID int, @columnUsername nvarchar(20), @columnEmail nvarchar(20), @columnCompanyName nvarchar(20), @columnFullName nvarchar(20), @curValue cursor output',
    @UserID, @FilterValue, @Recursive, @StatusID, @RoleID, @columnUsername, @columnEmail, @columnCompanyName, @columnFullName, @curUsers output

    /*--------------------------------------------Space----------------------------------------------------------*/
    DECLARE @sqlNameAccountType nvarchar(4000)
    SET @sqlNameAccountType = '
    WHEN 1 THEN ''Mailbox''
    WHEN 2 THEN ''Contact''
    WHEN 3 THEN ''DistributionList''
    WHEN 4 THEN ''PublicFolder''
    WHEN 5 THEN ''Room''
    WHEN 6 THEN ''Equipment''
    WHEN 7 THEN ''User''
    WHEN 8 THEN ''SecurityGroup''
    WHEN 9 THEN ''DefaultSecurityGroup''
    WHEN 10 THEN ''SharedMailbox''
    WHEN 11 THEN ''DeletedUser''
    WHEN 12 THEN ''JournalingMailbox''
    '

    SET @sql = '
     DECLARE @ItemsService TABLE
     (
      ItemID int,
      ItemTypeID int,
      Username nvarchar(100),
      Fullname nvarchar(100)
     )
     INSERT INTO @ItemsService (ItemID, ItemTypeID, Username, Fullname)
     SELECT
      SI.ItemID,
      SI.ItemTypeID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
     FROM ServiceItems AS SI
     INNER JOIN Packages AS P ON P.PackageID = SI.PackageID
     INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
     WHERE
      dbo.CheckUserParent(@UserID, P.UserID) = 1
     DECLARE @ItemsDomain TABLE
     (
      ItemID int,
      Username nvarchar(100),
      Fullname nvarchar(100)
     )
     INSERT INTO @ItemsDomain (ItemID, Username, Fullname)
     SELECT
      D.DomainID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
     FROM Domains AS D
     INNER JOIN Packages AS P ON P.PackageID = D.PackageID
     INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
     WHERE
      dbo.CheckUserParent(@UserID, P.UserID) = 1
      
     SET @curValue = cursor local for
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      SI.ItemID as ItemID,
      SI.ItemName as TextSearch,
      STYPE.DisplayName as ColumnType,
      STYPE.DisplayName as FullType,
      SI.PackageID as PackageID,
      0 as AccountID,
      I.Username,
      I.Fullname
     FROM @ItemsService AS I
     INNER JOIN ServiceItems AS SI ON I.ItemID = SI.ItemID
     INNER JOIN ServiceItemTypes AS STYPE ON SI.ItemTypeID = STYPE.ItemTypeID
     WHERE (STYPE.Searchable = 1
     AND STYPE.ItemTypeID <> 200 AND STYPE.ItemTypeID <> 201)'
    IF @FilterValue <> ''
     SET @sql = @sql + ' AND (SI.ItemName LIKE ''' + @FilterValue + ''')'
    SET @sql = @sql + '
     UNION (
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      D.DomainID AS ItemID,
      D.DomainName as TextSearch,
      ''Domain'' as ColumnType,
      ''Domains'' as FullType,
      D.PackageID as PackageID,
      0 as AccountID,
      I.Username,
      I.Fullname
     FROM @ItemsDomain AS I
     INNER JOIN Domains AS D ON I.ItemID = D.DomainID
     WHERE (D.IsDomainPointer=0)'
    IF @FilterValue <> ''
     SET @sql = @sql + ' AND (D.DomainName LIKE ''' + @FilterValue + ''')'
    SET @sql = @sql + '
     UNION
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      EA.ItemID AS ItemID,
      EA.DisplayName as TextSearch,
      ''ExchangeAccount'' as ColumnType,
      FullType = CASE EA.AccountType ' + @sqlNameAccountType + ' ELSE CAST(EA.AccountType AS varchar(12)) END,
      SI2.PackageID as PackageID,
      EA.AccountID as AccountID,
      I2.Username,
      I2.Fullname
     FROM @ItemsService AS I2
     INNER JOIN ServiceItems AS SI2 ON I2.ItemID = SI2.ItemID
     INNER JOIN ExchangeAccounts AS EA ON I2.ItemID = EA.ItemID'
    IF @FilterValue <> ''
     SET @sql = @sql + ' WHERE (EA.DisplayName LIKE ''' + @FilterValue + ''')'
    SET @sql = @sql + '
     UNION
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      EA4.ItemID AS ItemID,
      EA4.PrimaryEmailAddress as TextSearch,
      ''ExchangeAccount'' as ColumnType,
      FullType = CASE EA4.AccountType ' + @sqlNameAccountType + ' ELSE CAST(EA4.AccountType AS varchar(12)) END,
      SI4.PackageID as PackageID,
      EA4.AccountID as AccountID,
      I4.Username,
      I4.Fullname
     FROM @ItemsService AS I4
     INNER JOIN ServiceItems AS SI4 ON I4.ItemID = SI4.ItemID
     INNER JOIN ExchangeAccounts AS EA4 ON I4.ItemID = EA4.ItemID'
    IF @FilterValue <> ''
     SET @sql = @sql + ' WHERE (EA4.PrimaryEmailAddress LIKE ''' + @FilterValue + ''')'
    SET @sql = @sql + '
     UNION
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      I3.ItemID AS ItemID,
      EAEA.EmailAddress as TextSearch,
      ''ExchangeAccount'' as ColumnType,
      FullType = CASE EA.AccountType ' + @sqlNameAccountType + ' ELSE CAST(EA.AccountType AS varchar(12)) END,
      SI3.PackageID as PackageID,
      EAEA.AccountID as AccountID,
      I3.Username,
      I3.Fullname
     FROM @ItemsService AS I3
     INNER JOIN ServiceItems AS SI3 ON I3.ItemID = SI3.ItemID
     INNER JOIN ExchangeAccounts AS EA ON I3.ItemID = EA.ItemID
     INNER JOIN ExchangeAccountEmailAddresses AS EAEA ON EA.AccountID = EAEA.AccountID
     WHERE I3.ItemTypeID = 29'
    IF @FilterValue <> ''
     SET @sql = @sql + ' AND (EAEA.EmailAddress LIKE ''' + @FilterValue + ''')'
     SET @sql = @sql + ')'
    IF @OnlyFind = 1
    	SET @sql = @sql + ' ORDER BY TextSearch';
     
    SET @sql = @sql + ';open @curValue'

    exec sp_executesql @sql, N'@UserID int, @FilterValue nvarchar(50), @curValue cursor output',
    @UserID, @FilterValue, @curAll output

    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    END

    /*-------------------------------------------Lync-----------------------------------------------------*/
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SET @sql = '
    SET @curValue = cursor local for
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      SI.ItemID as ItemID,
      ea.AccountName as TextSearch,
      ''LyncAccount'' as ColumnType,
      ''LyncUsers'' as FullType,
      SI.PackageID as PackageID,
      ea.AccountID as AccountID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
     FROM 
      ExchangeAccounts as ea 
     INNER JOIN 
      LyncUsers as LU
     INNER JOIN
      LyncUserPlans as lp
      ON
      LU.LyncUserPlanId = lp.LyncUserPlanId    
     ON 
      ea.AccountID = LU.AccountID
     INNER JOIN
      ServiceItems AS SI ON ea.ItemID = SI.ItemID
     INNER JOIN
      Packages AS P ON SI.PackageID = P.PackageID
     INNER JOIN
      Users AS U ON U.UserID = P.UserID
    WHERE ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1 
      AND (' + CAST((@IsAdmin) AS varchar(12)) + ' = 1 OR P.UserID = @UserID)'
    IF @FilterValue <> ''
     SET @sql = @sql + ' AND ea.AccountName LIKE ''' + @FilterValue + ''''
    IF @OnlyFind = 1
    	SET @sql = @sql + ' ORDER BY TextSearch'
    SET @sql = @sql + ' ;open @curValue'

    CLOSE @curAll
    DEALLOCATE @curAll
    exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    END

    /*-------------------------------------------SfB-----------------------------------------------------*/

    SET @sql = '
    SET @curValue = cursor local for
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      SI.ItemID as ItemID,
      ea.AccountName as TextSearch,
      ''SfBAccount'' as ColumnType,
      ''SfBUsers'' as FullType,
      SI.PackageID as PackageID,
      ea.AccountID as AccountID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
     FROM 
      ExchangeAccounts as ea 
     INNER JOIN 
      SfBUsers as LU
     INNER JOIN
      SfBUserPlans as lp
      ON
      LU.SfBUserPlanId = lp.SfBUserPlanId    
     ON 
      ea.AccountID = LU.AccountID
     INNER JOIN
      ServiceItems AS SI ON ea.ItemID = SI.ItemID
     INNER JOIN
      Packages AS P ON SI.PackageID = P.PackageID
     INNER JOIN
      Users AS U ON U.UserID = P.UserID
    WHERE ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1 
      AND (' + CAST((@IsAdmin) AS varchar(12)) + ' = 1 OR P.UserID = @UserID)'
    IF @FilterValue <> ''
     SET @sql = @sql + ' AND ea.AccountName LIKE ''' + @FilterValue + ''''
    IF @OnlyFind = 1
    	SET @sql = @sql + ' ORDER BY TextSearch'
    SET @sql = @sql + ' ;open @curValue'

    CLOSE @curAll
    DEALLOCATE @curAll
    exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    END

    /*------------------------------------RDS------------------------------------------------*/
    IF @IsAdmin = 1
    BEGIN
    	SET @sql = '
    	SET @curValue = cursor local for
    	 SELECT '

    	IF @OnlyFind = 1
    	SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    	SET @sql = @sql + '
    	  RDSCol.ItemID as ItemID,
    	  RDSCol.Name as TextSearch,
    	  ''RDSCollection'' as ColumnType,
    	  ''RDSCollections'' as FullType,
    	  P.PackageID as PackageID,
    	  RDSCol.ID as AccountID,
    	  U.Username,
    	  U.FirstName + '' '' + U.LastName as Fullname
    	 FROM
    	  RDSCollections AS RDSCol
    	 INNER JOIN
    	  ServiceItems AS SI ON RDSCol.ItemID = SI.ItemID
    	 INNER JOIN
    	  Packages AS P ON SI.PackageID = P.PackageID
    	 INNER JOIN
    	  Users AS U ON U.UserID = P.UserID
    	 WHERE ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1
    	 AND (' + CAST((@IsAdmin) AS varchar(12)) + ' = 1 OR P.UserID = @UserID)'
    	IF @FilterValue <> ''
    		SET @sql = @sql + ' AND RDSCol.Name LIKE ''' + @FilterValue + ''''
    	IF @OnlyFind = 1
    		SET @sql = @sql + ' ORDER BY TextSearch'
    	SET @sql = @sql + ' ;open @curValue'

    	CLOSE @curAll
    	DEALLOCATE @curAll
    	exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    	FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    	WHILE @@FETCH_STATUS = 0
    	BEGIN
    	INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    	VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    	FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    	END
    END

    /*------------------------------------CRM------------------------------------------------*/
    SET @sql = '
    SET @curValue = cursor local for
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      @UserID as ItemID,
      ea.AccountName as TextSearch,
      ''CRMSite'' as ColumnType,
      ''CRMSites'' as FullType,
      SI.PackageID as PackageID,
      ea.AccountID as AccountID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
     FROM 
      ExchangeAccounts as ea 
     INNER JOIN 
      CRMUsers AS CRMU ON ea.AccountID = CRMU.AccountID
     INNER JOIN
      ServiceItems AS SI ON ea.ItemID = SI.ItemID
     INNER JOIN
      Packages AS P ON SI.PackageID = P.PackageID
     INNER JOIN
      Users AS U ON U.UserID = P.UserID
     WHERE ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1
      AND (' + CAST((@IsAdmin) AS varchar(12)) + ' = 1 OR P.UserID = @UserID)'
    IF @FilterValue <> ''
    	SET @sql = @sql + ' AND ea.AccountName LIKE ''' + @FilterValue + ''''
    IF @OnlyFind = 1
    	SET @sql = @sql + ' ORDER BY TextSearch'
    SET @sql = @sql + ' ;open @curValue'

    CLOSE @curAll
    DEALLOCATE @curAll
    exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    END

    /*------------------------------------VirtualServer------------------------------------------------*/
    IF @IsAdmin = 1
    BEGIN
    	SET @sql = '
    	SET @curValue = cursor local for
    	 SELECT '

    	IF @OnlyFind = 1
    	SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    	SET @sql = @sql + '
    	  @UserID as ItemID,
    	  S.ServerName as TextSearch,
    	  ''VirtualServer'' as ColumnType,
    	  ''VirtualServers'' as FullType,
    	  (SELECT MIN(PackageID) FROM Packages WHERE UserID = @UserID) as PackageID,
    	  0 as AccountID,
    	  U.Username,
    	  U.FirstName + '' '' + U.LastName as Fullname
    	 FROM 
    	  Servers AS S
    	 INNER JOIN
          Packages AS P ON P.ServerID = S.ServerID
         INNER JOIN
          Users AS U ON U.UserID = P.UserID
    	 WHERE
    	  VirtualServer = 1'
    	IF @FilterValue <> ''
    		SET @sql = @sql + ' AND S.ServerName LIKE ''' + @FilterValue + ''''
    	IF @OnlyFind = 1
    		SET @sql = @sql + ' ORDER BY TextSearch'
    	SET @sql = @sql + ' ;open @curValue'

    	CLOSE @curAll
    	DEALLOCATE @curAll
    	exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    	FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    	WHILE @@FETCH_STATUS = 0
    	BEGIN
    	INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    	VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    	FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    	END
    END

    /*------------------------------------WebDAVFolder------------------------------------------------*/
    SET @sql = '
    SET @curValue = cursor local for
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      EF.ItemID as ItemID,
      EF.FolderName as TextSearch,
      ''WebDAVFolder'' as ColumnType,
      ''Folders'' as FullType,
      P.PackageID as PackageID,
      EF.EnterpriseFolderID as AccountID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
     FROM 
      EnterpriseFolders as EF
     INNER JOIN
      ServiceItems AS SI ON EF.ItemID = SI.ItemID
     INNER JOIN
      Packages AS P ON SI.PackageID = P.PackageID
     INNER JOIN
      Users AS U ON U.UserID = P.UserID
     WHERE ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1
      AND (' + CAST((@IsAdmin) AS varchar(12)) + ' = 1 OR P.UserID = @UserID)'
    IF @FilterValue <> ''
    	SET @sql = @sql + ' AND EF.FolderName LIKE ''' + @FilterValue + ''''
    IF @OnlyFind = 1
    	SET @sql = @sql + ' ORDER BY TextSearch'
    SET @sql = @sql + ';open @curValue'

    CLOSE @curAll
    DEALLOCATE @curAll
    exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    END

    /*------------------------------------VPS-IP------------------------------------------------*/
    SET @sql = '
    SET @curValue = cursor local for
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      SI.ItemID as ItemID,
      SI.ItemName as TextSearch,
      SIT.DisplayName as ColumnType,
      SIT.DisplayName as FullType,
      P.PackageID as PackageID,
      0 as AccountID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
     FROM ServiceItems AS SI
     INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
     INNER JOIN Packages AS P ON SI.PackageID = P.PackageID
     INNER JOIN Users AS U ON U.UserID = P.UserID
     LEFT JOIN PrivateIPAddresses AS PIP ON PIP.ItemID = SI.ItemID
     LEFT JOIN PackageIPAddresses AS PACIP ON PACIP.ItemID = SI.ItemID
     LEFT JOIN IPAddresses AS IPS ON IPS.AddressID = PACIP.AddressID
     WHERE SIT.DisplayName = ''VirtualMachine''
      AND ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1
      AND dbo.CheckUserParent(@UserID, P.UserID) = 1
      AND (''' + @FilterValue + ''' LIKE ''%.%'' OR ''' + @FilterValue + ''' LIKE ''%:%'')
      AND (PIP.IPAddress LIKE ''' + @FilterValue + ''' OR IPS.ExternalIP LIKE ''' + @FilterValue + ''')'
    IF @OnlyFind = 1
    	SET @sql = @sql + ' ORDER BY TextSearch'
    SET @sql = @sql + ';open @curValue'

    CLOSE @curAll
    DEALLOCATE @curAll
    exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    END

    /*------------------------------------SharePoint------------------------------------------------*/
    SET @sql = '
    SET @curValue = cursor local for
     SELECT '

    IF @OnlyFind = 1
    SET @sql = @sql + 'TOP ' + CAST(@MaximumRows AS varchar(12)) + ' '

    SET @sql = @sql + '
      SIP.PropertyValue as ItemID,
      T.PropertyValue as TextSearch,
      SIT.DisplayName as ColumnType,
      ''SharePointSiteCollections'' as FullType,
      P.PackageID as PackageID,
      SI.ItemID as AccountID,
      U.Username,
      U.FirstName + '' '' + U.LastName as Fullname
    FROM ServiceItems AS SI
    INNER JOIN ServiceItemTypes AS SIT ON SI.ItemTypeID = SIT.ItemTypeID
    INNER JOIN Packages AS P ON SI.PackageID = P.PackageID
    INNER JOIN Users AS U ON U.UserID = P.UserID
    INNER JOIN ServiceItemProperties AS SIP ON SIP.ItemID = SI.ItemID
    RIGHT JOIN ServiceItemProperties AS T ON T.ItemID = SIP.ItemID
    WHERE ' + CAST((@HasUserRights) AS varchar(12)) + ' = 1
    AND (' + CAST((@IsAdmin) AS varchar(12)) + ' = 1 OR P.UserID = @UserID)
    AND (SIT.DisplayName = ''SharePointFoundationSiteCollection''
    	OR SIT.DisplayName = ''SharePointEnterpriseSiteCollection'')
    AND SIP.PropertyName = ''OrganizationId''
    AND T.PropertyName = ''PhysicalAddress'''
    IF @FilterValue <> ''
    	SET @sql = @sql + ' AND T.PropertyValue LIKE ''' + @FilterValue + ''''
    IF @OnlyFind = 1
    	SET @sql = @sql + ' ORDER BY TextSearch'
    SET @sql = @sql + ';open @curValue'

    CLOSE @curAll
    DEALLOCATE @curAll
    exec sp_executesql @sql, N'@UserID int, @curValue cursor output', @UserID, @curAll output

    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    INSERT INTO @ItemsAll(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    VALUES(@ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname)
    FETCH NEXT FROM @curAll INTO @ItemID, @TextSearch, @ColumnType, @FullTypeAll, @PackageID, @AccountID, @Username, @Fullname
    END

    /*-------------------------------------------@curAll-------------------------------------------------------*/
    CLOSE @curAll
    DEALLOCATE @curAll
    SET @curAll = CURSOR LOCAL FOR
     SELECT 
    	ItemID,
    	TextSearch,
    	ColumnType,
    	FullType,
    	PackageID,
    	AccountID,
    	Username,
    	Fullname
     FROM @ItemsAll
    OPEN @curAll

    /*-------------------------------------------Return-------------------------------------------------------*/
    IF @SortColumn = ''
    	SET @SortColumn = 'TextSearch'

    SET @sql = '
    DECLARE @ItemID int
    DECLARE @TextSearch nvarchar(500)
    DECLARE @ColumnType nvarchar(50)
    DECLARE @FullType nvarchar(50)
    DECLARE @PackageID int
    DECLARE @AccountID int
    DECLARE @EndRow int
    DECLARE @Username nvarchar(100)
    DECLARE @Fullname nvarchar(100)
    SET @EndRow = @StartRow + @MaximumRows'

    IF (@ColType = '' OR @ColType IN ('AccountHome'))
    BEGIN
    	SET @sql = @sql + '
    	DECLARE @ItemsUser TABLE
    	(
    		ItemID int,
    		TextSearch nvarchar(500),
    		ColumnType nvarchar(50),
    		FullType nvarchar(50),
    		PackageID int,
    		AccountID int,
    		Username nvarchar(100),
    		Fullname nvarchar(100)
    	)

    	FETCH NEXT FROM @curUsersValue INTO @ItemID, @TextSearch, @ColumnType, @FullType, @PackageID, @AccountID, @Username, @Fullname
    	WHILE @@FETCH_STATUS = 0
    	BEGIN
    		IF (1 = 1)'

    	IF @FullType <> ''
    		SET @sql = @sql + ' AND @FullType = ''' + @FullType + '''';

    	SET @sql = @sql + '
    		BEGIN
    			INSERT INTO @ItemsUser(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    			VALUES(@ItemID, @TextSearch, @ColumnType, @FullType, @PackageID, @AccountID, @Username, @Fullname)
    		END
    		FETCH NEXT FROM @curUsersValue INTO @ItemID, @TextSearch, @ColumnType, @FullType, @PackageID, @AccountID, @Username, @Fullname
    	END'
    END

    SET @sql = @sql + '
    DECLARE @ItemsFilter TABLE
     (
      ItemID int,
      TextSearch nvarchar(500),
      ColumnType nvarchar(50),
      FullType nvarchar(50),
      PackageID int,
      AccountID int,
      Username nvarchar(100),
      Fullname nvarchar(100)
     )

    FETCH NEXT FROM @curAllValue INTO @ItemID, @TextSearch, @ColumnType, @FullType, @PackageID, @AccountID, @Username, @Fullname
    WHILE @@FETCH_STATUS = 0
    BEGIN
    	IF (1 = 1)'

    IF @ColType <> ''
    SET @sql = @sql + ' AND @ColumnType in ( ' + @ColType + ' ) ';

    IF @FullType <> ''
    SET @sql = @sql + ' AND @FullType = ''' + @FullType + '''';

    SET @sql = @sql + '
    	BEGIN
    		INSERT INTO @ItemsFilter(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    		VALUES(@ItemID, @TextSearch, @ColumnType, @FullType, @PackageID, @AccountID, @Username, @Fullname)
    	END
    	FETCH NEXT FROM @curAllValue INTO @ItemID, @TextSearch, @ColumnType, @FullType, @PackageID, @AccountID, @Username, @Fullname
    END

    DECLARE @ItemsReturn TABLE
     (
      ItemPosition int IDENTITY(1,1),
      ItemID int,
      TextSearch nvarchar(500),
      ColumnType nvarchar(50),
      FullType nvarchar(50),
      PackageID int,
      AccountID int,
      Username nvarchar(100),
      Fullname nvarchar(100)
     )'

    IF (@ColType = '' OR @ColType IN ('AccountHome'))
    BEGIN
    	SET @sql = @sql + '
    		INSERT INTO '
    	IF @SortColumn = 'TextSearch'
    		SET @sql = @sql + '@ItemsReturn'
    	ELSE
    		SET @sql = @sql + '@ItemsFilter'
    	SET @sql = @sql + ' (ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    		SELECT ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname
    		FROM @ItemsUser'
    END

    SET @sql = @sql + '
    INSERT INTO @ItemsReturn(ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname)
    SELECT 
    	ItemID,
    	TextSearch,
    	ColumnType,
    	FullType,
    	PackageID,
    	AccountID,
    	Username,
    	Fullname
    FROM @ItemsFilter'
    SET @sql = @sql + ' ORDER BY ' +  @SortColumn

    SET @sql = @sql + ';
    SELECT COUNT(ItemID) FROM @ItemsReturn;
    SELECT DISTINCT(ColumnType) FROM @ItemsReturn';
    IF @FullType <> ''
    	SET @sql = @sql + ' WHERE FullType = ''' + @FullType + '''';

    SET @sql = @sql + ';
    SELECT ItemPosition, ItemID, TextSearch, ColumnType, FullType, PackageID, AccountID, Username, Fullname
    FROM @ItemsReturn AS IR'

    IF  @MaximumRows > 0
    	SET @sql = @sql + ' WHERE IR.ItemPosition BETWEEN @StartRow AND @EndRow';

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int, @FilterValue nvarchar(50), @curUsersValue cursor, @curAllValue cursor',
    	@StartRow, @MaximumRows, @FilterValue, @curUsers, @curAll

    CLOSE @curAll
    DEALLOCATE @curAll

    RETURN
GO
