/****** Object:  UserDefinedFunction [dbo].[UserParents]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UserParents]
    (
    	@ActorID int,
    	@UserID int
    )
    RETURNS @T TABLE (UserOrder int IDENTITY(1,1), UserID int)
    AS
    BEGIN
    	-- insert current user
    	INSERT @T VALUES (@UserID)

    	DECLARE @TopUserID int
    	IF @ActorID = -1
    	BEGIN
    		SELECT @TopUserID = UserID FROM Users WHERE OwnerID IS NULL
    	END
    	ELSE
    	BEGIN
    		SET @TopUserID = @ActorID

    		IF EXISTS (SELECT UserID FROM Users WHERE UserID = @ActorID AND IsPeer = 1)
    		SELECT @TopUserID = OwnerID FROM Users WHERE UserID = @ActorID AND IsPeer = 1
    	END

    	-- owner
    	DECLARE @OwnerID int, @TmpUserID int

    	SET @TmpUserID = @UserID

    	WHILE (@TmpUserID <> @TopUserID)
    	BEGIN

    		SET @OwnerID = NULL
    		SELECT @OwnerID = OwnerID FROM Users WHERE UserID = @TmpUserID

    		IF @OwnerID IS NOT NULL
    		BEGIN
    			INSERT @T VALUES (@OwnerID)
    			SET @TmpUserID = @OwnerID
    		END
    	END

    RETURN
    END
GO
