/****** Object:  StoredProcedure [dbo].[InsertStorageSpaceLevel]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertStorageSpaceLevel]
    (
    	@ID INT OUTPUT,
    	@Name nvarchar(300),
    	@Description nvarchar(max)
    )
    AS

    INSERT INTO StorageSpaceLevels 
    (
    	Name, 
    	Description
    )
    VALUES 
    (
    	@Name,
    	@Description
    )

    SET @ID = SCOPE_IDENTITY()

    RETURN
GO
