/****** Object:  StoredProcedure [dbo].[GetSearchTableByColumns]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSearchTableByColumns]
    (
    	@PagedStored nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@MaximumRows int,

    	@Recursive bit,
    	@PoolID int,
    	@ServerID int,
    	@ActorID int,
    	@StatusID int,
    	@PlanID int,
    	@OrgID int,
    	@ItemTypeName nvarchar(200),
    	@GroupName nvarchar(100) = NULL,
    	@PackageID int,
    	@VPSType nvarchar(100) = NULL,
    	@UserID int,
    	@RoleID int,
    	@FilterColumns nvarchar(200)
    )
    AS

    DECLARE @VPSTypeID int
    IF @VPSType <> '' AND @VPSType IS NOT NULL
    BEGIN
    	SET @VPSTypeID = CASE @VPSType
    		WHEN 'VPS' THEN 33
    		WHEN 'VPS2012' THEN 41
    		WHEN 'Proxmox' THEN 143
    		WHEN 'VPSForPC' THEN 35
    		ELSE 33
    		END
    END

    DECLARE @sql nvarchar(3000)
    SET @sql = CASE @PagedStored
    WHEN 'Domains' THEN '
    	DECLARE @Domains TABLE
    	(
    		DomainID int,
    		DomainName nvarchar(100),
    		Username nvarchar(100),
    		FullName nvarchar(100),
    		Email nvarchar(100)
    	)
    	INSERT INTO @Domains (DomainID, DomainName, Username, FullName, Email)
    	SELECT
    		D.DomainID,
    		D.DomainName,
    		U.Username,
    		U.FullName,
    		U.Email
    	FROM Domains AS D
    	INNER JOIN Packages AS P ON D.PackageID = P.PackageID
    	INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    	LEFT OUTER JOIN ServiceItems AS Z ON D.ZoneItemID = Z.ItemID
    	LEFT OUTER JOIN Services AS S ON Z.ServiceID = S.ServiceID
    	LEFT OUTER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    	WHERE
    		(D.IsPreviewDomain = 0 AND D.IsDomainPointer = 0)
    		AND ((@Recursive = 0 AND D.PackageID = @PackageID)
    		OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, D.PackageID) = 1))
    		AND (@ServerID = 0 OR (@ServerID > 0 AND S.ServerID = @ServerID))
    	'
    WHEN 'IPAddresses' THEN '
    	DECLARE @IPAddresses TABLE
    	(
    		AddressesID int,
    		ExternalIP nvarchar(100),
    		InternalIP nvarchar(100),
    		DefaultGateway nvarchar(100),
    		ServerName nvarchar(100),
    		UserName nvarchar(100),
    		ItemName nvarchar(100)
    	)
    	DECLARE @IsAdmin bit
    	SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)
    	INSERT INTO @IPAddresses (AddressesID, ExternalIP, InternalIP, DefaultGateway, ServerName, UserName, ItemName)
    	SELECT
    		IP.AddressID,
    		IP.ExternalIP,
    		IP.InternalIP,
    		IP.DefaultGateway,
    		S.ServerName,
    		U.UserName,
    		SI.ItemName
    	FROM dbo.IPAddresses AS IP
    	LEFT JOIN Servers AS S ON IP.ServerID = S.ServerID
    	LEFT JOIN PackageIPAddresses AS PA ON IP.AddressID = PA.AddressID
    	LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    	LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    	LEFT JOIN dbo.Users U ON P.UserID = U.UserID
    	WHERE
    		@IsAdmin = 1
    		AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
    		AND (@ServerID = 0 OR @ServerID <> 0 AND IP.ServerID = @ServerID)
    	'
    WHEN 'Schedules' THEN '
    	DECLARE @Schedules TABLE
    	(
    		ScheduleID int,
    		ScheduleName nvarchar(100),
    		Username nvarchar(100),
    		FullName nvarchar(100),
    		Email nvarchar(100)
    	)
    	INSERT INTO @Schedules (ScheduleID, ScheduleName, Username, FullName, Email)
    	SELECT
    		S.ScheduleID,
    		S.ScheduleName,
    		U.Username,
    		U.FullName,
    		U.Email
    	FROM Schedule AS S
    	INNER JOIN Packages AS P ON S.PackageID = P.PackageID
    	INNER JOIN PackagesTree(@PackageID, @Recursive) AS PT ON S.PackageID = PT.PackageID
    	INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    	'
    WHEN 'NestedPackages' THEN '
    	DECLARE @NestedPackages TABLE
    	(
    		PackageID int,
    		PackageName nvarchar(100),
    		Username nvarchar(100),
    		FullName nvarchar(100),
    		Email nvarchar(100)
    	)
    	INSERT INTO @NestedPackages (PackageID, PackageName, Username, FullName, Email)
    	SELECT
    		P.PackageID,
    		P.PackageName,
    		U.Username,
    		U.FullName,
    		U.Email
    	FROM Packages AS P
    	INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    	INNER JOIN Servers AS S ON P.ServerID = S.ServerID
    	INNER JOIN HostingPlans AS HP ON P.PlanID = HP.PlanID
    	WHERE
    		P.ParentPackageID = @PackageID
    		AND ((@StatusID = 0) OR (@StatusID > 0 AND P.StatusID = @StatusID))
    		AND ((@PlanID = 0) OR (@PlanID > 0 AND P.PlanID = @PlanID))
    		AND ((@ServerID = 0) OR (@ServerID > 0 AND P.ServerID = @ServerID))
    	'
    WHEN 'PackageIPAddresses' THEN '
    	DECLARE @PackageIPAddresses TABLE
    	(
    		PackageAddressID int,
    		ExternalIP nvarchar(100),
    		InternalIP nvarchar(100),
    		DefaultGateway nvarchar(100),
    		ItemName nvarchar(100),
    		UserName nvarchar(100)
    	)
    	INSERT INTO @PackageIPAddresses (PackageAddressID, ExternalIP, InternalIP, DefaultGateway, ItemName, UserName)
    	SELECT
    		PA.PackageAddressID,
    		IP.ExternalIP,
    		IP.InternalIP,
    		IP.DefaultGateway,
    		SI.ItemName,
    		U.UserName
    	FROM dbo.PackageIPAddresses PA
    	INNER JOIN dbo.IPAddresses AS IP ON PA.AddressID = IP.AddressID
    	INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    	INNER JOIN dbo.Users U ON U.UserID = P.UserID
    	LEFT JOIN ServiceItems SI ON PA.ItemId = SI.ItemID
    	WHERE
    		((@Recursive = 0 AND PA.PackageID = @PackageID)
    		OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, PA.PackageID) = 1))
    		AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
    		AND (@OrgID = 0 OR @OrgID <> 0 AND PA.OrgID = @OrgID)
    	'
    WHEN 'ServiceItems' THEN '
    	IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    	RAISERROR(''You are not allowed to access this package'', 16, 1)
    	DECLARE @ServiceItems TABLE
    	(
    		ItemID int,
    		ItemName nvarchar(100),
    		Username nvarchar(100),
    		FullName nvarchar(100),
    		Email nvarchar(100)
    	)
    	DECLARE @GroupID int
    	SELECT @GroupID = GroupID FROM ResourceGroups
    	WHERE GroupName = @GroupName
    	DECLARE @ItemTypeID int
    	SELECT @ItemTypeID = ItemTypeID FROM ServiceItemTypes
    	WHERE TypeName = @ItemTypeName
    	AND ((@GroupID IS NULL) OR (@GroupID IS NOT NULL AND GroupID = @GroupID))
    	INSERT INTO @ServiceItems (ItemID, ItemName, Username, FullName, Email)
    	SELECT
    		SI.ItemID,
    		SI.ItemName,
    		U.Username,
    		U.FirstName,
    		U.Email
    	FROM Packages AS P
    	INNER JOIN ServiceItems AS SI ON P.PackageID = SI.PackageID
    	INNER JOIN UsersDetailed AS U ON P.UserID = U.UserID
    	INNER JOIN ServiceItemTypes AS IT ON SI.ItemTypeID = IT.ItemTypeID
    	INNER JOIN Services AS S ON SI.ServiceID = S.ServiceID
    	INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    	WHERE
    		SI.ItemTypeID = @ItemTypeID
    		AND ((@Recursive = 0 AND P.PackageID = @PackageID)
    			OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, P.PackageID) = 1))
    		AND ((@GroupID IS NULL) OR (@GroupID IS NOT NULL AND IT.GroupID = @GroupID))
    		AND (@ServerID = 0 OR (@ServerID > 0 AND S.ServerID = @ServerID))
    	'
    WHEN 'Users' THEN '
    	DECLARE @Users TABLE
    	(
    		UserID int,
    		Username nvarchar(100),
    		FullName nvarchar(100),
    		Email nvarchar(100),
    		CompanyName nvarchar(100)
    	)
    	DECLARE @HasUserRights bit
    	SET @HasUserRights = dbo.CheckActorUserRights(@ActorID, @UserID)
    	INSERT INTO @Users (UserID, Username, FullName, Email, CompanyName)
    	SELECT
    		U.UserID,
    		U.Username,
    		U.FullName,
    		U.Email,
    		U.CompanyName
    	FROM UsersDetailed AS U
    	WHERE 
    		U.UserID <> @UserID AND U.IsPeer = 0 AND
    		(
    			(@Recursive = 0 AND OwnerID = @UserID) OR
    			(@Recursive = 1 AND dbo.CheckUserParent(@UserID, U.UserID) = 1)
    		)
    		AND ((@StatusID = 0) OR (@StatusID > 0 AND U.StatusID = @StatusID))
    		AND ((@RoleID = 0) OR (@RoleID > 0 AND U.RoleID = @RoleID))
    		AND @HasUserRights = 1 
    	'
    WHEN 'VirtualMachines' THEN '
    	IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    	RAISERROR(''You are not allowed to access this package'', 16, 1)
    	DECLARE @VirtualMachines TABLE
    	(
    		ItemID int,
    		ItemName nvarchar(100),
    		Username nvarchar(100),
    		ExternalIP nvarchar(100),
    		IPAddress nvarchar(100)
    	)
    	INSERT INTO @VirtualMachines (ItemID, ItemName, Username, ExternalIP, IPAddress)
    	SELECT
    		SI.ItemID,
    		SI.ItemName,
    		U.Username,
    		EIP.ExternalIP,
    		PIP.IPAddress
    	FROM Packages AS P
    	INNER JOIN ServiceItems AS SI ON P.PackageID = SI.PackageID
    	INNER JOIN Users AS U ON P.UserID = U.UserID
    	LEFT OUTER JOIN (
    		SELECT PIP.ItemID, IP.ExternalIP FROM PackageIPAddresses AS PIP
    		INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    		WHERE PIP.IsPrimary = 1 AND IP.PoolID = 3 -- external IP addresses
    	) AS EIP ON SI.ItemID = EIP.ItemID
    	LEFT OUTER JOIN PrivateIPAddresses AS PIP ON PIP.ItemID = SI.ItemID AND PIP.IsPrimary = 1
    	WHERE
    		SI.ItemTypeID = ' + CAST(@VPSTypeID AS nvarchar(12)) + '
    		AND ((@Recursive = 0 AND P.PackageID = @PackageID)
    		OR (@Recursive = 1 AND dbo.CheckPackageParent(@PackageID, P.PackageID) = 1))
    	'
    WHEN 'PackagePrivateIPAddresses' THEN '
    	DECLARE @PackagePrivateIPAddresses TABLE
    	(
    		PrivateAddressID int,
    		IPAddress nvarchar(100),
    		ItemName nvarchar(100)
    	)
    	INSERT INTO @PackagePrivateIPAddresses (PrivateAddressID, IPAddress, ItemName)
    	SELECT
    		PA.PrivateAddressID,
    		PA.IPAddress,
    		SI.ItemName
    	FROM dbo.PrivateIPAddresses AS PA
    	INNER JOIN dbo.ServiceItems AS SI ON PA.ItemID = SI.ItemID
    	WHERE SI.PackageID = @PackageID
    	'
    ELSE ''
    END + 'SELECT TOP ' + CAST(@MaximumRows AS nvarchar(12)) + ' MIN(ItemID) as [ItemID], TextSearch, ColumnType, COUNT(*) AS [Count]' + CASE @PagedStored
    WHEN 'Domains' THEN '
    	FROM(
    	SELECT D0.DomainID AS ItemID, D0.DomainName AS TextSearch, ''DomainName'' AS ColumnType
    	FROM @Domains AS D0
    	UNION
    	SELECT D1.DomainID AS ItemID, D1.Username AS TextSearch, ''Username'' AS ColumnType
    	FROM @Domains AS D1
    	UNION
    	SELECT D2.DomainID as ItemID, D2.FullName AS TextSearch, ''FullName'' AS ColumnType
    	FROM @Domains AS D2
    	UNION
    	SELECT D3.DomainID as ItemID, D3.Email AS TextSearch, ''Email'' AS ColumnType
    	FROM @Domains AS D3) AS D'
    WHEN 'IPAddresses' THEN '
    	FROM(
    	SELECT D0.AddressesID AS ItemID, D0.ExternalIP AS TextSearch, ''ExternalIP'' AS ColumnType
    	FROM @IPAddresses AS D0
    	UNION
    	SELECT D1.AddressesID AS ItemID, D1.InternalIP AS TextSearch, ''InternalIP'' AS ColumnType
    	FROM @IPAddresses AS D1
    	UNION
    	SELECT D2.AddressesID AS ItemID, D2.DefaultGateway AS TextSearch, ''DefaultGateway'' AS ColumnType
    	FROM @IPAddresses AS D2
    	UNION
    	SELECT D3.AddressesID AS ItemID, D3.ServerName AS TextSearch, ''ServerName'' AS ColumnType
    	FROM @IPAddresses AS D3
    	UNION
    	SELECT D4.AddressesID AS ItemID, D4.UserName AS TextSearch, ''UserName'' AS ColumnType
    	FROM @IPAddresses AS D4
    	UNION
    	SELECT D6.AddressesID AS ItemID, D6.ItemName AS TextSearch, ''ItemName'' AS ColumnType
    	FROM @IPAddresses AS D6) AS D'
    WHEN 'Schedules' THEN '
    	FROM(
    	SELECT D0.ScheduleID AS ItemID, D0.ScheduleName AS TextSearch, ''ScheduleName'' AS ColumnType
    	FROM @Schedules AS D0
    	UNION
    	SELECT D1.ScheduleID AS ItemID, D1.Username AS TextSearch, ''Username'' AS ColumnType
    	FROM @Schedules AS D1
    	UNION
    	SELECT D2.ScheduleID AS ItemID, D2.FullName AS TextSearch, ''FullName'' AS ColumnType
    	FROM @Schedules AS D2
    	UNION
    	SELECT D3.ScheduleID AS ItemID, D3.Email AS TextSearch, ''Email'' AS ColumnType
    	FROM @Schedules AS D3) AS D'
    WHEN 'NestedPackages' THEN '
    	FROM(
    	SELECT D0.PackageID AS ItemID, D0.PackageName AS TextSearch, ''PackageName'' AS ColumnType
    	FROM @NestedPackages AS D0
    	UNION
    	SELECT D1.PackageID AS ItemID, D1.Username AS TextSearch, ''Username'' AS ColumnType
    	FROM @NestedPackages AS D1
    	UNION
    	SELECT D2.PackageID as ItemID, D2.FullName AS TextSearch, ''FullName'' AS ColumnType
    	FROM @NestedPackages AS D2
    	UNION
    	SELECT D3.PackageID as ItemID, D3.Email AS TextSearch, ''Email'' AS ColumnType
    	FROM @NestedPackages AS D3) AS D'
    WHEN 'PackageIPAddresses' THEN '
    	FROM(
    	SELECT D0.PackageAddressID AS ItemID, D0.ExternalIP AS TextSearch, ''ExternalIP'' AS ColumnType
    	FROM @PackageIPAddresses AS D0
    	UNION
    	SELECT D1.PackageAddressID AS ItemID, D1.InternalIP AS TextSearch, ''InternalIP'' AS ColumnType
    	FROM @PackageIPAddresses AS D1
    	UNION
    	SELECT D2.PackageAddressID as ItemID, D2.DefaultGateway AS TextSearch, ''DefaultGateway'' AS ColumnType
    	FROM @PackageIPAddresses AS D2
    	UNION
    	SELECT D3.PackageAddressID as ItemID, D3.ItemName AS TextSearch, ''ItemName'' AS ColumnType
    	FROM @PackageIPAddresses AS D3
    	UNION
    	SELECT D5.PackageAddressID as ItemID, D5.UserName AS TextSearch, ''UserName'' AS ColumnType
    	FROM @PackageIPAddresses AS D5) AS D'
    WHEN 'ServiceItems' THEN '
    	FROM(
    	SELECT D0.ItemID AS ItemID, D0.ItemName AS TextSearch, ''ItemName'' AS ColumnType
    	FROM @ServiceItems AS D0
    	UNION
    	SELECT D1.ItemID AS ItemID, D1.Username AS TextSearch, ''Username'' AS ColumnType
    	FROM @ServiceItems AS D1
    	UNION
    	SELECT D2.ItemID as ItemID, D2.FullName AS TextSearch, ''FullName'' AS ColumnType
    	FROM @ServiceItems AS D2
    	UNION
    	SELECT D3.ItemID as ItemID, D3.Email AS TextSearch, ''Email'' AS ColumnType
    	FROM @ServiceItems AS D3) AS D'
    WHEN 'Users' THEN '
    	FROM(
    	SELECT D0.UserID AS ItemID, D0.Username AS TextSearch, ''Username'' AS ColumnType
    	FROM @Users AS D0
    	UNION
    	SELECT D1.UserID AS ItemID, D1.FullName AS TextSearch, ''FullName'' AS ColumnType
    	FROM @Users AS D1
    	UNION
    	SELECT D2.UserID as ItemID, D2.Email AS TextSearch, ''Email'' AS ColumnType
    	FROM @Users AS D2
    	UNION
    	SELECT D3.UserID as ItemID, D3.CompanyName AS TextSearch, ''CompanyName'' AS ColumnType
    	FROM @Users AS D3) AS D'
    WHEN 'VirtualMachines' THEN '
    	FROM(
    	SELECT D0.ItemID AS ItemID, D0.ItemName AS TextSearch, ''ItemName'' AS ColumnType
    	FROM @VirtualMachines AS D0
    	UNION
    	SELECT D1.ItemID AS ItemID, D1.ExternalIP AS TextSearch, ''ExternalIP'' AS ColumnType
    	FROM @VirtualMachines AS D1
    	UNION
    	SELECT D2.ItemID as ItemID, D2.Username AS TextSearch, ''Username'' AS ColumnType
    	FROM @VirtualMachines AS D2
    	UNION
    	SELECT D3.ItemID as ItemID, D3.IPAddress AS TextSearch, ''IPAddress'' AS ColumnType
    	FROM @VirtualMachines AS D3) AS D'
    WHEN 'PackagePrivateIPAddresses' THEN '
    	FROM(
    	SELECT D0.PrivateAddressID AS ItemID, D0.IPAddress AS TextSearch, ''IPAddress'' AS ColumnType
    	FROM @PackagePrivateIPAddresses AS D0
    	UNION
    	SELECT D1.PrivateAddressID AS ItemID, D1.ItemName AS TextSearch, ''ItemName'' AS ColumnType
    	FROM @PackagePrivateIPAddresses AS D1) AS D'
    END + '
    	WHERE (TextSearch LIKE @FilterValue)'
    IF @FilterColumns <> '' AND @FilterColumns IS NOT NULL
    	SET @sql = @sql + '
    		AND (ColumnType IN (' + @FilterColumns + '))'
    SET @sql = @sql + '
    	GROUP BY TextSearch, ColumnType
    	ORDER BY TextSearch'

    exec sp_executesql @sql, N'@FilterValue nvarchar(50), @Recursive bit, @PoolID int, @ServerID int, @ActorID int, @StatusID int, @PlanID int, @OrgID int, @ItemTypeName nvarchar(200), @GroupName nvarchar(100), @PackageID int, @VPSTypeID int, @UserID int, @RoleID int', 
    @FilterValue, @Recursive, @PoolID, @ServerID, @ActorID, @StatusID, @PlanID, @OrgID, @ItemTypeName, @GroupName, @PackageID, @VPSTypeID, @UserID, @RoleID

    RETURN
GO
