/****** Object:  StoredProcedure [dbo].[ExchangeOrganizationExists]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExchangeOrganizationExists]
    (
    	@OrganizationID nvarchar(10),
    	@Exists bit OUTPUT
    )
    AS
    SET @Exists = 0
    IF EXISTS(SELECT * FROM ExchangeOrganizations WHERE OrganizationID = @OrganizationID)
    BEGIN
    	SET @Exists = 1
    END

    RETURN
GO
