/****** Object:  StoredProcedure [dbo].[GetFilterURLByHostingPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFilterURLByHostingPlan]
    (
     @ActorID int,
     @PlanID int,
     @GroupName nvarchar(100),
     @FilterUrl nvarchar(200) OUTPUT
    )
    AS 

    -- load ServerID info
    DECLARE @ServerID int
    select @ServerID = HostingPlans.ServerID from HostingPlans where PlanID = @PlanID
    --print @ServerID 

    --Check Server Type
    DECLARE @IsVirtualServer int
    select @IsVirtualServer = VirtualServer from Servers where ServerID = @ServerID

    -- load group info
    DECLARE @GroupID int
    SELECT @GroupID = GroupID FROM ResourceGroups
    WHERE GroupName = @GroupName
    --print @GroupID 

    -- load ProviderID info
    DECLARE @ProviderID int
    select @ProviderID = providerid from Providers 
    where GroupID = @GroupID  and ProviderName = 'MailCleaner'

    Declare @ServiceID int
    if  (@IsVirtualServer = 1)
    	select @ServiceID = Services.ServiceID from Services   
    	Join VirtualServices vs on vs.ServerID = @ServerID and vs.ServiceID = Services.ServiceID
    	where ProviderID = @ProviderID
    ELSE
     BEGIN
    	select  @ServiceID = Services.ServiceID from Services  
    	Where Services.ProviderID = @ProviderID and Services.ServerID = @ServerID
    END; 

    SELECT
     @FilterUrl = PropertyValue
     FROM ServiceProperties AS SP
     WHERE @ServiceID = SP.ServiceID AND PropertyName = 'apiurl'
     --print @FilterUrl
    RETURN
GO
