/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    -- check actor rights
    IF dbo.CanUpdateUserDetails(@ActorID, @UserID) = 0
    RETURN

    BEGIN TRAN
    -- delete user comments
    DELETE FROM Comments
    WHERE ItemID = @UserID AND ItemTypeID = 'USER'

    IF (@@ERROR <> 0 )
          BEGIN
                ROLLBACK TRANSACTION
                RETURN -1
          END

    --delete reseller addon
    DELETE FROM HostingPlans WHERE UserID = @UserID AND IsAddon = 'True'

    IF (@@ERROR <> 0 )
          BEGIN
                ROLLBACK TRANSACTION
                RETURN -1
          END

    -- delete user peers
    DELETE FROM Users
    WHERE IsPeer = 1 AND OwnerID = @UserID

    IF (@@ERROR <> 0 )
          BEGIN
                ROLLBACK TRANSACTION
                RETURN -1
          END

    -- delete user
    DELETE FROM Users
    WHERE UserID = @UserID

    IF (@@ERROR <> 0 )
          BEGIN
                ROLLBACK TRANSACTION
                RETURN -1
          END

    COMMIT TRAN

    RETURN
GO
