/****** Object:  StoredProcedure [dbo].[GetPackageUnassignedIPAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageUnassignedIPAddresses]
    (
     @ActorID int,
     @PackageID int,
     @OrgID int,
     @PoolID int = 0
    )
    AS
    BEGIN
     SELECT
      PIP.PackageAddressID,
      IP.AddressID,
      IP.ExternalIP,
      IP.InternalIP,
      IP.ServerID,
      IP.PoolID,
      PIP.IsPrimary,
      IP.SubnetMask,
      IP.DefaultGateway,
      IP.VLAN
     FROM PackageIPAddresses AS PIP
     INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
     WHERE
      PIP.ItemID IS NULL
      AND PIP.PackageID = @PackageID
      AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
      AND (@OrgID = 0 OR @OrgID <> 0 AND PIP.OrgID = @OrgID)
      AND dbo.CheckActorPackageRights(@ActorID, PIP.PackageID) = 1
     ORDER BY IP.DefaultGateway, IP.ExternalIP
    END
GO
