/****** Object:  StoredProcedure [dbo].[SetLyncUserLyncUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetLyncUserLyncUserPlan]
    (
    	@AccountID int,
    	@LyncUserPlanId int
    )
    AS

    UPDATE LyncUsers SET
    	LyncUserPlanId = @LyncUserPlanId
    WHERE
    	AccountID = @AccountID

    RETURN
GO
