/****** Object:  StoredProcedure [dbo].[UpdateLyncUserPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLyncUserPlan] 
    (
    	@LyncUserPlanId int,
    	@LyncUserPlanName	nvarchar(300),
    	@LyncUserPlanType int,
    	@IM bit,
    	@Mobility bit,
    	@MobilityEnableOutsideVoice bit,
    	@Federation bit,
    	@Conferencing bit,
    	@EnterpriseVoice bit,
    	@VoicePolicy int,
    	@IsDefault bit,

    	@RemoteUserAccess bit,
    	@PublicIMConnectivity bit,

    	@AllowOrganizeMeetingsWithExternalAnonymous bit,

    	@Telephony int,

    	@ServerURI nvarchar(300),

    	@ArchivePolicy nvarchar(300),

    	@TelephonyDialPlanPolicy nvarchar(300),
    	@TelephonyVoicePolicy nvarchar(300)
    )
    AS

    UPDATE LyncUserPlans SET
    	LyncUserPlanName = @LyncUserPlanName,
    	LyncUserPlanType = @LyncUserPlanType,
    	IM = @IM,
    	Mobility = @Mobility,
    	MobilityEnableOutsideVoice = @MobilityEnableOutsideVoice,
    	Federation = @Federation,
    	Conferencing =@Conferencing,
    	EnterpriseVoice = @EnterpriseVoice,
    	VoicePolicy = @VoicePolicy,
    	IsDefault = @IsDefault,

    	RemoteUserAccess = @RemoteUserAccess,
    	PublicIMConnectivity = @PublicIMConnectivity,

    	AllowOrganizeMeetingsWithExternalAnonymous = @AllowOrganizeMeetingsWithExternalAnonymous,

    	Telephony = @Telephony,

    	ServerURI = @ServerURI,

    	ArchivePolicy = @ArchivePolicy,
    	TelephonyDialPlanPolicy = @TelephonyDialPlanPolicy,
    	TelephonyVoicePolicy = @TelephonyVoicePolicy

    WHERE LyncUserPlanId = @LyncUserPlanId

    RETURN
GO
