/****** Object:  StoredProcedure [dbo].[DeleteExchangeDisclaimer]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeDisclaimer]
    (
    	@ExchangeDisclaimerId int
    )
    AS

    DELETE FROM ExchangeDisclaimers
    WHERE ExchangeDisclaimerId = @ExchangeDisclaimerId

    RETURN
GO
