/****** Object:  StoredProcedure [dbo].[DeleteUserEmailAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
    -- Description:	Delete user email addresses except primary email
    -- =============================================
    CREATE PROCEDURE [dbo].[DeleteUserEmailAddresses]
    	@AccountId int,
    	@PrimaryEmailAddress nvarchar(300)
    AS
    BEGIN

    DELETE FROM
    	ExchangeAccountEmailAddresses
    WHERE
    	AccountID = @AccountID AND LOWER(EmailAddress) <> LOWER(@PrimaryEmailAddress)
    END
GO
