/****** Object:  StoredProcedure [dbo].[GetServicesByGroupID]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServicesByGroupID]
    (
    	@ActorID int,
    	@GroupID int
    )
    AS
    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	S.ServiceID,
    	S.ServiceName,
    	S.ServerID,
    	S.ServiceQuotaValue,
    	SRV.ServerName,
    	S.ProviderID,
    	S.ServiceName+' on '+SRV.ServerName AS FullServiceName
    FROM Services AS S
    INNER JOIN Providers AS PROV ON S.ProviderID = PROV.ProviderID
    INNER JOIN Servers AS SRV ON S.ServerID = SRV.ServerID
    WHERE
    	PROV.GroupID = @GroupID
    	AND @IsAdmin = 1
    RETURN
GO
