/****** Object:  StoredProcedure [dbo].[AddSfBUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSfBUser]
    	@AccountID int,
    	@SfBUserPlanID int,
    	@SipAddress nvarchar(300)
    AS
    INSERT INTO
    	dbo.SfBUsers
    	(AccountID,
    	 SfBUserPlanID,
    	 CreatedDate,
    	 ModifiedDate,
    	 SipAddress)
    VALUES
    (
    	@AccountID,
    	@SfBUserPlanID,
    	getdate(),
    	getdate(),
    	@SipAddress
    )
GO
