/****** Object:  StoredProcedure [dbo].[CompleteSSLRequest]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CompleteSSLRequest]
    (
    	@ActorID int,
    	@PackageID int,
    	@ID int,
    	@Certificate ntext,
    	@SerialNumber nvarchar(250),
    	@Hash ntext,
    	@DistinguishedName nvarchar(500),
    	@ValidFrom datetime,
    	@ExpiryDate datetime

    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    BEGIN
    	RAISERROR('You are not allowed to access this package', 16, 1)
    	RETURN
    END

    -- insert record
    UPDATE
    	[dbo].[SSLCertificates]
    SET
    	[Certificate] = @Certificate,
    	[Installed] = 1,
    	[SerialNumber] = @SerialNumber,
    	[DistinguishedName] = @DistinguishedName,
    	[Hash] = @Hash,
    	[ValidFrom] = @ValidFrom,
    	[ExpiryDate] = @ExpiryDate
    WHERE
    	[ID] = @ID;
GO
