/****** Object:  StoredProcedure [dbo].[GetPackageQuota]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageQuota]
    (
    	@ActorID int,
    	@PackageID int,
    	@QuotaName nvarchar(50)
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- return quota
    DECLARE @OrgsCount INT
    SET @OrgsCount = dbo.GetPackageAllocatedQuota(@PackageID, 205) -- 205 - HostedSolution.Organizations
    SET @OrgsCount = CASE WHEN ISNULL(@OrgsCount, 0) < 1 THEN 1 ELSE @OrgsCount END

    SELECT
    	Q.QuotaID,
    	Q.QuotaName,
    	Q.QuotaDescription,
    	Q.QuotaTypeID,
    	QuotaAllocatedValue = CASE WHEN Q.PerOrganization = 1 AND ISNULL(dbo.GetPackageAllocatedQuota(@PackageId, Q.QuotaID), 0) <> -1 THEN 
    					ISNULL(dbo.GetPackageAllocatedQuota(@PackageId, Q.QuotaID), 0) * @OrgsCount 
    				 ELSE 
    					ISNULL(dbo.GetPackageAllocatedQuota(@PackageId, Q.QuotaID), 0)
    				 END,
    	QuotaAllocatedValuePerOrganization = ISNULL(dbo.GetPackageAllocatedQuota(@PackageId, Q.QuotaID), 0),
    	ISNULL(dbo.CalculateQuotaUsage(@PackageId, Q.QuotaID), 0) AS QuotaUsedValue
    FROM Quotas AS Q
    WHERE Q.QuotaName = @QuotaName

    RETURN
GO
