/****** Object:  UserDefinedFunction [dbo].[CanGetUserPassword]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CanGetUserPassword]
    (
    	@ActorID int,
    	@UserID int
    )
    RETURNS bit
    AS
    BEGIN

    IF @ActorID = -1
    RETURN 1 -- unauthenticated mode

    -- check if the user requests himself
    IF @ActorID = @UserID
    BEGIN
    	RETURN 1
    END

    DECLARE @IsPeer bit
    DECLARE @OwnerID int

    SELECT @IsPeer = IsPeer, @OwnerID = OwnerID FROM Users
    WHERE UserID = @ActorID

    IF @IsPeer = 1
    BEGIN
    	-- peer can't get the password of his peers
    	-- and his owner
    	IF @UserID = @OwnerID
    	RETURN 0

    	IF EXISTS (
    		SELECT UserID FROM Users
    		WHERE IsPeer = 1 AND OwnerID = @OwnerID AND UserID = @UserID
    	) RETURN 0

    	-- set actor to his owner
    	SET @ActorID = @OwnerID
    END

    -- get user's owner
    SELECT @OwnerID = OwnerID FROM Users
    WHERE UserID = @ActorID

    IF @UserID = @OwnerID
    RETURN 0 -- user can't get the password of his owner

    DECLARE @ParentUserID int, @TmpUserID int
    SET @TmpUserID = @UserID

    WHILE 10 = 10
    BEGIN

    	SET @ParentUserID = NULL --reset var

    	-- get owner
    	SELECT
    		@ParentUserID = OwnerID
    	FROM Users
    	WHERE UserID = @TmpUserID

    	IF @ParentUserID IS NULL -- the last parent
    		BREAK

    	IF @ParentUserID = @ActorID
    	RETURN 1

    	SET @TmpUserID = @ParentUserID
    END

    RETURN 0
    END
GO
