/****** Object:  StoredProcedure [dbo].[GetPendingSSLForWebsite]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPendingSSLForWebsite]
    (
    	@ActorID int,
    	@PackageID int,
    	@websiteid int,
    	@Recursive bit = 1
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    BEGIN
    	RAISERROR('You are not allowed to access this package', 16, 1)
    	RETURN
    END

    SELECT
    	[ID], [UserID], [SiteID], [Hostname], [CSR], [Certificate], [Hash], [Installed]
    FROM
    	[dbo].[SSLCertificates]
    WHERE
    	@websiteid = [SiteID] AND [Installed] = 0 AND [IsRenewal] = 0 -- bugfix Simon Egli, 27.6.2024

    RETURN
GO
