/****** Object:  StoredProcedure [dbo].[GetHostingPlans]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHostingPlans]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    SELECT
    	HP.PlanID,
    	HP.UserID,
    	HP.PackageID,
    	HP.PlanName,
    	HP.PlanDescription,
    	HP.Available,
    	HP.SetupPrice,
    	HP.RecurringPrice,
    	HP.RecurrenceLength,
    	HP.RecurrenceUnit,
    	HP.IsAddon,

    	(SELECT COUNT(P.PackageID) FROM Packages AS P WHERE P.PlanID = HP.PlanID) AS PackagesNumber,

    	-- server
    	ISNULL(HP.ServerID, 0) AS ServerID,
    	ISNULL(S.ServerName, 'None') AS ServerName,
    	ISNULL(S.Comments, '') AS ServerComments,
    	ISNULL(S.VirtualServer, 1) AS VirtualServer,

    	-- package
    	ISNULL(HP.PackageID, 0) AS PackageID,
    	ISNULL(P.PackageName, 'None') AS PackageName

    FROM HostingPlans AS HP
    LEFT OUTER JOIN Servers AS S ON HP.ServerID = S.ServerID
    LEFT OUTER JOIN Packages AS P ON HP.PackageID = P.PackageID
    WHERE
    	HP.UserID = @UserID
    	AND HP.IsAddon = 0
    ORDER BY HP.PlanName
    RETURN
GO
