/****** Object:  StoredProcedure [dbo].[UpdatePackageName]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePackageName]
    (
    	@ActorID int,
    	@PackageID int,
    	@PackageName nvarchar(300),
    	@PackageComments ntext
    )
    AS

    -- check rights
    DECLARE @UserID int
    SELECT @UserID = UserID FROM Packages
    WHERE PackageID = @PackageID

    IF NOT(dbo.CheckActorPackageRights(@ActorID, @PackageID) = 1
    	OR @UserID = @ActorID
    	OR EXISTS(SELECT UserID FROM Users WHERE UserID = @ActorID AND OwnerID = @UserID AND IsPeer = 1))
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- update package
    UPDATE Packages SET
    	PackageName = @PackageName,
    	PackageComments = @PackageComments
    WHERE
    	PackageID = @PackageID

    RETURN
GO
