/****** Object:  StoredProcedure [dbo].[AddBackgroundTaskLog]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBackgroundTaskLog]
    (
    	@TaskID INT,
    	@Date DATETIME,
    	@ExceptionStackTrace NTEXT,
    	@InnerTaskStart INT,
    	@Severity INT,
    	@Text NTEXT,
    	@TextIdent INT,
    	@XmlParameters NTEXT
    )
    AS

    INSERT INTO BackgroundTaskLogs
    (
    	TaskID,
    	Date,
    	ExceptionStackTrace,
    	InnerTaskStart,
    	Severity,
    	Text,
    	TextIdent,
    	XmlParameters
    )
    VALUES
    (
    	@TaskID,
    	@Date,
    	@ExceptionStackTrace,
    	@InnerTaskStart,
    	@Severity,
    	@Text,
    	@TextIdent,
    	@XmlParameters
    )
GO
