/****** Object:  StoredProcedure [dbo].[UpdateIPAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateIPAddresses]
    (
     @xml ntext,
     @PoolID int,
     @ServerID int,
     @SubnetMask varchar(15),
     @DefaultGateway varchar(15),
     @Comments ntext,
     @VLAN int
    )
    AS
    BEGIN
     SET NOCOUNT ON;
     IF @ServerID = 0
     SET @ServerID = NULL
     DECLARE @idoc int
     --Create an internal representation of the XML document.
     EXEC sp_xml_preparedocument @idoc OUTPUT, @xml
     -- update
     UPDATE IPAddresses SET
      ServerID = @ServerID,
      PoolID = @PoolID,
      SubnetMask = @SubnetMask,
      DefaultGateway = @DefaultGateway,
      Comments = @Comments,
      VLAN = @VLAN
     FROM IPAddresses AS IP
     INNER JOIN OPENXML(@idoc, '/items/item', 1) WITH
     (
      AddressID int '@id'
     ) as PV ON IP.AddressID = PV.AddressID
     -- remove document
     exec sp_xml_removedocument @idoc
    END
GO
