/****** Object:  StoredProcedure [dbo].[DeleteUserThemeSetting]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserThemeSetting]
    (
    	@ActorID int,
    	@UserID int,
    	@PropertyName NVARCHAR(255)
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    DELETE FROM UserSettings
    WHERE UserID = @UserID
    AND SettingsName = N'Theme'
    AND PropertyName = @PropertyName

    RETURN
GO
