/****** Object:  StoredProcedure [dbo].[GetOrganizationRdsCollectionsCount]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrganizationRdsCollectionsCount]
    (
    	@ItemID INT,
    	@TotalNumber int OUTPUT
    )
    AS
    SELECT
      @TotalNumber = Count([Id])
      FROM [dbo].[RDSCollections] WHERE [ItemId]  = @ItemId
    RETURN
GO
