/****** Object:  StoredProcedure [dbo].[DeleteRDSServerSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRDSServerSettings]
    (
    	@ServerId int
    )
    AS
    	DELETE FROM RDSServerSettings WHERE RDSServerId = @ServerId
GO
