/****** Object:  StoredProcedure [dbo].[DeleteExchangeOrganization]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeOrganization]
    (
    	@ItemID int
    )
    AS
    BEGIN TRAN
    	DELETE FROM ExchangeMailboxPlans WHERE ItemID = @ItemID
    	DELETE FROM ExchangeOrganizations WHERE ItemID = @ItemID
    COMMIT TRAN
    RETURN
GO
