/****** Object:  StoredProcedure [dbo].[GetPackageDmzNetworkVLANs]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageDmzNetworkVLANs]
    (
     @PackageID int,
     @SortColumn nvarchar(50),
     @StartRow int,
     @MaximumRows int
    )
    AS
    BEGIN
    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    dbo.CheckPackageParent(@PackageID, PA.PackageID) = 1
    AND PA.IsDmz = 1
    '

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'V.Vlan ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(PA.PackageVlanID)
    FROM dbo.PackageVLANs PA
    INNER JOIN dbo.PrivateNetworkVLANs AS V ON PA.VlanID = V.VlanID
    INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    INNER JOIN dbo.Users U ON U.UserID = P.UserID
    WHERE ' + @condition + '

    DECLARE @VLANs AS TABLE
    (
     PackageVlanID int
    );

    WITH TempItems AS (
     SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
      PA.PackageVlanID
     FROM dbo.PackageVLANs PA
     INNER JOIN dbo.PrivateNetworkVLANs AS V ON PA.VlanID = V.VlanID
     INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
     INNER JOIN dbo.Users U ON U.UserID = P.UserID
     WHERE ' + @condition + '
    )

    INSERT INTO @VLANs
    SELECT PackageVlanID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
     PA.PackageVlanID,
     PA.VlanID,
     V.Vlan,
     PA.PackageID,
     P.PackageName,
     P.UserID,
     U.UserName
    FROM @VLANs AS TA
    INNER JOIN dbo.PackageVLANs AS PA ON TA.PackageVlanID = PA.PackageVlanID
    INNER JOIN dbo.PrivateNetworkVLANs AS V ON PA.VlanID = V.VlanID
    INNER JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    INNER JOIN dbo.Users U ON U.UserID = P.UserID
    '

    print @sql

    exec sp_executesql @sql, N'@PackageID int, @StartRow int, @MaximumRows int',
    @PackageID, @StartRow, @MaximumRows

    END
GO
