/****** Object:  StoredProcedure [dbo].[GetExchangeDisclaimers]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeDisclaimers]
    (
    	@ItemID int
    )
    AS
    SELECT
    	ExchangeDisclaimerId,
    	ItemID,
    	DisclaimerName,
    	DisclaimerText
    FROM
    	ExchangeDisclaimers
    WHERE
    	ItemID = @ItemID 
    ORDER BY DisclaimerName
    RETURN
GO
