/****** Object:  StoredProcedure [dbo].[InsertStorageSpace]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertStorageSpace]
    (
    	@ID INT OUTPUT,
    	@Name nvarchar(300),
    	@ServiceId INT ,
    	@ServerId INT,
    	@LevelId INT,
    	@Path varchar(max),
    	@FsrmQuotaType INT,
    	@FsrmQuotaSizeBytes BIGINT,
    	@IsShared BIT,
    	@IsDisabled BIT,
    	@UncPath varchar(max)
    )
    AS

    INSERT INTO StorageSpaces 
    (
    	Name,
    	ServiceId,
    	ServerId,
    	LevelId,
    	Path,
    	FsrmQuotaType,
    	FsrmQuotaSizeBytes,
    	IsShared,
    	UncPath,
    	IsDisabled
    )
    VALUES 
    (
    	@Name,
    	@ServiceId,
    	@ServerId,
    	@LevelId,
    	@Path,
    	@FsrmQuotaType,
    	@FsrmQuotaSizeBytes,
    	@IsShared,
    	@UncPath,
    	@IsDisabled
    )

    SET @ID = SCOPE_IDENTITY()

    RETURN
GO
