/****** Object:  StoredProcedure [dbo].[GetExchangeRetentionPolicyTags]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeRetentionPolicyTags]
    (
    	@ItemID int
    )
    AS
    SELECT
    	TagID,
    	ItemID,
    	TagName,
    	TagType,
    	AgeLimitForRetention,
    	RetentionAction
    FROM
    	ExchangeRetentionPolicyTags
    WHERE
    	ItemID = @ItemID 
    ORDER BY TagName
    RETURN
GO
