/****** Object:  StoredProcedure [dbo].[AddRDSServerToCollection]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRDSServerToCollection]
    (
    	@Id  INT,
    	@RDSCollectionId INT
    )
    AS

    UPDATE RDSServers
    SET
    	RDSCollectionId = @RDSCollectionId
    WHERE ID = @Id
GO
