/****** Object:  StoredProcedure [dbo].[GetExchangeAccountsPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeAccountsPaged]
    (
    	@ActorID int,
    	@ItemID int,
    	@AccountTypes nvarchar(30),
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int,
    	@Archiving bit
    )
    AS

    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM ServiceItems
    WHERE ItemID = @ItemID

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    EA.AccountType IN (' + @AccountTypes + ')
    AND EA.ItemID = @ItemID
    '

    IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
    AND @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
    	IF @FilterColumn = 'PrimaryEmailAddress' AND @AccountTypes <> '2'
    	BEGIN		
    		SET @condition = @condition + ' AND EA.AccountID IN (SELECT EAEA.AccountID FROM ExchangeAccountEmailAddresses EAEA WHERE EAEA.EmailAddress LIKE ''%' + @FilterValue + '%'')'
    	END
    	ELSE
    	BEGIN		
    		SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''%' + @FilterValue + '%'''
    	END
    END

    if @Archiving = 1
    BEGIN
    	SET @condition = @condition + ' AND (EA.ArchivingMailboxPlanId > 0) ' 
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'EA.DisplayName ASC'

    DECLARE @joincondition nvarchar(700)
    	SET @joincondition = ',P.MailboxPlan FROM ExchangeAccounts AS EA
    	LEFT OUTER JOIN ExchangeMailboxPlans AS P ON EA.MailboxPlanId = P.MailboxPlanId'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(EA.AccountID) FROM ExchangeAccounts AS EA
    WHERE ' + @condition + ';

    WITH Accounts AS (
    	SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
    		EA.AccountID,
    		EA.ItemID,
    		EA.AccountType,
    		EA.AccountName,
    		EA.DisplayName,
    		EA.PrimaryEmailAddress,
    		EA.MailEnabledPublicFolder,
    		EA.MailboxPlanId,
    		EA.SubscriberNumber,
    		EA.UserPrincipalName,
    		EA.LevelID,
    		EA.IsVIP ' + @joincondition +
    	' WHERE ' + @condition + '
    )

    SELECT * FROM Accounts
    WHERE Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows
    '

    print @sql

    exec sp_executesql @sql, N'@ItemID int, @StartRow int, @MaximumRows int',
    @ItemID, @StartRow, @MaximumRows

    RETURN
GO
