/****** Object:  StoredProcedure [dbo].[DeleteExchangeMailboxPlanRetentionPolicyTag]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteExchangeMailboxPlanRetentionPolicyTag]
    (
            @PlanTagID int
    )
    AS
    DELETE FROM ExchangeMailboxPlanRetentionPolicyTags
    WHERE
    	PlanTagID = @PlanTagID
    RETURN
GO
