/****** Object:  StoredProcedure [dbo].[GetStorageSpaceFoldersByStorageSpaceId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStorageSpaceFoldersByStorageSpaceId]
    (
    	@StorageSpaceId INT
    )
    AS
    SELECT 
    	Id,
    	Name,
    	StorageSpaceId,
    	Path,
    	UncPath,
    	IsShared,
    	FsrmQuotaType,
    	FsrmQuotaSizeBytes
    FROM StorageSpaceFolders
    WHERE StorageSpaceId = @StorageSpaceId
GO
