/****** Object:  StoredProcedure [dbo].[GetSupportServiceLevel]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSupportServiceLevel]
    (
    	@LevelID int
    )
    AS
    SELECT *
    FROM SupportServiceLevels
    WHERE LevelID = @LevelID
    RETURN
GO
