/****** Object:  StoredProcedure [dbo].[UpdateDomain]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDomain]
    (
    	@DomainID int,
    	@ActorID int,
    	@ZoneItemID int,
    	@HostingAllowed bit,
    	@WebSiteID int,
    	@MailDomainID int,
    	@DomainItemID int
    )
    AS

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM Domains
    WHERE DomainID = @DomainID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    IF @ZoneItemID = 0 SET @ZoneItemID = NULL
    IF @WebSiteID = 0 SET @WebSiteID = NULL
    IF @MailDomainID = 0 SET @MailDomainID = NULL

    -- update record
    UPDATE Domains
    SET
    	ZoneItemID = @ZoneItemID,
    	HostingAllowed = @HostingAllowed,
    	WebSiteID = @WebSiteID,
    	MailDomainID = @MailDomainID,
    	DomainItemID = @DomainItemID
    WHERE
    	DomainID = @DomainID
    	RETURN
GO
