/****** Object:  StoredProcedure [dbo].[GetSearchableServiceItemTypes]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSearchableServiceItemTypes]

    AS
    SELECT
    	ItemTypeID,
    	DisplayName
    FROM
    	ServiceItemTypes
    WHERE Searchable = 1
    ORDER BY TypeOrder
    RETURN
GO
