/****** Object:  StoredProcedure [dbo].[DistributePackageServices]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DistributePackageServices]
    (
    	@ActorID int,
    	@PackageID int
    )
    AS

    -- get primary distribution group
    DECLARE @PrimaryGroupID int
    DECLARE @VirtualServer bit
    DECLARE @PlanID int
    DECLARE @ServerID int
    SELECT
    	@PrimaryGroupID = ISNULL(S.PrimaryGroupID, 0),
    	@VirtualServer = S.VirtualServer,
    	@PlanID = P.PlanID,
    	@ServerID = P.ServerID
    FROM Packages AS P
    INNER JOIN Servers AS S ON P.ServerID = S.ServerID
    WHERE P.PackageID = @PackageID

    -- get the list of available groups from hosting plan
    DECLARE @Groups TABLE
    (
    	GroupID int,
    	PrimaryGroup bit
    )

    INSERT INTO @Groups (GroupID, PrimaryGroup)
    SELECT
    	RG.GroupID,
    	CASE WHEN RG.GroupID = @PrimaryGroupID THEN 1 -- mark primary group
    	ELSE 0
    	END
    FROM ResourceGroups AS RG
    WHERE dbo.GetPackageAllocatedResource(@PackageID, RG.GroupID, NULL) = 1
    AND RG.GroupID NOT IN
    (
    	SELECT P.GroupID
    	FROM PackageServices AS PS
    	INNER JOIN Services AS S ON PS.ServiceID = S.ServiceID
    	INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    	WHERE PS.PackageID = @PackageID
    )

    IF @VirtualServer <> 1
    BEGIN
    	-- PHYSICAL SERVER
    	-- just return the list of services based on the plan
    	INSERT INTO PackageServices (PackageID, ServiceID)
    	SELECT
    		@PackageID,
    		S.ServiceID
    	FROM Services AS S
    	INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    	INNER JOIN @Groups AS G ON P.GroupID = G.GroupID
    	WHERE S.ServerID = @ServerID
    		AND S.ServiceID NOT IN (SELECT ServiceID FROM PackageServices WHERE PackageID = @PackageID)
    END
    ELSE
    BEGIN
    	-- VIRTUAL SERVER

    	DECLARE @GroupID int, @PrimaryGroup int
    	DECLARE GroupsCursor CURSOR FOR
    	SELECT GroupID, PrimaryGroup FROM @Groups
    	ORDER BY PrimaryGroup DESC

    	OPEN GroupsCursor

    	WHILE (10 = 10)
    	BEGIN    --LOOP 10: thru groups
    		FETCH NEXT FROM GroupsCursor
    		INTO @GroupID, @PrimaryGroup

    		IF (@@fetch_status <> 0)
    		BEGIN
    			DEALLOCATE GroupsCursor
    			BREAK
    		END

    		-- read group information
    		DECLARE @DistributionType int, @BindDistributionToPrimary int
    		SELECT
    			@DistributionType = DistributionType,
    			@BindDistributionToPrimary = BindDistributionToPrimary
    		FROM VirtualGroups AS VG
    		WHERE ServerID = @ServerID AND GroupID = @GroupID

    		-- bind distribution to primary
    		IF @BindDistributionToPrimary = 1 AND @PrimaryGroup = 0 AND @PrimaryGroupID <> 0
    		BEGIN
    			-- if only one service found just use it and do not distribute
    			IF (SELECT COUNT(*) FROM VirtualServices AS VS
    				INNER JOIN Services AS S ON VS.ServiceID = S.ServiceID
    				INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    				WHERE VS.ServerID = @ServerID AND P.GroupID = @GroupID) = 1
    				BEGIN
    					INSERT INTO PackageServices (PackageID, ServiceID)
    					SELECT
    						@PackageID,
    						VS.ServiceID
    					FROM VirtualServices AS VS
    					INNER JOIN Services AS S ON VS.ServiceID = S.ServiceID
    					INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    					WHERE VS.ServerID = @ServerID AND P.GroupID = @GroupID
    				END
    			ELSE
    				BEGIN
    					DECLARE @PrimaryServerID int
    					-- try to get primary distribution server
    					SELECT
    						@PrimaryServerID = S.ServerID
    					FROM PackageServices AS PS
    					INNER JOIN Services AS S ON PS.ServiceID = S.ServiceID
    					INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    					WHERE PS.PackageID = @PackageID AND P.GroupID = @PrimaryGroupID

    					INSERT INTO PackageServices (PackageID, ServiceID)
    					SELECT
    						@PackageID,
    						VS.ServiceID
    					FROM VirtualServices AS VS
    					INNER JOIN Services AS S ON VS.ServiceID = S.ServiceID
    					INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    					WHERE VS.ServerID = @ServerID AND P.GroupID = @GroupID AND S.ServerID = @PrimaryServerID
    				END
    		END
    		ELSE
    		BEGIN

    			-- DISTRIBUTION
    			DECLARE @Services TABLE
    			(
    				ServiceID int,
    				ItemsNumber int,
    				RandomNumber int
    			)

    			DELETE FROM @Services

    			INSERT INTO @Services (ServiceID, ItemsNumber, RandomNumber)
    			SELECT
    				VS.ServiceID,
    				(SELECT COUNT(ItemID) FROM ServiceItems WHERE ServiceID = VS.ServiceID),
    				RAND()
    			FROM VirtualServices AS VS
    			INNER JOIN Services AS S ON VS.ServiceID = S.ServiceID
    			INNER JOIN Providers AS P ON S.ProviderID = P.ProviderID
    			WHERE VS.ServerID = @ServerID AND P.GroupID = @GroupID

    			-- BALANCED DISTRIBUTION
    			IF @DistributionType = 1
    			BEGIN
    				-- get the less allocated service
    				INSERT INTO PackageServices (PackageID, ServiceID)
    				SELECT TOP 1
    					@PackageID,
    					ServiceID
    				FROM @Services
    				ORDER BY ItemsNumber
    			END
    			ELSE
    			-- RANDOMIZED DISTRIBUTION
    			BEGIN
    				-- get the less allocated service
    				INSERT INTO PackageServices (PackageID, ServiceID)
    				SELECT TOP 1
    					@PackageID,
    					ServiceID
    				FROM @Services
    				ORDER BY RandomNumber
    			END
    		END

    		IF @PrimaryGroup = 1
    		SET @PrimaryGroupID = @GroupID

    	END -- while groups

    END -- end virtual server

    RETURN
GO
