/****** Object:  StoredProcedure [dbo].[GetHostingPlan]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHostingPlan]
    (
    	@ActorID int,
    	@PlanID int
    )
    AS

    SELECT
    	PlanID,
    	UserID,
    	PackageID,
    	ServerID,
    	PlanName,
    	PlanDescription,
    	Available,
    	SetupPrice,
    	RecurringPrice,
    	RecurrenceLength,
    	RecurrenceUnit,
    	IsAddon
    FROM HostingPlans AS HP
    WHERE HP.PlanID = @PlanID

    RETURN
GO
