/****** Object:  StoredProcedure [dbo].[GetScheduleTask]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetScheduleTask]
    (
    	@ActorID int,
    	@TaskID nvarchar(100)
    )
    AS

    -- get user role
    DECLARE @RoleID int
    SELECT @RoleID = RoleID FROM Users
    WHERE UserID = @ActorID

    SELECT
    	TaskID,
    	TaskType,
    	RoleID
    FROM ScheduleTasks
    WHERE
    	TaskID = @TaskID
    	AND @RoleID <= RoleID -- was >= but this seems like a bug, since lower RoleID is more privileged, and in GetScheduleTasks it is also <=.
    RETURN
GO
