/****** Object:  StoredProcedure [dbo].[GetUserAvailableHostingPlans]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserAvailableHostingPlans]
    (
    	@ActorID int,
    	@UserID int
    )
    AS

    -- user should see the plans only of his reseller
    -- also user can create packages based on his own plans (admins and resellers)

    DECLARE @Plans TABLE
    (
    	PlanID int
    )

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    DECLARE @OwnerID int
    SELECT @OwnerID = OwnerID FROM Users
    WHERE UserID = @UserID

    SELECT
    	HP.PlanID,
    	HP.PackageID,
    	HP.PlanName,
    	HP.PlanDescription,
    	HP.Available,
    	HP.ServerID,
    	HP.SetupPrice,
    	HP.RecurringPrice,
    	HP.RecurrenceLength,
    	HP.RecurrenceUnit,
    	HP.IsAddon
    FROM
    	HostingPlans AS HP
    WHERE HP.UserID = @OwnerID
    AND HP.IsAddon = 0
    ORDER BY PlanName
    RETURN
GO
