/****** Object:  StoredProcedure [dbo].[GetBackgroundTasks]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBackgroundTasks]
    (
    	@ActorID INT
    )
    AS

     with GetChildUsersId(id) as (
        select UserID
        from Users
        where UserID = @ActorID
        union all
        select C.UserId
        from GetChildUsersId P
        inner join Users C on P.id = C.OwnerID
    )

    SELECT 
    	T.ID,
    	T.Guid,
    	T.TaskID,
    	T.ScheduleId,
    	T.PackageId,
    	T.UserId,
    	T.EffectiveUserId,
    	T.TaskName,
    	T.ItemId,
    	T.ItemName,
    	T.StartDate,
    	T.FinishDate,
    	T.IndicatorCurrent,
    	T.IndicatorMaximum,
    	T.MaximumExecutionTime,
    	T.Source,
    	T.Severity,
    	T.Completed,
    	T.NotifyOnComplete,
    	T.Status
    FROM BackgroundTasks AS T
    INNER JOIN (SELECT T.Guid, MIN(T.StartDate) AS Date
    			FROM BackgroundTasks AS T
    			INNER JOIN BackgroundTaskStack AS TS
    				ON TS.TaskId = T.ID
    			WHERE T.UserID in (select id from GetChildUsersId)
    			GROUP BY T.Guid) AS TT ON TT.Guid = T.Guid AND TT.Date = T.StartDate
GO
