/****** Object:  StoredProcedure [dbo].[UpdateUserSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserSettings]
    (
    	@ActorID int,
    	@UserID int,
    	@SettingsName nvarchar(50),
    	@Xml ntext
    )
    AS

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    -- delete old properties
    BEGIN TRAN
    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    -- Execute a SELECT statement that uses the OPENXML rowset provider.
    DELETE FROM UserSettings
    WHERE UserID = @UserID AND SettingsName = @SettingsName

    INSERT INTO UserSettings
    (
    	UserID,
    	SettingsName,
    	PropertyName,
    	PropertyValue
    )
    SELECT
    	@UserID,
    	@SettingsName,
    	PropertyName,
    	PropertyValue
    FROM OPENXML(@idoc, '/properties/property',1) WITH
    (
    	PropertyName nvarchar(50) '@name',
    	PropertyValue ntext '@value'
    ) as PV

    -- remove document
    exec sp_xml_removedocument @idoc

    COMMIT TRAN

    RETURN
GO
