/****** Object:  UserDefinedFunction [dbo].[UsersTree]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UsersTree]
    (
    	@OwnerID int,
    	@Recursive bit = 0
    )
    RETURNS @T TABLE (UserID int)
    AS
    BEGIN

    	IF @Recursive = 1
    	BEGIN
    		-- insert ""root"" user
    		INSERT @T VALUES(@OwnerID)

    		-- get all children recursively
    		WHILE @@ROWCOUNT > 0
    		BEGIN
    			INSERT @T SELECT UserID
    			FROM Users
    			WHERE OwnerID IN(SELECT UserID from @T) AND UserID NOT IN(SELECT UserID FROM @T)
    		END
    	END
    	ELSE
    	BEGIN
    		INSERT @T VALUES(@OwnerID)
    	END

    RETURN
    END
GO
