/****** Object:  StoredProcedure [dbo].[DeleteDnsRecord]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDnsRecord]
    (
    	@ActorID int,
    	@RecordID int
    )
    AS

    -- check rights
    DECLARE @ServiceID int, @ServerID int, @PackageID int
    SELECT
    	@ServiceID = ServiceID,
    	@ServerID = ServerID,
    	@PackageID = PackageID
    FROM GlobalDnsRecords
    WHERE
    	RecordID = @RecordID

    IF (@ServiceID > 0 OR @ServerID > 0) AND dbo.CheckIsUserAdmin(@ActorID) = 0
    RETURN

    IF (@PackageID > 0) AND dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RETURN

    -- delete record
    DELETE FROM GlobalDnsRecords
    WHERE RecordID = @RecordID

    RETURN
GO
