/****** Object:  StoredProcedure [dbo].[GetAccessTokenByAccessToken]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAccessTokenByAccessToken]
    (
    	@AccessToken UNIQUEIDENTIFIER,
    	@TokenType INT
    )
    AS
    SELECT 
    	ID ,
    	AccessTokenGuid,
    	ExpirationDate,
    	AccountID,
    	ItemId,
    	TokenType,
    	SmsResponse
    	FROM AccessTokens 
    	Where AccessTokenGuid = @AccessToken AND ExpirationDate > getdate() AND TokenType = @TokenType
GO
