/****** Object:  StoredProcedure [dbo].[UpdateServiceFully]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateServiceFully]
    (
    	@ServiceID int,
    	@ProviderID int,
    	@ServiceName nvarchar(50),
    	@Comments ntext,
    	@ServiceQuotaValue int,
    	@ClusterID int
    )
    AS

    IF @ClusterID = 0 SET @ClusterID = NULL

    UPDATE Services
    SET
    	ProviderID = @ProviderID,
    	ServiceName = @ServiceName,
    	ServiceQuotaValue = @ServiceQuotaValue,
    	Comments = @Comments,
    	ClusterID = @ClusterID
    WHERE ServiceID = @ServiceID

    RETURN
GO
