/****** Object:  StoredProcedure [dbo].[GetExchangeAccounts]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeAccounts]
    (
    	@ItemID int,
    	@AccountType int
    )
    AS
    SELECT
    	E.AccountID,
    	E.ItemID,
    	E.AccountType,
    	E.AccountName,
    	E.DisplayName,
    	E.PrimaryEmailAddress,
    	E.MailEnabledPublicFolder,
    	E.MailboxPlanId,
    	P.MailboxPlan,
    	E.SubscriberNumber,
    	E.UserPrincipalName
    FROM
    	ExchangeAccounts  AS E
    LEFT OUTER JOIN ExchangeMailboxPlans AS P ON E.MailboxPlanId = P.MailboxPlanId
    WHERE
    	E.ItemID = @ItemID AND
    	(E.AccountType = @AccountType OR @AccountType = 0)
    ORDER BY DisplayName
    RETURN
GO
