/****** Object:  StoredProcedure [dbo].[GetAvailableVirtualServices]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvailableVirtualServices]
    (
    	@ActorID int,
    	@ServerID int
    )
    AS

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    SELECT
    	S.ServerID,
    	S.ServerName,
    	S.Comments
    FROM Servers AS S
    WHERE
    	VirtualServer = 0 -- get only physical servers
    	AND @IsAdmin = 1

    -- services
    SELECT
    	ServiceID,
    	ServerID,
    	ProviderID,
    	ServiceName,
    	Comments
    FROM Services
    WHERE
    	ServiceID NOT IN (SELECT ServiceID FROM VirtualServices WHERE ServerID = @ServerID)
    	AND @IsAdmin = 1

    RETURN
GO
