/****** Object:  StoredProcedure [dbo].[UpdateHostingPlanQuotas]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHostingPlanQuotas]
    (
    	@ActorID int,
    	@PlanID int,
    	@Xml ntext
    )
    AS

    /*
    XML Format:

    <plan>
    	<groups>
    		<group id=""16"" enabled=""1"" calculateDiskSpace=""1"" calculateBandwidth=""1""/>
    	</groups>
    	<quotas>
    		<quota id=""2"" value=""2""/>
    	</quotas>
    </plan>

    */

    -- check rights
    DECLARE @UserID int
    SELECT @UserID = UserID FROM HostingPlans
    WHERE PlanID = @PlanID

    -- check rights
    IF dbo.CheckActorUserRights(@ActorID, @UserID) = 0
    RAISERROR('You are not allowed to access this account', 16, 1)

    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    -- delete old HP resources
    DELETE FROM HostingPlanResources
    WHERE PlanID = @PlanID

    -- delete old HP quotas
    DELETE FROM HostingPlanQuotas
    WHERE PlanID = @PlanID

    -- update HP resources
    INSERT INTO HostingPlanResources
    (
    	PlanID,
    	GroupID,
    	CalculateDiskSpace,
    	CalculateBandwidth
    )
    SELECT
    	@PlanID,
    	GroupID,
    	CalculateDiskSpace,
    	CalculateBandwidth
    FROM OPENXML(@idoc, '/plan/groups/group',1) WITH
    (
    	GroupID int '@id',
    	CalculateDiskSpace bit '@calculateDiskSpace',
    	CalculateBandwidth bit '@calculateBandwidth'
    ) as XRG

    -- update HP quotas
    INSERT INTO HostingPlanQuotas
    (
    	PlanID,
    	QuotaID,
    	QuotaValue
    )
    SELECT
    	@PlanID,
    	QuotaID,
    	QuotaValue
    FROM OPENXML(@idoc, '/plan/quotas/quota',1) WITH
    (
    	QuotaID int '@id',
    	QuotaValue int '@value'
    ) as PV

    -- remove document
    exec sp_xml_removedocument @idoc

    RETURN
GO
