/****** Object:  StoredProcedure [dbo].[UpdateDomainExpirationDate]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDomainExpirationDate]
    (
    	@DomainId INT,
    	@Date DateTime
    )
    AS
    UPDATE [dbo].[Domains] SET [ExpirationDate] = @Date WHERE [DomainID] = @DomainId
GO
