/****** Object:  StoredProcedure [dbo].[DeleteCRMOrganization]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCRMOrganization]
    	@ItemID int
    AS
    BEGIN
    	SET NOCOUNT ON
    DELETE FROM dbo.CRMUsers WHERE AccountID IN (SELECT AccountID FROM dbo.ExchangeAccounts WHERE ItemID = @ItemID)
    END
GO
