/****** Object:  StoredProcedure [dbo].[GetScheduleBackgroundTasks]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetScheduleBackgroundTasks]
    (
    	@ScheduleID INT
    )
    AS

    SELECT
    	T.ID,
    	T.Guid,
    	T.TaskID,
    	T.ScheduleId,
    	T.PackageId,
    	T.UserId,
    	T.EffectiveUserId,
    	T.TaskName,
    	T.ItemId,
    	T.ItemName,
    	T.StartDate,
    	T.FinishDate,
    	T.IndicatorCurrent,
    	T.IndicatorMaximum,
    	T.MaximumExecutionTime,
    	T.Source,
    	T.Severity,
    	T.Completed,
    	T.NotifyOnComplete,
    	T.Status
    FROM BackgroundTasks AS T
    WHERE T.Guid = (
    	SELECT Guid FROM BackgroundTasks
    	WHERE ScheduleID = @ScheduleID
    		AND Completed = 0 AND Status IN (1, 3))
GO
