/****** Object:  StoredProcedure [dbo].[GetPackageDmzIPAddressesPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPackageDmzIPAddressesPaged]
    	@PackageID int,
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    AS
    BEGIN


    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    SI.PackageID = @PackageID
    '

    IF @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
    	IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
    		SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
    	ELSE
    		SET @condition = @condition + '
    			AND (IPAddress LIKE ''' + @FilterValue + '''
    			OR ItemName LIKE ''' + @FilterValue + ''')'
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'DA.IPAddress ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(DA.DmzAddressID)
    FROM dbo.DmzIPAddresses AS DA
    INNER JOIN dbo.ServiceItems AS SI ON DA.ItemID = SI.ItemID
    WHERE ' + @condition + '

    DECLARE @Addresses AS TABLE
    (
    	DmzAddressID int
    );

    WITH TempItems AS (
    	SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
    		DA.DmzAddressID
    	FROM dbo.DmzIPAddresses AS DA
    	INNER JOIN dbo.ServiceItems AS SI ON DA.ItemID = SI.ItemID
    	WHERE ' + @condition + '
    )

    INSERT INTO @Addresses
    SELECT DmzAddressID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
    	DA.DmzAddressID,
    	DA.IPAddress,
    	DA.ItemID,
    	SI.ItemName,
    	DA.IsPrimary
    FROM @Addresses AS TA
    INNER JOIN dbo.DmzIPAddresses AS DA ON TA.DmzAddressID = DA.DmzAddressID
    INNER JOIN dbo.ServiceItems AS SI ON DA.ItemID = SI.ItemID
    '

    print @sql

    exec sp_executesql @sql, N'@PackageID int, @StartRow int, @MaximumRows int',
    @PackageID, @StartRow, @MaximumRows

    END
GO
