/****** Object:  StoredProcedure [dbo].[GetLyncUsersByPlanId]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLyncUsersByPlanId]
    (
    	@ItemID int,
    	@PlanId int
    )
    AS

    	SELECT
    		ea.AccountID,
    		ea.ItemID,
    		ea.AccountName,
    		ea.DisplayName,
    		ea.UserPrincipalName,
    		ea.SamAccountName,
    		ou.LyncUserPlanId,
    		lp.LyncUserPlanName
    	FROM
    		ExchangeAccounts ea
    	INNER JOIN
    		LyncUsers ou
    	INNER JOIN
    		LyncUserPlans lp
    	ON
    		ou.LyncUserPlanId = lp.LyncUserPlanId
    	ON
    		ea.AccountID = ou.AccountID
    	WHERE
    		ea.ItemID = @ItemID AND
    		ou.LyncUserPlanId = @PlanId
GO
