/****** Object:  StoredProcedure [dbo].[RemoveRDSServerFromOrganization]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveRDSServerFromOrganization]
    (
    	@Id  INT
    )
    AS

    UPDATE RDSServers
    SET
    	ItemID = NULL
    WHERE ID = @Id
GO
