/****** Object:  StoredProcedure [dbo].[GetThemeSettings]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetThemeSettings]
    (
    	@ThemeID int
    )
    AS
    BEGIN
    	SET NOCOUNT ON;
        SELECT
    		ThemeID,
    		SettingsName,
    		PropertyName,
    		PropertyValue
    	FROM
    		ThemeSettings
    	WHERE
    		ThemeID = @ThemeID;
    END
GO
