/****** Object:  StoredProcedure [dbo].[AddBackgroundTaskParam]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBackgroundTaskParam]
    (
    	@TaskID INT,
    	@Name NVARCHAR(255),
    	@Value NTEXT,
    	@TypeName NVARCHAR(255)
    )
    AS

    INSERT INTO BackgroundTaskParameters
    (
    	TaskID,
    	Name,
    	SerializerValue,
    	TypeName
    )
    VALUES
    (
    	@TaskID,
    	@Name,
    	@Value,
    	@TypeName
    )
GO
