/****** Object:  StoredProcedure [dbo].[GetPrivateNetworVLANsPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPrivateNetworVLANsPaged]
    (
     @ActorID int,
     @ServerID int,
     @FilterColumn nvarchar(50) = '',
     @FilterValue nvarchar(50) = '',
     @SortColumn nvarchar(50),
     @StartRow int,
     @MaximumRows int
    )
    AS
    BEGIN

    -- check rights
    DECLARE @IsAdmin bit
    SET @IsAdmin = dbo.CheckIsUserAdmin(@ActorID)

    -- start
    DECLARE @condition nvarchar(700)
    SET @condition = '
    @IsAdmin = 1
    AND (@ServerID = 0 OR @ServerID <> 0 AND V.ServerID = @ServerID)
    '

    IF @FilterValue <> '' AND @FilterValue IS NOT NULL
    BEGIN
     IF @FilterColumn <> '' AND @FilterColumn IS NOT NULL
      SET @condition = @condition + ' AND ' + @FilterColumn + ' LIKE ''' + @FilterValue + ''''
     ELSE
      SET @condition = @condition + '
       AND (Vlan LIKE ''' + @FilterValue + '''
       OR ServerName LIKE ''' + @FilterValue + '''
       OR Username LIKE ''' + @FilterValue + ''')'
    END

    IF @SortColumn IS NULL OR @SortColumn = ''
    SET @SortColumn = 'V.Vlan ASC'

    DECLARE @sql nvarchar(3500)

    set @sql = '
    SELECT COUNT(V.VlanID)
    FROM dbo.PrivateNetworkVLANs AS V
    LEFT JOIN Servers AS S ON V.ServerID = S.ServerID
    LEFT JOIN PackageVLANs AS PA ON V.VlanID = PA.VlanID
    LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    LEFT JOIN dbo.Users U ON P.UserID = U.UserID
    WHERE ' + @condition + '

    DECLARE @VLANs AS TABLE
    (
     VlanID int
    );

    WITH TempItems AS (
     SELECT ROW_NUMBER() OVER (ORDER BY ' + @SortColumn + ') as Row,
      V.VlanID
     FROM dbo.PrivateNetworkVLANs AS V
     LEFT JOIN Servers AS S ON V.ServerID = S.ServerID
     LEFT JOIN PackageVLANs AS PA ON V.VlanID = PA.VlanID
     LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
     LEFT JOIN dbo.Users U ON U.UserID = P.UserID
     WHERE ' + @condition + '
    )

    INSERT INTO @VLANs
    SELECT VlanID FROM TempItems
    WHERE TempItems.Row BETWEEN @StartRow + 1 and @StartRow + @MaximumRows

    SELECT
     V.VlanID,
     V.Vlan,
     V.Comments,
     V.ServerID,
     S.ServerName,
     PA.PackageID,
     P.PackageName,
     P.UserID,
     U.UserName
    FROM @VLANs AS TA
    INNER JOIN dbo.PrivateNetworkVLANs AS V ON TA.VlanID = V.VlanID
    LEFT JOIN Servers AS S ON V.ServerID = S.ServerID
    LEFT JOIN PackageVLANs AS PA ON V.VlanID = PA.VlanID
    LEFT JOIN dbo.Packages P ON PA.PackageID = P.PackageID
    LEFT JOIN dbo.Users U ON U.UserID = P.UserID
    '

    exec sp_executesql @sql, N'@IsAdmin bit, @ServerID int, @StartRow int, @MaximumRows int',
    @IsAdmin, @ServerID, @StartRow, @MaximumRows

    END
GO
