/****** Object:  StoredProcedure [dbo].[DeleteOrganizationStoragSpacesFolder]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrganizationStoragSpacesFolder]
    (
    	@Id INT
    )
    AS
    	DELETE
    	FROM [ExchangeOrganizationSsFolders]
    	WHERE StorageSpaceFolderId = @Id
GO
