/****** Object:  StoredProcedure [dbo].[RemoveStorageSpaceLevel]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveStorageSpaceLevel]
    (
    	@ID INT
    )
    AS
    	DELETE FROM StorageSpaceLevels WHERE ID = @ID
GO
