/****** Object:  StoredProcedure [dbo].[GetResourceGroups]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetResourceGroups]
    AS
    SELECT
    	GroupID,
    	GroupName,
    	GroupController
    FROM ResourceGroups
    ORDER BY GroupOrder
    RETURN
GO
