/****** Object:  StoredProcedure [dbo].[AddPackageAddon]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPackageAddon]
    (
    	@ActorID int,
    	@PackageAddonID int OUTPUT,
    	@PackageID int,
    	@PlanID int,
    	@Quantity int,
    	@StatusID int,
    	@PurchaseDate datetime,
    	@Comments ntext
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    BEGIN TRAN

    DECLARE @ParentPackageID int
    SELECT @ParentPackageID = ParentPackageID FROM Packages
    WHERE PackageID = @PackageID

    -- insert record
    INSERT INTO PackageAddons
    (
    	PackageID,
    	PlanID,
    	PurchaseDate,
    	Quantity,
    	StatusID,
    	Comments
    )
    VALUES
    (
    	@PackageID,
    	@PlanID,
    	@PurchaseDate,
    	@Quantity,
    	@StatusID,
    	@Comments
    )

    SET @PackageAddonID = SCOPE_IDENTITY()

    DECLARE @ExceedingQuotas AS TABLE (QuotaID int, QuotaName nvarchar(50), QuotaValue int)
    INSERT INTO @ExceedingQuotas
    SELECT * FROM dbo.GetPackageExceedingQuotas(@ParentPackageID) WHERE QuotaValue > 0

    SELECT * FROM @ExceedingQuotas

    IF EXISTS(SELECT * FROM @ExceedingQuotas)
    BEGIN
    	ROLLBACK TRAN
    	RETURN
    END

    COMMIT TRAN
    RETURN
GO
