/****** Object:  StoredProcedure [dbo].[GetRDSCollectionsPaged]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRDSCollectionsPaged]
    (
    	@FilterColumn nvarchar(50) = '',
    	@FilterValue nvarchar(50) = '',
    	@ItemID int,
    	@SortColumn nvarchar(50),
    	@StartRow int,
    	@MaximumRows int
    )
    AS
    -- build query and run it to the temporary table
    DECLARE @sql nvarchar(2000)

    SET @sql = '

    DECLARE @EndRow int
    SET @EndRow = @StartRow + @MaximumRows
    DECLARE @RDSCollections TABLE
    (
    	ItemPosition int IDENTITY(0,1),
    	RDSCollectionId int
    )
    INSERT INTO @RDSCollections (RDSCollectionId)
    SELECT
    	S.ID
    FROM RDSCollections AS S
    WHERE 
    	((@ItemID is Null AND S.ItemID is null)
    		or (@ItemID is not Null AND S.ItemID = @ItemID))'

    IF @FilterColumn <> '' AND @FilterValue <> ''
    SET @sql = @sql + ' AND ' + @FilterColumn + ' LIKE ''%' + @FilterValue + '%'' '

    IF @SortColumn <> '' AND @SortColumn IS NOT NULL
    SET @sql = @sql + ' ORDER BY ' + @SortColumn + ' '

    SET @sql = @sql + ' SELECT COUNT(RDSCollectionId) FROM @RDSCollections;
    SELECT
    	CR.ID,
    	CR.ItemID,
    	CR.Name,
    	CR.Description,
    	CR.DisplayName
    FROM @RDSCollections AS C
    INNER JOIN RDSCollections AS CR ON C.RDSCollectionId = CR.ID
    WHERE C.ItemPosition BETWEEN @StartRow AND @EndRow'

    exec sp_executesql @sql, N'@StartRow int, @MaximumRows int,  @FilterValue nvarchar(50),  @ItemID int',
    @StartRow, @MaximumRows,  @FilterValue,  @ItemID

    RETURN
GO
