/****** Object:  StoredProcedure [dbo].[GetUserByUsernameInternally]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByUsernameInternally]
    (
    	@Username nvarchar(50)
    )
    AS
    	SELECT
    		U.UserID,
    		U.RoleID,
    		U.StatusID,
    		U.SubscriberNumber,
    		U.LoginStatusId,
    		U.FailedLogins,
    		U.OwnerID,
    		U.Created,
    		U.Changed,
    		U.IsDemo,
    		U.Comments,
    		U.IsPeer,
    		U.Username,
    		U.Password,
    		U.FirstName,
    		U.LastName,
    		U.Email,
    		U.SecondaryEmail,
    		U.Address,
    		U.City,
    		U.State,
    		U.Country,
    		U.Zip,
    		U.PrimaryPhone,
    		U.SecondaryPhone,
    		U.Fax,
    		U.InstantMessenger,
    		U.HtmlMail,
    		U.CompanyName,
    		U.EcommerceEnabled,
    		U.[AdditionalParams],
    		U.OneTimePasswordState,
    		U.MfaMode,
    		U.PinSecret

    	FROM Users AS U
    	WHERE U.Username = @Username

    	RETURN
GO
