/****** Object:  StoredProcedure [dbo].[GetExchangeAccountEmailAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExchangeAccountEmailAddresses]
    (
    	@AccountID int
    )
    AS
    SELECT
    	AddressID,
    	AccountID,
    	EmailAddress
    FROM
    	ExchangeAccountEmailAddresses
    WHERE
    	AccountID = @AccountID
    RETURN
GO
