/****** Object:  StoredProcedure [dbo].[UpdateDnsRecord]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDnsRecord]
    (
    	@ActorID int,
    	@RecordID int,
    	@RecordType nvarchar(10),
    	@RecordName nvarchar(50),
    	@RecordData nvarchar(500),
    	@MXPriority int,
    	@SrvPriority int,
    	@SrvWeight int,
    	@SrvPort int,
    	@IPAddressID int
    )
    AS

    IF @IPAddressID = 0 SET @IPAddressID = NULL

    -- check rights
    DECLARE @ServiceID int, @ServerID int, @PackageID int
    SELECT
    	@ServiceID = ServiceID,
    	@ServerID = ServerID,
    	@PackageID = PackageID
    FROM GlobalDnsRecords
    WHERE
    	RecordID = @RecordID

    IF (@ServiceID > 0 OR @ServerID > 0) AND dbo.CheckIsUserAdmin(@ActorID) = 0
    RAISERROR('You are not allowed to perform this operation', 16, 1)

    IF (@PackageID > 0) AND dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- update record
    UPDATE GlobalDnsRecords
    SET
    	RecordType = @RecordType,
    	RecordName = @RecordName,
    	RecordData = @RecordData,
    	MXPriority = @MXPriority,
    	SrvPriority = @SrvPriority,
    	SrvWeight = @SrvWeight,
    	SrvPort = @SrvPort,
    	IPAddressID = @IPAddressID
    WHERE
    	RecordID = @RecordID
    RETURN
GO
