/****** Object:  StoredProcedure [dbo].[GetItemIPAddresses]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetItemIPAddresses]
    (
    	@ActorID int,
    	@ItemID int,
    	@PoolID int
    )
    AS

    SELECT
    	PIP.PackageAddressID AS AddressID,
    	IP.ExternalIP AS IPAddress,
    	IP.InternalIP AS NATAddress,
    	IP.SubnetMask,
    	IP.DefaultGateway,
    	PIP.IsPrimary
    FROM PackageIPAddresses AS PIP
    INNER JOIN IPAddresses AS IP ON PIP.AddressID = IP.AddressID
    INNER JOIN ServiceItems AS SI ON PIP.ItemID = SI.ItemID
    WHERE PIP.ItemID = @ItemID
    AND dbo.CheckActorPackageRights(@ActorID, SI.PackageID) = 1
    AND (@PoolID = 0 OR @PoolID <> 0 AND IP.PoolID = @PoolID)
    ORDER BY PIP.IsPrimary DESC

    RETURN
GO
