/****** Object:  StoredProcedure [dbo].[DeleteBlackBerryUser]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBlackBerryUser]
    (
    	@AccountID int
    )
    AS

    DELETE FROM
    	BlackBerryUsers
    WHERE
    	AccountID = @AccountID

    RETURN
GO
