/****** Object:  StoredProcedure [dbo].[UpdateServiceItem]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateServiceItem]
    (
    	@ActorID int,
    	@ItemID int,
    	@ItemName nvarchar(500),
    	@XmlProperties ntext
    )
    AS
    BEGIN TRAN

    -- check rights
    DECLARE @PackageID int
    SELECT @PackageID = PackageID FROM ServiceItems
    WHERE ItemID = @ItemID

    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    RAISERROR('You are not allowed to access this package', 16, 1)

    -- update item
    UPDATE ServiceItems SET ItemName = @ItemName
    WHERE ItemID=@ItemID

    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @XmlProperties

    -- Execute a SELECT statement that uses the OPENXML rowset provider.
    DELETE FROM ServiceItemProperties
    WHERE ItemID = @ItemID

    -- Add the xml data into a temp table for the capability and robust
    IF OBJECT_ID('tempdb..#TempTable') IS NOT NULL DROP TABLE #TempTable

    CREATE TABLE #TempTable(
    	ItemID int,
    	PropertyName nvarchar(50),
    	PropertyValue  nvarchar(max))

    INSERT INTO #TempTable (ItemID, PropertyName, PropertyValue)
    SELECT
    	@ItemID,
    	PropertyName,
    	PropertyValue
    FROM OPENXML(@idoc, '/properties/property',1) WITH 
    (
    	PropertyName nvarchar(50) '@name',
    	PropertyValue nvarchar(max) '@value'
    ) as PV

    -- Move data from temp table to real table
    INSERT INTO ServiceItemProperties
    (
    	ItemID,
    	PropertyName,
    	PropertyValue
    )
    SELECT 
    	ItemID, 
    	PropertyName, 
    	PropertyValue
    FROM #TempTable

    DROP TABLE #TempTable

    -- remove document
    exec sp_xml_removedocument @idoc

    COMMIT TRAN

    RETURN
GO
