/****** Object:  StoredProcedure [dbo].[GetCertificatesForSite]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCertificatesForSite]
    (
    	@ActorID int,
    	@PackageID int,
    	@websiteid int
    )
    AS

    -- check rights
    IF dbo.CheckActorPackageRights(@ActorID, @PackageID) = 0
    BEGIN
    	RAISERROR('You are not allowed to access this package', 16, 1)
    	RETURN
    END

    SELECT
    	[ID], [UserID], [SiteID], [FriendlyName], [Hostname], [DistinguishedName],
    	[CSR], [CSRLength], [ValidFrom], [ExpiryDate], [Installed], [IsRenewal],
    	[PreviousId], [SerialNumber]
    FROM
    	[dbo].[SSLCertificates]
    WHERE
    	[SiteID] = @websiteid
    RETURN

    SET ANSI_NULLS ON
GO
