/****** Object:  UserDefinedFunction [dbo].[GetPackageExceedingQuotas]    Script Date: 29.01.2025 22:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetPackageExceedingQuotas]
    (
    	@PackageID int
    )
    RETURNS @quotas TABLE (QuotaID int, QuotaName nvarchar(50), QuotaValue int)
    AS
    BEGIN

    DECLARE @ParentPackageID int
    DECLARE @PlanID int
    DECLARE @OverrideQuotas bit

    SELECT
    	@ParentPackageID = ParentPackageID,
    	@PlanID = PlanID,
    	@OverrideQuotas = OverrideQuotas
    FROM Packages WHERE PackageID = @PackageID

    IF @ParentPackageID IS NOT NULL -- not root package
    BEGIN

    	IF @OverrideQuotas = 0 -- hosting plan quotas
    		BEGIN
    			INSERT INTO @quotas (QuotaID, QuotaName, QuotaValue)
    			SELECT
    				Q.QuotaID,
    				Q.QuotaName,
    				dbo.CheckExceedingQuota(@PackageID, Q.QuotaID, Q.QuotaTypeID) AS QuotaValue
    			FROM HostingPlanQuotas AS HPQ
    			INNER JOIN Quotas AS Q ON HPQ.QuotaID = Q.QuotaID
    			WHERE HPQ.PlanID = @PlanID AND Q.QuotaTypeID <> 3
    		END
    	ELSE -- overriden quotas
    		BEGIN
    			INSERT INTO @quotas (QuotaID, QuotaName, QuotaValue)
    			SELECT
    				Q.QuotaID,
    				Q.QuotaName,
    				dbo.CheckExceedingQuota(@PackageID, Q.QuotaID, Q.QuotaTypeID) AS QuotaValue
    			FROM PackageQuotas AS PQ
    			INNER JOIN Quotas AS Q ON PQ.QuotaID = Q.QuotaID
    			WHERE PQ.PackageID = @PackageID AND Q.QuotaTypeID <> 3
    		END
    END -- if 'root' package

    RETURN
    END
GO
