/****** Object:  StoredProcedure [dbo].[AddOrganizationStoragSpacesFolder]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrganizationStoragSpacesFolder]
    (
    	@Id INT OUTPUT,
    	@ItemId INT,
    	@Type varchar(100),
    	@StorageSpaceFolderId INT
    )
    AS
    	INSERT INTO [ExchangeOrganizationSsFolders]
    	(
    		ItemId,
    		Type,
    		StorageSpaceFolderId
    	)
    	VALUES 
    	(
    		@ItemId,
    		@Type,
    		@StorageSpaceFolderId
    	)

    	SET @Id = @StorageSpaceFolderId
GO
