/****** Object:  StoredProcedure [dbo].[UpdateVirtualGroups]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateVirtualGroups]
    (
    	@ServerID int,
    	@Xml ntext
    )
    AS

    /*
    XML Format:

    <groups>
    	<group id=""16"" distributionType=""1"" bindDistributionToPrimary=""1""/>
    </groups>

    */

    BEGIN TRAN
    DECLARE @idoc int
    --Create an internal representation of the XML document.
    EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

    -- delete old virtual groups
    DELETE FROM VirtualGroups
    WHERE ServerID = @ServerID

    -- update HP resources
    INSERT INTO VirtualGroups
    (
    	ServerID,
    	GroupID,
    	DistributionType,
    	BindDistributionToPrimary
    )
    SELECT
    	@ServerID,
    	GroupID,
    	DistributionType,
    	BindDistributionToPrimary
    FROM OPENXML(@idoc, '/groups/group',1) WITH
    (
    	GroupID int '@id',
    	DistributionType int '@distributionType',
    	BindDistributionToPrimary bit '@bindDistributionToPrimary'
    ) as XRG

    -- remove document
    exec sp_xml_removedocument @idoc

    COMMIT TRAN
    RETURN
GO
