/****** Object:  StoredProcedure [dbo].[GetDomainAllDnsRecords]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDomainAllDnsRecords]
    (
    	@DomainId INT
    )
    AS
    SELECT
    	ID,
    	DomainId,
    	DnsServer,
    	RecordType,
    	Value,
    	Date
      FROM [dbo].[DomainDnsRecords]
      WHERE [DomainId]  = @DomainId
GO
