/****** Object:  StoredProcedure [dbo].[GetDomainDnsRecords]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDomainDnsRecords]
    (
    	@DomainId INT,
    	@RecordType INT
    )
    AS
    SELECT
    	ID,
    	DomainId,
    	DnsServer,
    	RecordType,
    	Value,
    	Date
      FROM [dbo].[DomainDnsRecords]
      WHERE [DomainId]  = @DomainId AND [RecordType] = @RecordType
GO
