/****** Object:  StoredProcedure [dbo].[GetUserByExchangeOrganizationIdInternally]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByExchangeOrganizationIdInternally]
    (
    	@ItemID int
    )
    AS
    	SELECT
    		U.UserID,
    		U.RoleID,
    		U.StatusID,
    		U.SubscriberNumber,
    		U.LoginStatusId,
    		U.FailedLogins,
    		U.OwnerID,
    		U.Created,
    		U.Changed,
    		U.IsDemo,
    		U.Comments,
    		U.IsPeer,
    		U.Username,
    		U.Password,
    		U.FirstName,
    		U.LastName,
    		U.Email,
    		U.SecondaryEmail,
    		U.Address,
    		U.City,
    		U.State,
    		U.Country,
    		U.Zip,
    		U.PrimaryPhone,
    		U.SecondaryPhone,
    		U.Fax,
    		U.InstantMessenger,
    		U.HtmlMail,
    		U.CompanyName,
    		U.EcommerceEnabled,
    		U.[AdditionalParams]
    	FROM Users AS U
    	WHERE U.UserID IN (SELECT UserID FROM Packages WHERE PackageID IN (
    	SELECT PackageID FROM ServiceItems WHERE ItemID = @ItemID))

    RETURN
GO
