/****** Object:  StoredProcedure [dbo].[DeallocatePackageVLAN]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeallocatePackageVLAN]
    	@PackageVlanID int
    AS
    BEGIN

    	SET NOCOUNT ON;

    	-- check parent package
    	DECLARE @ParentPackageID int

    	SELECT @ParentPackageID = P.ParentPackageID
    	FROM PackageVLANs AS PV
    	INNER JOIN Packages AS P ON PV.PackageID = P.PackageId
    	WHERE PV.PackageVlanID = @PackageVlanID

    	IF (@ParentPackageID = 1) -- ""System"" space
    	BEGIN
    		DELETE FROM dbo.PackageVLANs
    		WHERE PackageVlanID = @PackageVlanID
    	END
    	ELSE -- 2rd level space and below
    	BEGIN
    		UPDATE PackageVLANs
    		SET PackageID = @ParentPackageID
    		WHERE PackageVlanID = @PackageVlanID
    	END

    END
GO
