/****** Object:  StoredProcedure [dbo].[GetAuditLogRecord]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAuditLogRecord]
    (
    	@RecordID varchar(32)
    )
    AS

    SELECT
    	L.RecordID,
        L.SeverityID,
        L.StartDate,
        L.FinishDate,
        L.ItemID,
        L.SourceName,
        L.TaskName,
        L.ItemName,
        L.ExecutionLog,

        ISNULL(L.UserID, 0) AS UserID,
    	L.Username,
    	U.FirstName,
    	U.LastName,
    	U.FullName,
    	ISNULL(U.RoleID, 0) AS RoleID,
    	U.Email
    FROM AuditLog AS L
    LEFT OUTER JOIN UsersDetailed AS U ON L.UserID = U.UserID
    WHERE RecordID = @RecordID
    RETURN
GO
