/****** Object:  StoredProcedure [dbo].[GetIPAddress]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIPAddress]
    (
     @AddressID int
    )
    AS
    BEGIN
     -- select
     SELECT
      AddressID,
      ServerID,
      ExternalIP,
      InternalIP,
      PoolID,
      SubnetMask,
      DefaultGateway,
      Comments,
      VLAN
     FROM IPAddresses
     WHERE
      AddressID = @AddressID
     RETURN
    END
GO
