/****** Object:  StoredProcedure [dbo].[GetServiceItemType]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceItemType]
    (
    	@ItemTypeID int
    )
    AS
    SELECT
    	[ItemTypeID],
    	[GroupID],
    	[DisplayName],
    	[TypeName],
    	[TypeOrder],
    	[CalculateDiskspace],
    	[CalculateBandwidth],
    	[Suspendable],
    	[Disposable],
    	[Searchable],
    	[Importable],
    	[Backupable]
    FROM
    	[ServiceItemTypes]
    WHERE
    	[ItemTypeID] = @ItemTypeID
GO
