/****** Object:  StoredProcedure [dbo].[DeleteAccessToken]    Script Date: 29.01.2025 22:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAccessToken]
    (
    	@AccessToken UNIQUEIDENTIFIER,
    	@TokenType INT
    )
    AS
    DELETE FROM AccessTokens
    WHERE AccessTokenGuid = @AccessToken AND TokenType = @TokenType
GO
