<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- AWStats Viewer Settings -->
		<add key="AWStats.URL" value="/cgi-bin/awstats.pl"/>
		<add key="AWStats.Username" value=""/>
		<add key="AWStats.Password" value=""/>
		<!-- Messages -->
		<add key="AWStats.Message.DomainNotFound" value="Advanced statistics is not enabled for the specified domain. Login to control panel, open 'My Resources -&gt; Advanced Statistics' page and add a new statistics site."/>
		<add key="AWStats.Message.WrongUsername" value="Account with the specified username does not exist! Make sure you type correct Control Panel username/password."/>
		<add key="AWStats.Message.WrongPassword" value="Incorrect password has been specified!"/>
		<!-- Authentication provider -->
		<add key="AWStats.AuthenticationProvider" value="SolidCP.AWStats.Viewer.SolidCPAuthenticationProvider, SolidCP.AWStats.Viewer"/>
		<!-- ConfigFileAuthenticationProvider settings -->
		<add key="AWStats.ConfigFileAuthenticationProvider.DataFolder" value="~/cgi-bin"/>
		<!-- SolidCPAuthenticationProvider settings -->
		<add key="AWStats.SolidCPAuthenticationProvider.EnterpriseServer" value="http://localhost/EnterpriseServer"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
		<customErrors mode="RemoteOnly"/>
		<!--  AUTHENTICATION -->
		<authentication mode="Forms">
			<forms name=".AWSTATSVIEWER" loginUrl="default.aspx" protection="All" timeout="30" path="/">
			</forms>
		</authentication>
		<!--  AUTHORIZATION -->
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
		</authorization>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
